<script type="text/template" id="errors_main-template"> </script>
<script type="text/template" id="alert-establishments-template">
    <div class="alert_align"> </div>
    <div class="alert_wrapper">
        <div class="alert_block">
            <div class="no-cancel"> </div>
            <div class="icon <%= icon_type %>"> </div>
            <div class="message"> <%= message %> </div>
            <div class="btn_wrapper">
                <% if (is_confirm) { %>
                   <div class="btn btnCancel"> <%= btnText2 %> </div>
                <% } %>
                <div class="btn btnOk"> <%= btnText1 %> </div>
            </div>
        </div>
    </div>
</script>