<script type='text/template' id='establishments_main-template'>
    <div class='establishments <% if(storeDefined) {print("back-bg");} %>'>
       <div>
          <div class="wnd-wrapper">
            <div class="choose_brand_title"> <%= CHOOSE_BRAND %> </div>
                <div class='establishments_select select-wrapper'> </div>
                <div></div>
                <% if (storeDefined) { %>
                    <div class="btn btn-half border-box fl-left btn-secondary back_btn"> <span class="clip"> <%= BACK_BUTTON %> </span> </div>
                    <div class="btn btn-half border-box fl-left proceed_btn"> <span class="clip"> <%= PROCEED_BUTTON %> </span> </div>
                <% } else { %>
                    <div class="btn border-box fl-left proceed_btn start"> <span class="clip"> <%= PROCEED_BUTTON %> </span> </div>
                <% } %>
          </div>
        </div>
        <% if (showFooter) { %>
            <footer>
                <% if (clientName) { %>
                    <a class="powered-by" target="_blank" href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"> </a>
                <% } else { %>
                    <a class="powered-by" target="_blank" href="https://revelsystems.com"> </a>
                <% } %>
            </footer>
        <% } %>
    </div>
</script>
<script type='text/template' id='establishments_select-template'>
    <select> </select>
</script>
<script type="text/template" id="establishments_select_item-template">
    <%= name %>, <%= line_1 %>, <%= city_name %>
</script>