<script type='text/template' id='establishments_main-template'>
    <div class='establishments'>
        <div>
            <div> <%= CHOOSE_BRAND %> </div>
            <div class='establishments_select select-wrapper'> </div>
            <% if (storeDefined) { %>
                <div> <button type='button' name='back'> <%= BACK_BUTTON %> </button> </div>
            <% } %>
            <div> <button type='button' name='proceed'> <%= PROCEED_BUTTON %> </button> </div>
        </div>
        <% if (showFooter) { %>
            <footer>
                <% if (clientName) { %>
                    <a class="powered-by" target="_blank" href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"> </a>
                <% } else { %>
                    <a class="powered-by" target="_blank" href="https://revelsystems.com"> </a>
                <% } %>
            </footer>
        <% } %>
    </div>
</script>
<script type='text/template' id='establishments_select-template'>
    <select> </select>
</script>
<script type="text/template" id="establishments_select_item-template">
    <%= name %>, <%= line_1 %>, <%= city_name %>
</script>