.cc-box .checkbox-outer {
    padding-top: 33px;
    cursor: pointer;
}

.cc-box .checkbox-outer > * {
    vertical-align: middle;
}

.billing-address-box .title {
    padding: 0;
    border: none;
    font: inherit;
}