/* styles for Card elements */
#credit-card label {
    display: inline-block;
    width: 230px;
    margin: 10px 0;
    text-indent: 30px;
    font-weight: bold;
}
#credit-card label > span {
    padding-right: 8px;
}

#credit-card > div {
    position: relative;
    margin-bottom: 5px;
}

#credit-card div.input_beauty {
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 230px;
    right: 40px;
}
#credit-card div.select {
    display: inline-block;
    width: 78px;
    position: relative;
    left: -7px;
}
#credit-card div.select {
    position: relative;
    top: 6px;
    vertical-align: top;
}
#credit-card div.select:last-child {
    margin-bottom: 10px;
}
#credit-card div.select[disabled="disabled"] {
    opacity: .5;
    opacity: filter(50);
}
#credit-card ul.card.firefox label {
    line-height: 2.4em;
}
#credit-card ul.card.firefox label:before {
    top: 0;
}
#credit-card .select-wrapper {
    margin-right: 10px;
}
#exp-year {
    padding-right: 22px;
}
/* for tablets */
@media only screen and (max-device-width: 949px) {
    #credit-card label {
        width: 170px !important;
    }
    #credit-card div.input_beauty,
    #credit-card div.tips {
        left: 180px !important;
    }
    div.select.month {
        margin-left: 12px !important;
    }
}
