#cart {
    width: 362px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    border-left-width: 1px;
    border-left-style: solid;
    padding: 0 10px;
}

#cart .cart_title {
	padding: 18px 5px 15px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 3px;
}

#cart .btn {
    margin-top: 10px;
	position: absolute;
	left: -1px;
	right: 0;
	bottom: 0;
}

#cart .btn .animate-spin {
    margin-left: 5px;
}

#cart .btn .animate-spin::before {
    content: '\f021';
    font-family: "FontAwesome";

}

.order-items {
    position: absolute;
    top: 51px;
    bottom: 50px;
    left: 10px;
    right: 10px;
    overflow-y: auto;
}

.total_block {
    padding: 5px 10px;
    margin-top: 10px;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 50px;
    font-size: 13px;
}

.total_block > li {
    padding: 5px 0;
}

.confirm .qty-box,
.confirm .remove,
.confirm .edit {
    display: none;
}

.confirm .total_block {
    bottom: 10px !important;
}

.confirm .product_place[class] {
    margin-left: 0;
}