.categories_slider {
    padding: 0 15px;
    position: relative;
    text-align: center;
    margin-top: 6px;
}

.categories_slider .arrow {
    position: absolute;
    line-height: 25px;
    font-size:1.5em;
    display: none;
    cursor: pointer;
    width: 15px;
    border-radius: 4px;
}

.categories_slider .arrow_left {
    top:0px;
    left:0px;
}

.categories_slider .arrow_right {
    top:0px;
    right:0px;
}

.categories {
    position: relative;
    white-space: nowrap;
    height: 25px;
}

.categories li {
    display: inline-block;
    width:113px;
    text-align:center;
    border-right-style:solid;
    border-right-width:1px;
}

.categories li.last {
  border-right: 0px;
}


/* Hack for safari. background color out of border radius*/
.categories li label {
    border-top-style:solid;
    border-top-width:1px;
    border-bottom-style:solid;
    border-bottom-width:1px;
}

.categories li.last label {
    border-right-style:solid;
    border-right-width:1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.categories li.first label {
    border-left-style:solid;
    border-left-width:1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
/* End hack for safari*/

.slider_wrapper {
   /* border:1px solid; // bad look with safari hack
    border-radius: 15px;*/
    overflow: hidden;
    margin:0 auto;
    border-radius: 15px;
}

.categories label {
    display: block;
    padding: 0 5px;
    line-height: 23px; /* minus border*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.categories label:not(.checked) {
    cursor: pointer;
}

.categories input {
    display: none;
}
.content_arrow.arrow_top {
    top: 45px;
}
.content_arrow.arrow_bottom {
    bottom:15px;
}
.categories_products_wrapper, .products_spinner {
    position: absolute;
    top: 65px;
    right:0px;
    padding-right:32px;
    left:32px;
    bottom:40px;
    overflow-x: hidden;
}
.products_spinner {
    right: 32px;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}

.category_description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 6px;
    margin-top: 1px;
}
.category_description h2 {
    display: inline;
    font-weight: bold;
    font-size: 20px;
}
.category_description .timetables{
    white-space: pre-wrap;
    margin-top: 0.2em;
}
.categories_table li {
    margin-top:10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.categories_table li:first-child {
    margin-top:0px;
}
.categories_table > li:last-child {
    border-bottom: none;
}
.categories_table li:first-child .category_description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 350px;
}
