.categories_slider {
    width: 100%;
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    margin-right: 40px;
}

.slider_wrapper {
    overflow: hidden;
}

.categories {
    white-space: nowrap;
    position: relative;
}

.categories li {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: bottom; /* removes bottom space */
}

.categories label {
    display: block;
    padding: 13px 22px;
    font-size: 12px;
    cursor: pointer;
}

.categories input {
    position: absolute;
    top: -1000px;
}

.categories_slider .arrow {
    width: 15px;
    position: absolute;
    top: 0px;
    font-size: 34px;
    cursor: pointer;
}

.categories_slider .arrow_left {
    text-align: right;
    left: 0px;
}

.categories_slider .arrow_right {
    text-align: left;
    right: 40px;
}