.checkout-order-details .title {
    padding: 13px 25px;
    border-width: 1px 0;
    border-style: solid;
    font-size: 18px;
    font-weight: 600;
}

.checkout-order-details .order-details,
.checkout-order-details .payment-info {
    padding: 0 25px 25px;
}

.checkout-order-details .label {
    padding: 15px 0 5px 14px;
    font-size: 13px;
}

.checkout-order-details .item {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.checkout-order-details .size1 {
    width: 144px;
}

.checkout-order-details .size2 {
    width: 200px;
}

.checkout-order-details .size3 {
    width: 87px;
}

.checkout-order-details .size4 {
    width: 100px;
}

.checkout-order-details select.country {
    width: 100% !important;
}

.checkout-order-details .notes {
    width: 466px;
}

.payment-method {
    min-width: 116px;
    padding: 11px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}

.payment-method[data-payment=paypal] {
    font-family: Verdana;
    font-weight: 700;
    font-style: italic;
    letter-spacing: normal;
}

.payment-method[data-payment=paypal]::before {
    content: '\f1ed';
    font-family: 'FontAwesome';
    font-size: 16px;
    padding-right: 5px;
}

.tip-amount-box {
    width: 110px;
    position: relative;
}

.tip-amount-box::before {
    content: attr(data-currency);
    display: block;
    width: 30px;
    font-size: 16px;
    padding: 9px 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
}

.tip-amount-box .tipAmount {
    padding-left: 30px;
}

.checkout-order-details .cancel::before {
    display: block;
    padding: 8px 11px 8px 4px;
    font-size: 21px;
}

.checkout-order-details .types {
    min-width: 144px;
}

.ctrl-box {
    position: relative;
}

.checkout-order-details .ctrl-input {
    padding-right: 30px;
}

.checkout-order-details .link {
    display: inline-block;
    padding: 10px 15px 10px 0;
    margin-left: -5px;
    font-size: 13px;
}