#content > .checkout label {
    display: inline-block;
    width: 302px;
    margin: 10px 0;
    text-indent: 100px;
    font-weight: bold;
}
#content > .checkout h2 {
    padding-left: 100px;
    font-weight: bold;
}
#content > .checkout div.row, #content > .checkout div.delivery_address > div > div {
    position: relative;
}
#content > .checkout .input_beauty,
#content > .checkout div.tips {
    left: 292px;
    right: 120px;
    position: absolute;
    top: 2px;
    bottom: 6px;
}
#content > .checkout .tipBlock {
    height: 65px;
}
#content > .checkout div.select {
    display: inline-block;
    width: 175px;
    position: relative;
    left: -17px;
    top: 6px;
    vertical-align: top;
    height: 24px;
    margin-bottom: 12px;
}
#content > .checkout div.select_day, #content > .checkout div.select.states {
    width: 250px;
}
#content > .checkout div.select_day[disabled="disabled"] {
    opacity: .5;
    filter: alpha(opacity=50);
}
#content > .checkout label.select {
    line-height: 42px;
    vertical-align: top;
    margin: 0;
}
#content > .checkout div.tips .number-wrap {
    display:  inline-block;
    position:  relative;
    vertical-align: top;
    margin-top: 10px;
}
#content > .checkout div.tips .number {
    display: inline-block;
    position: absolute;
    height: 50px;
    top: 5px;
    left: 2px;
    width: 76px;
    text-indent: 0 !important;
}
#content > .checkout  .tip-label {
    margin-top: 22px;
}
#content > .checkout div.tips .currency_sym {
    display: inline-block;
    position: relative;
    top: 1px;
}
#content > .checkout div.tips .input_beauty {
    position: absolute;
    height: 28px;
    display: inline-block;
    left: 0px;
    right: 0px;
    text-indent: 0;
}
#content > .checkout .tips .btn {
    display: inline-block;
    width: 39px;
    height: 39px;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    line-height: 39px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}
#content > .checkout .tips .btn.disabled {
    cursor: default;
}
#content > .checkout .tips .btn:after, #content > .checkout .tips .btn:before {
    display: none;
}
#content > .checkout .tips .pseudo-radio {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 5px;
    vertical-align: sub;
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 18px;
}
#content > .checkout.tips {
    margin-top: 15px;
}
#content > .checkout input_beauty.firstName,
#content > .checkout input_beauty.lastName,
#content > .checkout input[name="city"],
#content > .checkout input[name="address_line1"],
#content > .checkout input[name="address_line2"] {
    text-transform: capitalize;
}

#content > .checkout .arrival_address {
    margin-bottom: 20px;
}

#content > .checkout .arrival_address > ul {
    padding-left: 290px;
}

#content > .checkout .arrival_address > ul li {
    text-overflow: ellipsis;
    overflow: hidden;
}

#content > .checkout .row.specials {
    margin: 5px 0px;
}

#content > .checkout .input_beauty.special {
    height: 115px;
}

#content > .checkout {
    position: relative;
    width: 100%;
    height: 100%;
}

#content > .checkout .data {
    position: absolute;
    top: 40px;
    bottom: 20px;
    left: 0;
    right: -10px;
    overflow-x: hidden;
}
#content .checkout .arrow_top {
    top: 24px;
    left: 0;
    right: 0;
}
#content .checkout .arrow_bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
/* Pay card / PayPal selection popup */
#pay_popup {
    width: 560px;
}
#pay_popup h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0;
    text-align: center;
}
#pay_popup .btn_wrapper {
    margin: 0 0 40px;
    min-height: 48px;
    width: 100%;
    height: auto;
}
#pay_popup .btn {
    width: 248px;
    height: 38px;
    border-radius: 25px;
    margin: 0 auto 20px;
}
.btn.paypal {
    border: none;
    height: 48px;
    width: 245px;
    overflow: hidden;
    text-indent: 300px;
    height: 46px !important;
}
.btn.paypal:before {
    display: none;
}

/* discount css */
#content > .checkout .row.discountBlock {
    height: 50px;
}
#content > .checkout div.discount {
    left: 292px;
    right: 120px;
    position: absolute;
    top: 5px;  
}
#content > .checkout div.discount .number-wrap {
    display:  inline-block;
    position:  relative;
    vertical-align: top;
    width: 70%;
}
#content > .checkout div.discount .number {
    display: inline-block;
    position: absolute;
    height: 30px;
    top: 5px;
    left: 2px;
    right: 40px;
    text-indent: 0 !important;
}
#content > .checkout  .discount-label {
    margin-top: 18px;
}
#content > .checkout div.discount .input_beauty {
    position: absolute;
    height: 28px;
    display: inline-block;
    left: 0px;
    right: 0px;
    text-indent: 0;
}
#content > .checkout .discount .btn {
    display: inline-block;
    width: 65px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    line-height: 30px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    margin-top: 4px;
}
#content > .checkout .discount .btn.applied {
   color: rgb(30, 30, 30);
}
#content > .checkout .discount .btn.disabled {
    cursor: default;
    color: #aaa;
}
#content > .checkout .discount .btn:after, #content > .checkout .discount .btn:before {
    display: none;
}

/* for tablets */
@media only screen and (max-device-width: 949px) {
    #content > .checkout label {
        width: 202px !important;
        text-indent: 50px !important;
    }
    #content > .checkout h2 {
        padding-left: 50px !important;
    }
    #content > .checkout div.input_beauty,
    #content > .checkout div.tips {
        left: 194px !important;
        right: 60px !important;
        top: 2px;
    }
    #content > .checkout .arrival_address > ul {
        padding-left: 195px !important;
    }
    #content > .checkout div.tips label {
        width: 160px !important;
        text-indent: 23px !important;
    }
    #content > .checkout div.tips .number {
        width: 110px !important;
    }
    #content > .checkout div.tips .input_beauty {
        left: 0 !important;
    }
}

@media only screen and (max-device-width: 949px) and (orientation: portrait) {
    #content > .checkout .tipBlock {
      height: 116px !important;
    }
    #content > .checkout .discountBlock {
      height: 85px !important;
    }
}


