.checkout-order-details {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.checkout-order-details .order-details-title {
    border-top: none;
}

.checkout-order-details .order-details,
.checkout-order-details .payment-info {
    padding: 0 25px 25px;
}

.checkout-order-details .label {
    padding: 15px 0 1px 14px;
    font-size: 13px;
}

.checkout-order-details .item {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.checkout-order-details .item .select-wrapper {
    vertical-align: middle;
}

.checkout-order-details .payment-systems {
    float: right;
    padding-top: 9px;
    font-size: 0;
}

.checkout-order-details .payment-systems .card-logo {
    display: inline-block;
    height: 22px;
    margin-left: 8px;
}

.checkout-order-details .payment-systems .card-logo img {
    display: block;
    height: 100%;
}

.checkout-order-details .size1[class] {
    width: 144px;
}

.checkout-order-details .size2[class] {
    width: 200px;
}

.checkout-order-details .size3[class] {
    width: 87px;
}

.checkout-order-details .size4[class] {
    width: 100px;
}

.checkout-order-details .shipping-status {
    width: 44px;
    height: 44px;
    position: relative;
    font-size: 10px;
}

.checkout-order-details .notes {
    width: 466px;
}

.checkout-order-details .payment-methods-label[class] {
    padding-bottom: 5px;
}

.payment-method {
    min-width: 116px;
    padding: 11px;
    margin-bottom: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}

.payment-method[data-payment=paypal] {
    font-family: Verdana;
    font-weight: 700;
    font-style: italic;
    letter-spacing: normal;
}

.payment-method[data-payment=paypal]::before {
    content: '\f1ed';
    font-family: 'FontAwesome';
    font-size: 16px;
    padding-right: 5px;
}

.tip-amount-box {
    width: 110px;
    position: relative;
}

.tip-amount-box::before {
    content: attr(data-currency);
    display: block;
    width: 30px;
    font-size: 16px;
    padding: 13px 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
}

.tip-amount-box .tipAmount {
    padding-left: 30px;
}

.checkout-order-details .cancel::before {
    display: block;
    padding: 12px 7px 12px 4px;
    font-size: 21px;
}

.checkout-order-details .types {
    min-width: 144px;
}

.ctrl-box {
    position: relative;
}

.checkout-order-details .ctrl-input {
    padding-right: 30px;
}

.checkout-order-details .btnApply,
.checkout-order-details .rewards-card-apply,
.checkout-order-details .see-rewards {
    display: inline-block;
    padding: 10px 15px 10px 0;
    margin-left: -5px;
    font-size: 13px;
}

.checkout-order-details .img {
    width: 100%;
    height: 100%;
}
