#content > .checkout label {
    display: inline-block;
    width: 320px;
    text-indent: 100px;
    font-weight: bold;
    height: 39px;
    line-height: 39px;
    vertical-align: top;
}
#content > .checkout h2 {
    padding-left: 100px;
    padding-right: 100px;
    font-weight: bold;
}
#content > .checkout div.row, #content > .checkout div.delivery_address > div > div {
    position: relative;
    height: 39px;
}
#content > .checkout div.row label > span {
    padding-right: 15px;
    font-weight: bold;
}
#content > .checkout .input_beauty,
#content > .checkout div.tips {
    right: 100px;
    position: absolute;
    left: 310px;
    top: 6px;
    bottom: 6px;
}
#content > .checkout div.tips {
    top: -10px;
}
#content > .checkout .tipBlock {
    height: 65px;
}
#content > .checkout div.select {
    display: inline-block;
    width: 250px;
    position: relative;
    left: -17px;
    top: 4px;
    vertical-align: top;
    height: 29px;
    margin-bottom: 12px;
}

#content > .checkout div.select_day[disabled="disabled"] {
    opacity: .5;
    filter: alpha(opacity=50);
}
#content > .checkout label.select {
    line-height: 42px;
    vertical-align: top;
    margin: 0;
}
#content > .checkout div.tips > span {
    float: left;
}
#content > .checkout div.tips .number-wrap {
    display:  inline-block;
    position:  relative;
    vertical-align: top;
    margin-top: 5px;
}
#content > .checkout div.tips .number {
    display: inline-block;
    position: absolute;
    height: 50px;
    top: 5px;
    left: 2px;
    width: 100px;
    text-indent: 0 !important;
}
#content > .checkout div.tips .currency_sym {
    display: inline-block;
    position: relative;
    top: 22px;
    margin-right: 6px;
}
#content > .checkout div.tips .input_beauty {
    position: absolute;
    height: 28px;
    display: inline-block;
    left: 0px;
    right: 0px;
    text-indent: 0;
}
#content > .checkout .tips .btn {
    display: inline-block;
    min-width: 30px;
    max-width: 85px;
    height: 37px;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    line-height: 37px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}
#content > .checkout .tips .btn.disabled {
    cursor: default;
}
#content > .checkout .tips .btn:after, #content > .checkout .tips .btn:before {
    display: none;
}
#content > .checkout .tips .pseudo-radio {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 5px;
    vertical-align: sub;
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 18px;
}
#content > .checkout.tips {
    margin-top: 15px;
}
#content > .checkout input_beauty.firstName,
#content > .checkout input_beauty.lastName,
#content > .checkout input[name="city"],
#content > .checkout input[name="address_line1"],
#content > .checkout input[name="address_line2"] {
    text-transform: capitalize;
}

#content > .checkout .arrival_address {
    margin-bottom: 20px;
}

#content > .checkout .arrival_address > ul {
    padding-left: 308px;
}

#content > .checkout .arrival_address > ul li {
    text-overflow: ellipsis;
    overflow: hidden;
}

#content > .checkout .row.specials {
    margin: 5px 0px;
}

#content > .checkout .input_beauty.special {
    height: 115px;
}

#content > .checkout {
    position: relative;
    width: 100%;
    height: 100%;
}

#content > .checkout .data {
    position: absolute;
    top: 40px;
    bottom: 20px;
    left: 0;
    right: -10px;
    overflow-x: hidden;
}
#content .checkout .arrow_top {
    top: 30px;
    left: 0;
    right: 0;
}
#content .checkout .arrow_bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
/* Pay card / PayPal selection popup */
#pay_popup {
    width: 560px;
}
#pay_popup h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0;
    text-align: center;
}
#pay_popup .btn_wrapper {
    margin: 0 0 40px;
    min-height: 48px;
    width: 100%;
    height: auto;
}
#pay_popup .btn {
    width: 260px;
    height: 38px;
    border-radius: 25px;
    margin: 0 auto 20px;
}
.btn.paypal {
    border: none;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 245px;
    overflow: hidden;
    line-height: 1000px;
    height: 46px !important;
}
.btn.paypal:before {
    display: none;
}

/* discount css */
#content > .checkout .row.discountBlock {
    height: 50px;
}
#content > .checkout .row.discountBlock .input_beauty {
    bottom: 17px;
}
#content > .checkout .row.discountBlock .discount-code-btn.applied {
    cursor: default;
    text-decoration: none;
}

#content > .checkout .shipping-select-wrap {
    display: inline-block;
}

#content > .checkout div.select.shipping {
    display: inline-block;
    width: 100%;
}

#content > .checkout .shipping-status {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-top: 4px;
    font-size: 8px;
    position: absolute !important;
    top: 0;
    right: -40px;
}

#content > .checkout .rewards-card-input.input_beauty,
#content > .checkout .discount-code-input.input_beauty {
    right: 220px !important;
}

#content > .checkout .rewards-card-btn,
#content > .checkout .discount-code-btn {
    display: inline-block;
    width: 100px;
    float: right;
    margin-right: 100px;
    padding-left: 20px;
    line-height: 39px;
    text-decoration: underline;
    cursor: pointer;
}

#popup h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.stanford-student-status {
    width: 500px !important;
}

.stanford-student-instructions {
    padding: 0 20px;
}

.stanford-student-status .btn-popup, .stanford-student-card .btn-popup {
    margin: 20px;
}

.stanford-student-card .btn-popup.disabled {
    margin: 23px;
}

.stanford-student-card {
    width: 500px !important;
}

.stanford-student-card .row {
    height: 39px;
    position: relative;
}

.stanford-student-card label {
    display: inline-block;
    float: left;
    width: 200px;
    text-align: right;
    line-height: 37px;
}

.stanford-student-card .input_beauty {
  left: 220px;
}

.stanford-student-card .captcha_wrap {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
    margin-top: 4px;
    margin-left: 116px;
    width: 120px;
    height: 48px;
    font-size: 8px;
    position: relative;
}

.stanford-student-card .captcha-spinner {
    height: 100%;
}

.stanford-student-card .btn-reload {
    display: inline-block;
    max-width: 145px;
    margin-top: 5px;
    line-height: 48px;
    line-height: 48px;
    vertical-align: top;
    text-decoration: underline;
    cursor: pointer;
}

/* for tablets */
@media only screen and (max-device-width: 949px) {
    #content > .checkout label {
        width: 202px !important;
        text-indent: 50px !important;
    }
    #content > .checkout label.shipping {
        width: 100% !important;
    }
    #content > .checkout div.select {
        left: 0;
    }
    #content > .checkout .shipping-select-wrap {
        left: 51px;
    }
    #content > .checkout h2 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    #content > .checkout div.input_beauty,
    #content > .checkout div.tips {
        left: 212px !important;
        right: 60px !important;
        top: 2px;
    }
    #content > .checkout div.tips {
        top: -10px;
    }
    #content > .checkout .arrival_address > ul {
        padding-left: 213px !important;
    }
    #content > .checkout div.tips label {
        width: 160px !important;
        text-indent: 23px !important;
    }
    #content > .checkout div.tips .number {
        width: 110px !important;
        top: 10px !important;
    }
    #content > .checkout div.tips .input_beauty {
        left: 0 !important;
        width: 100%;
    }
    #content > .checkout .rewards-card-input.input_beauty,
    #content > .checkout .discount-code-input.input_beauty {
        right: 180px !important;
    }
    #content > .checkout .rewards-card-btn,
    #content > .checkout .discount-code-btn {
        margin-right: 60px;
    }
}

@media only screen and (max-device-width: 949px) and (orientation: portrait) {
    #content > .checkout .tipBlock {
      height: 116px !important;
    }
    #cart .checkout .btn.paypal {
        height: 38px !important;
        width: 190px;
    }
}