.confirmPayCard {
    display: table;
    text-align: left;
}
.confirmPayCard .panel {
    border: 0px;
    border-radius: 10px;
    height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.confirmPayCard .left-panel-wrap {
    display: table-cell;
    vertical-align: top;
    width: 500px;
}
.confirmPayCard .left-panel {
    margin-top: 150px;
}
.confirmPayCard.stanford-card .left-panel {
    margin-top: 0;
}
.confirmPayCard .right-panel-wrap {
    display: table-cell;
    vertical-align: top;
    width: 380px;
    max-width: 400px;
}
.confirmPayCard .right-panel {
    margin-left: 12px;
    position: relative;
}
.confirmPayCard .btn-submit {
    padding: 0px 15px;
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0px;
}
.confirmPayCard .card_title {
    font-size: 22px;
    font-weight: bold;
    padding-left: 30px;
    margin: 15px 0;
}
.confirmPayCard .cart_title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 8px 0;
    padding-left: 5px;
    padding-right: 5px;
}
.confirmPayCard.stanford-card .card_title {
    margin-top: 8px;
    margin-bottom: 8px !important;
}
.confirmPayCard .pickup_time {
    margin: 15px 10px 5px 10px;
    text-align: center;
}
.confirmPayCard .pickup_time > span:nth-child(1) {
    font-weight: bold;
    width: 50%;
    float: left;
}
.confirmPayCard .pickup_time > span:nth-child(2) {
    width: 50%;
}
.confirmPayCard .order-items-wrap {
    position: relative;
}
.confirmPayCard .content_arrow.arrow_top {
    top: 0px;
}
.confirmPayCard .content_arrow.arrow_bottom {
    bottom: 0px;
}
.confirmPayCard .captcha_container {
    position: relative;
    left: 230px;
}
.confirmPayCard.stanford-card .btn-submit.disabled {
    margin: 10px 10px 13px;
    box-shadow: none;
}
.stanford-card .stanford-plans {
    margin-top: 50px;
}
.stanford-card .stanford-plans .list {
    max-height: 330px;
    overflow-x: hidden;
    overflow-y: auto;
}
.stanford-card .stanford-plan {
    margin: 5px 19px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    position: relative;
}
.stanford-card .stanford-plan .row {
    display: block;
}
.stanford-card .stanford-plan .name {
    font-weight: bold;
}
.stanford-card .stanford-plan .row-balance {
    font-size: 16px;
    padding-top: 4px;
}
.stanford-card .stanford-plan.active:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.stanford-card .stanford-plan {
    cursor: pointer;
}
.stanford-card .stanford-plan.disabled {
    opacity: 0.5;
    cursor: default;
}
.stanford-card .cancel-input {
    line-height: 32px;
    right: 5px;
}
/* for tablets */
@media only screen and (max-device-width: 949px) {
    .confirmPayCard .captcha_container {
        left: 180px !important;
    }
}

.confirmPayCard .captcha_wrap {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
    margin-top: 4px;
    width: 120px;
    height: 48px;
    font-size: 8px;
    position: relative;
}
.confirmPayCard .captcha-spinner {
    width: 100%;
    height: 100%;
    position: absolute!important;
    top: 0;
    left: 0;
}
.confirmPayCard .btn-reload {
    display: inline-block;
    min-width: 70px;
    max-width: 132px;
    vertical-align: top;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    margin-top: 14px;
    margin-left: 14px;
}
.confirmPayCard .btn-reload.disabled {
    margin-top: 17px;
    margin-left: 17px;
}

#popup .order-items {
    max-height: 335px;
    margin: 0 10px;
    min-height: 5px;
    border-width: 1px 1px 0;
    border-style: solid;
}

#popup .total_block {
    margin: 0 10px 10px;
    min-height: 10px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#popup .order-items {
    padding: 0 10px;
}
#popup .total_block {
    padding: 10px;
}

#popup .order-items {
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
#popup .total_block li {
    text-align: right;
    position: relative;
    height: 18px;
}
#popup .total_block .title {
    display: inline-block;
    width: 75%;
    position: relative;
    float: left;
    line-height: 18px;
    padding-right: 5px;
}
#popup .total_block .cost {
    letter-spacing: -3px;
    position: relative;
    float: right;
    line-height: 18px;
}
#popup .order-items li {
    position: relative;
}
#popup .order-items .myorder > li,
#popup .order-items .bag_charge > li {
    margin-top: 10px;
}
#popup .order-items li li {
    height: 20px;
}
#popup .order-items > li {
    height: auto;
}
#popup .order-items li.special {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#popup .order-items h3 {
    position: relative;
    font-size: inherit;
    height: 20px;
}
#popup .order-items h3 .name {
    font-weight: bold;
}
#popup .order-items .name {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
#popup .order-items .cost {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    letter-spacing: -3px;
    text-align: right;
}
#popup .order-items ul.discount > li {
    margin-top: 10px;
}
#popup .order-items .service_fees {
    margin-top: 8px;
}
#popup .order-items .s4 .name {
    right: 53px;
}
#popup .order-items .s4 .cost {
    width: 52px;
}
#popup .order-items .s5 .name {
    right: 62px;
}
#popup .order-items .s5 .cost {
    width: 61px;
}
#popup .order-items .s6 .name {
    right: 72px;
}
#popup .order-items .s6 .cost {
    width: 71px;
}
#popup .order-items .s7 .name {
    right: 81px;
}
#popup .order-items .s7 .cost {
    width: 80px;
}
#popup .order-items .s8 .name {
    right: 90px;
}
#popup .order-items .s8 .cost {
    width: 89px;
}
#popup .order-items h3 + ul {
    margin: 5px 0;
}

#popup .order-items .btns {
    margin: 10px 0 20px;
    display: none;
}

#popup .order-items .btns:last-child {
    margin: 5px 0 0;
}
#popup .order-items .btns > span {
    display: inline-block;
    width: 17px;
    margin-right: 5px;
    text-indent: 1000px;
    overflow: hidden;
    display: none;
}

#popup .order-items .divider {
    width: 2px !important;
}

#popup .order-items .remove,
#popup .order-items .edit {
    cursor: pointer;
}

@media only screen and (max-device-width: 949px) {
    .confirmPayCard .right-panel-wrap {
        max-width: 250px !important;
    }
}
