.confirmPayCard {
    display: table;
    text-align: left;
}
.confirmPayCard .panel {
    border: 0px;
    border-radius: 10px;
    height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.confirmPayCard .left-panel-wrap {
    display: table-cell;
    vertical-align: top;
    width: 500px;
}
.confirmPayCard .left-panel {
    margin-top: 150px;
}
.confirmPayCard .right-panel-wrap {
    display: table-cell;
    vertical-align: top;
    width: 380px;
    max-width: 400px;
}
.confirmPayCard .right-panel {
    margin-left: 12px;
    position: relative;
}
.confirmPayCard .btn-submit {
    padding: 0px 15px;
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0px;
}
.confirmPayCard .card_title {
    font-size: 22px;
    font-weight: bold;
    padding-left: 30px;
    margin: 15px 0;
}
.confirmPayCard .cart_title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 8px 0;
}
.confirmPayCard .pickup_time {
    margin: 15px 10px 5px 10px;
    text-align: center;
}
.confirmPayCard .order-items-wrap {
    position: relative;
}
.confirmPayCard .content_arrow.arrow_top {
    top: 0px;
}
.confirmPayCard .content_arrow.arrow_bottom {
    bottom: 0px;
}
.confirmPayCard .captcha_container {
    position: relative;
    left: 230px;
}
.confirmPayCard .captcha {
    display: inline-block;
    vertical-align: middle;
}
.confirmPayCard .btn-reload {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    width: 70px;
}

#popup .order-items {
    max-height: 335px;
    margin: 0 10px;
    min-height: 5px;
    border-width: 1px 1px 0;
    border-style: solid;
}

#popup .total_block {
    margin: 0 10px 10px;
    min-height: 10px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#popup .order-items {
    padding: 0 10px;
}
#popup .total_block {
    padding: 10px;
}

#popup .order-items {
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
#popup .total_block li {
    text-align: right;
}
#popup .total_block .cost {
    letter-spacing: -3px;
}
#popup .order-items li {
    position: relative;
}
#popup .order-items .myorder > li {
    margin-top: 10px;
}
#popup .order-items li li {
    height: 20px;
}
#popup .order-items > li {
    height: auto;
}
#popup .order-items li.special {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#popup .order-items h3 {
    position: relative;
    font-size: inherit;
    height: 20px;
}
#popup .order-items h3 .name {
    font-weight: bold;
}
#popup .order-items .name {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
#popup .order-items .cost {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    letter-spacing: -3px;
    text-align: right;
}
#popup .order-items .s4 .name {
    right: 53px;
}
#popup .order-items .s4 .cost {
    width: 52px;
}
#popup .order-items .s5 .name {
    right: 62px;
}
#popup .order-items .s5 .cost {
    width: 61px;
}
#popup .order-items .s6 .name {
    right: 72px;
}
#popup .order-items .s6 .cost {
    width: 71px;
}
#popup .order-items .s7 .name {
    right: 81px;
}
#popup .order-items .s7 .cost {
    width: 80px;
}
#popup .order-items .s8 .name {
    right: 90px;
}
#popup .order-items .s8 .cost {
    width: 89px;
}
#popup .order-items h3 + ul {
    margin: 5px 0;
}

#popup .order-items .btns {
    margin: 10px 0 20px;
    display: none;
}

#popup .order-items .btns:last-child {
    margin: 5px 0 0;
}
#popup .order-items .btns > span {
    display: inline-block;
    width: 17px;
    margin-right: 5px;
    text-indent: 1000px;
    overflow: hidden;
    display: none;
}

#popup .order-items .divider {
    width: 2px !important;
}

#popup .order-items .remove,
#popup .order-items .edit {
    cursor: pointer;
}

@media only screen and (max-device-width: 949px) {
    .confirmPayCard .right-panel-wrap {
        max-width: 250px !important;
    }
}
