#header {
    height: 166px;
}

#header .main {
    position: relative;
}

#header .store_info {
    position: absolute;
    z-index: 1;
    left: 200px;
    max-width: 360px;
}

#header .logo {
    width: 166px;
    height: 166px;
    margin-right: 34px;
    position: relative;
    letter-spacing: -5px;
}


#header .title {
    padding: 14px 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    max-height: 65px;
    overflow: hidden;
}

#header .row {
    font-size: 14px;
    margin-bottom: 8px;
    cursor: default;
}

#header .tabs {
    margin-top: 127px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
    z-index: 2;

}

#header .tab {
    display: block;
    min-width: 86px;
    padding: 15px 11px 9px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
}

#header .tab.active::before,
#header .tab.active::after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-style: solid;
}

#header .tab.active::before {
    border-width: 0 1px 1px;
}

#header .tab.active::after {
    border-width: 5px 0 0;
}

#header .menu::before,
#header .menu::after {
    border-top-left-radius: 5px;
}

#header .map::before,
#header .map::after {
    border-top-right-radius: 5px;
}

#header .address-line1,
#header .address-line2,
#header .operation-time,
#header .promotions-link {
    font-size: 12px;
}

#header .address-line2,
#header .operation-time {
    margin-bottom: 7px;
}

#header .promotions-link::before {
    content: '\f02b';
    font-family: 'FontAwesome';
    padding-right: 5px;
}

@media (max-width: 1200px) {
    #header .store_info {
        max-width: none;
        padding-right: 200px;
    }

    #header .title {
        font-size: 24px;
    }
}
