/* modifiers mod block start */

.product_instructions {
    padding:10px 20px 0;
    margin-right: 20px;
}

.product_instructions .title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.product_instructions .textarea {
    height: 50px;
    margin: 0 auto 5px;
    position:relative;
}

.product_instructions .note {
    padding: 5px 15px;
    font-size: 16px;
}

.product_instructions .add_instructions {
    position: absolute;
    bottom: 10px;
    left: 195px;
    font-size: 15px;
    font-weight: bold;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    padding: 0 15px;
    cursor: pointer;
    line-height: 26px;
    max-width: 205px;
}

.product_instructions .add_instructions.parent-product {
    left: 22px;
}

.product_instructions.is_gift .add_instructions {
    left: 20px;
}

.product_instructions  .instruction_block {
    display: none;
}

/* modifiers mod block end */