.modifiers_table {
    margin: 20px 20px 0;
    padding: 17px 14px;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    display: none;
}

.modifiers_table:before {
    position:absolute;
    top:4px;
    left:4px;
    bottom:4px;
    right:4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    content: '';
}

.modifiers_info > div, .product_attribute_info {
    position: relative;
    padding-right: 15px;
}

.modifiers_table .product_attributes_selected .modifier_class_wrapper:first-child, .modifier_class_wrapper {
    border-top-style: dotted;
    border-top-width: 1px;
    display: table;
    width: 100%;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
}
.modifiers_table .product_attributes_selected .modifier_class_wrapper:first-child {
}
.modifiers_table .modifier_class_wrapper:first-child {
    border-top: none;
    padding-top: 0px;
}

.modifiers_table .modifiers_classes_title {
    font-weight: bold
}

.modifiers_table .modifiers_classes_subtitle {
    font-weight: normal;
}

.modifiers_table .modifiers-list .cost {
    white-space: nowrap;
}

.modifiers_table .free {
    text-transform: lowercase;
}

.modifiers_table .product_attribute_info h2 {
    font-size: 18px;
}

.modifiers_table .modifier {
    width: 330px;
    float: left;
    word-break: break-all;
    margin: 0 150px 15px 0;
    cursor: pointer;
    min-height: 30px;
}
.modifiers_table .modifier .input {
    display: inline-block;
    height: 21px;
    width: 21px;
    border-radius: 4px;
    float: left;
    margin-right: 3px;
}
.modifiers_table .modifier .no-controls .input {
    display: none;
}
.modifiers_table .modifier .input.radio {
    border-radius: 18px;
}
.modifiers_table .modifier .input.radio {
    height: 23px;
    width: 22px;
}

.modifiers_table .modifier label {
    cursor: inherit;
    display: inline-block !important;
    width: 210px;
}

.modifiers_table .modifier label.no-controls {
    cursor: default;
}

.modifiers_table .modifier .title {
    line-height: 1.4em;
    display: inline-block;
    float: left;
    width: 120px;
    word-break: break-word;
}

.modifiers_table .modifier input {
    display: none;
}

.modifier_class_list {
    margin-top: 5px;
}
#modifiers_popup .modifiers_table_scroll {
    margin-right: -150px;
}

.modifiers_table .special_button {
    display: inline-block;
    height: 21px;
    max-width: 100px;
    min-width: 35px;
    font-size: 15px;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    padding: 0 7px;
    line-height: 21px;
    text-align: center;
}
.modifiers_table .special_button + .title {
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 28px;
}
.modifiers_table .special_button > span {
    font-weight: bold;
}

.modifiers_table .no-controls .special_button {
    display: none;
}

.mdf_spacer {
    display: inline-block;
    float: right;
}

.mdf_quantity select,
.mdf_split select {
    font-size: 14px;
    font-weight: normal;
}

.mdf_split select {
    width: 50px;
}

.mdf_quantity, .mdf_split {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    margin-top: -2px;
    height: 26px;
    position: relative;
}

.mdf_quantity select {
    padding-right: 18px;
    padding-left: 8px;
    min-width: 45px;
    max-width: 80px;
}

.mdf_split select {
    padding-right: 28px !important;
    padding-left: 22px !important;
}

.mdf_split .selected_option {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 18px;
    height: 17px;
    pointer-events:none;
}

@media only screen and (max-device-width: 949px) {
    .mdf_quantity select {
        padding-left: 10px !important;
        padding-right: 24px;
    }
}
@media only screen and (min-width: 949px) {
    #modifiers_popup .modifiers_table_scroll {
        margin-right: -25px;
    }
    .modifiers_table .modifier {
        width: 300px;
        min-height: 45px;
        margin-right: 25px;
        margin-bottom: 5px;
    }
    .modifiers_table .modifier label {
        width: 190px;
    }
    .modifiers_table .modifier .title {
        width: 90px;
    }
}
@media only screen and (min-width: 1440px) {
    #modifiers_popup .modifiers_table_scroll {
        margin-right: -100px;
    }
    .modifiers_table .modifier {
        width: 300px;
        margin-right: 100px;
    }
    .modifiers_table .modifier label {
        width: 195px;
    }
    .modifiers_table .modifier .title {
        width: 100px;
    }
}

@-moz-document url-prefix() {
    .mdf_quantity select {
        padding-left: 8px !important; /* sumsung tab fix, bug 25260 */
        width: 65px; /* max-width is not working for FireFox select tags */
    }
}
