.modifiers_table {
    padding: 10px 24px 0;
    overflow-y: auto;
}

.modifier_class_wrapper {
    padding-bottom: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.modifier_classes .modifier_class_wrapper:last-child {
    border: none;
}

.modifier_classes {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.modifiers_classes_title {
    padding: 10px 0 5px;
}

.modifiers_classes_title .title {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.modifiers_classes_subtitle {
    display: inline-block;
    font-size: 11px;
}

.modifier {
    padding: 10px 0 10px 14px;
}

.modifier .title {
    display: inline-block;
    padding-left: 3px;
    font-size: 16px;
}

.modifier .plus {
    padding-right: 3px;
}

.modifier .label {
    padding-right: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.modifier input {
    position: absolute;
    left: -9999px;
}

.modifier .title,
.modifier .checkbox,
.modifier .radio,
.modifier .cost,
.modifier .info,
.modifier .info::before {
    vertical-align: middle;
}

.modifier .info {
    position: relative;
}

.modifier .info::before {
    content: '\f05a';
    font-family: FontAwesome;
    display: inline-block;
    cursor: pointer;
}

.modifier .tooltip {
    display: block;
    border-radius: 2px;
    font-size: 11px;
    min-width: 150px;
    padding: 5px;
    position: absolute;
    left: 25px;
    z-index: 9999;
}

.modifier .tooltip:before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid;
    margin-top: -6px;
    position: absolute;
    left: -6px;
    top: 50%;
}

.modifier .transparent {
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none;
}

.modifier .title.special {
    padding-left: 0;
}

.mdf_spacer {
    margin: -7px 10px 0;
}

.mdf_split {
    display: none;
    width: 63px;
}

.mdf_quantity {
    display: none;
    min-width: 55px;
}

.mdf_quantity.select-wrapper::after,
.mdf_split.select-wrapper::after {
    content: '\f107';
    font-size: 17px;
    padding: 3px 5px 2px 3px;
}

.mdf_quantity.select-wrapper select,
.mdf_split.select-wrapper select {
    padding-top: 2px;
    padding-bottom: 2px;
}

.mdf_split.select-wrapper select {
    width: 55px !important;
}

.mdf_quantity.select-wrapper select {
    padding-right: 22px;
}

.mdf_split::before {
    content: '\f111';
    font-family: "FontAwesome";
    display: block;
    font-size: 18px;
    padding: 3px 12px 1px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    pointer-events: none;
}

.mdf_split.option_1::before {
    content: '\f042';
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    padding: 3px 26px;
}

.mdf_split.option_2::before {
    content: '\f042';
}