.modifiers_table {
    margin: 20px 20px 0;
    padding: 17px 14px;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    display: none;
}

.modifiers_table:before {
    position:absolute;
    top:4px;
    left:4px;
    bottom:4px;
    right:4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    content: '';
}

.modifiers_info > div, .product_attribute_info {
    position: relative;
    /*display:none;*/
    padding-right: 15px;
}

.modifiers_table .product_attributes_selected .modifier_class_wrapper:first-child, .modifier_class_wrapper {
    border-top-style: dotted;
    border-top-width: 1px;
    display: table;
    width: 100%;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
}
.modifiers_table .product_attributes_selected .modifier_class_wrapper:first-child {
    /*margin-top: -30px;*/
}
.modifiers_table .modifier_class_wrapper:first-child {
    border-top: none;
    padding-top: 0px;
}

.modifiers_table .modifiers_classes_title {
    font-weight: bold
}

.modifiers_table .modifiers_classes_subtitle {
    font-weight: normal;
}

.modifiers_table .modifiers-list .cost {
    white-space: nowrap;
}

.modifiers_table .product_attribute_info h2 {
    font-size: 18px;
}

.modifiers_table .modifier {
    width: 345px;
    float: left;
    word-break: break-all;
    margin:0 7px 7px 0;
    cursor: pointer;
}

@media only screen and (max-device-width: 949px) {
    .modifiers_table .modifier {
        width: 270px !important;
    }
}

.modifiers_table .modifier .input {
    display: inline-block;
    height: 21px;
    width: 21px;
    position: relative;
    top: 5px;
    border-radius: 4px;
}
.modifiers_table .modifier .input.radio {
    border-radius: 18px;
}
.modifiers_table .modifier .input.radio {
    height: 23px;
    width: 22px;
}

.modifiers_table .modifier label {
    cursor: inherit;
    display: inline-block;
    width: 100%;
}

.modifiers_table .modifier .title {
    line-height: 1.4em;
}

.modifiers_table .modifier input {
    display: none;
}

.modifier_class_list {
    margin-top: 5px;
}