 .product_table {
    margin-bottom: 8px;
}

.product_table .product {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    padding: 7px 7px 7px 10px;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 3%;
    border-radius: 8px;
    border-width: 1px;
    border-style: dotted;
    border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.product_table .product dl {
    position: relative;
    height: 67px;
    overflow: hidden;
}
.product_table .product .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.product_table .product .description {
    line-height: 18px;
    font-size: 13px;
    margin-top: 7px;
}
.product_table .product .description.uom1 {
    padding-right: 22px;
}
.product_table .product .description.uom2 {
    padding-right: 32px;
}
.product_table .product .description.uom3 {
    padding-right: 42px;
}
.product_table .product .description.uom4 {
    padding-right: 52px;
}
.product_table .product .description.uom5 {
    padding-right: 62px;
}
.product_table .product .description.uom6 {
    padding-right: 70px;
}
.product_table .product .description.uom7 {
    padding-right: 78px;
}
.product_table .product .description.uom8 {
    padding-right: 86px;
}
.product_table .product .cost_block {
    position: absolute;
    top: 28px;
    right: 0px;
    font-size: 18px;
}
.product_table .product .cost_block .uom {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size:12px;
    font-weight: normal;
    max-width: 83px;
    margin-top: -5px;
    text-align: right;
    margin-right: 7px;
}
.product_table .product .cost {
    padding: 0 5px;
    margin: -7px 2px 0px 2px;
    text-align: right;
}
.product_table .product .cost .currency_symbol {
    font-weight: bold;
    padding-right: 1px;
}
.product_table .product .cost .price {
    font-weight: normal;
}
.product_table .product.list-none {
    margin-top: 15px;
    margin-left: 10px;
    cursor: default;
}
.product_table .product.list-none:hover {
    background: inherit;
}

/* styles for product list with hidden description */
.product_table .product.short {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
}
.product_table .product.short dl {
    height: 42px;
}
.product_table .product.short .cost_block {
    top: 9px;
}
.product_table .product.short .name {
    margin-right: 60%;
    margin-top: 3px;
    font-size: 16px;
    font-weight: bold;
}
.product_table .product.short .name div{
    font-size: 16px;
    font-weight: bold;
}
.product_table .product.short .s2 .name {
    margin-right: 35px;
}
.product_table .product.short .s3 .name {
    margin-right: 46px;
}
.product_table .product.short .s4 .name {
    margin-right: 57px;
}
.product_table .product.short .s5 .name {
    margin-right: 68px;
}
.product_table .product.short .s6 .name {
    margin-right: 79px;
}
.product_table .product.short .s7 .name {
    margin-right: 90px;
}
.product_table .product.short .s8 .name {
    margin-right: 101px;
}
.product_table .product.short .s9 .name {
    margin-right: 112px;
}
.product_table .product.short .s10 .name {
    margin-right: 123px;
}
.product_table .product {
    padding-top: 5px;
}
.product_table .product .cost_block {
    top: 9px;
}
.product_table .product .name {
    margin-right: 60%;
    margin-top: 3px;
    font-size: 16px;
    font-weight: bold;
}
.product_table .product .name div {
    font-size: 16px;
    font-weight: bold;
}
.product_table .product .s2 .name {
    margin-right: 35px;
}
.product_table .product .s3 .name {
    margin-right: 46px;
}
.product_table .product .s4 .name {
    margin-right: 57px;
}
.product_table .product .s5 .name {
    margin-right: 68px;
}
.product_table .product .s6 .name {
    margin-right: 79px;
}
.product_table .product .s7 .name {
    margin-right: 90px;
}
.product_table .product .s8 .name {
    margin-right: 101px;
}
.product_table .product .s9 .name {
    margin-right: 112px;
}
.product_table .product .s10 .name {
    margin-right: 123px;
}
.product_table .product.short .name div.product_image div {
    font-size: 3px;
}
.product_image {
    width: 50px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    font-size: 7px;
    line-height: 35px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
}
.product_image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin-top: -2px;
}
.product_image img.safari {
    margin-top: -3px;
}
.product_image .img-spinner {
    height: 100%;
}
/* list item mod block start */
#modifiers_popup .product {
    position: relative;
    text-align: left;
    padding:20px 20px 0 40px;
}

#modifiers_popup .product .block_img {
    height: auto;
    width: auto;
    max-height: 95%;
    max-width: 95%;
    vertical-align: middle;
}
#modifiers_popup .product .img_wrapper {
    width: 100px;
    height: 100px;
    line-height:100px;
    margin-right: 20px;
    float: left;
    text-align: center;
}

#modifiers_popup .product .img-spinner {
    width: 100px;
    height: 100px;
}

#modifiers_popup .product .name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
#modifiers_popup .product .cost {
    white-space: nowrap;
    float: right;
}
#modifiers_popup .product .input_beauty {
    display: inline-block;
    position: relative;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto;
}
#modifiers_popup .product .cost {
    margin-right: 10px;
}
#modifiers_popup .product .cost .input_beauty {
    margin-right: 20px;
    margin-left: 3px;
    width: 97px;
}
#modifiers_popup .product .gift_card {
    margin-top:5px;
}
#modifiers_popup .product .gift_card .input_beauty {
    margin-left: 12px;
    width:196px;
}
#modifiers_popup .product .gift_card input {
    font-size: 18px;
}
#modifiers_popup .product .cost input {
    font-weight: bold;
    font-size: 24px;
}
#modifiers_popup .product .currency_symbol,
#modifiers_popup .product .uom,
#modifiers_popup .product .cost,
#modifiers_popup .product .price {
    font-weight: inherit;
}
#modifiers_popup .product .timetables {
    font-style: italic;
}
/* list item mod block end */
