.combo_item {
    padding: 10px 0 10px 14px;
}

.combo_item .title {
    max-width: 280px;
    cursor: pointer;
}

.combo_item .input {
    padding: 0;
    cursor: pointer;
}

.combo_item .input.checkbox {
    border-radius: 0;
}

.combo_item .mdf_spacer {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    position: relative;
}

.combo_item .mdf_quantity {
    position: absolute;
    top: -16px;
}

.combo_item .customize {
    margin: 0 10px;
}

.combo_item .checkbox-outer {
    display: inline-block;
}
