#profile-panel {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
}

#profile-panel.active {
    position: absolute;
    left: 0;
    bottom: 0;
}

#profile-panel .close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#profile-panel .links {
    position: relative;
    right: 399px;
    top: 18px;
    cursor: pointer;
    font-size: 12px;
}

#profile-panel .signup-link,
#profile-panel .login-link {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    color: inherit;
}

#profile-panel .signup-link {
    margin-right: 17px;
}

#profile-panel .signup-link::after {
    content: '';
    display: block;
    position: absolute;
    right: -9px;
    top: 2px;
    bottom: 2px;
    border-right-width: 1px;
    border-right-style: solid;
}

#profile-panel .active::before,
#profile-panel .signup-link:hover::before,
#profile-panel .login-link:hover::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: -5px;
}

#profile-panel .box {
    position: absolute;
    right: 399px;
    top: 40px;
    width: 330px;
    padding-top: 10px;
    border-width: 1px;
    border-style: solid;
}

#profile-panel .required {
    position: relative;
}

#profile-panel .required::before {
    position: absolute;
    left: 5px;
}

#profile-panel .profile-form {
    padding: 15px 20px 0;
}

#profile-panel .label {
    display: block;
    font-size: 12px;
    padding: 0 14px;
}

#profile-panel .input {
    margin-bottom: 15px;
}

#profile-panel .profile-checkbox {
    display: block;
    padding: 8px 14px 0;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
}

#profile-panel .profile-checkbox .field-description {
    margin: 4px 0 0 21px;
}

#profile-panel input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    margin: 0;
}

#profile-panel .checkbox {
    position: relative;
    top: 2px;
}

#profile-panel .checkbox-text {
    position: relative;
    left: 2px;
    top: -1px;
}

#profile-panel .attention-text {
    margin-top: -10px;
    padding: 0 14px 15px;
    text-align: left;
    font-size: 12px;
}

#profile-panel .account-inactive {
    white-space: nowrap;
}

#profile-panel .simlink {
    text-decoration: underline;
    cursor: pointer;
}

#profile-panel .simlink:hover {
    text-decoration: none;
}

#profile-panel .forgot-password {
    padding: 0 20px;
    font-size: 12px;
    font-style: italic;
}

#profile-panel .btn {
    padding: 11px 10px;
    margin-top: 15px;
}

#profile-panel .login-fb-btn {
    height: 35px;
    overflow: hidden;
    line-height: 36px;
    margin: 0 24px 40px;
    padding: 0;
    border-radius: 2px;
    background: #3b5998;
    opacity: 0.89;
    font-size: 14px;
}

#profile-panel .login-fb-btn:hover {
    opacity: 1;
    transition: opacity .3s;
}

#profile-panel .phone-privacy {
    display: block;
    margin-top: -10px;
    padding: 0 14px 15px;
    font-size: 12px;
}

#profile-panel .passwords-mismatch {
    position: absolute;
    bottom: -5px;
    left: 14px;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#profile-panel .reset-password-info {
    padding: 0 20px 15px;
}

#profile-panel .logged-as {
    font-size: 13px;
    letter-spacing: 1.1px;
}

#profile-panel .logged-as::after {
    content: '\f0d7';
    font-family: 'FontAwesome';
    padding-left: 4px;
}

#profile-panel .menu-items.box {
    width: auto;
    padding: 0;
}

#profile-panel .menu-item {
    margin: 10px 6px;
    padding: 7px 18px;
    border-radius: 2px;
    letter-spacing: 1px;
    cursor: pointer;
}

.profile-cvv-container {
    width: 300px;
    padding: 10px;
}

.profile-cvv-container .cvv-required-info {
    display: block;
    padding: 10px 0 20px;
}

.profile-cvv-container .cvv {
    width: 100px;
    margin: 0 auto 20px;
}

.profile-edit {
    width: 100%;
    height: 100%;
    position: relative;
}

.profile-edit .cols {
    position: absolute;
    top: 51px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.profile-edit .col-left {
    width: 50%;
    padding: 8px 15px 8px 25px;
}

.profile-edit .col-right {
    width: 50%;
    padding: 8px 25px 8px 15px;
}

.profile-edit .label {
    padding: 15px 0 1px 14px;
    font-size: 13px;
}

.profile-edit .field-description {
    font-size: 12px;
}

.profile-edit .select-wrapper {
    max-width: 308px;
    width: 100%;
}

.profile-edit .input,
.profile-edit .card-title,
.profile-edit .card-details,
.profile-edit .select-wrapper[class] select,
.profile-edit .new_gift_card,
.profile-edit .reward-cards-list,
.profile-edit .new_reward_card,
.profile-edit .gift-cards-list {
    max-width: 300px;
    width: 100%;
}

.profile-edit .header-underline {
    max-width: 320px;
    width: 100%;
}

.profile-edit .basic-details-box {
    margin-bottom: 20px;
}

.profile-edit .phone-privacy {
    display: block;
    padding-left: 14px;
    font-size: 12px;
}

.profile-edit .update-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile-edit .cancel {
    font-size: 18px;
}

.profile-edit .card-title {
    padding: 13px 0;
}

.profile-edit .card-details {
    padding: 0 15px 15px;
    margin-bottom: 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.profile-edit .card-details .input {
    max-width: 292px;
    width: 96%;
}

.profile-edit .checkbox-item {
    margin: 15px 0;
}

.profile-edit .checkbox-item .field-description {
    margin: 5px 0 0 20px;
}

.profile-edit .profile-checkbox {
    display: block;
    padding: 5px 14px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.profile-edit input[type="checkbox"] {
    position: absolute;
    top: -500px;
}

.profile-edit .checkbox {
    position: relative;
    top: 2px;
}

.profile-edit .new-card {
    margin-top: 13px;
}

.profile-edit .captcha_container {
    padding: 16px 0px 0 3px;
}

.profile-edit .rewards-title {
    margin-top: 25px;
}

.profile-edit .reward-cards-list > li,
.profile-edit .gift-cards-list > li {
    margin: 13px 0;
}

.profile-edit .addresses {
    margin-top: 15px;
}

.profile-edit .address-item {
    clear: both;
    margin-bottom: 15px;
}

.profile-edit .address__header {
    max-width: 300px;
    width: 100%;
}

.expand.expanded:before {
    content: '\f147';
    font-family: "FontAwesome";
}
.collapsed .expand:before {
    content: '\f196';
    font-family: "FontAwesome";
}

.profile-separator {
    position: relative;
    border-top-width: 2px;
    border-top-style: solid;
    margin: 16px 34px 10px;
}

.profile-separator span {
    display: inline-block;
    position: relative;
    top: -9px;
    padding: 0 14px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
}

.profile-attention {
    border: 0;
    font-weight: normal;
    font-size: 16px;
}

.profile-terms-of-use {
    padding: 30px 30px 15px;
    line-height: 1.5;
    font-size: 14px;
}

.profile-terms-of-use h2 {
    margin: 0 0 15px;
    font-size: 21px;
}

.profile-terms-of-use h3 {
    margin: 0 0 15px;
    font-size: 18px;
}

.profile-terms-of-use p {
    margin: 0 0 15px;
}
