.quantity_info {
    display: inline-block;
}

.quantity_info input,
.weight-wrapper::before {
    padding: 8px 0;
    border: none;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    background: inherit;
}

.btn-qty {
    display: inline-block;
    width: 44px;
    height: 42px;
    cursor: pointer;
    vertical-align: top;
    position: relative;
}

.btn-qty.decrease {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.btn-qty.decrease::before,
.btn-qty.increase::before  {
    content: '';
    display: block;
    width: 15px;
    height: 0;
    margin-top: -1px;
    margin-left: -8px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
}

.btn-qty.increase {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.btn-qty.increase::after {
    content: '';
    display: block;
    width: 0;
    height: 14px;
    margin-top: -8px;
    margin-left: -1px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
}

.btn-qty.decrease::before {
    content: '';
    display: block;
    width: 15px;
    height: 0;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
}

.weight-wrapper {
    display: inline-block;
    min-width: 60px;
    height: 42px;
    width: auto;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}

.weight-wrapper::before {
    content: attr(data-weight);
    display: block;
    padding: 48px 10px 0;
}

.weight_edit_input {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.combobox-wrapper {
    display: inline-block;
    width: 80px;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
}

.combobox {
    position: relative;
    background: inherit;
}

.combobox .input-wrapper {
    overflow: hidden;
}

.combobox input {
    width: 110px;
    margin-left: -15px;
    text-indent: 15px;
}

.selectbox {
    display: none;
    width: 100%;
    height: 100px;
    background: inherit;
    position: absolute;
    top: -101px;
    z-index: 10000;
    overflow: auto;
}

.selectbox li {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}