.quantity {
    text-align: left;
    padding:10px 10px 10px 20px;
    position: absolute;
    bottom:0px;
}

/*.quantity select {*/
.quantity .select-wrapper {
    border-width: 2px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    min-width: 52px;
    margin-left: 5px;
    height: 26px;
    vertical-align: middle;
}
.quantity .title {
    font-weight: bold;
    vertical-align: middle;
    line-height: 28px;
}

.quantity_select select {
    font-weight: bold;
    font-size: 15px;
    padding-right: 22px;
}

.quantity_select {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

.quantity .select-wrapper.l1 {
    width: 49px;
}

.quantity .select-wrapper.l2 {
    width: 57px;
}

.quantity .select-wrapper.l3 {
    width: 67px;
}

.quantity .select-wrapper.l4 {
    width: 74px;
}

.quantity .select-wrapper.l5 {
    width: 81px;
}

.quantity .select-wrapper.l6 {
    width: 90px;
}

.quantity .select-wrapper.l7 {
    width: 100px;
}

.quantity_select .select_arrows {
    right: 7px;
}

/* css for sold_by_weight case */
.weight_edit_input {
    font-weight: bold;
    font-size: 16px;
}

.weight_edit_inner {
    width: 60px !important;
    height: 27px !important;
    top: 3px;
}

.weight_edit {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 4px;
    position: relative;
    height: 30px;
}

.quantity_weight_wrapper {
    padding: 0px;
    padding-bottom: 2px;
}

.quantity .uom {
    display: inline-block;
    vertical-align: bottom;
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product_instructions .add_instructions.sold_by_weight {
    left: 230px;
}
/* end of sold_by_weight case */
