.subcategories {
    position: absolute;
    right: 27px;
    top: 65px;
    padding: 0 5px;
    z-index: 101;
}
.subcategories > span {
    font-weight: bold;
    line-height: 26px;
    vertical-align: top;
}
.subcategories select {
    font-size:16px;
}
.subcategories .select-wrapper {
    margin-left: 7px;
    width: 170px;
    cursor: pointer;
    border-radius: 15px;
    height: 24px;
    vertical-align: top;
}