* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -o-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -ms-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}
body {
    background: #fff;
    color: #464646;
}
#header {
    background: #2699ca;
    box-shadow: 0 .2em .5em rgba(243, 243, 243, 0.5) inset;
    color: #fff;
}
#header::after {
    box-shadow: 0em 1em 1em rgba(50, 50, 50, 0.5) inset, 0 -1px #000;
}
#section {
    background: #2699ca;
}
#content {
    background: #fff;
    box-shadow: 0em 0.2em 0.2em 0.2em rgba(50, 50, 50, 0.2);
}
.modifiers-bottom-line:before {
    border-color: #2699ca;
    box-shadow: 0em 0.2em 0.4em 0.2em rgba(60, 167, 222, 0.2);
}
#popup_content {
    background-position: 1.5em 1em;
    background: transparent !important;
}
#popup_content:before {
    color: #3f7ca4;
    text-shadow: 0 0 1px #3f7ca4;
}
#popup_panel input {
    background: #3f7ca4;
    color: #fff;
    box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.3);
}
#popup_panel input:active {
    box-shadow: none;
}
#footer {
    border-top-color: #000;
    background-image: linear-gradient(bottom, #000000 0%, #232323 60%, #2f2f2f 70%, #4d4d4d 100%);
    background-image: -moz-linear-gradient(bottom, #000000 0%, #232323 60%, #2f2f2f 70%, #4d4d4d 100%);
    background-image: -webkit-linear-gradient(bottom, #000000 0%, #232323 60%, #2f2f2f 70%, #4d4d4d 100%);
    background-image: -ms-linear-gradient(bottom, #000000 0%, #232323 60%, #2f2f2f 70%, #4d4d4d 100%);
}
.btn1, .btn2 {
    border-color: #00b9ff;
    box-shadow: 0 0.5em 3em rgba(230, 230, 230, 0.7) inset, 0 0.2em 1em rgba(2, 132, 181, 0.9), 0 -0.2em 0.1em rgba(0,0,0,0.9);
    background: #2082ab;
}
.btn1:active, .btn2:active {
    box-shadow: 0 0 0.3em #000 inset, 0 0.3em 1.5em rgba(2, 132, 181, 1), 0 -0.2em 0.1em rgba(0,0,0,0.9);
}
#main-spinner {
    background: rgba(0,0,0,0.8);
}
.input_beauty input {
    background-color: transparent;
}
.input_beauty:before {
    background-image: -moz-linear-gradient(bottom,rgba(226,226,226,0.62) 0,rgba(29,78,60,0.22) 70%,rgba(29,78,60,0.62) 100%);
    background-image: -webkit-linear-gradient(bottom,rgba(226,226,226,0.62) 0,rgba(29,78,60,0.22) 70%,rgba(29,78,60,0.62) 100%);
    background-image: -ms-linear-gradient(bottom,rgba(226,226,226,0.62) 0,rgba(29,78,60,0.22) 70%,rgba(29,78,60,0.62) 100%);
    background-image: linear-gradient(bottom,rgba(226,226,226,0.62) 0,rgba(29,78,60,0.22) 70%,rgba(29,78,60,0.62) 100%);
}
.input_beauty:after {
    background: #fff;
}
.free {
    color: green;
}
#content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.4em rgba(0,0,0,0.3);
    border-radius: 0.6em;
    background-color: #eee;
}
#content::-webkit-scrollbar {
    width: 0.8em;
    background-color: #EEE;
}
#content::-webkit-scrollbar-thumb {
    border-radius: 0.6em;
    -webkit-box-shadow: inset 0 0 0.4em rgba(0,0,0,.3);
    background-color: #BBB;
}
#content ul.card li.exp:after {
    background: transparent;
}
#content ul.card li.required:before {
    color: #f00;
}
.bg-style1 {
    background: #fff;
}
#content ul.card label:before {
    color: #cacaca;
}
.border:after, .border2:before {
    background-image: -moz-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
}
select {
    color: inherit;
    background: transparent;
}
.firefox select {
    color: transparent;
    text-shadow: 0 0 #464646;
}
.btn {
    color: #3F7CA4;
    border-color: #c3dce9;
    box-shadow: 0.10em 0.25em 0.5em #a09d9d, inset 0em 0em 0.5em #e8e8e8;
    background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-color: #ffffff;
}
.btn:active {
    box-shadow: 0em -0.13em 0.19em #a09d9d, inset 0em 0em 0.5em #f2f2f2;
}
#content ul.categories li:after {
    background: url('img/menu_choice_arrow.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
    z-index: 1;
}
#content ul.categories li:active:after {
    background-position: 100% 0;
}
#content ul.categories li:active {
    box-shadow: 0 0 6em rgba(0, 170, 234, 0.3) inset;
}
#content .checkout .input.required:before {
    color: #f00;
}
#content .checkout label.select {
    color: inherit;
    border-color: #c8cbcd;
    box-shadow: 0 0 0.5em #bddbea;
    background: #f8f8f8;
}
#content .checkout label.select:before {
    color: #299bd0;
}
#content .checkout label.select[disabled="disabled"] > * {
    border-color: #ccc;
    box-shadow: 0 0 0.5em #ccc;
    color: #ccc;
}
#content .checkout label.select[disabled='disabled']:before {
    color: #ccc;
}
.color-style1 {
    color: #2ba1d8;
}
#content .done .error {
    color: #ff0000;
}
.btn1, .btn2 {
    color: #fff;
}
#myorder.btn2 {
    background: url('img/myorder.png') no-repeat 50% 30% #2082ab !important;
    background-size: 50% !important;
}
#myorder.btn2 .count {
    background: #373b40;
}
#myorder.btn1 .count {
    color: #373b40;
}
#footer ul.confirm.double li:not(:last-child),
#footer ul.confirm.triple li:not(:last-child) {
    background: #545454;
}
#footer ul.confirm.double li:last-child:before,
#footer ul.confirm.triple li:last-child:before {
    background: #000;
}
#header .one_button .leftBtn:active {
    background-position: 100%;
}
#header .one_button span, #header .two_button span {
    color: #373b40;
}
#header .rightBtn.disabled {
    border-color: grey;
}
#header .rightBtn.disabled span{
    color: grey;
}
#content .product_instructions .title {
    border-bottom-color: #aba6a0;
    color: #2ba1d8;
}
#content ul.modifiers li, #content .myorderSubtotal {
    border-top-color: #aba6a0;
}
#content .modifier label:not(.fade-out):active {
    box-shadow: 0 0 3em rgba(0, 170, 234, 0.1) inset;
}
#content .modifier .input.checkbox:after {
    background: url('img/checkbox.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
}
#content .modifier .input.checkbox.checked:after {
    background-position: 100% 0;
}
#content .modifier .input.radio:after {
    background: url('img/radio.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
}
#content .modifier .input.radio.checked:after {
    background-position: 100% 0;
}
#content ul.myorder > li {
    border-top-color: #aba6a0;
}
#content ul.myorder .btns span {
    color: #f0f0f0;
    background: #3f7ca4;
    border-color: transparent;
}
#content ul.myorder .btns span:active {
    box-shadow: 0 0 1em rgba(230, 230, 230, 0.7) inset;
    border-color: #3f7ca4;
}
#content ul.products li, #content div.quantity .title, #content .store_info_main_data, #content ul.location > li,
#content ul.location ul.desc li.row.last, #content ul.confirm, #content ul.categories li {
    border-bottom-color: #aba6a0;
}
#content ul.products li:active {
    box-shadow: 0 0 8em rgba(0, 170, 234, 0.3) inset;
}
#content div.quantity .increase,
#content div.quantity .increase.disabled:active {
    background: url('img/plus.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
}
#content div.quantity .decrease,
#content div.quantity .decrease.disabled:active {
    background: url('img/minus.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
}
#content div.quantity .increase:active,
#content div.quantity .decrease:active {
    background-position: 100% 0;
}
#content .store_info_main_logo {
    background: #585858;
}
#content .store_info_main_logo .divider {
    border-top-color: #a0a0a0;
    background: #2699ca;
    box-shadow: 0 .2em .3em rgba(243, 243, 243, 0.5) inset, 0 0 2.8em rgba(50, 50, 50, 0.7);
}
#content .store_info_main_logo .divider:before {
    box-shadow: 0 -1px #000 inset;
}
#content .store_info_main_logo .divider:after {
    box-shadow: 0 -1px #000;
}
#content .store_info_main_data:after {
    background: url('img/menu_choice_arrow.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
}
#content .store_info_main_data:active:after {
    background-position: 100% 0;
}
#content .store_info_main_data:active {
    box-shadow: 0 0 6em rgba(0, 170, 234, 0.3) inset;
}
#content a.phone, #content a.phone:link, #content a.phone:visited, #content a.phone:hover, #content a.phone:active {
    color: #2699ca;
}
#content ul.location ul.desc li:not(.info) {
    border-color: #aba6a0;
}
#content ul.location ul.desc li.row:nth-child(2n) {
    background: rgba(168, 196, 216, 0.09);
}
#content ul.location ul.desc li.row:nth-child(2n + 1) {
    background: rgba(255, 255, 255, 0.58);
}
#content ul.location .closed {
    color: red;
}
#content .about h2 > a {
    background: url('img/poweredBy.png') no-repeat 1em 0.5em transparent;
    background-size: 6.5em;
}
#content ul.tips .amount {
    color: inherit;
}
#content ul.tips .amount:disabled {
    color: #454545;
    background: #eee;
    -webkit-opacity: 1;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
}
#content ul.tips span.radio {
    background: url('img/radio.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
}
#content ul.tips span.radio.checked {
    background-position: 100% 0;
}
#content ul.tips .btn {
    border-color: #c7c7c7;
    background-image: linear-gradient(bottom, #dcdcdc 0%, #f1f1f1 60%, #fefefe 100%);
    background-image: -o-linear-gradient(bottom, #dcdcdc 0%, #f1f1f1 60%, #fefefe 100%);
    background-image: -moz-linear-gradient(bottom, #dcdcdc 0%, #f1f1f1 60%, #fefefe 100%);
    background-image: -webkit-linear-gradient(bottom, #dcdcdc 0%, #f1f1f1 60%, #fefefe 100%);
    background-image: -ms-linear-gradient(bottom, #dcdcdc 0%, #f1f1f1 60%, #fefefe 100%);
    box-shadow: 0 0.1em 0.2em #fff inset, 0 -0.1em 0.2em rgba(0, 170, 234, 0.2) inset;
    color: #00aaea;
}
#content ul.tips .btn.selected {
    background: #fff;
    border-color: #5bb4dd;
    box-shadow: 0 0 0.4em, 0 0 0.2em inset;
}
#content ul.tips .btn.disabled {
    color: #cecece;
    box-shadow: 0 -0.1em 0.2em #cecece inset;
}