<script type="text/template" id="card_main-template">
    <ul class="card font-size2 font-color8 <% if(isFirefox) { %>firefox<% } %>">
        <li>
            <input type="text" placeholder="<%= _lp.CARD_FIRST_NAME %>" value="<%= firstName %>" class="first_name ios-safari-caret border-color10" maxlength="20">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.CARD_LAST_NAME %>" value="<%= secondName %>" class="last_name ios-safari-caret border-color10"  maxlength="20">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.CARD_NUMBER %>" class="number ios-safari-caret border-color10" value="<%= cardNumber %>" min="0">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.CARD_SECURITY_CODE %>" class="secure ios-safari-caret border-color10" value="<%= securityCode %>" min="0">
        </li>
        <li class="required exp">
            <span> <%= _lp.CARD_EXP_DATE %>: </span>
            <div class="select-wrapper bg-color2">
                <select id="exp-month">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="select-wrapper bg-color2">
                <select id="exp-year">
                </select>
            </div>
        </li>
    </ul>
</script>