<script type="text/template" id="card_main-template">
    <ul class="card font-size2 regular-text">
        <li>
            <input type="text" placeholder="<%= _lp.CARD_FIRST_NAME %>" class="first_name ios-safari-caret input-colors" maxlength="20" name="firstName">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.CARD_LAST_NAME %>" class="last_name ios-safari-caret input-colors"  maxlength="20" name="lastName">
        </li>
        <li class="required">
            <input type="tel" placeholder="<%= _lp.CARD_NUMBER %>" class="number ios-safari-caret input-colors" name="cardNumber">
        </li>
        <li class="required">
            <input type="tel" placeholder="<%= _lp.CARD_SECURITY_CODE %>" class="secure ios-safari-caret input-colors" name="secureCode">
        </li>
        <li class="required exp">
            <span> <%= _lp.CARD_EXP_DATE %>: </span>
            <div class="select-wrapper input-colors">
                <select id="ccMonth" class="card-expiration-month" name="exp_date_mm">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="select-wrapper input-colors">
                <select id="ccYear" class="card-expiration-year" name="exp_date_yy">
                </select>
            </div>
        </li>
    </ul>
</script>

<script type="text/template" id="card_billing_address-template">
<div class="billing_address">
    <div id="use_profile_address" class="font-size3 regular-text">
        <span class="input checkbox"></span>
        <label class="title_wrapper fl-right">
                <span class="title"></span>
            </span>
        </label>
    </div>
    <ul class="card address font-size2 regular-text">
        <li class="required">
            <div class="select-wrapper input-colors">
                <select class="countries" id="countries">
                </select>
            </div>
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE1 %>" class="street_1 ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_CITY %>" class="city ios-safari-caret input-colors">
        </li>
        <li class="required states-wrap">
            <div class="select-wrapper input-colors">
                <select class="states">
                </select>
            </div>
        </li>
        <li class="required">
            <input type="text" class="zipcode ios-safari-caret input-colors">
        </li>
    </ul>
</div>
</script>
