<script type="text/template" id="card_main-template">
    <ul class="card <% if(isFirefox) { %>firefox<% } %>">
        <li class="border <% if(paypal_direct_credit_card) { %>required<% } %>">
            <input type="text" placeholder="First Name" class="first_name" value="<%= firstName %>" maxlength="20">
        </li>
        <li class="border <% if(paypal_direct_credit_card) { %>required<% } %>">
            <input type="text" placeholder="Last Name" class="last_name" value="<%= secondName %>" maxlength="20">
        </li>
        <li class="required border">
            <input type="text" placeholder="Card Number" class="number" value="<%=cardNumber%>" min="0" />
        </li>
        <li class="border">
            <input type="text" placeholder="Security Code" class="secure" value="<%=securityCode%>" min="0" />
        </li>
        <li class="required exp">
            <span>Exp. Date:</span>
            <div class="border label">
                <label>
                    <select id="exp-month">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </label>
            </div>
            <div class="border label">
                <label>
                    <select id="exp-year">
                    </select>
                </label>
            </div>
        </li>
        <li class="border">
            <input type="text" placeholder="Street Address" class="address" value="<%= street %>" maxlength="40">
        </li>
        <li class="border">
            <input type="text" placeholder="City" class="city" value="<%= city %>" maxlength="40">
        </li>
        <li class="border">
            <input type="text" placeholder="State" class="state" value="<%= state %>" maxlength="40">
        </li>
        <li class="border">
            <input type="text" placeholder="Zip Code" class="zip" value="<%= zip %>" maxlength="12">
        </li>
    </ul>
</script>