<script type="text/template" id="categories_main-template">
    <ul class="categories"></ul>
</script>

<script type="text/template" id="categories_item-template">
    <div class="list-title">
        <span>
            <span class="category font-size1 list-header-text"></span>
            <em class="timetables font-size2 regular-text"></em>
        </span>
    </div>
    <ul class="products list"></ul>
</script>

<script type="text/template" id="parent-categories_list-template">
    <ul class="categories list"></ul>
</script>

<script type="text/template" id="parent-categories_item-template">
    <div class="title title-text font-size1"></div>
</script>