<script type="text/template" id="categories_main-template">
    <ul class="categories"></ul>
</script>

<script type="text/template" id="categories_item-template">
    <% if(!hide_images) { %>
        <div class="block_img img">
            <img alt="<%= name %> <%= id %>"/>
        </div>
    <% } %>
    <dl <% if(hide_images){ %>class="noimage"<% } %>>
        <dt><%= name %></dt>
        <dd>
            <%= parent_name %>
            <% if (timetables) {%>
            <span class="timetables"><%= timetables %></span>
            <% } %>
        </dd>
    </dl>
</script>
