<script type="text/template" id="checkout_main-template">
    <div class="list-title list-header-text">
        <span class="font-size1"><%= _lp.CHECKOUT_CONTACT_INFO %></span>
    </div>
    <ul class="contact-info block font-size2 text-center">
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_FIRST_NAME %>" class="firstName ios-safari-caret input-colors" value="<%= firstName %>">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_LAST_NAME %>" class="lastName ios-safari-caret input-colors" value="<%= lastName %>">
        </li>
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" value="<%= email %>" autocorrect="off" autocapitalize="none">
        </li>
        <li class="required">
            <input type="tel" placeholder="<%= _lp.PROFILE_PHONE %>" class="phone ios-safari-caret input-colors" value="<%= phone %>" min="0">
        </li>
        <li class="delivery_address">
        </li>
        <li class="delivery_seat">
        </li>
        <li class="delivery_other">
        </li>
    </ul>
    <% if(enableRewardCard) { %>
    <div class="list-title list-header-text">
        <span class="font-size1"><%= _lp.CHECKOUT_REWARD_CARD %></span>
    </div>
    <div class="rewardCard block text-right font-size2">
        <div class="input-control">
            <input type="text" placeholder="<%= _lp.CHECKOUT_REWARD_CARD_NUMBER %>" class="rewardCard ios-safari-caret input-colors" value="<%= rewardCard %>">
            <span class="ctrl-wrapper cancel-input"></span>
        </div>
        <span class="rewards-card-apply rewards-card-btn btn-inline regular-text"><%= _lp.CHECKOUT_APPLY %></span>
        <span class="see-rewards rewards-card-btn btn-inline regular-text"><%= _lp.CHECKOUT_SEE_REWARDS %></span>
    </div>
    <% } %>
</script>

<script type="text/template" id="checkout_other-template">
    <div class="list"></div>
</script>

<script type="text/template" id="checkout_other_item-template">
    <% if (Array.isArray(choices) && choices.length) { %>
        <div data-isrequired>
            <div class="select-wrapper input-colors">
                <label class="select">
                    <select class="section" name="<%= name %>">
                    </select>
                </label>
            </div>
        </div>
    <% } else { %>
        <div data-isrequired>
            <input type="text" class="row ios-safari-caret input-colors" placeholder="<%= name %>" name="<%= name %>" value="<%= value %>">
        </div>
    <% } %>
</script>

<script type="text/template" id="checkout_pickup-template">
    <div class="list-title list-header-text">
        <span class="font-size1 pickup"><%= pickupTimeLabel %></span>
    </div>
    <ul class="block font-size2 text-center">
        <li class="required">
            <div class="select-wrapper input-colors">
                <input type="text" id="datepicker" readonly="readonly" data-day="0" class='pikaday ios-safari-caret'>
            </div>
        </li>
        <li>
            <div class="select-wrapper input-colors">
                <select class="time"></select>
            </div>
        </li>
    </ul>
</script>

<script type="text/template" id="checkout_pickup_short-template">
    <span class="title font-size3 regular-text pickup"><%= pickupTimeLabel %></span>
    <ul class="pickup-box block font-size2 text-left">
        <li class="checkout-short-left pickup-item">
            <div class="select-wrapper input-colors">
                <input type="text" id="datepicker" readonly="readonly" data-day="0" class='pikaday ios-safari-caret'>
            </div>
        </li>
        <li class="checkout-short-right fl-right pickup-item">
            <div class="select-wrapper input-colors">
                <select class="time"></select>
            </div>
        </li>
    </ul>
</script>

<script type="text/template" id="checkout_order_type-template">
    <div class="list-title list-header-text">
        <span class="font-size1"><%= _lp.CHECKOUT_ORDER_TYPE %></span>
    </div>
    <div class="block text-center">
        <div class="select-wrapper font-size2 input-colors">
            <select class="order-type-select"></select>
        </div>
    </div>
</script>

<script type="text/template" id="checkout_order_type_short-template">
    <span class="title font-size3 regular-text"><%= _lp.CHECKOUT_ORDER_TYPE %></span>
    <div class="block text-center">
        <div class="select-wrapper font-size2 input-colors">
            <select class="order-type-select"></select>
        </div>
    </div>
</script>

<script type="text/template" id="checkout_address-template">
    <ul class="text-center">
        <% if(isShippingServices) { %>
        <li>
            <div class="select-wrapper input-colors">
                <select class="country" id="countries">
                <% for (var i in countries) { %>
                    <option value="<%= i %>" <% if(i.toLowerCase() == country.toLowerCase()) { %>selected="selected"<% } %>><%= countries[i] %></option>
                <% } %>
                </select>
            </div>
        </li>
        <% } %>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE1 %>" name="street_1" value="<%= street_1 %>" class="ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE2 %>" name="street_2" value="<%= street_2 %>" class="ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_CITY %>" name="city" value="<%= city %>" class="ios-safari-caret input-colors">
        </li>
        <% if(country == 'US' && state && states instanceof Object && Object.keys(states).length > 0) { %>
        <li>
            <div class="select-wrapper shipping-state input-colors">
                <select class="states">
                <% for(var i in states) { %>
                    <option value="<%= i %>" <% if(i.toLowerCase() == state.toLowerCase()) { %>selected="selected"<% } %>><%= states[i] %></option>
                <% } %>
                </select>
            </div>
        </li>
        <% } %>
        <% if(typeof province == 'string') { %>
        <li class="required province">
           <input type="text" placeholder="<%= _lp.PROFILE_PROVINCE %>" name="province" value="<%= province %>" class="ios-safari-caret input-colors">
       </li>
        <% } %>
        <li class="required">
            <input type="text" placeholder="<% if(country == 'US') {print(_lp.PROFILE_ZIP_CODE);} else {print(_lp.PROFILE_POSTAL_CODE);} %>" name="zipcode" value="<%= zipcode %>" class="ios-safari-caret input-colors">
        </li>
        <% if(isShippingServices) { %>
        <li>
            <div class="select-wrapper shipping-services input-colors">
                <select class="shipping-select"></select>
                <span class="shipping-status img-spinner"></span>
            </div>
        </li>
        <% } %>
</script>

<script type="text/template" id="checkout_address_short-template">
</script>

<script type="text/template" id="checkout_discount-template">
    <h3 class="primary-text font-size1 text-center"><%= _lp.ENTER_DISCOUNT_CODE %></h3>
    <div class="input-control font-size2">
        <input type="text" placeholder="<%= _lp.MYORDER_DISCOUNT_CODE %>" name="discount_code" class="discount-code ios-safari-caret input-colors">
        <label class="ctrl-wrapper"><input type="button" class="ctrl"></label>
    </div>
</script>
