<script type="text/template" id="checkout_main-template">
    <dl class="checkout <% if(isFirefox) { %>firefox<% } %>">
        <dt class="color-style1 clip"> <%= _lp.CHECKOUT_CONTACT_INFO %> </dt>
        <dd class="contact_info">
            <label class="input required border">
                <input type="text" placeholder="<%= _lp.CHECKOUT_FIRST_NAME %>" class="firstName ios-safari-caret bg-style1" value="<%= firstName %>">
            </label>
            <label class="input required border">
                <input type="text" placeholder="<%= _lp.CHECKOUT_LAST_NAME %>" class="lastName ios-safari-caret bg-style1" value="<%= lastName %>">
            </label>
            <label class="input required border">
                <input type="text" placeholder="<%= _lp.CHECKOUT_EMAIL %>" class="email ios-safari-caret bg-style1" value="<%= email %>" autocapitalize="none">
            </label>
            <label class="input required border">
                <input type="tel" placeholder="<%= _lp.CHECKOUT_PHONE %>" class="phone ios-safari-caret bg-style1" value="<%= phone %>" min="0">
            </label>
            <div class="delivery_address">
            </div>
            <div class="delivery_seat">
            </div>
        </dd>
        <% if(enableRewardCard) { %>
        <dt class="color-style1 rewardCard clip"> <%= _lp.CHECKOUT_REWARD_CARD %> </dt>
        <dd class="rewardCard">
            <label class="input rewardCard border">
                <input type="<%= rewardCardType %>" placeholder="<%= _lp.CHECKOUT_REWARD_CARD_NUMBER %>" class="rewardCard ios-safari-caret bg-style1" value="<%= rewardCard %>">
            </label>
        </dd>
        <% } %>
    </dl>
</script>

<script type="text/template" id="checkout_seat-template">
    <% if(isDeliverToSeat) { %>
        <% if(orderFromSeat.enable_level) { %>
            <% if(levels.length) { %>
            <div class="select-wrapper">
                <label class="select required">
                    <select class="level" name="level">
                        <option value="" <% if (level == '') { %> selected="selected" <% } %>>
                            <%= _lp.CHECKOUT_LEVEL %>
                        </option>
                        <% _.each(levels, function(l) { %>
                        <option value="<%= l %>" <% if (level == l) { %>selected="selected"<% }; %>><%= l %></option>
                        <% }); %>
                    </select>
                </label>
            </div>
            <% } else { %>
            <label class="input label required border">
                <input type="text" placeholder="<%= _lp.CHECKOUT_LEVEL %>" name="level" class="level ios-safari-caret bg-style1" maxlength="4" value="<%= level %>">
            </label>
            <% } %>
        <% } %>
        <% if(orderFromSeat.enable_sector) { %>
            <% if(sections.length) { %>
            <div class="select-wrapper">
                <label class="select required">
                    <select class="section" name="section">
                        <option value="" <% if (section == '') { %> selected="selected" <% } %>>
                            <%= _lp.CHECKOUT_SECTION %>
                        </option>
                        <% _.each(sections, function(s) { %>
                        <option value="<%= s %>" <% if (section == s) { %>selected="selected"<% }; %>><%= s %></option>
                        <% }); %>
                    </select>
                </label>
            </div>
            <% } else { %>
            <label class="input label required border">
                <input type="text" placeholder="<%= _lp.CHECKOUT_SECTION %>" name="section" class="section ios-safari-caret bg-style1" maxlength="4" value="<%= section %>">
            </label>
            <% } %>
        <% } %>
        <% if(orderFromSeat.enable_row) { %>
            <label class="input label required border">
                <input type="text" placeholder="<%= _lp.CHECKOUT_ROW %>" name="row" class="row ios-safari-caret bg-style1" maxlength="4" value="<%= row %>">
            </label>
        <% } %>
            <label class="input label required border">
                <input type="text" placeholder="<%= _lp.CHECKOUT_SEAT %>" name="seat" class="seat ios-safari-caret bg-style1" maxlength="4" value="<%= seat %>">
            </label>
    <% } %>
</script>

<script type="text/template" id="checkout_pickup-template">
    <dl class="checkout <% if(isFirefox) { %>firefox<% } %> <% if (isOrderFromSeat) { print('hidden'); } %>">
        <dt class="pickup color-style1"><%= pickupTimeLabel %></dt>
        <dd>
            <div class="select-wrapper">
                <label class="select required">
                    <select class="day"></select>
                </label>
            </div>
            <div class="select-wrapper">
                <label class="select required">
                    <select class="time"></select>
                </label>
            </div>
        </dd>
    </dl>
</script>

<script type="text/template" id="checkout_order_type-template">
    <dl class="checkout checkout-order-type <% if(isFirefox) { %>firefox<% } %>">
        <dt class="order-type-head color-style1 clip"> <%= _lp.CHECKOUT_ORDER_TYPE %> </dt>
        <dd>
            <label class="select required">
                <select class="order-type-select">
                </select>
            </label>
        </dd>
    </dl>
</script>

<script type="text/template" id="checkout_address-template">
    <% if(isShippingServices) { %>
    <div class="label select-wrapper">
        <label class="select" for="countries">
            <select class="country" id="countries">
            <% for (var i in countries) { %>
                <option value="<%= i %>" <% if(i.toLowerCase() == country.toLowerCase()) { %>selected="selected"<% } %>><%= countries[i] %></option>
            <% } %>
            </select>
        </label>
    </div>
    <% } %>
    <label class="input label required border">
        <input type="text" placeholder="<%= _lp.CHECKOUT_ADDRESS_LINE1 %>" name="street_1" value="<%= street_1 %>" class="ios-safari-caret bg-style1">
    </label>
    <label class="input label border">
        <input type="text" placeholder="<%= _lp.CHECKOUT_ADDRESS_LINE2 %>" name="street_2" value="<%= street_2 %>" class="ios-safari-caret bg-style1">
    </label>
    <label class="input label required border">
        <input type="text" placeholder="<%= _lp.CHECKOUT_CITY %>" name="city" value="<%= city %>" class="ios-safari-caret bg-style1">
    </label>
    <% if(country == 'US' && state && states instanceof Object && Object.keys(states).length > 0) { %>
    <div class="label select-wrapper shipping-state">
        <label class="select">
            <select class="states">
            <% for(var i in states) { %>
                <option value="<%= i %>" <% if(i.toLowerCase() == state.toLowerCase()) { %>selected="selected"<% } %>><%= states[i] %></option>
            <% } %>
            </select>
        </label>
    </div>
    <% } %>
    <% if(typeof province == 'string') { %>
       <label class="input label required border province">
           <input type="text" placeholder="<%= _lp.CHECKOUT_PROVINCE %>" name="province" value="<%= province %>" class="ios-safari-caret bg-style1">
       </label>
    <% } %>
    <label class="input label required border">
        <input type="text" placeholder="<%= _lp.CHECKOUT_ZIP_CODE %>" name="zipcode" value="<%= zipcode %>" class="ios-safari-caret bg-style1">
    </label>
    <% if(isShippingServices) { %>
    <div class="label select-wrapper shipping-services">
        <label class="select shipping">
            <select class="shipping-select"></select>
            <span class="shipping-status img-spinner"></span>
        </label>
    </div>
    <% } %>
</script>
