<script type="text/template" id="checkout_main-template">
    <dl class="checkout <% if(isFirefox) { %>firefox<% } %>">
        <dt>Contact Information</dt>
        <dd class="contact_info">
            <label class="input required">
                <input type="text" placeholder="First Name" class="firstName ios-safari-caret" value="<%= firstName %>">
            </label>
            <label class="input required">
                <input type="text" placeholder="Last Name" class="lastName ios-safari-caret" value="<%= lastName %>">
            </label>
            <label class="input required">
                <input type="text" placeholder="Email" class="email ios-safari-caret" value="<%= email %>" autocapitalize="none">
            </label>
            <label class="input required">
                <input type="tel" placeholder="Phone #" class="phone ios-safari-caret" value="<%=phone%>" min="0" />
            </label>
            <div class="delivery_address">
            </div>
            <div class="delivery_seat">
            </div>
        </dd>
        <% if(enableRewardCard) { %>
        <dt>Reward Card</dt>
        <dd class="rewardCard">
            <label class="input rewardCard">
                <input type="<%= rewardCardType %>" placeholder="Reward Card #" class="rewardCard ios-safari-caret" value="<%= rewardCard %>">
            </label>
        </dd>
        <% } %>
    </dl>
</script>

<script type="text/template" id="checkout_seat-template">
    <% if(isDeliverToSeat) { %>
        <% if(orderFromSeat.enable_level) { %>
            <label class="input label required">
                <input type="text" placeholder="Level" name="level" class="level ios-safari-caret" maxlength="4" value="<%= level %>">
            </label>
        <% } %>
        <% if(orderFromSeat.enable_sector) { %>
            <label class="input label required">
                <input type="text" placeholder="Section" name="section" class="section ios-safari-caret" maxlength="4" value="<%= section %>">
            </label>
        <% } %>
        <% if(orderFromSeat.enable_row) { %>
            <label class="input label required">
                <input type="text" placeholder="Row" name="row" class="row ios-safari-caret" maxlength="4" value="<%= row %>">
            </label>
        <% } %>
            <label class="input label required">
                <input type="text" placeholder="Seat" name="seat" class="seat ios-safari-caret" maxlength="4" value="<%= seat %>">
            </label>
    <% } %>
</script>

<script type="text/template" id="checkout_pickup-template">
    <dl class="checkout <% if(isFirefox) { %>firefox<% } %> <% if (isOrderFromSeat) { print('hidden'); } %>">
        <dt class="pickup"><%= pickupTimeLabel %></dt>
        <dd>
            <div class="select-wrapper">
                <label class="select required">
                    <select class="day"></select>
                </label>
            </div>
            <div class="select-wrapper">
                <label class="select required">
                    <select class="time"></select>
                </label>
            </div>
        </dd>
    </dl>
</script>

<script type="text/template" id="checkout_order_type-template">
    <dl class="checkout checkout-order-type <% if(isFirefox) { %>firefox<% } %>">
        <dt class="order-type-head">Order Type</dt>
        <dd>
            <label class="select required">
                <select class="order-type-select">
                </select>
            </label>
        </dd>
    </dl>
</script>

<script type="text/template" id="checkout_address-template">
    <label class="input label required">
        <input type="text" placeholder="Address Line 1" name="street_1 ios-safari-caret" value="<%= street_1 %>">
    </label>
    <label class="input label">
        <input type="text" placeholder="Address Line 2" name="street_2 ios-safari-caret" value="<%= street_2 %>">
    </label>
    <label class="input label required">
        <input type="text" placeholder="City" name="city" value="<%= city %>" class="ios-safari-caret">
    </label>
    <% if(country == 'US' && state && states instanceof Object && Object.keys(states).length > 0) { %>
    <div class="label select-wrapper">
        <label class="select">
            <select class="states">
            <% for(var i in states) { %>
                <option value="<%= i %>" <% if(i.toLowerCase() == state.toLowerCase()) { %>selected="selected"<% } %>><%= states[i] %></option>
            <% } %>
            </select>
        </label>
    </div>
    <% } %>
    <% if(typeof province == 'string') { %>
       <label class="input label required">
           <input type="text" placeholder="Province" name="province" value="<%= province %>" class="ios-safari-caret">
       </label>
    <% } %>
    <label class="input label required">
        <input type="text" placeholder="Zip Code" name="zipcode" value="<%= zipcode %>" class="ios-safari-caret">
    </label>
</script>