<script type="text/template" id="main_done-template">
  <% if(status == "success") { %>
    <span class="thanks">Thank You!</span>
    <dl class="orderCompleted">
        <dt><span>Order ID:</span></dt>
        <dd>
            <span><%= order_id %></span>
        </dd>
        <% if (!isOnlyGift && !isOrderFromSeat) { %>
            <dt><span><%= pickup_type %>:</span></dt>
            <dd>
                <span>
                    <%= pickup_time %>
                    <span class="line"><%= pickup_day %></span>
                </span>
            </dd>
        <% } %>
        <% if(isDeliverToSeat) { %>
            <dt><span>Delivery Info:</span></dt>
            <dd>
                <% if(level) { %> Level <span><%= level %></span>,<% } %>
                <% if(section) { %> Section <span><%= section %></span>,<% } %>
                <% if(row) { %> Row <span><%= row %></span>,<% } %>
                <% if(seat) { %> Seat <span><%= seat %></span><% } %>
            </dd>
        <% } %>
        <% if(reward_points) { %>
        <dt><span>Reward Card Points:</span></dt>
        <dd>
            <span>
                <%= reward_points %>
            </span>
        </dd>
        <% } %>
        <dt><span>Amount Charged:</span></dt>
        <dd>
            <span>
                <strong>
                    <span class="currency_symbol"><%= symbol %></span>
                    <span class="price"><%= total %></span>
                </strong>
            </span>
        </dd>
    </dl>
    <% } else { %>
        <span class="error"><%= message %></span>
    <% } %>
</script>

