<script type="text/template" id="main_done-template">
  <% if(status == "success") { %>
    <span class="thanks color-style1"> <%= _lp.DONE_THANK_YOU %>! </span>
    <dl class="orderCompleted">
        <dt> <span class="clip"> <%= _lp.DONE_ORDER_ID %>: </span> </dt>
        <dd>
            <span><%= order_id %></span>
        </dd>
        <% if (!isOnlyGift && !isOrderFromSeat) { %>
            <dt> <span class="clip"> <%= pickup_type %>: </span> </dt>
            <dd>
                <span>
                    <%= pickup_time %>
                    <span class="line"><%= pickup_day %></span>
                </span>
            </dd>
        <% } %>
        <% if(isDeliverToSeat) { %>
            <dt> <span class="clip"> <%= _lp.DONE_DELIVERY_INFO %>: </span> </dt>
            <dd>
                <% if (level) { %> <%= _lp.DONE_LEVEL %> <span> <%= level %>, </span> <% } %>
                <% if (section) { %> <%= _lp.DONE_SECTION %> <span> <%= section %>, </span> <% } %>
                <% if (row) { %> <%= _lp.DONE_ROW %> <span> <%= row %>, </span> <% } %>
                <% if (seat) { %> <%= _lp.DONE_SEAT %> <span> <%= seat %> </span> <% } %>
            </dd>
        <% } %>
        <% if(reward_points) { %>
        <dt> <span class="clip"> <%= _lp.DONE_REWARD_CARD_POINTS %>: </span> </dt>
        <dd>
            <span>
                <%= reward_points %>
            </span>
        </dd>
        <% } %>
        <% if(reward_visits) { %>
        <dt> <span class="clip"> <%= _lp.DONE_REWARD_CARD_VISITS %>: </span> </dt>
        <dd>
            <span>
                <%= reward_visits %>
            </span>
        </dd>
        <% } %>
        <% if(reward_purchases) { %>
        <dt> <span class="clip"> <%= _lp.DONE_REWARD_CARD_PURCHASES %>: </span> </dt>
        <dd>
            <span>
                <%= reward_purchases %>
            </span>
        </dd>
        <% } %>
        <% if(stanfordCard) { %>
        <dt> <span class="clip">&ldquo;<%= stanfordCard.name %>&rdquo; <%= _lp.DONE_STANFORD_CARD_BALANCE %>: </span> </dt>
        <dd>
            <span>
                <strong>
                    <span class="currency_symbol"><%= symbol %></span>
                    <span class="price"><%= stanfordCard.balance %></span>
                </strong>
            </span>
        </dd>
        <% } %>
        <dt> <span class="clip"> <%= _lp.DONE_AMOUNT_CHARGED %>: </span> </dt>
        <dd>
            <span>
                <strong>
                    <span class="currency_symbol"><%= symbol %></span>
                    <span class="price"><%= total %></span>
                </strong>
            </span>
        </dd>
    </dl>
    <% } else { %>
        <span class="error"><%= message %></span>
    <% } %>
</script>
