<script type="text/template" id="header_main-template">
    <div class="btn-header btn-back fl-left font-color7"></div>
    <div class="btn-header btn-cart fl-right font-color2" data-count=""></div>
    <div class="btn-header btn-search fl-right font-color7"></div>
    <h1 class="font-color2"><span class="title font-size1"></span></h1>
</script>

<script type="text/template" id="header_tabs-template">
    <li class="" data-tab="0"><span><%= _lp.MENU %></span></li>
    <li class="tab-center" data-tab="1"><span><%= _lp.ABOUT %></span></li>
    <li class="" data-tab="2"><span><%= _lp.LOCATION %></span></li>
</script>

<script type="text/template" id="header_modifiers-template">
    <div class="btn-header btn-back fl-left font-color7 lg"></div>
    <div class="btn-header btn-link fl-right font-color2 text-right"><span class="btn-link-title font-size4"></span></div>
    <div class="btn-header btn-cart fl-right font-color2" data-count=""></div>
    <h1 class="font-color2 sm"><span class="title font-size1"></span></h1>
</script>

<script type="text/template" id="header_maintenance-template">
</script>