<script type="text/template" id="main-template">
    <header id="header" class="blur fixed-top navigation-bar navigation-bar-item"></header>
    <section id="section" class="blur ios-safari-caret-fix">
        <div></div>
    </section>
    <aside id="aside" class="profile-menu animation"></aside>
    <footer id="footer" class="blur fixed-bottom"></footer>
    <div id="main-spinner"></div>
    <div id="products-spinner" style="display:none;">
        <div class="ui-spinner animate-spin"></div>
    </div>
</script>
