<script type="text/template" id="myorder_list-template">
    <ul class="myorder items"></ul>
    <ul class="bag_charge items"></ul>
    <ul class="discount items"></ul>
    <ul class="service_fees items"></ul>
</script>

<script type="text/template" id="myorder_item-template">
    <div>
        <span class="cost font-size1 fl-right font-color1">
            <span class="currency_symbol"><%= currency_symbol %></span>
            <span class="price"><%= initial_price %></span>
        </span>
        <% if(!sold_by_weight && !is_service_fee) { %>
            <span class="qty bg-color3 font-color2 font-size2 fl-left"><%= quantity %>x</span>
        <% } %>
            <span class="product-name name font-size1 font-color3"><%= sizeModifier %> <%= name %></span>

    </div>
    <% _.each(attrs, function(attr) { %>
    <div class="attrs font-size2 font-color4">
        <span><%= attr.name %></span>:
        <span><%= attr.value %></span>
    </div>
    <% }); %>
    <ul class="modifier_place font-size2 font-color4">
        <% if(sold_by_weight && uom) { %>
        <li class="special"><%= weight %> @ <%= currency_symbol %><%= initial_price %><%if(uom) { print("/" + uom ) }%></li>
        <% } %>
        <% if(is_gift) { %>
            <li class="special"> *** <%= _lp.MYORDER_ADD_AMOUNT_TO %> <%= gift_card_number %> </li>
        <% } %>
        <% if(special) { %>
        <li class="special">*** <%= special %></li>
        <% } %>
    </ul>
    <ul class="discount_place font-size2 font-color4"></ul>
    <% if(id_product !== null) { %>
    <div class="btns text-right">
        <span class="edit font-size2 bg-color1 font-color2 border-color1 font-color-active1 bg-color-active2"> <%= _lp.MYORDER_EDIT %> </span>
        <span class="remove font-size2 font-color3 font-color-active2 bg-color-active3"> <%= _lp.MYORDER_REMOVE %> </span>
    </div>
    <% } %>
</script>

<script type="text/template" id="myorder_modifier-template">
    <span class="name">
        <% if (_settings.enable_quantity_modifiers) { print(quantity + 'x'); } %>
        <% if (qty_type > 0) { print('(' + half_price_str + ')'); } %>
        <%= _lp.MYORDER_WEIGHT %> <%= name %>
    </span>
    <span class="cost fl-right">
        <span class="plus">+</span>
        <span class="currency_symbol"><%= currency_symbol %></span>
        <span class="price"><%= price %></span>
    </span>
</script>

<script type="text/template" id="myorder_matrix-template">
    <div class='product modifiers-list product_info modifiers-bottom-line'>
    </div>
    <% if(_settings.online_orders) { %>
    <div class='quantity modifiers-list quantity_info modifiers-bottom-line'>
    </div>
    <% } %>
    <div class="product_attribute_info modifiers <% if(!_settings.online_orders) {print('no-controls');} %>">
    </div>
    <div class="modifiers_info modifiers <% if(!_settings.online_orders) {print('no-controls');} %>">
    </div>
    <% if(_settings.online_orders) { %>
    <div class='product_instructions'>
    </div>
    <% } %>
</script>

<script type="text/template" id="myorder_note-template">
    <% if(noteAllow) {%>
        <div class="note_text font-color3 font-size1 text-center"> <%= _lp.MYORDER_ORDER_NOTES %> </div>
        <div class='note_field'>
            <textarea class="ios-safari-caret instructions border-color1 font-size2 font-color3" placeholder="<%= _lp.MYORDER_ORDER_NOTES_INPUT %>"><%= note %></textarea>
        </div>
    <% } %>
</script>

<script type="text/template" id="myorder_product_discount-template">
    <span class="cost fl-right">
        <span class="plus">-</span>
        <span class="currency_symbol"><%= currency_symbol %></span>
        <span class="price"><%= discount_sum %></span>
    </span>
    <span class="name"><%= discount_name %></span>
</script>

<script type="text/template" id="myorder_discount-template">
    <span class="cost font-size1 font-color1 fl-right">
        <span class="plus">-</span>
        <span class="currency_symbol"><%= currency_symbol %></span>
        <span class="price"><%= discount_sum %></span>
    </span>
    <span class="name product-name font-size1 font-color3"><%= discount_name %></span>
</script>

<script type="text/template" id="myorder_stanford_item-template">
    <div class="product-modifiers font-color2 bg-color9">
        <div class="font-size1 fl-right">
            <span class="currency"></span>
            <input type="text" class="initial-price ios-safari-caret">
        </div>
        <h3 class="name text-left font-size1"><%= name %></h3>
        <span class="info font-size2"><%= _lp.STANFORD_RELOAD_INFO1 %></span>
    </div>
    <div class="card-wrapper"></div>
    <div class="btn next btn-popup fl-right"><%= _lp.NEXT %></div>
    <div class="view view-2">
        <h3 class="name text-left"><%= _lp.STANFORD_CARD_CHOOSE_PLAN %></h3>
        <span class="info"><%= _lp.STANFORD_RELOAD_INFO2 %></span>
        <div class="plans-row">
            <span class="label"><%= _lp.STANFORD_CARD_NUMBER %>:</span>
            <span class="stanford-number"></span>
        </div>
        <div class="plans-row">
            <span class="label"><%= _lp.AMOUNT %>:</span>
            <span class="amount"></span>
        </div>
        <div class="plans"></div>
        <div class="btn add-item btn-popup fl-right"><%= _lp.MYORDER_ADD_ITEM %></div>
        <div class="btn back btn-popup fl-left"><%= _lp.BACK %></div>
    </div>
</script>