<script type="text/template" id="myorder_list-template">
    <ul class="myorder items"></ul>
    <ul class="discount items"></ul>
</script>

<script type="text/template" id="myorder_item-template">
    <h3 class="s<%= price_length %>">
        <% if(sold_by_weight) { %>
            <span class="name"><%= sizeModifier %> <%= name %></span>
        <% } else { %>
            <span class="name"><%= quantity %>x <%= sizeModifier %> <%= name %></span>
        <% } %>
            <span class="cost">
            <span class="currency_symbol"><%= currency_symbol %></span>
            <span class="price"><%= initial_price %></span>
        </span>
    </h3>
    <ul>
        <% if(sold_by_weight && uom) { %>
        <li class="special"><%= weight %> @ <%= currency_symbol %><%= initial_price %><%if(uom) { print("/" + uom ) }%></li>
        <% } %>
        <% if(is_gift) { %>
        <li class="special">*** Add amount to <%= gift_card_number %></li>
        <% } %>
        <% if(special) { %>
        <li class="special">*** <%= special %></li>
        <% } %>
    </ul>
    <ul class="discount_place"></ul>
    <% if(id_product !== null) { %>
    <div class="btns">
        <span class="remove">Remove</span>
        <span class="edit">Edit</span>
    </div>
    <% } %>
</script>

<script type="text/template" id="myorder_modifier-template">
    <span class="name">w/ <%= name %></span>
    <span class="cost">
        <span class="plus">+</span>
        <span class="currency_symbol"><%= currency_symbol %></span>
        <span class="price"><%= price %></span>
    </span>
</script>

<script type="text/template" id="myorder_matrix-template">
    <div class='product modifiers-list product_info modifiers-bottom-line'>
    </div>
    <div class='quantity modifiers-list quantity_info modifiers-bottom-line'>
    </div>
    <div class='product_attribute_info modifiers'>
    </div>
    <div class='modifiers_info modifiers'>
    </div>
    <div class='product_instructions'>
    </div>
</script>

<script type="text/template" id="myorder_note-template">
    <% if(noteAllow) {%>
      <div class='note_text color-style1'>Order Notes</div>
      <div class='note_field border2'>
          <textarea class="instructions bg-style1" placeholder='Order notes'><%=note%></textarea>
      </div>
    <% } %>
</script>

<script type="text/template" id="myorder_product_discount-template">
    <span class="name"><%= discount_name %></span>
    <span class="cost">
        <span class="plus">-</span>
        <span class="currency_symbol"><%= currency_symbol %></span>
        <span class="price"><%= discount_sum %></span>
    </span>
</script>

<script type="text/template" id="myorder_discount-template">
    <h3 class="s<%= price_length %>">
        <span class="name"><%= discount_name %></span>
        <span class="cost">
            <span>-</span>
            <span class="currency_symbol"><%= currency_symbol %></span>
            <span class="price"><%= discount_sum %></span>
        </span>
    </h3>    
</script>
