<script type="text/template" id="payments_main-template">
    <ul class="payments text-center">
        <li>
            <div class="payment border-color1 font-color-1 font-color-active2 bg-color-active1">
                <span><%= _lp.FOOTER_CREDIT_CARD %></span>
            </div>
        </li>
        <li>
            <div class="payment border-color1 font-color-1 font-color-active2 bg-color-active1">
                <span><%= _lp.FOOTER_GIFT_CARD %></span>
            </div>
        </li>
        <li>
            <div class="payment border-color1 font-color-1 font-color-active2 bg-color-active1">
                <span>fdddsf</span>
            </div>
        </li>
        <li>
            <div class="payment payment-paypal border-color1 font-color-1 font-color-active2 bg-color-active1">
                <span><%= _lp.PAYPAL %></span>
            </div>
        </li>
        <li>
            <div class="payment border-color1 font-color-1 font-color-active2 bg-color-active1">
                <span><%= _lp.FOOTER_STANFORD_CARD %></span>
            </div>
        </li>
    </ul>
</script>