<script type="text/template" id="product_list_item-template">
    <div>
        <div class="price font-size2 font-color5"></div>
        <div class="title font-size1 font-color3"></div>
        <div class="desc font-size2 font-color5"></div>
    <div>
</script>

<script type="text/template" id="product_modifiers-template">
    <span class="test"></span>
    <dl>
        <dt class="s<%= price_length %>">
            <span class="cost">
                <% if (is_gift && not_size && _settings.online_orders) { %>
                    <span class='currency_symbol gift_card_symbol' ><%=currency_symbol%></span>
                    <div class="input_beauty border2">
                        <input type="text" id="price" name="gift_card_price" value="<%= price %>" class="ios-safari-caret gift_card_price price">
                    </div>
                <% } else { %>
                    <span class="currency_symbol"><%= currency_symbol %></span>
                    <span class="price"><%= price %></span>
                <% } %>
                <% if(sold_by_weight && uom) { %>
                    <span class="uom">/ <%= uom %></span>
                <% } %>
            </span>
            <span class="name_title <% if (is_gift && not_size) print('gift_name') ; %>">
                <span class="name">
                    <%= name %>
                </span>
            </span>
        </dt>
        <dd>
            <%= description %>
            <% if (timetables) { %>
                <span class="timetables"> <%= _lp.PRODUCTS_AVAILABLE %>: <%= timetables %> </span>
            <% } %>
        </dd>
    </dl>

    <% if (is_gift && _settings.online_orders) { %>
    <div class='gift_card <%if (hide_images) print('noimage');%>'>
        <p> <span class="clip"> <%= _lp.PRODUCTS_GIFT_CARD_NUMBER %>: </span> </p>
        <div class="input_beauty border2">
            <input type="text" name="gift_card_number" value='<%= gift_card_number %>' class="gift_card_number" />
        </div>
    </div>
    <% } %>
</script>

<script type="text/template" id="product_main-template">
    <% if(!hide_images) { %>
        <div class="block_img"> <div> <img src="<%=image%>" class='img' /> </div> </div>
    <% } %>
    <dl <% if(hide_images){ %>class="noimage"<% } %>>
        <dt class="s<%= price_length %>">
            <span class="name"><%= name %></span>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="price"><%= price %></span>
            </span>
        </dt>
    </dl>
</script>

<script type="text/template" id="product_list_none-template">
     <span> <%= _lp.PRODUCTS_NOT_FOUND %> </span>
</script>