<script type="text/template" id="product_list_item-template">
    <div>
        <div class="price font-size2 regular-text"></div>
        <div class="title font-size1 title-text"></div>
        <div class="desc font-size2 regular-text"></div>
    <div>
</script>

<script type="text/template" id="product_modifiers-template">
    <div class="product-modifiers header header-text">
        <div class="font-size1 fl-right">
            <span class="currency"></span>
            <input type="text" class="price ios-safari-caret">
            <span class="uom"></span>
        </div>
        <div class="customize link font-size3 hide">Customize</div>
        <div class="title font-size1"></div>
        <div class="desc-wrap">
          <div class="no_combo_link link font-size2 hide"> <%= _lp.UPSELL_DONT_WANT_COMBO %></div>
          <div class="desc info font-size2"></div>
        </div>
        <div class="timetable info font-size2"><%= _lp.PRODUCTS_AVAILABLE %>: <span></span></div>
        <div class="size_chart_wrapper info font-size2"><a href="#" target="_blank" class="link size_chart header-text"><%= _lp.PRODUCTS_SIZE_CHART %></a></div>
        <label class="gift-card info font-size2">
            <%= _lp.PRODUCTS_GIFT_CARD_NUMBER %>: <input type="text" class="gift-card-number ios-safari-caret" />
        </label>
    <div>
</script>

<script type="text/template" id="product_main-template">
    <% if(!hide_images) { %>
        <div class="block_img"> <div> <img src="<%=image%>" class='img' /> </div> </div>
    <% } %>
    <dl <% if(hide_images){ %>class="noimage"<% } %>>
        <dt class="s<%= price_length %>">
            <span class="name"><%= name %></span>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="price"><%= price %></span>
            </span>
        </dt>
    </dl>
</script>

<script type="text/template" id="product_list_none-template">
     <span> <%= _lp.PRODUCTS_NOT_FOUND %> </span>
</script>