<script type="text/template" id="product_list-template">
    <ul class="products"></ul>
</script>

<script type="text/template" id="product_list_item-template">
    <% if(!hide_images) { %>
        <div class="block_img">
            <div class="img bg-style1">
                <img alt="<%= name %> <%= id %>"/>
            </div>
        </div>
    <% } %>
    <dl <% if(hide_images){ %>class="noimage"<% } %>>
        <dt class="s<%= price_length %>">
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="price"><%= price %></span>
                <% if(sold_by_weight && uom) { %>
                    <span class="uom">/ <%= uom %></span>
                <% } %>
            </span>
            <span class="name_title">
                <span class="name">
                    <%= name %>
                </span>
            </span>
        </dt>
    </dl>
</script>

<script type="text/template" id="product_modifiers-template">
    <% if(!hide_images) { %>
        <div class="block_img"> <div class="bg-style1"> <img alt="<%= name %> <%= id %>"/> </div> </div>
    <% } %>
    <dl class="<%
            if (hide_images) print('noimage');
        %>">
        <dt class="s<%= price_length %>">
            <span class="cost">
                <% if (is_gift && not_size && _settings.online_orders) { %>
                    <span class='currency_symbol gift_card_symbol' ><%=currency_symbol%></span>
                    <div class="input_beauty border2">
                        <input type="text" id="price" name="gift_card_price" value='<%= price %>' class="gift_card_price price" />
                    </div>
                <% } else { %>
                    <span class="currency_symbol"><%= currency_symbol %></span>
                    <span class="price"><%= price %></span>
                <% } %>
                <% if(sold_by_weight && uom) { %>
                    <span class="uom">/ <%= uom %></span>
                <% } %>
            </span>
            <span class="name_title <% if (is_gift && not_size) print('gift_name') ; %>">
                <span class="name">
                    <%= name %>
                </span>
            </span>
        </dt>
        <dd>
            <%= description %>
            <% if (timetables) { %>
            <span class="timetables"> Available: <%=timetables%></span>
            <% } %>
        </dd>
    </dl>
    <% if (is_gift && _settings.online_orders) { %>
    <div class='gift_card <%if (hide_images) print('noimage');%>'>
        <p>Gift Card Number: </p>
        <div class="input_beauty border2">
            <input type="text" name="gift_card_number" value='<%= gift_card_number %>' class="gift_card_number" />
        </div>
    </div>
    <% } %>
</script>

<script type="text/template" id="product_main-template">
    <% if(!hide_images) { %>
        <div class="block_img"> <div> <img src="<%=image%>" class='img' /> </div> </div>
    <% } %>
    <dl <% if(hide_images){ %>class="noimage"<% } %>>
        <dt class="s<%= price_length %>">
            <span class="name"><%= name %></span>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="price"><%= price %></span>
            </span>
        </dt>
    </dl>
</script>
