<script type="text/template" id="profile_log_in-template">
    <span class="profile-info font-size3 text-center primary-text"><%= _lp.PROFILE_LOG_IN_INFO %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="username ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_PASSWORD %>" class="pwd ios-safari-caret input-colors">
        </li>
    </ul>
    <div class="text-right forgot-password">
        <span class="font-size3 primary-text"><%= _lp.PROFILE_FORGOT_PASSWORD %></span>
    </div>
    <div class="login-btn btn primary-button font-size4 text-center"><%= _lp.PROFILE_LOG_IN %></div>
    <div class="profile-btns text-center">
        <div class="btn regular-button font-size4"><%= _lp.PROFILE_CREATE_ACCOUNT %></div>
        <div class="btn regular-button font-size4"><%= _lp.PROFILE_CONTINUE_AS_GUEST %></div>
    </div>
</script>

<script type="text/template" id="profile_sign_up-template">
    <span class="profile-info font-size3 text-center primary-text"><%= _lp.PROFILE_SIGN_UP_INFO %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="text" placeholder="<%= _lp.CARD_FIRST_NAME %>" class="first-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.CARD_LAST_NAME %>" class="last-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors">
        </li>
    </ul>
    <span class="profile-info account-password regular-text font-size3"><%= _lp.PROFILE_ACCOUNT_PASSWORD %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_PASSWORD %>" class="password ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_REENTER_PASSWORD %>" class="password-confirm ios-safari-caret input-colors">
        </li>
    </ul>
</script>

<script type="text/template" id="profile_create-template">
    <span class="profile-info font-size3 text-center primary-text">
        <%= _lp.PROFILE_GREETING %>, <span class="name"></span>!
    </span>
    <span class="profile-complete text-center font-size3 primary-text"><%= _lp.PROFILE_COMPLETE %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="text" placeholder="<%= _lp.CHECKOUT_PHONE %>" class="phone ios-safari-caret input-colors">
            <span class="regular-text fl-left"><%= _lp.PROFILE_PHONE_PRIVATE %></span>
        </li>
    </ul>
    <div>
    </div>
</script>