<script type="text/template" id="profile_log_in-template">
    <span class="profile-info font-size3 text-center primary-text"><%= _lp.PROFILE_LOG_IN_INFO %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_PASSWORD %>" class="pwd ios-safari-caret input-colors">
        </li>
    </ul>
    <div class="text-right forgot-password">
        <span class="font-size3 primary-text"><%= _lp.PROFILE_FORGOT_PASSWORD %></span>
    </div>
    <div class="login-btn btn primary-button font-size4 text-center"><%= _lp.PROFILE_LOG_IN %></div>
    <div class="profile-btns text-center">
        <div class="create-btn btn regular-button font-size4"><%= _lp.PROFILE_CREATE_ACCOUNT %></div>
        <div class="guest-btn btn regular-button font-size4"><%= _lp.PROFILE_CONTINUE_AS_GUEST %></div>
    </div>
</script>

<script type="text/template" id="profile_basic_details-template">
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_FIRST_NAME %>" class="first-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_LAST_NAME %>" class="last-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
        </li>
        <li class="required">
            <input type="tel" placeholder="<%= _lp.PROFILE_PHONE %>" class="phone ios-safari-caret input-colors">
            <span class="phone-privacy regular-text fl-left"><%= _lp.PROFILE_PHONE_PRIVATE %></span>
        </li>
    </ul>
</script>

<script type="text/template" id="profile_sign_up-template">
    <span class="profile-info font-size3 text-center primary-text"><%= _lp.PROFILE_SIGN_UP_INFO %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_FIRST_NAME %>" class="first-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_LAST_NAME %>" class="last-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
        </li>
        <li class="required">
            <input type="tel" placeholder="<%= _lp.PROFILE_PHONE %>" class="phone ios-safari-caret input-colors">
            <span class="phone-privacy regular-text fl-left"><%= _lp.PROFILE_PHONE_PRIVATE %></span>
        </li>
    </ul>
    <span class="profile-info account-password regular-text font-size3"><%= _lp.PROFILE_ACCOUNT_PASSWORD %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_PASSWORD %>" class="password ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_REENTER_PASSWORD %>" class="password-confirm ios-safari-caret input-colors">
        </li>
    </ul>
    <div class="passwords-mismatch font-size3 attention-text"><%= _lp.PROFILE_PASSWORDS_MISMATCH %></div>
</script>

<script type="text/template" id="profile_create-template">
    <span class="profile-info font-size3 text-center primary-text">
        <%= _lp.PROFILE_GREETING %>, <span class="name"></span>!
    </span>
    <span class="profile-complete text-center font-size3 primary-text"><%= _lp.PROFILE_COMPLETE %></span>
    <div class="address-box"></div>
</script>

<script type="text/template" id="profile_menu-template">
    <div class="close outside-area"></div>
    <div class="fl-left primary-bg border-box animation">
        <h2 class="title font-size3 primary-text"><%= _lp.PROFILE_MORE %></h2>
        <div class="close alternate-button">&times;</div>
        <ul class="profile-items font-size1 primary-text">
            <li class="profile-link private-btn list-separator"><%= _lp.PROFILE_EDIT_TITLE %></li>
            <li class="payments-link private-btn list-separator"><%= _lp.PAYMENT_METHODS %></li>
            <li class="settings-link private-btn list-separator"><%= _lp.SETTINGS %></li>
            <li class="login-row list-separator">
                <span class="login-link"><%= _lp.PROFILE_LOG_IN %></span>
                <span class="logout-link"><%= _lp.PROFILE_LOG_OUT %></span>
            </li>
        </ul>
        <span class="logged-as primary-text font-size2"></span>
    </div>
</script>

<script type="text/template" id="profile_address-template">
    <ul class="profile-form font-size2 text-center">
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE1 %>" class="street_1 ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE2 %>" class="street_2 ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_CITY %>" class="city ios-safari-caret input-colors">
        </li>
        <li>
            <div class="select-wrapper input-colors country-wrapper" data-placeholder="<%= _lp.CHOOSE_COUNTRY %>">
                <select class="country"></select>
            </div>
        </li>
        <li class="state-row">
            <div class="select-wrapper input-colors state-wrapper" data-placeholder="<%= _lp.CHOOSE_STATE %>">
                <select class="state"></select>
            </div>
        </li>
        <li class="province-row">
           <input type="text" placeholder="<%= _lp.PROFILE_PROVINCE %>" class="province ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" class="zipcode ios-safari-caret input-colors">
        </li>
    </ul>
</script>

<script type="text/template" id="profile_account_password-template">
    <span class="profile-info account-password regular-text font-size3"><%= _lp.PROFILE_CHANGE_PASSWORD %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_ENTER_CURRENT_PASSWORD %>" class="current-password ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_ENTER_NEW_PASSWORD %>" class="new-password ios-safari-caret input-colors">
        </li>
    </ul>
</script>

<script type="text/template" id="profile_owner_contacts-template">
    <div class="contact-info font-size2 regular-text">
        <dfn class="contact-title"><%= _lp.PROFILE_CONTACT %>:</dfn>
        <a href="" class="phone contact-link"></a>
    </div>
    <div class="website-info font-size2 regular-text">
        <dfn class="contact-title"><%= _lp.PROFILE_WEBSITE %>:</dfn>
        <a href="" target="_blank" class="website contact-link"></a>
    </div>
</script>

<script type="text/template" id="profile_reset_password-template">
    <div class="reset-password-info font-size2 regular-text"><%= _lp.PROFILE_PASSWORD_RESET_INFO %></div>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
        </li>
    </ul>
</script>

<script type="text/template" id="profile_payment_selection-template">
    <span class="card-type"></span> &mdash; ****<span class="card-number"></span>
</script>

<script type="text/template" id="profile_payments_selection-template">
    <ul class="payments-list"></ul>
    <div class="add-cc payment-item primary-text font-size3">+ <%= _loc.PROFILE_ADD_CREDIT_CARD %></div>
</script>

<script type="text/template" id="profile_payment_edition-template">
    <span class="card-type"></span> &mdash; ****<span class="card-number"></span>
    <label class="profile-checkbox">
        <input type="checkbox" class="card-default"><i class="input checkbox"></i> <%= _lp.PROFILE_DEFAULT_CARD %>
    </label>
    <div class="remove-btn"></div>
</script>

<script type="text/template" id="profile_payments_edition-template">
    <div class="credit-cards primary-text text-center primary-bg">
        <span class="font-size1"><%= _lp.PROFILE_CREDIT_CARDS %></span>
    </div>
    <ul class="payments-list"></ul>
</script>

<script type="text/template" id="profile_payments-template">
    <div class="payments-box profile-payments-edition text-center"></div>
    <div class="gift-cards-box profile-payments-edition text-center"></div>
</script>

<script type="text/template" id="profile_gift_card_selection-template">
    <span class="card-number"></span>
    <span class="balance-line">&mdash; <%= _loc.BALANCE %>: <span class="balance-value"></span></span>
</script>

<script type="text/template" id="profile_gift_cards_selection-template">
    <ul class="gift-cards-list"></ul>
    <div class="add-gift-card payment-item primary-text font-size3">+ <%= _loc.PROFILE_ADD_ANOTHER_CARD %></div>
</script>

<script type="text/template" id="profile_gift_card_edition-template">
    <span class="card-number"></span>
    <span class="balance-line">&mdash; <%= _loc.BALANCE %>: <span class="balance-value"></span></span>
    <div class="remove-btn"></div>
</script>

<script type="text/template" id="profile_gift_cards_edition-template">
    <div class="gift-cards primary-text text-center primary-bg">
        <span class="font-size1"><%= _lp.GIFT_CARDS %></span>
    </div>
    <div class="gift-cards-list-wrap">
        <ul class="gift-cards-list"></ul>
        <div class="add_gift_card_title_wrap">
            <div class="add_gift_card_title primary-text"><span class="plus_sign"></span><%= _loc.PROFILE_ADD_NEW_GIFT_CARD %></div>
        </div>
        <div class="profile-form primary-text text-center">
            <div class="new_gift_card"></div>
        </div>
    </div>
</script>

<script type="text/template" id="profile_giftcard-template">
    <ul class="card font-size2 <% if(isFirefox) { %>firefox<% } %>">
        <li class="required">
            <input type="text" placeholder="<%= _lp.GIFTCARD_NUMBER %>" class="number number-input ios-safari-caret input-colors" value="<%= cardNumber %>" min="0">
        </li>
        <li class="required">
            <input type="hidden" value="<%=cardNumber%>" id="id_captcha_key" name="captcha_key" />
            <input type="text" placeholder="<%= _lp.GIFTCARD_CAPTCHA %>" class="captcha-input ios-safari-caret input-colors" min="0" id="id_captcha_value" name="captcha_value">
        </li>
    </ul>
    <div class="captcha_container">
        <div class="captcha_wrap">
            <img alt="" class="captcha" width="100%" height="100%">
            <div class="captcha-spinner"></div>
        </div>
        <span class="btn btn-reload link regular-text">
            <span class="font-size4"> <%= _lp.GIFTCARD_RELOAD %> </span>
        </span>
    </div>
</script>

<script type="text/template" id="profile_payment_cvv-template">
    <h2 class="title primary-text font-size1"><%= _lp.CVV_REQUIRED %></h2>
    <span class="cvv-required-info font-size3"><%= _lp.CVV_REQUIRED_INFO %></span>
    <input type="text" class="cvv ios-safari-caret input-colors font-size2">
</script>