<script type="text/template" id="profile_log_in-template">
    <span class="profile-info font-size3 text-center primary-text"><%= _lp.PROFILE_LOG_IN_INFO %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
            <div class="account-inactive field-description attention-text font-size6"><%= _lp.PRIFILE_ACCOUNT_INACTIVE %> <span class="resend-activation simlink"><%= _lp.PROFILE_RESEND_ACTIVATION %></span></div>
            <div class="activation-sent field-description attention-text font-size6"><%= _lp.PROFILE_ACTIVATION_SENT %></div>
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_PASSWORD %>" class="pwd ios-safari-caret input-colors">
        </li>
    </ul>
    <div class="text-right forgot-password">
        <span class="font-size3 primary-text"><%= _lp.PROFILE_FORGOT_PASSWORD %></span>
    </div>
    <div class="login-btn btn primary-button font-size4 text-center"><%= _lp.PROFILE_LOG_IN %></div>
    <div class="profile-btns text-center">
        <div class="create-btn btn regular-button font-size4"><%= _lp.PROFILE_CREATE_ACCOUNT %></div>
        <div class="guest-btn btn regular-button font-size4"><%= _lp.PROFILE_CONTINUE_AS_GUEST %></div>
    </div>
</script>

<script type="text/template" id="profile_basic_details-template">
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_FIRST_NAME %>" class="first-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_LAST_NAME %>" class="last-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
        </li>
        <li class="required">
            <input type="tel" placeholder="<%= _lp.PROFILE_PHONE %>" class="phone ios-safari-caret input-colors">
            <span class="field-description regular-text fl-left"><%= _lp.PROFILE_PHONE_PRIVATE %></span>
        </li>
    </ul>
</script>

<script type="text/template" id="profile_sign_up-template">
    <span class="profile-info font-size3 text-center primary-text"><%= _lp.PROFILE_SIGN_UP_INFO %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_FIRST_NAME %>" class="first-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_LAST_NAME %>" class="last-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
        </li>
        <li class="required">
            <input type="tel" placeholder="<%= _lp.PROFILE_PHONE %>" class="phone ios-safari-caret input-colors">
            <span class="field-description regular-text"><%= _lp.PROFILE_PHONE_PRIVATE %></span>
        </li>
    </ul>
    <span class="profile-info account-password regular-text font-size3"><%= _lp.PROFILE_ACCOUNT_PASSWORD %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_PASSWORD %>" class="password ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_REENTER_PASSWORD %>" class="password-confirm ios-safari-caret input-colors">
            <span class="field-description regular-text"><%= _lp.PROFILE_PASSWORDS_REQUIREMENTS %></span>
        </li>
    </ul>
    <div class="field-description passwords-mismatch font-size2 attention-text"><%= _lp.PROFILE_PASSWORDS_MISMATCH %></div>
    <ul class="profile-tou profile-form font-size2 text-left">
        <li>
            <label class="profile-checkbox">
                <input type="checkbox" class="accept-tou"><i class="input checkbox checkbox-accept-tou"></i> <%= _lp.PROFILE_TOU_ACCEPT %> <span class="read-tou link primary-text"><%= _lp.READ_MORE %></span>
            </label>
        </li>
    </ul>
</script>

<script type="text/template" id="profile_create-template">
    <span class="profile-info font-size3 text-center primary-text">
        <%= _lp.PROFILE_GREETING %>, <span class="name"></span>!
    </span>
    <span class="profile-complete text-center font-size3 primary-text"><%= _lp.PROFILE_COMPLETE %></span>
    <div class="address-box"></div>
</script>

<script type="text/template" id="profile_menu-template">
    <div class="close outside-area"></div>
    <div class="fl-left primary-bg border-box animation">
        <h2 class="title font-size3 primary-text"><%= _lp.PROFILE_MORE %></h2>
        <div class="close alternate-button">&times;</div>
        <ul class="profile-items font-size1 primary-text">
            <li class="profile-link private-btn list-separator"><%= _lp.PROFILE_EDIT_TITLE %></li>
            <li class="payments-link private-btn list-separator"><%= _lp.PAYMENT_METHODS %></li>
            <li class="settings-link private-btn list-separator"><%= _lp.SETTINGS %></li>
            <li class="login-row list-separator">
                <span class="login-link"><%= _lp.PROFILE_LOG_IN %></span>
                <span class="logout-link"><%= _lp.PROFILE_LOG_OUT %></span>
            </li>
        </ul>
        <span class="logged-as primary-text font-size2"></span>
        <div class="profile-menu-links font-size2">
            <a class="primary-text" href="http://revelsystems.com/terms/" target="_blank"><%= _lp.FOOTER_TERMS_OF_SERVICE %></a>
            <a class="primary-text" href="http://revelsystems.com/privacy/" target="_blank"><%= _lp.FOOTER_PRIVACY_POLICY %></a>
        </div>
    </div>
</script>

<script type="text/template" id="profile_addresses-template">
    <ul class="addresses-list profile-edit"></ul>

    <div class="addresses__add text-center primary-text link"><span class="plus_sign">+ </span><span class="expand"></span><%= _loc.PROFILE_ADD_NEW_ADDRESS %></div>
</script>

<script type="text/template" id="profile_address-template">
    <div class="address__header editgroup primary-text text-center primary-bg">
        <span class="address__title font-size1">
            <span class="address__title-text"></span>
        </span>
        <div class="remove-btn font-size2"></div>
    </div>

    <ul class="address__fields profile-form font-size2 text-center">
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE1 %>" class="street_1 ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE2 %>" class="street_2 ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_CITY %>" class="city ios-safari-caret input-colors">
        </li>
        <li class="country-row">
            <div class="select-wrapper input-colors country-wrapper" data-placeholder="<%= _lp.CHOOSE_COUNTRY %>">
                <select class="country"></select>
            </div>
        </li>
        <li class="state-row">
            <div class="select-wrapper input-colors state-wrapper" data-placeholder="<%= _lp.CHOOSE_STATE %>">
                <select class="state"></select>
            </div>
        </li>
        <li class="province-row">
           <input type="text" placeholder="<%= _lp.PROFILE_PROVINCE %>" class="province ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" class="zipcode ios-safari-caret input-colors">
        </li>
        <li>
            <label class="address__default-checkbox profile-checkbox">
                <input type="checkbox" class="address__default"><i class="input checkbox"></i><%= _lp.PROFILE_DEFAULT_ADDRESS %>
            </label>
        </li>
    </ul>
</script>

<script type="text/template" id="profile_address_create-template">
    <ul class="address__fields profile-form font-size2 text-center">
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE1 %>" class="street_1 ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE2 %>" class="street_2 ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_CITY %>" class="city ios-safari-caret input-colors">
        </li>
        <li class="country-row">
            <div class="select-wrapper input-colors country-wrapper" data-placeholder="<%= _lp.CHOOSE_COUNTRY %>">
                <select class="country"></select>
            </div>
        </li>
        <li class="state-row">
            <div class="select-wrapper input-colors state-wrapper" data-placeholder="<%= _lp.CHOOSE_STATE %>">
                <select class="state"></select>
            </div>
        </li>
        <li class="province-row">
           <input type="text" placeholder="<%= _lp.PROFILE_PROVINCE %>" class="province ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" class="zipcode ios-safari-caret input-colors">
        </li>
    </ul>
</script>

<script type="text/template" id="profile_account_password-template">
    <span class="profile-info account-password regular-text font-size3"><%= _lp.PROFILE_CHANGE_PASSWORD %></span>
    <ul class="profile-form font-size2 text-center">
        <li class="required account-password-input">
            <input type="password" placeholder="<%= _lp.PROFILE_ENTER_CURRENT_PASSWORD %>" class="current-password ios-safari-caret input-colors">
        </li>
        <li class="required account-password-input">
            <input type="password" placeholder="<%= _lp.PROFILE_ENTER_NEW_PASSWORD %>" class="new-password ios-safari-caret input-colors">
            <span class="show-password primary-text"><%= _lp.PROFILE_SHOW_PASSWORD %></span>
        </li>
    </ul>
</script>

<script type="text/template" id="profile_owner_contacts-template">
    <div class="contact-info font-size2 regular-text">
        <dfn class="contact-title"><%= _lp.PROFILE_CONTACT %>:</dfn>
        <a href="" class="phone contact-link"></a>
    </div>
    <div class="website-info font-size2 regular-text">
        <dfn class="contact-title"><%= _lp.PROFILE_WEBSITE %>:</dfn>
        <a href="" target="_blank" class="website contact-link"></a>
    </div>
</script>

<script type="text/template" id="profile_reset_password-template">
    <div class="reset-password-info font-size2 regular-text"><%= _lp.PROFILE_PASSWORD_RESET_INFO %></div>
    <ul class="profile-form font-size2 text-center">
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
        </li>
    </ul>
</script>

<script type="text/template" id="profile_payment_selection-template">
    <span class="card-type"></span> &mdash; ****<span class="card-number"></span>
</script>

<script type="text/template" id="profile_payments_selection-template">
    <ul class="payments-list"></ul>
    <div class="add-cc payment-item primary-text font-size3">+ <%= _loc.PROFILE_ADD_CREDIT_CARD %></div>
</script>

<script type="text/template" id="profile_payment_edition-template">
    <span class="card-type"></span> &mdash; ****<span class="card-number"></span>
    <label class="profile-checkbox">
        <input type="checkbox" class="card-default"><i class="input checkbox"></i> <%= _lp.PROFILE_DEFAULT_CARD %>
    </label>
    <div class="remove-btn"></div>
</script>

<script type="text/template" id="profile_payments_edition-template">
    <div class="credit-cards primary-text text-center primary-bg">
        <span class="font-size1"><%= _lp.PROFILE_CREDIT_CARDS %></span>
    </div>
    <ul class="payments-list"></ul>
</script>

<script type="text/template" id="profile_payments-template">
    <div class="payments-box profile-payments-edition text-center"></div>
    <div class="gift-cards-box profile-payments-edition text-center"></div>
    <div class="reward-cards-box profile-payments-edition text-center"></div>
</script>

<script type="text/template" id="profile_gift_card_selection-template">
    <span class="card-number"></span>
    <span class="balance-line">&mdash; <%= _loc.BALANCE %>: <span class="balance-value"></span></span>
</script>

<script type="text/template" id="profile_gift_cards_selection-template">
    <ul class="gift-cards-list"></ul>
    <div class="add-gift-card payment-item primary-text font-size3">+ <%= _loc.PROFILE_ADD_ANOTHER_CARD %></div>
</script>

<script type="text/template" id="profile_gift_card_edition-template">
    <span class="card-number"></span>
    <span class="balance-line">&mdash; <%= _loc.BALANCE %>: <span class="balance-value"></span></span>
    <div class="remove-btn"></div>
</script>

<script type="text/template" id="profile_gift_cards_edition-template">
    <div class="gift-cards primary-text text-center primary-bg">
        <span class="font-size1"><%= _lp.GIFT_CARDS %></span>
    </div>
    <div class="gift-cards-list-wrap">
        <ul class="gift-cards-list"></ul>
        <div class="add_gift_card_title_wrap">
            <div class="add_gift_card_title primary-text"><span class="plus_sign"></span><%= _loc.PROFILE_ADD_NEW_GIFT_CARD %></div>
        </div>
        <div class="profile-form primary-text text-center">
            <div class="new_gift_card"></div>
        </div>
    </div>
</script>

<script type="text/template" id="profile_giftcard-template">
    <ul class="card font-size2 <% if(isFirefox) { %>firefox<% } %>">
        <li class="required">
            <input type="text" placeholder="<%= _lp.GIFTCARD_NUMBER %>" class="number number-input ios-safari-caret input-colors" value="<%= cardNumber %>" min="0">
        </li>
        <li class="required">
            <input type="hidden" value="<%=cardNumber%>" id="id_captcha_key" name="captcha_key" />
            <input type="text" placeholder="<%= _lp.GIFTCARD_CAPTCHA %>" class="captcha-input ios-safari-caret input-colors" min="0" id="id_captcha_value" name="captcha_value">
        </li>
    </ul>
    <div class="captcha_container">
        <div class="captcha_wrap">
            <img alt="" class="captcha" width="100%" height="100%">
            <div class="captcha-spinner"></div>
        </div>
        <span class="btn btn-reload link regular-text">
            <span class="font-size3"> <%= _lp.GIFTCARD_RELOAD %> </span>
        </span>
    </div>
</script>

<script type="text/template" id="profile_reward_card_selection-template">
    <span class="apply-link link"><%= _lp.CHECKOUT_APPLY %></span>
    <span class="card-number"></span>
</script>

<script type="text/template" id="profile_reward_cards_selection-template">
    <ul class="reward-cards-list"></ul>
</script>

<script type="text/template" id="profile_reward_card_edition-template">
    <span class="card-number"></span>
    <div class="remove-btn"></div>
</script>

<script type="text/template" id="profile_reward_cards_edition-template">
    <div class="reward-cards editgroup primary-text text-center primary-bg">
        <span class="font-size1"><%= _lp.REWARD_CARDS %></span>
    </div>
    <div class="reward-cards-list-wrap">
        <ul class="reward-cards-list"></ul>
        <div class="add_reward_card_title_wrap">
            <div class="add_reward_card_title primary-text"><span class="plus_sign"></span><%= _loc.PROFILE_ADD_NEW_REWARD_CARD %></div>
        </div>
        <div class="profile-form primary-text text-center">
            <div class="new_reward_card"></div>
        </div>
    </div>
</script>

<script type="text/template" id="profile_rewardcard-template">
    <label class="required font-size2">
        <input type="text" placeholder="<%= _lp.GIFTCARD_NUMBER %>" class="rewards-input ios-safari-caret input-colors">
    </label>
    <label class="required font-size2">
        <input type="text" placeholder="<%= _lp.GIFTCARD_CAPTCHA %>" class="ios-safari-caret rewards-captcha-input input-colors">
    </label>
    <div class="captcha_container">
        <div class="captcha_wrap">
            <img alt="" class="captcha captcha-image" width="100%" height="100%">
            <div class="captcha-spinner"></div>
        </div>
        <span class="update-captcha btn btn-reload link regular-text">
            <span class="font-size3"> <%= _lp.GIFTCARD_RELOAD %> </span>
        </span>
    </div>
</script>

<script type="text/template" id="profile_payment_cvv-template">
    <h2 class="title primary-text font-size1"><%= _lp.CVV_REQUIRED %></h2>
    <span class="cvv-required-info font-size3"><%= _lp.CVV_REQUIRED_INFO %></span>
    <input type="text" class="cvv ios-safari-caret input-colors font-size2">
</script>

<script type="text/template" id="profile_terms_of_use-template">
    <h2>Revel Systems, Inc. Terms of Service</h2>
    <p>These terms of use apply to all products and services offered by Revel Systems, Inc., and its affiliates (collectively “Revel”, “we”, “us” or “our”), including our websites, products, services, mobile and software applications we own or control (the “Services”).</p>
    <p>By accessing or using our Services, you are agreeing to these terms of use (“Terms”) and our Privacy Policy (available at <a href="http://revelsystems.com/privacy/" target="_blank" class="link primary-text">http://revelsystems.com/privacy/</a>) which are incorporated by reference. Please read them carefully.</p>
    <p>Our Services are very diverse, so sometimes additional terms or product requirements may apply. Additional terms will be available with the relevant Services, and those additional terms become part of your agreement with us if you use those Services.</p>
    <h3>Using our Services</h3>
    <p>You must follow any policies made available to you within the Services.</p>
    <p>Don’t misuse our Services. For example, don’t interfere with our Services or try to access them using a method other than the interface and the instructions that we provide. You may use our Services only as permitted by law, including applicable export and re-export control laws and regulations. We may suspend or stop providing our Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.</p>
    <p>Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.</p>
    <p>Our Services display some content that is not Revel’s. This content is the sole responsibility of the entity that makes it available. We may review content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content that we reasonably believe violates our policies or the law. But this is not a warranty that we review content, so please don’t assume that we do.</p>
    <p>In connection with your use of the Services, we may send you service announcements, administrative messages, and other information. You may opt out of some of those communications.</p>
    <p>Some of our Services are available on mobile devices. Do not use such Services in a way that distracts you and prevents you from obeying traffic or safety laws.</p>
    <h3>Privacy Protection</h3>
    <p>Our Privacy Policy explains how we treat your personal information and protect your privacy when you use our Services. By using our Services, you agree that Revel can use such information in accordance with our Privacy Policy.</p>
    <h3>Your Content in our Services</h3>
    <p>Some of our Services allow you to upload, submit, store, send or receive content. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</p>
    <p>When you upload, submit, store, send or receive content to or through our Services, you give Revel (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes we make so that your content works better with our Services), communicate, publish, publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and improving our Services, and to develop new ones. This license continues even if you stop using our Services. Some Services may offer you ways to access and remove content that has been provided to that Service. Also, in some of our Services, there are terms or settings that narrow the scope of our use of the content submitted in those Services. Make sure you have the necessary rights to grant us this license for any content that you submit to our Services.</p>
    <p>Our Services may analyze your content to provide you targeted or relevant product features.</p>
    <p>You can find more information about how Revel uses and stores content in our Privacy Policy or additional terms for particular Services. If you submit feedback or suggestions about our Services, we may use your feedback or suggestions without obligation to you.</p>
    <h3>About Software in our Services</h3>
    <p>When a Service requires or includes downloadable software, this software may update automatically on your device once a new version or feature is available. Some Services may let you adjust your automatic update settings.</p>
    <p>You may not copy, modify, distribute, sell, or lease any part of our Services or included software, nor may you reverse engineer or attempt to extract the source code of that software, unless laws prohibit those restrictions or you have our written permission.</p>
    <h3>Modifying and Terminating our Services</h3>
    <p>We are constantly changing and improving our Services. We may add or remove functionalities or features, and we may suspend or stop a Service altogether.</p>
    <p>Revel may also stop providing Services to you, or add or create new limits to our Services at any time.</p>
    <h3>Our Warranties and Disclaimers</h3>
    <p>We provide our Services using a commercially reasonable level of skill and care and we hope that you will enjoy using them. But there are certain things that we don’t promise about our Services.</p>
    <p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, REVEL DOES NOT MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SERVICES, THE SPECIFIC FUNCTIONS OF THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES “AS IS”.</p>
    <p>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.</p>
    <h3>Liability for our Services</h3>
    <p>WHEN PERMITTED BY LAW, REVEL WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.</p>
    <p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF REVEL FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE FEES YOU PAID US, IF ANY, TO USE THE SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN) WITHIN THE LAST TWELVE (12) MONTHS.</p>
    <p>IN ALL CASES, REVEL WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>
    <h3>Business uses of our Services</h3>
    <p>If you are using our Services on behalf of a business, that business accepts these terms. It will hold harmless and indemnify Revel and its affiliates, officers, agents, and employees from any claim, suit or action arising from or related to the use of the Services or violation of these terms, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs and attorneys’ fees.</p>
    <h3>About these Terms</h3>
    <p>We may modify these terms or any additional terms that apply to a Service to, for example, reflect changes to the law or changes to our Services. You should look at the terms regularly. If we make changes, we will notify you by posting the updated terms on this page and revising the "Last Updated" date above. If you do not agree to the modified terms for a Service, you should discontinue your use of that Service.</p>
    <p>If there is a conflict between these terms and the additional terms, the additional terms will control for that conflict.</p>
    <p>These terms do not create any third party beneficiary rights.</p>
    <p>These terms are in addition to, and shall not negate or invalidate any formal agreements between Revel and any other party that have been agreed to in writing by Revel and any other party.</p>
    <p>If you do not comply with these terms, and we don’t take action right away, this doesn’t mean that we are giving up any rights that we may have (such as taking action in the future).</p>
    <p>If it turns out that a particular term is not enforceable, this will not affect any other terms.</p>
    <p>The laws of California, U.S.A., excluding California’s conflict of laws rules, will apply to any disputes arising out of or relating to these terms or the Services. All claims arising out of or relating to these terms or the Services will be litigated exclusively in the federal or state courts of San Francisco County, California, USA, and you and Revel consent to personal jurisdiction in those courts.</p>
    <p>Any questions regarding these terms should be directed to the following:<br>Revel Systems, Inc., 170 Columbus Ave., 4th Floor, San Francisco, CA 94133</p>
</script>
