<script type="text/template" id="quantity_main-template">
    <span class="title color-style1">Quantity</span>
    <div>
        <span class="quantity"><%= quantity %></span>
        <div class="increase"></div>
        <div class="decrease"></div>
    </div>
</script>

<script type="text/template" id="quantity_weight-template">
    <span class="title color-style1">Weight <% if(uom) print("/ " + uom); %></span>
    <div>
        <div class='weight_edit_center'>
                <div class='weight_edit_inner input_beauty border2'>
                    <input class="weight_edit_input" value="<%= weight %>">
                    </input>
                </div>
            </div>
    </div>
</script>