<script type="text/template" id="revel_welcome-template">
    <h1 class="title">Welcome to the <%= appName %>!</h1>
    <p>With this application, you can become a member of Revel&rsquo;s Loyalty Program and easily pay at any establishment that uses Revel!</p>
    <p>Press the <span class="loyalty">Loyalty</span> button to start the process.</p>
    <a href="javascript:void(0)" class="btn">Ok!</a>
</script>

<script type="text/template" id="revel_profile_notification-template">
    <h1 class="title">Revel Loyalty Rewards</h1>
    <p>On the following screen, please fill out the form to become a member of Revel&rsquo;s Loyalty program and easily pay at any establishment that uses Revel!</p>
    <a href="javascript:void(0)" class="btn cancel">Back</a>
    <a href="javascript:void(0)" class="btn ok">Ok!</a>
</script>

<script type="text/template" id="revel_authentication-template">
    <h1 class="title">Revel Loyalty Rewards</h1>
    <p>Please enter your email &amp; password to view your Loyalty Reward Points.</p>
    <label class="input border"><input type="text" placeholder="Email Address" class="email"></label>
    <label class="input border"><input type="password" placeholder="Password" class="password"></label>
    <a href="javascript:void(0)" class="btn cancel">Back</a>
    <a href="javascript:void(0)" class="btn ok">Ok!</a>
</script>

<script type="text/template" id="revel_profile_personal-template">
    Personal Info (Used for Reward Points)
    <label class="input required border">
        <input type="text" placeholder="First Name" class="firstName ios-safari-caret" value="<%= firstName %>">
    </label>
    <label class="input required border">
        <input type="text" placeholder="Last Name" class="lastName ios-safari-caret" value="<%= lastName %>">
    </label>
    <label class="input required border">
        <input type="text" placeholder="Email" class="email ios-safari-caret" value="<%= email %>" autocapitalize="none">
    </label>
    <label class="input required border">
        <input type="tel" placeholder="Phone #" class="phone ios-safari-caret" value="<%=phone%>" min="0" />
    </label>
    <div class="address"></div>
</script>

<script type="text/template" id="revel_profile_address-template">
    <div class="select-wrapper">
        <label class="select">
            <select class="country">
            <% for (var i in countries) { %>
                <option value="<%= i %>" <% if(i.toLowerCase() == country.toLowerCase()) { %>selected="selected"<% } %>><%= countries[i] %></option>
            <% } %>
            </select>
        </label>
    </div>
    <label class="input border">
        <input type="text" placeholder="Address Line 1" name="street_1" value="<%= street_1 %>" class="ios-safari-caret">
    </label>
    <label class="input border">
        <input type="text" placeholder="Address Line 2" name="street_2" value="<%= street_2 %>" class="ios-safari-caret">
    </label>
    <label class="input border">
        <input type="text" placeholder="City" name="city" value="<%= city %>" class="ios-safari-caret">
    </label>
    <% if(country == 'US' && state && states instanceof Object && Object.keys(states).length > 0) { %>
    <div class="select-wrapper">
        <label class="select">
            <select class="states">
            <% for(var i in states) { %>
                <option value="<%= i %>" <% if(i.toLowerCase() == state.toLowerCase()) { %>selected="selected"<% } %>><%= states[i] %></option>
            <% } %>
            </select>
        </label>
    </div>
    <% } %>
    <% if(typeof province == 'string') { %>
       <label class="input border">
           <input type="text" placeholder="Province" name="province" value="<%= province %>" class="ios-safari-caret">
       </label>
    <% } %>
    <label class="input border">
        <input type="text" placeholder="Zip Code" name="zipcode" value="<%= zipcode %>" class="ios-safari-caret">
    </label>
</script>

<script type="text/template" id="revel_profile_payment-template">
    Payment Info (Can be used for payments)
    <label class="input border">
        <input type="text" placeholder="Card Number" class="number ios-safari-caret" value="<%=cardNumber%>" min="0" />
    </label>
    <label class="input border">
        <input type="text" placeholder="Security Code" class="secure ios-safari-caret" value="<%=securityCode%>" min="0" />
    </label>
    <div class="input">
        <span>Exp. Date:</span>
        <span class="select-wrapper exp">
            <label class="select exp-date">
                <select id="exp-month">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </label>
        </span>
        <span class="select-wrapper">
            <label class="select exp-date">
                <select id="exp-year">
                </select>
            </label>
        </span>
    </div>
    <label class="checkbox-wrapper default-credit-card">
        <input type="checkbox" class="checkbox ios-safari-caret"/>
        <span>Use as default credit card for payments?</span>
        <span class="checkbox"></span>
    </label>
</script>

<script type="text/template" id="revel_profile_security-template">
    Security Info (Used for authentication at Revel Loyalty program)
    <% if(profileExists) { %>
    <label class="input border">
        <input type="password" placeholder="Old Password" data-prop="oldPassword" class="password ios-safari-caret" />
    </label>
    <% } %>
    <label class="input border">
        <input type="password" placeholder="New Password" data-prop="newPassword" class="password ios-safari-caret" />
    </label>
    <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox ios-safari-caret"/>
        <span>Change password information?</span>
        <span class="checkbox"></span>
    </label>
</script>

<script type="text/template" id="revel_loyalty-template">
    <p>Your Loyalty Rewards Points can be used as currency for all your orders through the Revel Directory app!</p>
    <div class="img">
        <img alt="QR code" class="qr-code">
    </div>
    <p>Total Rewards Points accumulated:</p>
    <span class="points">0</span>
</script>

<script type="text/template" id="revel_credit_card-template">
    <h1 class="title">Revel Loyalty Rewards</h1>
    <p>Use saved card instead of entering a new card number every time at any establishment that uses Revel!</p>
    <a href="javascript:void(0)" class="btn cancel">Cancel</a>
    <a href="javascript:void(0)" class="btn ok">Ok!</a>
</script>