<script type="text/template" id="recaptcha_main-template">
   <div class="captcha_container"></div>
</script>

<script type="text/template" id="rewards_card-template">
    <label class="required font-size2">
        <input type="text" placeholder="<%= _lp.REWARDS_NUMBER %>" class="rewards-input ios-safari-caret input-colors">
    </label>
    <div class="recaptcha_view"></div>
</script>

<script type="text/template" id="rewards_info-template">
    <div class="rewards-info-header primary-bg">
        <h2 class="rewards-info-title primary-text font-size1"><%= _lp.REWARDS_INFO_TITLE %></h2>
        <span class="font-size2"><%= _lp.REWARDS_INFO_MESSAGE %></span>
    </div>
    <div class="rewards-info-points">
        <ul class="rewards-total fl-right text-left font-size3">
            <li class="total-row total-row-points">
                <span><%= _lp.REWARDS_TOTAL_POINTS %></span>
                <span class="fl-right text-right">
                    <span class='total-points value primary-text'></span>
                    <span class="total-points-redemption total-redemption attention-text">(−<span class="total-points-redemption__value"></span>)</span>
                </span>
            </li>
            <li class="total-row total-row-visits">
                <span><%= _lp.REWARDS_TOTAL_VISITS %></span>
                <span class="fl-right text-right">
                    <span class='total-visits value primary-text'></span>
                    <span class="total-visits-redemption total-redemption attention-text">(−<span class="total-visits-redemption__value"></span>)</span>
                </span>
            </li>
            <li class="total-row total-row-purchase">
                <span><%= _lp.REWARDS_TOTAL_PURCHASES %></span>
                <span class="fl-right text-right">
                    <span class='total-purchases value primary-text'></span>
                    <span class="total-purchases-redemption total-redemption attention-text">(−<span class="total-purchases-redemption__value"></span>)</span>
                </span>
            </li>
        </ul>
        <span class="subtitle font-size3"><%= _lp.REWARDS_NUMBER %> &ndash;&nbsp;</span>
        <span class="subtitle rewards-number font-size3"></span>
    </div>
    <div class="rewards-box fl-clear">
        <div class="item-rewards-box box primary-border">
            <h3 class="rewards-group list-title primary-text text-center">
                <span class="font-size1"><%= _lp.REWARDS_ITEM_REWARDS %></span>
            </h3>
            <ul class="item-rewards font-size3"></ul>
        </div>
        <div class="visit-rewards-box box primary-border">
            <h3 class="rewards-group list-title primary-text text-center">
                <span class="font-size1"><%= _lp.REWARDS_VISIT_REWARDS %></span>
            </h3>
            <ul class="visit-rewards font-size3"></ul>
        </div>
        <div class="purchase-rewards-box box primary-border">
            <h3 class="rewards-group list-title primary-text text-center">
                <span class="font-size1"><%= _lp.REWARDS_PURCHASE_REWARDS %></span>
            </h3>
            <ul class="purchase-rewards font-size3"></ul>
        </div>
        <div class="rewards-unavailable font-size3 text-center"><%= _lp.REWARDS_UNAVAILABLE %></div>
    </div>
    <div class="skip-box list-bg text-center">
        <span class="skip primary-text font-size1 link"><%= _lp.REWARDS_SKIP %></span>
    </div>
</script>

<script type="text/template" id="rewards_item-template">
    <span class="checkbox input"></span>
    </span> <span class="reward__discount-text"></span>
    <span class="fl-right points">
        <span class="reward__redemption-amount"></span>&nbsp;<span class="reward__redemption-text"></span>
    </span>
</script>