<script type="text/template" id="rewards_card-template">
    <label class="required font-size2">
        <input type="text" placeholder="<%= _lp.REWARDS_NUMBER %>" class="rewards-input ios-safari-caret input-colors">
    </label>
    <label class="required font-size2">
        <input type="text" placeholder="<%= _lp.REWARDS_ENTER_CAPTCHA %>" class="ios-safari-caret rewards-captcha-input input-colors">
    </label>
    <div class="captcha">
        <img src="" alt="" width="100%" height="100%" class="captcha-image">
        <div class="captcha-spinner"></div>
    </div>
    <span class="rewards-card-btn update-captcha">
        <span class="font-size2 link regular-text"><%= _lp.GIFTCARD_RELOAD %></span>
    </span>
</script>

<script type="text/template" id="rewards_info-template">
    <div class="list-title list-header-text">
        <span class="font-size1"><%= _lp.REWARDS_INFORMATION %></span>
    </div>
    <span class='rewards-title font-size3 title-text'><%= _lp.REWARDS_NUMBER %>:</span>
    <span class="rewards-number font-size3 title-text"></span>
    <ul class="collected text-center title-text">
        <li class="points-collected">
            <dfn class="font-size3"><%= _lp.REWARDS_TOTAL_POINTS %></dfn>
            <span class='total-points primary-text font-size1'></span>
        </li>
        <li class="visits-collected">
            <dfn class="font-size3"><%= _lp.REWARDS_TOTAL_VISITS %></dfn>
            <span class='total-visits primary-text font-size1'></span>
        </li>
        <li class="purchases-collected">
            <dfn class="font-size3"><%= _lp.REWARDS_TOTAL_PURCHASES %></dfn>
            <span class='total-purchases primary-text font-size1'></span>
        </li>
    </ul>
    <div class="rewards-available list-title list-header-text">
        <span class="font-size1"><%= _lp.REWARDS_AVAILABLE %></span>
        <span class="info font-size2 regular-text"><%= _lp.REWARDS_SELECTION_INFO %></span>
    </div>
    <ul class="reward-selection text-center title-text">
        <li class="points-selection">
            <div class="items-with-points"></div>
            <span class="redemption font-size2 primary-text redemption-points">
                (<span class="points-redemption"></span>&nbsp;<span class="points-redemption-info"></span>)
            </span>
        </li>
        <li class="visits-selection">
            <span class="font-size1">
                <span class="visits-discount primary-text"></span> <%= _lp.REWARDS_ENTIRE_ORDER_DISCOUNT %>
            </span>
            <span class="redemption font-size2 primary-text">
                (<span class="visits-redemption"></span>&nbsp;<span class="visits-redemption-info"></span>)
            </span>
        </li>
        <li class="purchases-selection">
            <span class="font-size1">
                <span class="purchases-discount primary-text"></span> <%= _lp.REWARDS_ENTIRE_ORDER_DISCOUNT %>
            </span>
            <span class="redemption font-size2 primary-text">
                (<span class="purchases-redemption"></span>&nbsp;<span class="purchases-redemption-info"></span>)
            </span>
        </li>
    </ul>
    <div class="span-wrapper text-center regular-text">
        <span class="rewards-unavailable font-size2"><%= _lp.REWARDS_UNAVAILABLE %></span>
    </div>
</script>

<script type="text/template" id="rewards_points_item-template">
    <div>
        <h4 class="name font-size1">
                <span class="name weight"></span>
                <span class="name quantity"></span>
        </h4>
        <ul class="modifier_place font-size2">
            <li class="weight-info weight"></li>
            <li class="special">*** <span class="special"></span></li>
        </ul>
        <span class="price-line font-size3">
            <span class="price"></span>
            &ndash;
            <span class="discount-line font-color1">
                <span class="discount"></span> <%= _lp.REWARDS_OFF %>
            </span>
        </span>
    </div>
</script>