<script type="text/template" id="search_line_main-template">
    <div class="search_wrap">
        <div class="search">
            <div class="searchString">
                <input id="search-input" type="text" placeholder="&#xF002; <%= _lp.SEARCH_ENTER_STRING %>" value="">
            </div>
        </div>
        <div class="triangle">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-30 0 60 50" width="2em" height="2em">
                <polygon points="-30,0  30,0  0,50" style="stroke:#d0d0d0; fill:#d0d0d0;"></polygon>
            </svg>
        </div>
    </div>
</script>