<script type="text/template" id="stanfordcard_main-template">
    <ul class="stanfordcard card font-size2 font-color8 <% if(isFirefox) { %>firefox<% } %>">
        <li class="required input-control">
            <input type="text" placeholder="<%= _lp.GIFTCARD_NUMBER %>" class="number number-input ios-safari-caret border-color10" value="<%= cardNumber %>" min="0">
            <label class="ctrl-wrapper cancel-input"><input type="button" class="ctrl"></label>
        </li>
        <li class="captcha_input_line required">
            <input type="hidden" value="<%= cardNumber %>" id="id_captcha_key" name="captcha_key" />
            <input type="text" placeholder="<%= _lp.GIFTCARD_CAPTCHA %>" class="captcha-input ios-safari-caret border-color10" min="0" id="id_captcha_value" name="captcha_value">
        </li>
    </ul>
    <div class="captcha_container">
        <div class="captcha_wrap">
            <img alt="" class="captcha" width="100%" height="100%">
            <div class="captcha-spinner"></div>
        </div>
        <span class="btn btn-reload link">
            <span class="font-size2"> <%= _lp.GIFTCARD_RELOAD %> </span>
        </span>
    </div>
</script>

<script type="text/template" id="stanfordcard_plans-template">
    <div class="plans-title list-title font-color1 text-center">
        <span class="font-size1"><%= _lp.STANFORD_PLANS %></span>
    </div>
    <ul class="list-plans"></ul>
</script>

<script type="text/template" id="stanfordcard_plan-template">
    <span>
        <span class="row name font-size3"></span>
        <span class="row row-balance font-size2">
            <%= _lp.STANFORD_BALANCE %> <span class="balance font-color1"></span>
        </span>
    </span>
</script>

<script type="text/template" id="stanfordcard_student-template">
    <h3 class="stanford-student-question font-size1 text-center"><%= _lp.STANFORD_STUDENT_QUESTION %></h3>
    <p class="stanford-student-instructions font-size2 text-center"><%= _lp.STANFORD_STUDENT_INSTRUCTIONS %></p>
</script>

<script type="text/template" id="stanfordcard_reload-template">
    <div class="row">
        <label for="stanford-card-number"><%= _lp.STANFORD_CARD_NUMBER %>:</label>
        <div class="input_beauty">
            <input id="stanford-card-number" class="number-input ios-safari-caret">
        </div>
        <span class="cancel-input"></span>
    </div>
    <div class="left-offset">
        <div class="captcha-wrapper">
            <img class="captcha" width="100%" height="100%">
            <div class="captcha-spinner"></div>
        </div>
        <span class="btn-reload rewards-card-btn"><%= _lp.GIFTCARD_RELOAD %></span>
    </div>
    <div class="row left-offset">
        <div class="input_beauty">
            <input type="text" class="captcha-input ios-safari-caret" placeholder="<%= _lp.ENTER_CAPTCHA %>">
        </div>
    </div>
</script>