<script type="text/template" id="store_info_main-template">
    <div class="img-block border-color10">
        <div class="img-wrapper text-center mask">
            <img src="">
        </div>
    </div>
    <div class="desc border-color10 font-color4 font-size3"></div>
    <div class="address defs border-color10 text-center">
        <div class="title font-size3 font-color3 text-right"><%= _lp.STORE_INFO_ADDRESS %></div>
        <div class="info font-size3 font-color4 text-left">
            <div class="business-name"></div>
            <div class="address-line1"></div>
            <div class="address-line2"></div>
            <div class="change-store link font-color1 font-color-active7 animation"><%= _lp.CHANGE_ESTABLISHMENT %></div>
        </div>
    </div>
    <div class="phone defs border-color10 text-center">
        <div class="title font-size3 font-color3 text-right"><%= _lp.STORE_INFO_PHONE %></div>
        <div class="info font-size3 font-color4 text-left">
            <a href="tel:" class="phone-number font-color1 font-color-active7 animation"></a>
        </div>
    </div>
    <div class="email-wrapper defs border-color10 text-center">
        <div class="title font-size3 font-color3 text-right"><%= _lp.STORE_INFO_EMAIL %></div>
        <div class="info font-size3 font-color4 text-left">
            <a href="mail:" class="email font-color1 font-color-active7 animation"></a>
        </div>
    </div>
    <div class="delivery-info-wrapper defs border-color10 text-center">
        <div class="title font-size3 font-color3 text-right"><%= _lp.STORE_INFO_DELIVERY %></div>
        <div class="info font-size3 font-color4 text-left">
            <ul>
                <li>
                    <span><%= _lp.STORE_INFO_DELIVERY_CHARGE %></span>: <span class="delivery-charge"></span>
                </li>
                <li>
                    <span><%= _lp.STORE_INFO_MINIMUM %></span>: <span class="delivery-minimum"></span>
                </li>
                <li>
                    <span><%= _lp.STORE_INFO_DELIVERY_TIME %></span>: <span class="delivery-time"></span>
                </li>
            </ul>
        </div>
    </div>
    <% if(Array.isArray(hours)) { %>
    <div class="timetables defs border-color10 text-center">
        <div class="title font-size3 font-color3 text-right"><%= _lp.STORE_INFO_HOURS%></div>
        <ul class="info font-size3 font-color4 text-left">
            <% _.each(hours, function(day, i) { %>
            <li>
                <% if(day.hours instanceof Array) { %>
                    <span class="weekDay uppercase"><%= _lp['DAYS_OF_WEEK_SHORT'][day.weekDay] %></span>
                    <span>
                        <% _.each(day.hours, function(day, i) { %>
                            <%= day.from %>&nbsp;&ndash;&nbsp;<%= day.to %><br>
                        <% }); %>
                    </span>
                <% } else if(day.hours) { %>
                    <span class="weekDay uppercase"><%= _lp['DAYS_OF_WEEK_SHORT'][day.weekDay] %></span>
                    <span><%= _lp.STORE_INFO_ROUND_THE_CLOCK %></span>
                <% } else { %>
                    <span class="weekDay uppercase"><%= _lp['DAYS_OF_WEEK_SHORT'][day.weekDay] %></span>
                    <span class="uppercase font-color11"><%= _lp.STORE_INFO_CLOSED %></span>
                <% } %>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>
    <div class="access defs border-color10 text-center">
        <div class="title font-size3 font-color3 text-right"><%= _lp.STORE_INFO_ACCESS %></div>
        <div class="access-info info font-size3 font-color4 text-left"></div>
    </div>
</script>

<script type="text/template" id="store_info_map-template">
    <div id="mapBox"></div>
</script>

<script type="text/template" id="store_info_gallery-template">
</script>
