<script type="text/template" id="store_info_details-template">
    <% if(logo) { %>
    <div class="store_info_main_logo">
        <div class="logo"><img src="<%= logo %>" id="logo"></div>
        <div class="divider"></div>
    </div>
    <% } %>

    <% if (phone || email || address || access) { %>
        <ul class="location">

            <% if(address instanceof Object) { %>
            <li>
                <span class="title clip"> <%= _lp.STORE_INFO_ADDRESS %> </span>
                <address class="desc">
                    <span><%= address.line1 %></span>
                    <span><%= address.line2 %></span>
                </address>
            </li>
            <% } %>

            <% if(timetable) { %>
            <li class="hours">
                <span class="title clip"> <%= _lp.STORE_INFO_HOURS %> </span>
                <ul class="desc">
                    <% _.each(timetable, function(day, i) { %>
                    <li class="row <%= (timetable.length - 1 == i ? 'last' : i == 0 ? 'first' : '') %>">
                        <% if(day.hours instanceof Array) { %>
                            <span class="weekDay clip"> <%= day.weekDay %> </span>
                            <span class="time clip">
                                <% _.each(day.hours, function(day, i) { %>
                                <%= day.from %>&nbsp;&ndash;&nbsp;<%= day.to %><br>
                                <% }); %>
                            </span>
                        <% } else if(day.hours) { %>
                            <span class="weekDay clip"> <%= day.weekDay %> </span>
                            <span class="time clip"> <%= _lp.STORE_INFO_ROUND_THE_CLOCK %> </span>
                        <% } else { %>
                            <span class="weekDay clip"> <%= day.weekDay %> </span>
                            <span class="time closed clip"> <%= _lp.STORE_INFO_CLOSED %> </span>
                        <% } %>
                    </li>
                    <% }); %>
                </ul>
            </li>
            <% } %>

            <% if(phone) { %>
            <li>
                <span class="title clip"> <%= _lp.STORE_INFO_PHONE %> </span>
                <a class="desc phone" href="tel:<%= phone %>"><%= phoneFormat(phone) %></a>
            </li>
            <% } %>

            <% if (email) { %>
                <li>
                    <span class="title clip"> <%= _lp.STORE_INFO_EMAIL %> </span>
                    <a class="desc email" href="mailto:<%= email %>"> <%= email %> </a>
                </li>
            <% } %>

            <% if(access_to_location) { %>
            <li>
                <span class="title clip"> <%= _lp.STORE_INFO_ACCESS %> </span>
                <span class="desc"><%= access_to_location %></span>
            </li>
            <% } %>

        </ul>
    <% } %>
</script>

<script type="text/template" id="store_info_map-template">
    <div id="mapBox"></div>
</script>

<script type="text/template" id="store_info_main-template">
    <div class="img-block border-color10">
        <div class="img-wrapper bg-color10 text-center mask">
            <img src="">
        </div>
    </div>
    <div class="desc border-color10 font-color4 font-size3"></div>
    <div class="address defs border-color10 text-center">
        <div class="title font-size3 font-color3 text-right"><%= _lp.STORE_INFO_ADDRESS %></div>
        <div class="info font-size3 font-color4 text-left">
            <div class="business-name"></div>
            <div class="address-line1"></div>
            <div class="address-line2"></div>
            <div class="change-store link font-color1 font-color-active7 animation"><%= _lp.REVEL_CHANGE_PASSWORD %></div>
        </div>
    </div>
    <div class="timetables defs border-color10 text-center">
        <div class="title font-size3 font-color3 text-right"><%= _lp.STORE_INFO_ADDRESS %></div>
    </div>
    <div class="phone defs border-color10 text-center">
        <div class="title font-size3 font-color3 text-right"><%= _lp.STORE_INFO_PHONE %></div>
        <div class="info font-size3 font-color4 text-left">
            <a href="tel:" class="phone-number font-color1 font-color-active7 animation"></a>
        </div>
    </div>
    <div class="access defs border-color10 text-center">
        <div class="title font-size3 font-color3 text-right"><%= _lp.STORE_INFO_ACCESS %></div>
        <div class="access-info info font-size3 font-color4 text-left"></div>
    </div>
</script>

<script type="text/template" id="store_info_gallery-template">
</script>