<script type="text/template" id="store_info_main-template">
    <% if(logo) { %>
    <div class="store_info_main_logo">
        <div class="logo"><img src="<%= logo %>" id="logo"></div>
        <div class="divider"></div>
    </div>
    <% } %>
    <% if (phone || email || location || delivery_for_online_orders) { %>
        <div class="store_info_main_data <% if(enable_delivery) { %>delivery_info<% } %>">
            <h2>Store Information</h2>
            <dl>
                <% if(phone) { %>
                <dt>Phone</dt>
                <dd><a href="tel:<%= phone %>" class="phone"><%= phoneFormat(phone) %></a></dd>
                <% } %>
                <% if (email) { %>
                    <dt> Email </dt>
                    <dd> <a class="email" href="mailto:<%= email %>"> <%= email %> </a> </dd>
                <% } %>
                <% if(location) { %>
                <dt>Location</dt>
                <dd><%= location %></dd>
                <% } %>
                <dt class='current_establishment'> &nbsp; </dt>
                <dd class='current_establishment'> <a class='change_establishment' href='javascript: void(0);'> Change store location? </a> </dd>
                <% if(delivery_for_online_orders) { %>
                <dt>Delivery</dt>
                <dd><% if(parseFloat(delivery_charge) > 0) { %><%= currency_symbol + delivery_charge %><% }  else { %> Free <% } %></dd>
                <dt>Minimum</dt>
                <dd><%= currency_symbol + min_delivery_amount %></dd>
                <dt>Est. Delivery Time</dt>
                <dd>
                <% if(est_delivery_time.hour > 0) { %>
                    <%= est_delivery_time.hour %> hr
                <% } %>
                <% if(est_delivery_time.minutes > 0) { %>
                    <%= est_delivery_time.minutes %> min
                <% } %>
                <% if(est_delivery_time.minutes == 0 && est_delivery_time.hour == 0) { %>
                    ASAP
                <% } %>
                </dd>
                <dt>Delivery Radius</dt>
                <dd><%= delivery_radius %>
                <% if(distance_mearsure.toLowerCase() == 'km') { %>
                    km
                <% } else { %>
                    Mile<% if(delivery_radius > 1) { %>s<% } %>
                <% } %>
                </dd>
                <% } %>
            </dl>
            <div class='clear_both'> </div>
        </div>
    <% } %>
</script>

<script type="text/template" id="store_info_details-template">
    <% if(logo) { %>
    <div class="store_info_main_logo">
        <div class="logo"><img src="<%= logo %>" id="logo"></div>
        <div class="divider"></div>
    </div>
    <% } %>

    <% if (phone || email || address || access) { %>
        <ul class="location">

            <% if(address instanceof Object) { %>
            <li>
                <span class="title">Address</span>
                <address class="desc">
                    <span><%= address.line1 %></span>
                    <span><%= address.line2 %></span>
                </address>
            </li>
            <% } %>

            <% if(timetable) { %>
            <li class="hours">
                <span class="title">Hours</span>
                <ul class="desc">
                    <% _.each(timetable, function(day, i) { %>
                    <li class="row <%= (timetable.length - 1 == i ? 'last' : i == 0 ? 'first' : '') %>">
                        <% if(day.hours instanceof Array) { %>
                            <span class="weekDay"><%= day.weekDay %></span>
                           <span class="time">
                            <% _.each(day.hours, function(day, i) { %>
                            <%= day.from %>&nbsp;&ndash;&nbsp;<%= day.to %><br>
                            <% }); %>
                            </span>
                        <% } else if(day.hours) { %>
                            <span class="weekDay"><%= day.weekDay %></span>
                            <span class="time">Round the clock</span>
                        <% } else { %>
                            <span class="weekDay"><%= day.weekDay %></span>
                            <span class="time closed">Closed</span>
                        <% } %>
                    </li>
                    <% }); %>
                </ul>
            </li>
            <% } %>

            <% if(phone) { %>
            <li>
                <span class="title">Phone</span>
                <a class="desc phone" href="tel:<%= phone %>"><%= phoneFormat(phone) %></a>
            </li>
            <% } %>

            <% if (email) { %>
                <li>
                    <span class="title"> Email </span>
                    <a class="desc email" href="mailto:<%= email %>"> <%= email %> </a>
                </li>
            <% } %>

            <% if(access_to_location) { %>
            <li>
                <span class="title">Access</span>
                <span class="desc"><%= access_to_location %></span>
            </li>
            <% } %>

        </ul>
    <% } %>
</script>

<script type="text/template" id="store_info_map-template">
    <div id="mapBox"></div>
</script>

<script type="text/template" id="store_info_about-template">
    <% if(logo) { %>
        <div class="store_info_main_logo">
            <div class="logo"><img src="<%= logo %>" id="logo"></div>
            <div class="divider"></div>
        </div>
    <% } %>
    <h2>
        <a target="_blank" href="http://revelup.com/?utm_source=RevelOnlineOrderApp&amp;utm_medium=RevelOnlineOrderApp&amp;utm_campaign=<%= clientName %>"></a>
        <%= title %>
    </h2>
    <p><%= text.replace(/[\n\r]+/g, '</p><p>') %></p>
</script>

<script type="text/template" id="store_info_gallery-template">
</script>