<script type="text/template" id="tips_line-template">
    <ul class="tips <% if(isFirefox) print('firefox') %> <% if (!tip_allow) print('hidden'); %>">
        <li>
            <div class="fl_left tip_label"> <%= _lp.TIPS_ADD %>: </div>
            <div class="fl_right">
                <div class="currency_sym"> <span> <%=currency_symbol%> </span> </div>
                <div class="input border <% if (!type || amount) print('disabled')%>">
                    <input type="text" <% if (!type || amount) print('disabled') %> class="amount tipAmount ios-safari-caret" value='<% print(sum.toFixed(2)) %>'>
                </div>
            </div>
            <div class="clear_both"></div>
        </li>
        <li>
            <span class="btn" data-amount="None">
                <span class="clip"> <%= _lp.TIPS_NONE %> </span>
            </span>
            <span class="btn" data-amount="10">
                <span class="clip"> 10% </span>
            </span>
            <span class="btn" data-amount="15">
                <span class="clip"> 15% </span>
            </span>
            <span class="btn" data-amount="20">
                <span class="clip"> 20% </span>
            </span>
            <span class="btn" data-amount="Other">
                <span class="clip"> <%= _lp.TIPS_OTHER %> </span>
            </span>
        </li>
    </ul>
</script>
