<script type="text/template" id="tips_main-template">
    <ul class="tips <% if(isFirefox) print('firefox') %> <% if (!tip_allow) print('hidden'); %>">
        <li>
            <label>
                <input type="radio" name="tips" class="tipCash"  value="0">
                <span class="radio"></span>
                <span>Tip in Cash</span>
            </label>
        </li>
        <li>
            <label class="radio">
                <input type="radio" name="tips" class="tipCreditCard" value="1">
                <span class="radio"></span>
                <span class="credit">Tip on Credit Card <span class="line">or choose an amount...</span></span>
            </label>
            <label class="number">
                <div class="currency_sym"> <span> <%=currency_symbol%> </span> </div>
                <div class="input">
                    <input type="text" class="amount tipAmount ios-safari-caret" value="0.00">
                </div>
            </label>
        </li>
        <li>
            <span class="btn" data-amount="10">10%</span>
            <span class="btn" data-amount="15">15%</span>
            <span class="btn" data-amount="20">20%</span>
            <span class="btn" data-amount="other">Other</span>
        </li>
    </ul>
</script>