<script type="text/template" id="total_main-template">
    <div class="total_discounts">
        <span class="clip"> <%= _lp.TOTAL_DISCOUNTS %>: </span>
        <span class="currency_symbol"><%= _settings.currency_symbol %></span>
        <span class="discount"></span>
    </div>
    <div>
        <span class="clip"> <%= _lp.TOTAL_SUBTOTAL %>: </span>
        <span class="currency_symbol"><%= _settings.currency_symbol %></span>
        <span class="total"></span>
    </div>
</script>

<script type="text/template" id="total_checkout-template">
    <ul class="totals-checkout bg-color2 font-size3 font-color3">
        <li class="discount-links border-color10 text-left font-color1">
            <span class="have-discounts"></span>
            <span class="have-discount-code"></span>
            <span class="have-rewards"></span>
        </li>
        <li class="total_discounts border-color10 text-left font-color6">
            <span class="cost fl-right">
                <span class="currency_symbol"><%= _settings.currency_symbol %></span>
                <span class="discount"></span>
            </span>
            <span class="title"><%= _lp.TOTAL_DISCOUNTS %></span>
            <div class="remove-discount-code link font-color1 text-right"><%= _lp.MYORDER_REMOVE_DISCOUNT %></div>
            <div class="remove-reward-redemption link font-color1 text-right"><%= _lp.MYORDER_REMOVE_REWARD_REDEMPTION %></div>
        </li>
        <li class="shipping_charge_item border-color10 text-left">
            <span class="cost fl-right">
                <span class="currency_symbol"><%= _settings.currency_symbol %></span>
                <span class="shipping_charge"></span>
            </span>
            <span class="title"><%= _lp.TOTAL_SHIPPING %></span>
        </li>
        <li class="shipping_discount_item border-color10 text-left">
            <span class="cost fl-right">
                <span class="plus">-</span>
                <span class="currency_symbol"><%= _settings.currency_symbol %></span>
                <span class="shipping_discount"></span>
            </span>
            <span class="title"><%= _lp.TOTAL_SHIPPING_DISCOUNT %></span>
        </li>
        <li class="border-color10 text-left">
            <span class="cost fl-right">
                <span class="currency_symbol"><%= _settings.currency_symbol %></span>
                <span class="subtotal"></span>
            </span>
            <span class="title"><%= _lp.TOTAL_SUBTOTAL %></span>
        </li>
        <li class="surcharge_item border-color10 text-left">
            <span class="cost fl-right">
                <span class="currency_symbol"><%= _settings.currency_symbol %></span>
                <span class="surcharge"></span>
            </span>
            <span class="title"><%= _lp.TOTAL_SURCHARGE %></span>
        </li>
        <li class="border-color10 text-left">
            <span class="cost fl-right">
                <span class="currency_symbol"><%= _settings.currency_symbol %></span>
                <span class="tax"></span>
            </span>
            <span class="title"><%= _lp.TOTAL_TAX %></span>
        </li>
    <% if(_settings.accept_tips_online) { %>
        <li class="border-color10 text-left">
            <span class="cost fl-right">
                <span class="currency_symbol"><%= _settings.currency_symbol %></span>
                <span class="tip"></span>
            </span>
            <span class="title"><%= _lp.TOTAL_TIP %></span>
        </li>
    <% } %>
        <li class="text-left">
            <strong class="fl-right font-color11">
                <span class="cost">
                    <span class="currency_symbol"><%= _settings.currency_symbol %></span>
                    <span class="grandtotal"></span>
                </span>
            </strong>
            <span class="title"><%= _lp.TOTAL_GRAND_TOTAL %></span>
        </li>
    </ul>
    <% if(_settings.payment_processor.mercury) { %>
    <ul class="mercury-accepted-credit-cards text-center">
        <li class="card-logo">
            <img class="imgCardLogo" src="img/visa.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/mastercard.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/amex.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/discover.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/dinersclub.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/jcb.png">
        </li>
    </ul>
    <% } %>
</script>