<script type="text/template" id="total_main-template">
    <div class="total_discounts">
        Discounts:
        <span class="currency_symbol"><%= currency_symbol %></span>
        <span class="discount"><%= discounts %></span>
    </div>
    <div>
        Subtotal:
        <span class="currency_symbol"><%= _settings.currency_symbol %></span>
        <span class="total"><%= subTotal %></span>
    </div>
</script>

<script type="text/template" id="total_checkout-template">
    <ul class="confirm">
        <li class="total_discounts">
            <span class="title">Discounts:</span>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="discount"><%= discounts %></span>
            </span>
        </li>
        <li>
            <span class="title">Subtotal:</span>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="subtotal"><%= subTotal %></span>
            </span>
        </li>
<% if (deliveryCharge) { %>
        <li class="delivery-charge">
            <span class="title delivery-charge-title">Delivery Charge:</span>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="delivery-charge"><%= deliveryCharge %></span>
            </span>
        </li>
<% } %>

<% if (deliveryCharge) { %>
    <% if (deliveryDiscount*1 > 0) { %>
       <li class="delivery_discount_item">
     <% } else { %>
       <li class="delivery_discount_item hide">
    <% } %>
        <span class="title">Delivery Discount:</span>
        <span class="cost">
            <span class="plus">-</span>
            <span class="currency_symbol"><%= currency_symbol %></span>
            <span class="delivery-discount"><%= deliveryDiscount %></span>
        </span>
    </li>
<% } %>

<% if (surcharge !== null && surcharge * 1 !== 0) { %>
        <li>
            <span class="title">Surcharge:</span>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="surcharge"><%= surcharge %></span>
            </span>
        </li>
<% } %>
        <li>
            <span class="title">Tax:</span>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="tax"><%= tax %></span>
            </span>
        </li>
        <% if(tip_allow) { %>
        <li>
            <span class="title">Tip:</span>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="tip"><%= tip %></span>
            </span>
        </li>
        <% } %>
        <li>
            <span class="title">Grand Total:</span>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="grandtotal"><%= grandTotal %></span>
            </span>
        </li>
    </ul>
    <% if(_settings.payment_processor.mercury) { %>
    <ul class="mercury-accepted-credit-cards">
        <li class="card-logo">
            <img class="imgCardLogo" src="img/visa.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/mastercard.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/amex.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/discover.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/dinersclub.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/jcb.png">
        </li>
    </ul>
    <% } %>
</script>
