<script type="text/template" id="card_main-template">
    <div>
        <label for="firstName"><span class="bold <% if(paypal_direct_credit_card) { %>required<% } %>">First Name:</span></label>
        <div class="input_beauty">
            <input type="text" id="firstName" class="first_name" value="<%= firstName %>" maxlength="20">
        </div>
    </div>
    <div>
        <label for="lastName"><span class="bold <% if(paypal_direct_credit_card) { %>required<% } %>">Last Name:</span></label>
        <div class="input_beauty">
            <input type="text" id="lastName" class="last_name" value="<%= secondName %>" maxlength="20">
        </div>
    </div>
    <div>
        <label for="cardNumber"><span class="bold required">Card Number:</span></label>
        <div class="input_beauty">
            <input type="text" id="cardNumber" class="number" value="<%= cardNumber %>" min="0">
        </div>
    </div>
    <div>
        <label for="securityCode"><span class="bold required">Security Code:</span></label>
        <div class="input_beauty">
            <input type="text" id="securityCode" class="secure" value="<%= securityCode %>" min="0">
        </div>
    </div>
    <div>
        <label for="exp-month"><span class="pickup bold required">Exp. Date:</span></label>
        <div class="select month select-wrapper" style="display: inline-block;">
            <select class="month select" id="exp-month">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="select year select-wrapper">
            <select class="time select" id="exp-year"></select>
        </div>
    </div>
</script>