<script type="text/template" id="card_main-template">
    <div class="inline-block">
        <div class="label required optional-text"><%= _lp.CARD_FIRST_NAME %></div>
        <input type="text" class="first_name input size3" maxlength="20" name="firstName">
    </div>
    <div class="inline-block">
        <div class="label required optional-text"><%= _lp.CARD_LAST_NAME %></div>
        <input type="text" class="last_name input size3" maxlength="20" name="lastName">
    </div>
    <div class="inline-block">
        <div class="label required optional-text"><%= _lp.CARD_NUMBER %></div>
        <input type="tel" class="number input size3" name="cardName">
    </div>
    <div class="inline-block">
        <div class="label required optional-text"><%= _lp.CARD_SECURITY_CODE %></div>
        <input type="tel" class="secure input size4" name="secureCode">
    </div>
    <div class="inline-block">
        <div class="label required optional-text"><%= _lp.CARD_EXP_DATE %></div>
        <div class="select-wrapper inline-block">
            <select class="card-expiration-month">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="select-wrapper inline-block">
            <select class="card-expiration-year"></select>
        </div>
    </div>
    <div class="checkbox-outer inline-block">
        <span class="checkbox primary-border"></span>
        <span><%= _lp.CARD_SAVE %></span>
    </div>
</script>

<script type="text/template" id="card_billing_address-template">
    <div class="inline-block">
        <div class="label required optional-text"><%= _lp.BILLING_ADDRESS_TITLE %></div>
        <div class="select-wrapper inline-block">
            <select class="addresses"></select>
        </div>
    </div>
    <div class="inline-block new-address">
        <div class="label required optional-text"><%= _lp.PROFILE_ADDRESS_LINE1 %></div>
        <input type="text" class="street_1 input ios-safari-caret size3">
    </div>
    <div class="inline-block new-address">
        <div class="label required optional-text"><%= _lp.PROFILE_CITY %></div>
        <input type="text" class="city input ios-safari-caret size3">
    </div>
    <div class="inline-block new-address">
        <div class="label required optional-text"><%= _lp.PROFILE_COUNTRY %></div>
        <div class="select select-wrapper inline-block">
            <select class="countries size3"></select>
        </div>
    </div>
    <div class="inline-block new-address states-wrap">
        <div class="label required optional-text"><%= _lp.PROFILE_STATE %></div>
        <div class="select-wrapper inline-block">
            <select class="states size3"></select>
        </div>
    </div>
    <div class="inline-block new-address">
        <div class="label required optional-text zip-code-label"><%= _lp.PROFILE_ZIP_CODE %></div>
        <input type="text" id="zipcode" class="zipcode input ios-safari-caret size4">
    </div>
</script>