<script type="text/template" id="cart_main-template">
    <h2 class="cart_title clip"> <%= _lp.CART_MAIN_TITLE %> </h2>
    <div class="order-items vertical-scrollbar"></div>
    <div class="cart-bottom">
        <span class="subtotal"></span>
        <div class="checkout fl-right"> <span> <%= _lp.CART_CHECKOUT %> </span> </div>
    </div>
    <div class="cancel"></div>
</script>

<script type="text/template" id="cart_checkout-template">
    <h2 class="cart_title clip"> <%= _lp.CART_CHECKOUT_TITLE %> </h2>
    <div class="order-items_wrapper">
        <div class="order-items vertical-scrollbar"></div>
    </div>
    <ul class="total_block"></ul>
    <div class='pay_button'>
        <div class="btn pay unselectable"> <%= _lp.CART_PAY %> </div>
    </div>
</script>