<script type="text/template" id="categories_products-template">

</script>

<script type="text/template" id="categories_main_products-template">
    <div class='categories_products_wrapper'></div>
    <div class='products_spinner'></div>
</script>

<script type="text/template" id="categories_tabs-template">
    <div class='arrow arrow_left'>&lsaquo;</div>
    <form class="tabs animation">
        <ul></ul>
    </form>
    <div class='arrow arrow_right'>&rsaquo;</div>
</script>

<script type="text/template" id="categories_tab-template">
    <input type="radio" id="<%= list_name + id %>" name="<%= list_name %>">
    <label for="<%= list_name + id %>">
        <span><%= parent_name %></span>
    </label>
</script>

<script type="text/template" id="categories_products_item-template">
    <div class='category_description'>
        <h2><%=parent_name%>: <%=name%></h2>
        <%=description%>
    </div>
    <div class='product_table'>
        <div class='clear'></div>
    </div>
</script>

<script type="text/template" id="categories_sublist-template">
</script>