<script type="text/template" id="checkout_main-template">
    <div class="arrival_address">
        <% if(address instanceof Object || business_name) { %>
        <ul>
            <% if(business_name) { %>
            <li class="bold"><%= business_name %></li>
            <% } %>
            <% if(address instanceof Object) { %>
            <li><%= address.line_1 %><% if(address.line_2) print(', ' + address.line_2) %></li>
            <li><%= address.city %>, <% if(address.getRegion()) print(address.getRegion() + ' ') %><%= address.postal_code %></li>
            <% } %>
        </ul>
        <% } %>
    </div>
    <div class="row">
        <label for="firstName"><span class="required bold">First Name:</span></label>
        <div class="input_beauty">
            <input type="text" id="firstName" class="firstName" value="<%= firstName %>">
        </div>
    </div>
    <div class="row">
        <label for="lastName"><span class="required bold">Last Name:</span></label>
        <div class="input_beauty">
            <input type="text" id="lastName" class="lastName" value="<%= lastName %>">
        </div>
    </div>
    <div class="row">
        <label for="email"><span class="required bold">Email:</span></label>
        <div class="input_beauty">
            <input type="text" id="email" class="email" value="<%= email %>" autocapitalize="none">
        </div>
    </div>
    <div class="row">
        <label for="phone"><span class="required bold">Phone:</span></label>
        <div class="input_beauty">
            <input type="tel" id="phone" class="phone" value="<%= phone %>">
        </div>
    </div>
    <div class="delivery_address"></div>
    <% if(enableRewardCard) { %>
    <div class="row">
        <label for="rewardCard">Reward Card #:</label>
        <div class="input_beauty">
            <input type="<%= rewardCardType %>" id="rewardCard" class="rewardCard" value="<%= rewardCard %>">
        </div>
    </div>
    <% } %>
</script>

<script type="text/template" id="checkout_pickup-template">
    <div class="row">
        <label for="pickupTimeDay"><span class="pickup bold required"><%= pickupTimeLabel %></span>:</label>
        <div class="select select_day">
            <div class="select_arrows"></div>
            <select class="day" id="pickupTimeDay"></select>
        </div>
    </div>
    <div class="row">
        <label for="pickupTimeHour"></label>
        <div class="select select_day">
            <div class="select_arrows"></div>
            <select class="time" id="pickupTimeHour"></select>
        </div>
    </div>
</script>

<script type="text/template" id="checkout_order_type-template">
    <label class="select"><span class="required bold">Order Type:</span></label>
    <div class="select">
        <div class="select_arrows"></div>
        <select class="order-type-select"></select>
    </div>
</script>

<script type="text/template" id="checkout_address-template">
    <div class="row">
        <label class="select" for="countries"><span class="required bold">Country:</span></label>
        <div class="select countries">
            <div class="select_arrows"></div>
            <select class="country" id="countries">
            <% for (var i in countries) { %>
                <option value="<%= i %>" <% if(i.toLowerCase() == country.toLowerCase()) { %>selected="selected"<% } %>><%= countries[i] %></option>
            <% } %>
            </select>
        </div>
    </div>
    <div class="row">
        <label for="addressLine1"><span class="required bold">Address Line 1:</span></label>
        <div class="input_beauty">
            <input type="text" id="addressLine1" name="street_1" class='street_1' value="<%= street_1 %>">
        </div>
    </div>
    <div class="row">
        <label for="addressLine2">Address Line 2:</label>
        <div class="input_beauty">
            <input type="text" id="addressLine2" name="street_2" class='street_2' value="<%= street_2 %>">
        </div>
    </div>
    <div class="row">
        <label for="city"><span class="required bold">City:</span></label>
        <div class="input_beauty">
            <input type="text" id="city" name="city" class='city' value="<%= city %>">
        </div>
    </div>
    <% if(country == 'US' && state && states instanceof Object && Object.keys(states).length > 0) { %>
    <div class="row">
        <label class="select" for="states"><span class="required bold">State:</span></label>
        <div class="select states">
            <div class="select_arrows"></div>
            <select class="states" id="states">
            <% for(var i in states) { %>
                <option value="<%= i %>" <% if(i.toLowerCase() == state.toLowerCase()) { %>selected="selected"<% } %>><%= states[i] %></option>
            <% } %>
            </select>
        </div>
    </div>
    <% } %>
    <div class="row">
        <label for="zip"><span class="required bold">Zip Code:</span></label>
        <div class="input_beauty">
            <input type="text" id="zip" name="zipcode" class='zipcode' value="<%= zipcode %>">
        </div>
    </div>
    <label class="select"><span class="required bold">Shipping & Handling:</span></label>
    <div class="select shipping">
        <div class="select_arrows"></div>
        <select class="shipping-select"></select>
    </div>
    <div class="shipping-status img-spinner"></div>
</script>

<script type="text/template" id="checkout_pay-template">
    <div id='pay_popup'>
        <h2>How would you like to pay?</h2>
        <div class='btn_wrapper'>
        </div>
    </div>
</script>


<script type="text/template" id="checkout_pay_button-template">
    <% if (payment_count === 1 && flag) {%>
            <% if(paypal) { %>
        <div class='btn paypal'>Checkout with PayPal</div>
            <% } %>
            <% if((paypal && paypal_direct_credit_card) || usaepay) { %>
        <div class='btn credit-card'>Pay with Credit Card</div>
            <% } %>
            <% if(cash) { %>
        <div class='btn cash'></div>
            <% } %>
    <% } else if (flag) { %>
        <div class="btn pay unselectable">Pay</div>
    <% } else { %>
        <% if(paypal) { %>
        <div class='btn paypal'></div>
        <% } %>
        <% if((paypal && paypal_direct_credit_card) || usaepay) { %>
        <div class='btn credit-card'>Credit Card</div>
        <% } %>
        <% if(cash) { %>
        <div class='btn cash'></div>
        <% } %>
    <% } %>
</script>

<script type="text/template" id="checkout_page-template">
    <div class="data">
        <div class="specials row">
            <% if(noteAllow) {%>
                <label><span class="bold">Order Notes:</span></label>
            <div class="input_beauty special">
                    <textarea><%=note%></textarea>
            </div>
            <% } %>
        </div>
    </div>
</script>