<script type="text/template" id="checkout_main-template">
    <div class="personal">
        <div class="inline-block">
            <div class="label required optional-text"><%= _lp.PROFILE_FIRST_NAME %></div>
            <input type="text" class="firstName input ios-safari-caret size1">
        </div>
        <div class="inline-block">
            <div class="label required optional-text"><%= _lp.PROFILE_LAST_NAME %></div>
            <input type="text" class="lastName input ios-safari-caret size1">
        </div>
    </div>
    <div class="personal">
        <div class="inline-block">
            <div class="label required optional-text"><%= _lp.PROFILE_EMAIL_ADDRESS %></div>
            <input type="email" class="email input ios-safari-caret size1" autocorrect="off" autocapitalize="none">
        </div>
        <div class="inline-block">
            <div class="label required optional-text"><%= _lp.PROFILE_PHONE %></div>
            <input type="tel" class="phone input ios-safari-caret size1">
        </div>
    </div>
    <div class="delivery_address"></div>
    <div class="delivery_other"></div>
</script>

<script type="text/template" id="checkout_order_type-template">
    <div class="label required optional-text"><%= _lp.CHECKOUT_ORDER_TYPE %></div>
    <div class="select-wrapper inline-block">
        <select class="order-type-select"></select>
    </div>
</script>

<script type="text/template" id="checkout_address_selection-template">
    <div class="label required optional-text"><%= _lp.CHECKOUT_CHOOSE_ADDRESS %></div>
    <div class="select-wrapper inline-block">
        <select id="addresses"></select>
    </div>
</script>

<script type="text/template" id="checkout_address-template">
    <div class="address-selection"></div>

    <div class="address-edit">
        <div class="inline-block">
            <div class="label required optional-text"><%= _lp.CHECKOUT_ADDRESS %></div>
            <input type="text" name="street_1" class="input ios-safari-caret size1">
        </div>
        <div class="inline-block">
            <div class="label optional-text"><%= _lp.CHECKOUT_APT %></div>
            <input type="text" name="street_2" class="input ios-safari-caret size2">
        </div>
    </div>
    <div class="address-edit">
        <div class="inline-block">
            <div class="label required optional-text"><%= _lp.PROFILE_CITY %></div>
            <input type="text" name="city" class="input ios-safari-caret size1">
        </div>
        <div class="inline-block">
            <div class="label required optional-text"><%= _lp.PROFILE_COUNTRY %></div>
            <div class="select-wrapper inline-block">
                <select class="country size1">
                <% for (var i in countries) { %>
                    <option value="<%= i %>" <% if(i.toLowerCase() == country.toLowerCase()) { %>selected="selected"<% } %>><%= countries[i] %></option>
                <% } %>
                </select>
            </div>
        </div>
    </div>
    <div class="address-edit">
        <% if(country == 'US' && state && states instanceof Object && Object.keys(states).length > 0) { %>
        <div class="inline-block">
            <div class="label required optional-text"><%= _lp.PROFILE_STATE %></div>
            <div class="select-wrapper inline-block">
                <select class="states size1" id="states">
                <% for(var i in states) { %>
                    <option value="<%= i %>" <% if(i.toLowerCase() == state.toLowerCase()) { %>selected="selected"<% } %>><%= states[i] %></option>
                <% } %>
                </select>
            </div>
        </div>
        <% } %>
        <% if(typeof province == 'string') { %>
        <div class="inline-block">
            <div class="label required optional-text"><%= _lp.PROFILE_PROVINCE %></div>
            <input type="text" name="province" class="input ios-safari-caret size1">
        </div>
        <% } %>
        <div class="inline-block">
            <div class="label required optional-text"><% if(country == 'US') {print(_lp.PROFILE_ZIP_CODE);} else {print(_lp.PROFILE_POSTAL_CODE);} %></div>
            <input type="text" name="zipcode" class="input ios-safari-caret size2">
        </div>
    </div>

    <div>
        <div class="label required optional-text"><%= _lp.CHECKOUT_SHIPPING_HANDLING %></div>
        <div class="inline-block">
            <div class="shipping-status fl-right"></div>
            <div class="select-wrapper inline-block">
                <select class="shipping-select select"></select>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="checkout_other-template">
    <div class="list"></div>
</script>

<script type="text/template" id="checkout_other_item-template">
    <div class="label required optional-text" data-isrequired><%= name %></div>
    <% if (Array.isArray(choices) && choices.length) { %>
    <div class="select-wrapper inline-block">
        <select class="section-select" name="<%= name %>"></select>
    </div>
    <% } else { %>
    <input type="text" name="<%= name %>" class="input ios-safari-caret size1">
    <% } %>
</script>

<script type="text/template" id="checkout_page-template">
    <ul class="steps primary-border">
        <li class="step step-1 text-center fl-left"><%= _lp.CHECKOUT_ORDER_INFO %></li>
        <li class="step step-2 text-center fl-left"><%= _lp.CHECKOUT_BILLING_INFO %></li>
        <li class="step step-3 text-center fl-left"><%= _lp.CHECKOUT_REVIEW_CONFIRM %></li>
    </ul>
    <div class="view-1">
        <div class="view">
            <div class="order-type"></div>
            <div class="personal-box"></div>
        </div>
        <div class="btns text-right">
            <div class="btn to-step-2 text-center" tabindex="0"><%= _lp.NEXT %>&nbsp;&rang;</div>
        </div>
    </div>
    <div class="view-2">
        <div class="view">
            <div class="payment-methods-box"></div>
            <div class="choose-cc-box"></div>
            <div class="cc-box"></div>
            <div class="billing-address-box"></div>
            <div class="choose-gift-card-box inline-block"></div>
            <div class="gift-card-box inline-block"></div>
            <div class="stanford-card-box"></div>
            <div class="stanford-plans-box"></div>
            <div class="discounts-box">
                <h3 class="header-underline discounts-title"></h3>
                <div class="discount-code-box inline-block"></div>
                <div class="rewards-box inline-block"></div>
            </div>
        </div>
        <div class="btns text-right">
            <div class="btn to-step-1 btn-secondary text-center fl-left" tabindex="0">&lang;&nbsp;<%= _lp.BACK %></div>
            <div class="btn to-step-3 text-center" tabindex="0"><%= _lp.NEXT %>&nbsp;&rang;</div>
        </div>
    </div>
    <div class="view-3">
        <div class="view">
            <div class="order-summary">
                <h3 class="header-underline">
                    <%= _lp.CHECKOUT_ORDER_INFO %>
                    <span class="fl-right edit-btn edit-step-1 primary-text link" tabindex="0"><%= _lp.MYORDER_EDIT %></span>
                </h3>
            </div>
            <div class="billing-summary">
                <h3 class="header-underline">
                    <%= _lp.CHECKOUT_BILLING_INFO %>
                    <span class="fl-right edit-btn edit-step-2 primary-text link" tabindex="0"><%= _lp.MYORDER_EDIT %></span>
                </h3>
            </div>
        </div>
        <div class="btns text-right">
            <div class="btn to-step-2 btn-secondary text-center fl-left" tabindex="0">&lang;&nbsp;<%= _lp.BACK %></div>
            <div class="btn submit text-center" tabindex="0"><%= _lp.CHECKOUT_CONFIRM %></div>
        </div>
    </div>
</script>

<script type="text/template" id="checkout_discount_code-template">
    <div class="label optional-text"><%= _lp.CHECKOUT_DISCOUNT_CODE %></div>
    <div class="ctrl-box inline-block size2">
        <input type="text" name="discount_code" class="input ctrl-input ios-safari-caret">
        <label class="ctrl-wrapper cancel">
            <input type="button" class="ctrl cancel-input">
        </label>
    </div>
    <span class="btnApply"><%= _lp.CHECKOUT_DISC_CODE_APPLY %></span>
</script>

<script type="text/template" id="checkout_rewards_card-template">
    <div class="label optional-text"><%= _lp.CHECKOUT_REWARD_CARD %></div>
    <div class="ctrl-box inline-block size2">
        <input type="text" class="rewardCard input ctrl-input ios-safari-caret">
        <label class="ctrl-wrapper cancel">
            <input type="button" class="ctrl cancel-input">
        </label>
    </div>
    <span class="rewards-card-apply link primary-text"><%= _lp.CHECKOUT_DISC_CODE_APPLY %></span>
    <span class="see-rewards link primary-text"><%= _lp.CHECKOUT_SEE_REWARDS %></span>
</script>