<script type="text/template" id="confirm_card_order-template">
    <div class="left-panel-wrap">
        <div class="panel">
           <div class="left-panel">
               <div id="credit-card" class="card-block"></div>
               <div id="billing-address" class="card-block"></div>
               <div class="payments"></div>
                <div class="payments-control">
                    <div class="payments-btn btn"></div>
                    <div class="gift-cards-btn btn"></div>
                </div>
           </div>
        </div>
    </div>
    <div class="right-panel-wrap">
        <div class="panel right-panel">
            <div class="cart_title"> <%= _lp.CONFIRM_REVIEW_ORDER %> </div>
            <div class="order-items-wrap">
                 <div class="order-items vertical-scrollbar"></div>
            </div>
            <ul class="total_block"></ul>
            <div class="btn btn-submit" tabindex="0"> <span> <%= _lp.CONFIRM_SUBMIT %> </span> </div>
        </div>
    </div>
</script>

<script type="text/template" id="confirm_stanford_card-template">
    <div class="left-panel-wrap">
        <div class="panel">
           <div class="left-panel">
               <div id="credit-card"></div>
               <div class="stanford-plans"></div>
           </div>
        </div>
    </div>
    <div class="right-panel-wrap">
        <div class="panel right-panel">
            <div class="cart_title"> <%= _lp.CONFIRM_REVIEW_ORDER %> </div>
            <div class="order-items-wrap">
                 <div class="order-items"></div>
            </div>
            <ul class="total_block"></ul>
            <div class="btn btn-submit submit-order" tabindex="0"> <span> <%= _lp.CONFIRM_SUBMIT_ORDER %> </span> </div>
            <div class="btn btn-submit submit-card" tabindex="0"> <span> <%= _lp.CONFIRM_SUBMIT_CARD %> </span> </div>
        </div>
    </div>
</script>