<script type="text/template" id="filter_sort-template">
    <select>
        <option value="sort" selected="selected">Default Sorting</option>
        <option value="created_date|1">New Arrivals</option>
        <option value="price">Price: Low to High</option>
        <option value="price|1">Price: High to Low</option>
    </select>
    <div class="select_arrows"></div>
</script>

<script type="text/template" id="filter_attribute-template">
    <select>
        <option value="1" selected="selected">Show All</option>
    </select>
    <div class="select_arrows"></div>
</script>