<script type="text/template" id="header_main-template">
    <div class="top">
        <ul class="inline-block fl-right">
            <li class="search-box inline-block">
                <label for="search" class="search-label" tabindex="0"><%= _lp.HEADER_SEARCH %></label>
                <input type="text" id="search" name="search" autocomplete="off">
                <span class="cancel-search link" tabindex="0">&times;</span>
            </li>
            <li class="profile-panel-box inline-block"></li>
            <li class="cart-box inline-block">
                <span class="cart-qty" tabindex="0"></span>
            </li>
        </ul>
        <h1 class="business-name"><%= business_name %></h1>
    </div>
    <div class="logo fl-left">
        <img src='<%= logo %>' alt='<%= business_name %> logo' class='img' data-default-index='1'>
        <div class="img-spinner"></div>
    </div>
    <ul class="menu">
        <li class="shop menu-item animation" title="<%= _lp.HEADER_SHOP %>" tabindex="0"><%= _lp.HEADER_SHOP %></li>
        <li class="about menu-item animation" title="<%= _lp.HEADER_ABOUT %>" tabindex="0"><%= _lp.HEADER_ABOUT %></li>
        <li class="map menu-item animation" title="<%= _lp.HEADER_MAP %>" tabindex="0"><%= _lp.HEADER_MAP %></li>
    </ul>
</script>