<script type="text/template" id="main_main-template">
<header id="header"></header>
<section>
    <div id="content"></div>
</section>
<aside id="cart"></aside>
<footer>
    <a class="powered-by" target='_blank' href="http://revelup.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
</footer>
<div class="popup">
    <div class='popoup_align'>
    </div>
    <div class='popup_wrapper'>
        <div id="popup" class="animation">
            <div class="cancel"></div>
        </div>
    </div>
</div>
<div id="main-spinner"></div>
<% if(_settings.payment_processor.mercury) { %>
<ul class="mercury-accepted-credit-cards">
    <li class="card-logo">
        <img title="Visa Logo" class="imgCardLogo" src="https://hc.mercurydev.net/App_Themes/Default/visa.png">
    </li>
    <li class="card-logo">
        <img title="MasterCard Logo" class="imgCardLogo" src="https://hc.mercurydev.net/App_Themes/Default/Mastercard.png">
    </li>
    <li class="card-logo">
        <img id="imgAmex" title="American Express Logo" class="imgCardLogo" src="https://hc.mercurydev.net/App_Themes/Default/amex.png">
    </li>
    <li class="card-logo">
        <img title="Discover Logo" class="imgCardLogo" src="https://hc.mercurydev.net/App_Themes/Default/discover.png">
    </li>
    <li class="card-logo">
        <img title="Diners Club Logo" class="imgCardLogo" src="https://hc.mercurydev.net/App_Themes/Default/dinersclub.png">
    </li>
    <li class="card-logo">
        <img title="JCB Logo" class="imgCardLogo" src="https://hc.mercurydev.net/App_Themes/Default/jcb.png">
    </li>
</ul>
<% } %>
</script>

<script type="text/template" id="alert-template">
    <div class='alert_align'>
    </div>
    <div class='alert_wrapper'>
        <div class="alert_block">
            <div class="no-cancel"></div>
            <div class="icon <%= icon_type %>"></div>
            <div class='message'><%= message %></div>
            <div class='btn_wrapper'>
                <div class='btn btnOk'><%= btnText1 %></div>
                <% if (is_confirm === true) { %>
                   <div class='btn btnCancel'><%= btnText2 %></div>
                <% } %>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="main_maintenance-template">
<section class="maintenance">
    <div id="content">
        <p>
            Maintenance.<br>
            Please come back later.
        </p>
        <div class="btn">Restart</div>
    </div>
</section>
<footer>
    <a class="powered-by" target='_blank' href="http://revelup.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
</footer>
</script>

<script type="text/template" id="main_done-template">
<section class="confirm">
    <header id="header">
        <div class="logo">
            <img src=<%= logo %> alt="<%= business_name %> logo" class="logo">
        </div>
    </header>
    <div id="content">
        <div class='content_align'></div>
        <div class='confirm_order_wrapper'>
            <% if (status !== 'error') { %>
                <h2 class="confirmed_order_title">Your Order has been Submitted.</h2>
            <% } else { %>
                <h2 class="confirmed_order_title confirmed_title_red">Your Order has not been Submitted.</h2>
            <% } %>
             <% if (status === 'error') { %>
                <p class="confirmed-order-txt">
                    <%=message%>
                </p>
                <div class="btn btn-long btnReturn">Return to Order Summary</div>
             <% } else { %>
                <table class="order-confirmed-detail">
                    <tr>
                        <td colspan="2" class="email">Your receipt was sent to <%= email %></td>
                    </tr>
                    <tr>
                        <td>Order ID:</td>
                        <td><%= order_id %></td>
                    </tr>
                    <% if (false && !isOnlyGift && !isOrderFromSeat) { %>
                    <tr>
                        <td><%= pickup_type %>:</td>
                        <td><%= pickup_time_date %></td>
                    </tr>
                    <% } %>
                    <% if(false && isDeliverToSeat) { %>
                    <tr>
                        <td>Delivery Info:</td>
                        <td>
                            <% if(level) { %> Level <span><%= level %></span>,<% } %>
                            <% if(section) { %> Section <span><%= section %></span>,<% } %>
                            <% if(row) { %> Row <span><%= row %></span>,<% } %>
                            <% if(seat) { %> Seat <span><%= seat %></span><% } %>
                        </td>
                    </tr>
                    <% } %>
                    <% if(reward_points) { %>
                    <tr>
                        <td>Reward Card Points:</td>
                        <td><%= reward_points %></td>
                    </tr>
                    <% } %>
                    <tr>
                        <td>Total Amount Charged:</td>
                        <td class='bold'><%= symbol %><%= total %></td>
                    </tr>
                </table>
                <div class="btn btnReturn">Return to Menu</div>
            <% } %>
        </div>
    </div>
</section>
<footer>
    <a class="powered-by" target='_blank' href="http://revelup.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
</footer>
<% if(_settings.payment_processor.mercury) { %>
<ul class="mercury-accepted-credit-cards">
    <li class="card-logo">
        <img class="imgCardLogo" src="img/visa.png">
    </li>
    <li class="card-logo">
        <img class="imgCardLogo" src="img/mastercard.png">
    </li>
    <li class="card-logo">
        <img class="imgCardLogo" src="img/amex.png">
    </li>
    <li class="card-logo">
        <img class="imgCardLogo" src="img/discover.png">
    </li>
    <li class="card-logo">
        <img class="imgCardLogo" src="img/dinersclub.png">
    </li>
    <li class="card-logo">
        <img class="imgCardLogo" src="img/jcb.png">
    </li>
</ul>
<% } %>
</script>
