<script type="text/template" id="main_main-template">
    <header id="header"></header>
    <section id="content"></section>
    <aside id="cart" class="animation"> </aside>
    <footer id="footer">
        <div class="store_choice fl-left">
            <%= _lp.MAIN_CURRENT_STORE %>: <%= _settings.business_name %>
            <a class="change_establishment link" href="javascript: void(0);"><%= _lp.MAIN_CHANGE %></a>
        </div>
        <a class="powered-by link fl-right" target='_blank' href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
    </footer>
    <div id="main-spinner"></div>
</script>

<script type="text/template" id="main_maintenance-template">
    <section class="maintenance">
        <a href="javascript: void(0);" class="back"> <%= _lp.MAIN_BACK %> </a>
        <div id="content" class="text-center">
            <p> <%= errMsg %> </p>
            <div class="btn reload" tabindex="0"><span><%= _lp.MAIN_RESTART %></span></div>
        </div>
    </section>
<footer>
    <span class="store_choice">
        <a class="change_establishment link1" href="javascript: void(0);"><%= _lp.MAIN_CHANGE_ESTABLISHMENT %></a>
        <% if(isDirMode) { %> <%= _lp.MAIN_OR %> <% } %>
    </span>
    <% if(isDirMode) { %>
        <a class="go-to-directory link1" href="javascript: void(0);"> <%= _lp.MAIN_GOTO_DIRECTORY %> </a>
    <% } %>
    <a class="powered-by" target='_blank' href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
</footer>
</script>

<script type="text/template" id="main_done-template">
    <section class="confirm">
        <header id="header">
            <div class="logo">
                <img src="<%= logo %>" alt="<%= business_name %> logo" class="logo">
            </div>
        </header>
        <div id="content">
            <div class="confirm_order">
                <div>
                    <% if (status !== 'error') { %>
                        <h2 class="confirmed_order_title"> <%= _lp.MAIN_ORDER_SUBMITTED %> </h2>
                    <% } else { %>
                        <h2 class="confirmed_order_title confirmed_title_red"> <%= _lp.MAIN_ORDER_NOT_SUBMITTED %> </h2>
                    <% } %>
                     <% if (status === 'error') { %>
                        <p class="confirmed-order-txt">
                            <%=message%>
                        </p>
                        <div class="btn btn-long btnReturn" tabindex="0">
                            <span class="clip"> <%= buttonText %> </span>
                        </div>
                     <% } else { %>
                        <table class="order-confirmed-detail">
                            <tr> <td colspan="2" class="email"> <%= _lp.MAIN_RECEIPT_SENT_TO %> <%= email %> </td> </tr>
                            <tr>
                                <td> <%= _lp.MAIN_ORDER_ID %>: </td>
                                <td><%= order_id %></td>
                            </tr>
                            <% if (false && !isOnlyGift) { %>
                            <tr>
                                <td><%= pickup_type %>:</td>
                                <td><%= pickup_time_date %></td>
                            </tr>
                            <% } %>
                            <% if(reward_items) { %>
                            <tr>
                                <td> <%= _lp.MAIN_REWARD_CARD_POINTS %>: </td>
                                <td><%= reward_items %></td>
                            </tr>
                            <% } %>
                            <% if(reward_visits) { %>
                            <tr>
                                <td> <%= _lp.MAIN_REWARD_CARD_VISITS %>: </td>
                                <td><%= reward_visits %></td>
                            </tr>
                            <% } %>
                            <% if(reward_purchases) { %>
                            <tr>
                                <td> <%= _lp.MAIN_REWARD_CARD_PURCHASES %>: </td>
                                <td><%= reward_purchases %></td>
                            </tr>
                            <% } %>
                            <% if(stanfordCardBalances) { %>
                            <% _.each(stanfordCardBalances, function(stanfordCard) { %>
                            <tr>
                                <td>&ldquo;<%= stanfordCard.name %>&rdquo; <%= _lp.MAIN_STANFORD_CARD_BALANCE %>: </td>
                                <% if(stanfordCard.type == 'D') { %>
                                <td><%= symbol %><%= stanfordCard.balance %></td>
                                <% } else if(stanfordCard.balance == 1) { %>
                                <td><%= stanfordCard.balance %> <%= _lp.MAIN_STANFORD_CARD_BALANCE_MEAL %></td>
                                <%} else { %>
                                <td><%= stanfordCard.balance %> <%= _lp.MAIN_STANFORD_CARD_BALANCE_MEALS %></td>
                                <% } %>
                            </tr>
                            <% }); %>
                            <% } %>
                            <tr>
                                <td> <%= _lp.MAIN_TOTAL_AMOUNT_CHARGED %>: </td>
                                <td class='bold'><%= symbol %><%= total %></td>
                            </tr>
                        </table>
                        <div class="btn-wrapper">
                            <div class="btn btnReturn" tabindex="0">
                                <span class="clip"> <%= _lp.MAIN_RETURN_TO_MENU %> </span>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <a class="powered-by" target="_blank" href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"> </a>
    </footer>
    <% if (_settings.payment_processor.credit_card_button && Array.isArray(_settings.online_credit_card_types)) { %>
    <ul class="mercury-accepted-credit-cards">
        <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.VISA.toString()) > -1) { %>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/visa.png">
        </li>
        <% } %>
        <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.MASTERCARD.toString()) > -1) { %>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/mastercard.png">
        </li>
        <% } %>
        <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.MAESTRO.toString()) > -1) { %>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/maestro.png">
        </li>
        <% } %>
        <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.AMERICANEXPRESS.toString()) > -1) { %>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/amex.png">
        </li>
        <% } %>
        <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.DISCOVER.toString()) > -1) { %>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/discover.png">
        </li>
        <% } %>
        <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.DINERS.toString()) > -1) { %>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/dinersclub.png">
        </li>
        <% } %>
        <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.JCB.toString()) > -1) { %>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/jcb.png">
        </li>
        <% } %>
    </ul>
    <% } %>
</script>

<script type="text/template" id="main_profile-template">
    <section class="profile-container">
        <header id="header">
            <div class="back-btn primary-text"><span class="label"><%= _lp.BACK %></span></div>
            <h1 class="title text-center"></h1>
        </header>
        <div id="content"></div>
    </section>
    <footer class="profile-container">
        <a class="powered-by" target="_blank" href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"> </a>
    </footer>
    <div id="main-spinner"></div>
    <div id="profile-panel"></div>
</script>
