<script type="text/template" id="main_main-template">
    <header id='header' class='main_el'> </header>
    <section class='main_el'>
        <div id="content"></div>
    </section>
    <aside id='cart' class='main_el'> </aside>
    <footer class='main_el'>
        <span class='current_establishment'>
            <%= _lp.MAIN_CURRENT_STORE %>: <%= _settings.business_name %>
            <a class="change_establishment link1" href="javascript: void(0);"> <%= _lp.MAIN_CHANGE %> </a>
            <% if (isDirMode) { %> <%= _lp.MAIN_OR %> <% } %>
        </span>
        <% if(isDirMode) { %>
            <a class="go-to-directory link1" href="javascript: void(0);"> <%= _lp.MAIN_GOTO_DIRECTORY %> </a>
        <% } %>
        <a class="powered-by" target='_blank' href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
    </footer>
    <div class="popup">
        <div class='popoup_align'>
        </div>
        <div class='popup_wrapper'>
            <div id="popup" class="animation">
                <div class="cancel"></div>
            </div>
        </div>
    </div>
    <div id="main-spinner"></div>
    <% if(_settings.payment_processor.mercury) { %>
    <ul class="mercury-accepted-credit-cards">
        <li class="card-logo">
            <img class="imgCardLogo" src="img/visa.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/mastercard.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/amex.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/discover.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/dinersclub.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/jcb.png">
        </li>
    </ul>
    <% } %>
</script>

<script type="text/template" id="main_maintenance-template">
    <section class="maintenance">
        <a href="javascript: void(0);" class="back"> <%= _lp.MAIN_BACK %> </a>
        <div id="content">
            <p> <%= errMsg %> </p>
            <div class="btn reload"> <span class="clip"> <%= _lp.MAIN_RESTART %> </span> </div>
        </div>
    </section>
<footer>
    <% if(isDirMode) { %>
        <a class="go-to-directory link1" href="javascript: void(0);"> <%= _lp.MAIN_GOTO_DIRECTORY %> </a>
    <% } %>
    <a class="powered-by" target='_blank' href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
</footer>
</script>

<script type="text/template" id="main_done-template">
    <section class="confirm">
        <header id="header">
            <div class="logo">
                <img src=<%= logo %> alt="<%= business_name %> logo" class="logo">
            </div>
        </header>
        <div id="content">
            <div class="confirm_order">
                <div>
                    <% if (status !== 'error') { %>
                        <h2 class="confirmed_order_title"> <%= _lp.MAIN_ORDER_SUBMITTED %>. </h2>
                    <% } else { %>
                        <h2 class="confirmed_order_title confirmed_title_red"> <%= _lp.MAIN_ORDER_NOT_SUBMITTED %>. </h2>
                    <% } %>
                     <% if (status === 'error') { %>
                        <p class="confirmed-order-txt">
                            <%=message%>
                        </p>
                        <div class="btn btn-long btnReturn">
                            <span class="clip"> <%= _lp.MAIN_RETURN_TO_SUMMARY %> </span>
                        </div>
                     <% } else { %>
                        <table class="order-confirmed-detail">
                            <tr> <td colspan="2" class="email"> <%= _lp.MAIN_RECEIPT_SENT_TO %> <%= email %> </td> </tr>
                            <tr>
                                <td> <%= _lp.MAIN_ORDER_ID %>: </td>
                                <td><%= order_id %></td>
                            </tr>
                            <% if (false && !isOnlyGift && !isOrderFromSeat) { %>
                            <tr>
                                <td><%= pickup_type %>:</td>
                                <td><%= pickup_time_date %></td>
                            </tr>
                            <% } %>
                            <% if(false && isDeliverToSeat) { %>
                            <tr>
                                <td> <%= _lp.MAIN_DELIVERY_INFO %>: </td>
                                <td>
                                    <% if (level) { %> <%= _lp.MAIN_LEVEL %> <span> <%= level %>, </span> <% } %>
                                    <% if (section) { %> <%= _lp.MAIN_SECTION %> <span> <%= section %>, </span> <% } %>
                                    <% if (row) { %> <%= _lp.MAIN_ROW %> <span> <%= row %>, </span> <% } %>
                                    <% if (seat) { %> <%= _lp.MAIN_SEAT %> <span> <%= seat %> </span> <% } %>
                                </td>
                            </tr>
                            <% } %>
                            <% if(reward_points) { %>
                            <tr>
                                <td> <%= _lp.MAIN_REWARD_CARD_POINTS %>: </td>
                                <td><%= reward_points %></td>
                            </tr>
                            <% } %>
                            <tr>
                                <td> <%= _lp.MAIN_TOTAL_AMOUNT_CHARGED %>: </td>
                                <td class='bold'><%= symbol %><%= total %></td>
                            </tr>
                        </table>
                        <div class="btn btnReturn">
                            <span class="clip"> <%= _lp.MAIN_RETURN_TO_MENU %> </span>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <a class="powered-by" target="_blank" href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"> </a>
    </footer>
    <% if(_settings.payment_processor.mercury) { %>
    <ul class="mercury-accepted-credit-cards">
        <li class="card-logo">
            <img class="imgCardLogo" src="img/visa.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/mastercard.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/amex.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/discover.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/dinersclub.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/jcb.png">
        </li>
    </ul>
    <% } %>
</script>
