<script type="text/template" id="modifiers_matrix-template">
    <%= name %>
</script>

<script type="text/template" id="modifiers_list-template">
    <select class="modifiers modifiers-list select">
        <option value="-1" selected="selected"> <%= _lp.MODIFIERS_PLEASE_SELECT %> <%= name %> </option>
    </select>
</script>

<script type="text/template" id="modifiers_classes_item-template">
    <div class='modifiers_classes_title'><%= name %></div>
    <div class="modifier_class_list select-wrapper"></div>
</script>

<script type="text/template" id="modifiers_classes_list-template">
    <div class="modifier_classes"></div>
</script>

<script type="text/template" id="modifiers_classes_matrix-template">
    <div class="modifier_classes"></div>
</script>

<script type="text/template" id="modifiers_item-template">
</script>