<script type="text/template" id="myorder_list-template">
    <ul class="myorder"></ul>
    <ul class="discount"></ul>
    <ul class="service_fees"></ul>
</script>

<script type="text/template" id="myorder_item-template">
    <% if(!_settings.hide_images) { %>
    <div class="image">
        <img src=<%= image %> alt="<%= name %> logo<%= id %>" class="logo" data-default-index="1">
    </div>
    <% } %>
    <h3 class="s<%= price_length %> <% if(_settings.hide_images) {print('noimage');} %>">
        <% if(sold_by_weight) { %>
            <span class="name"><%= sizeModifier %> <%= name %></span>
        <% } else { %>
            <span class="name"><% if(!is_service_fee) { print("(" + quantity + ")") } %> <%= sizeModifier %> <%= name %></span>
        <% } %>
    </h3>
    <ul class="modifier_place">
        <% if(sold_by_weight) { %>
        <li class="special"><%= weight %> @ <%= currency_symbol %><%= initial_price %><%if(uom) { print("/" + uom ) }%></li>
        <% } %>
        <% if(is_gift) { %>
            <% if(planId && stanford_card_number) { %>
                <li class="special"> *** <%= _lp.STANFORD_CARD_NUMBER %>: <%= stanford_card_number %> </li>
            <% } else { %>
                <li class="special"> *** <%= _lp.MYORDER_ADD_AMOUNT_TO %> <%= gift_card_number %> </li>
            <% } %>
        <% } %>
        <% if(special) { %>
        <li class="special">*** <%= special %></li>
        <% } %>
    </ul>
    <% _.each(attrs, function(attr) { %>
    <div class="attrs <% if(_settings.hide_images) {print('noimage');} %>">
        <span><%= attr.name %></span>:
        <span><%= attr.value %></span>
    </div>
    <% }); %>
    <div class="cost <% if(_settings.hide_images) {print('noimage');} %>">
        <span class="currency_symbol"><%= currency_symbol %></span>
        <span class="price"><%= price_sum %></span>
    </div>
    <ul class="discount_place"></ul>
    <% if(id_product !== null) { %>
    <div class="btns <% if(_settings.hide_images) {print('noimage');} %>">
        <span class="edit"> <%= _lp.MYORDER_EDIT %> </span>
        <span class="divider"></span>
        <span class="remove"> <span> <%= _lp.MYORDER_REMOVE %> </span> </span>
    </div>
    <% } %>
    <div style="clear:both;"></div>
</script>

<script type="text/template" id="myorder_product_discount-template">
    <div class="attrs <% if(_settings.hide_images) {print('noimage');} %>">
        <span><%= discount_name %>:</span>
    </div>
    <div class="attrs <% if(_settings.hide_images) {print('noimage');} %>">
        <span class="currency_symbol">-<%= currency_symbol %></span>
        <span><%= discount_sum %></span>
    </div>
</script>

<script type="text/template" id="myorder_discount-template">
    <div class="attrs <% if(_settings.hide_images) {print('noimage');} %>">
        <span class="name discount"><%= discount_name %></span>
    </div>
    <div class="attrs <% if(_settings.hide_images) {print('noimage');} %>">
        <span class="currency_symbol">-<%= currency_symbol %></span>
        <span><%= discount_sum %></span>
    </div>
</script>

<script type="text/template" id="myorder_modifier-template">
    <span class="name"> <%= _lp.MYORDER_WEIGHT %> <%= name %> </span>
</script>

<script type="text/template" id="myorder_matrix-template">
    <div id='modifiers_popup'>
        <div class="info">
            <div class='product product_info'></div>
            <div class='product_attribute_info'></div>
        </div>
        <% if(_settings.online_orders) { %>
        <div class='quantity quantity_info'></div>
        <div class="action_button"> <span class="clip"> <%= _lp.MYORDER_ADD_TO_BAG %> </span> </div>
        <% } %>
    </div>
</script>

<script type="text/template" id="myorder_stanford_item-template">
    <div class="view view-1">
        <h3 class="name text-left"><%= name %></h3>
        <span class="info"><%= _lp.STANFORD_RELOAD_INFO1 %></span>
        <div class="row">
            <label for="stanford-card-amount"><%= _lp.AMOUNT %>:</label>
            <div class="input_beauty">
                <input id="stanford-card-amount" class="initial-price ios-safari-caret">
            </div>
        </div>
        <div class="card-wrapper"></div>
        <div class="btn next btn-popup fl-right"><%= _lp.NEXT %></div>
    </div>
    <div class="view view-2">
        <h3 class="name text-left"><%= _lp.STANFORD_CARD_CHOOSE_PLAN %></h3>
        <span class="info"><%= _lp.STANFORD_RELOAD_INFO2 %></span>
        <div class="plans-row">
            <span class="label"><%= _lp.STANFORD_CARD_NUMBER %>:</span>
            <span class="stanford-number"></span>
        </div>
        <div class="plans-row">
            <span class="label"><%= _lp.AMOUNT %>:</span>
            <span class="amount"></span>
        </div>
        <div class="plans"></div>
        <div class="btn add-item btn-popup fl-right"><%= _lp.MYORDER_ADD_ITEM %></div>
        <div class="btn back btn-popup fl-left"><%= _lp.BACK %></div>
    </div>
</script>