<script type="text/template" id="myorder_list-template">
    <ul class="myorder"></ul>
    <ul class="discount order-discount"></ul>
    <ul class="service_fees"></ul>
</script>

<script type="text/template" id="myorder_item-template">
    <% if(!_settings.hide_images && !is_service_fee) { %>
    <div class="image fl-left secondary-border text-center">
        <img src=<%= image %> alt="<%= name %> logo<%= id %>" class="img" data-default-index="1">
    </div>
    <% } %>
    <span class="item-sum fl-right bold"><%= currency_symbol %><%= product_sum %></span>
    <h3 class="name bold"><%= sizeModifier %> <%= name %></h3>
    <ul class="modifier_place sub-box">
        <% if(sold_by_weight) { %>
        <li class="special"><%= weight %> @ <%= currency_symbol %><%= initial_price %><%if(uom) { print("/" + uom ) }%></li>
        <% } %>
        <% if(special) { %>
        <li class="special">*** <%= special %></li>
        <% } %>
    </ul>
    <ul class="attrs sub-box">
    <% _.each(attrs, function(attr) { %>
        <li>
            <span><%= attr.name %></span>:
            <span><%= attr.value %></span>
        </li>
    <% }); %>
    </ul>
    <ul class="discount_place sub-box"></ul>
    <% if(id_product !== null) { %>
    <div class="qty-box text-right sub-box"></div>
    <div class="btns sub-box">
        <span class="edit btn" tabindex="0"><%= _lp.MYORDER_EDIT %></span>
        <span class="remove link fl-right" tabindex="0"><%= _lp.MYORDER_REMOVE %></span>
    </div>
    <% } %>
</script>

<script type="text/template" id="myorder_item_gift_card-template">
    <div class="logo">
        <span class="item-sum fl-right bold"></span>
        <div class="name">
            <div class="bold"><%= _settings.business_name %></div>
            <div class="bold card-type"><%= name %></div>
        </div>
        <div class="btns sub-box fl-right">
            <span class="edit btn" tabindex="0"><%= _lp.MYORDER_EDIT %></span>
            <span class="remove link" tabindex="0"><%= _lp.MYORDER_REMOVE %></span>
        </div>
        <div class="card-number"></div>
    </div>
</script>

<script type="text/template" id="myorder_product_discount-template">
    <span class="fl-right">
        <span class="currency_symbol">&minus;<%= currency_symbol %></span><span><%= discount_sum %></span>
    </span>
    <span><%= discount_name %>:</span>
</script>

<script type="text/template" id="myorder_discount-template">
    <span class="fl-right">
        <span class="currency_symbol bold">&minus;<%= currency_symbol %></span><span class="bold"><%= discount_sum %></span>
    </span>
    <span class="name discount bold"><%= discount_name %></span>
</script>

<script type="text/template" id="myorder_modifier-template">
    <span class="name"> <%= _lp.MYORDER_WEIGHT %> <%= name %> </span>
</script>

<script type="text/template" id="myorder_item_customization-template">
    <div class="cancel cancel-customization link" tabindex="0"></div>
</script>

<script type="text/template" id="myorder_matrix-template">
    <div class="product_info product_images"></div>
    <div class="product_info product_title right-side"></div>
    <div class="attr-line right-side inline-block">
        <div class="product_attribute_info fl-left"></div>
        <% if (_settings.online_orders) { %>
        <div class="quantity_info secondary-border fl-left"></div>
        <% } %>
    </div>
    <div class="product_info product_desc right-side"></div>
    <% if (_settings.online_orders) { %>
    <div class="right-side">
        <div class="action_button btn text-center" tabindex="0"><%= _lp.MYORDER_ADD_TO_BAG %></div>
    </div>
    <% } %>
</script>

<script type="text/template" id="myorder_stanford_reload-template">
    <div class="col card-view fl-left">
        <h3 class="header-underline"><%= _lp.GIFT_CARD_RELOAD_TITLE %></h3>
    </div>
    <div class="col fl-left">
        <h3 class="header-underline refill"><%= _lp.GIFT_CARD_RELOAD_REFILL %></h3>
        <div class="amount-box">
            <span class="currency optional-text"><%= _settings.currency_symbol %></span>
            <input type="text" class="amount initial-price input">
            <span class="inline-block optional-text"><%= _lp.GIFT_CARD_RELOAD_ENTER_AMOUNT %></span>
        </div>
        <div class="stanford-plans-box"></div>
        <% if (_settings.online_orders) { %>
        <div class="action_button btn text-center border-box" tabindex="0"><%= _lp.MYORDER_ADD_TO_BAG %></div>
        <% } %>
    </div>