<script type="text/template" id="product_list-template">
    <ul class="products"></ul>
</script>

<script type="text/template" id="product_list_item-template">
    <% if(!hide_images) { %>
    <div class="product_image <% if(isDefaultImage) print('no-photo'); %>">
        <img src="<%= image %>" alt="logo for <%= name %>[<%= id %>]" <% if(/safari/i.test(navigator.userAgent) && !/chrome/i.test(navigator.userAgent)) print('class="safari"'); %>>
    </div>
    <% } %>
    <dl class="s<%= price_length %>">
        <dt class="name"><%= name %></dt>
        <dd class='cost_block'>
            <div class='cost'>
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="price"><%= price %></span>
                <% if(sold_by_weight && uom) { %>
                <span class="uom">/ <%= uom %></span>
                <% } %>
            </div>
        </dd>
    </dl>
</script>

<script type="text/template" id="product_modifiers-template">
    <% if(!hide_images) { %>
        <div class='img_wrapper'>
            <img class="block_img img large" src="<%= images[0] %>" alt="<%= name %> <%= id %>" />
        </div>
    <% } %>
    <dl class="vertical-scrollbar">
        <dt class='name'>
            <%= name %>
            <span class="cost">
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="price"><%= price %></span>
                <% if(sold_by_weight && uom) { %>
                <span class="uom">/ <%= uom %></span>
                <% } %>
            </span>
        </dt>
        <dd class="vertical-scrollbar"><%= description %></dd>
        <dd class="size_chart_wrapper"><a href="#" target="_blank" class="link1 size_chart"><%= _lp.PRODUCTS_SIZE_CHART %></a></dd>
    </dl>

    <% if (is_gift && _settings.online_orders) { %>
    <div class='gift_card'>
        <span class="message"> <%= _lp.PRODUCTS_ENTER_GIFT_CARD %>. </span>
        <span class="clip"> <%= _lp.PRODUCTS_GIFT_CARD_NUMBER %>: </span>
        <div class="input_beauty">
            <input type="text" name="gift_card_number" value='<%= gift_card_number %>' class="gift_card_number" />
        </div>
    </div>
    <% } %>
    <% if (is_gift && not_size && _settings.online_orders) { %>
    <div class='gift_card'>
        <span class="clip"> <%= _lp.PRODUCTS_AMOUNT %>: </span>
        <div class="input_beauty">
            <input type="text" id="price" name="gift_card_price" value='<%= price %>' class="gift_card_price price" />
        </div>
    </div>
    <% } %>
    <div class='clear'></div>
    <% if(!hide_images) { %>
    <ul class="images horizontal-scrollbar">
    <% if (images.length > 1) _.each(images, function(image, i) {%>
        <li data-index="<%= i %>"><img class="block_img img" src="<%= images[i] %>" alt="<% print('[' + i + ']' + name + ' ' + id); %>"></li>
    <% });
       else { %>
        <div class='space'></div>
    <% } %>
    </ul>
    <% } %>
</script>