<script type="text/template" id="profile_panel-template">
    <div class="close"></div>
    <div class="links fl-right">
        <div class="signup-link link fl-left"><%= _lp.PROFILE_SIGN_UP_LINK %></div>
        <div class="login-link link fl-left"><%= _lp.PROFILE_LOG_IN %></div>
        <div class="logged-as fl-left">asdasdasdasdsss</div>
    </div>
    <div class="sign-up-box box text-center"></div>
    <div class="log-in-box box text-center"></div>
    <div class="menu-items box text-center"></div>
    <div class="reset-password-box box text-center"></div>
</script>

<script type="text/template" id="profile_log_in-template">
    <ul class="profile-form">
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_PASSWORD %>" class="pwd ios-safari-caret input-colors">
        </li>
    </ul>
    <div class="forgot-password link primary-text text-left"><%= _lp.PROFILE_FORGOT_PASSWORD %></div>
    <div class="login-btn flat-btn primary-button"><%= _lp.PROFILE_LOG_IN %></div>
</script>

<script type="text/template" id="profile_sign_up-template">
    <ul class="profile-form">
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_FIRST_NAME %>" class="first-name ios-safari-caret">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_LAST_NAME %>" class="last-name ios-safari-caret">
        </li>
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret" autocorrect="off" autocapitalize="none">
        </li>
        <li class="required">
            <input type="tel" placeholder="<%= _lp.PROFILE_PHONE %>" class="phone ios-safari-caret">
            <span class="phone-privacy regular-text text-left"><%= _lp.PROFILE_PHONE_PRIVATE %></span>
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_PASSWORD %>" class="password ios-safari-caret">
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_REENTER_PASSWORD %>" class="password-confirm ios-safari-caret">
            <span class="passwords-mismatch text-left attention-text"><%= _lp.PROFILE_PASSWORDS_MISMATCH %></span>
        </li>
    </ul>
    <div class="signup-btn flat-btn primary-button"><%= _lp.PROFILE_SIGN_UP_BUTTON %></div>
</script>

<script type="text/template" id="profile_menu-template">
    <ul class="profile-items text-left">
        <li class="profile-link"><%= _lp.PROFILE_EDIT_TITLE %></li>
        <li class="payments-link"><%= _lp.PAYMENT_METHODS %></li>
        <li class="logout-link"><%= _lp.PROFILE_LOG_OUT %></li>
    </ul>
</script>

<script type="text/template" id="profile_edit-template">
    <div class="left-side side text-center border-box fl-left">
        <h2 class="title"><%= _lp.PROFILE_BASIC_DETAILS %></h2>
        <div class="basic-details-box"></div>
        <h2 class="title"><%= _lp.PROFILE_CHANGE_PASSWORD %></h2>
        <div class="account-password-box"></div>
    </div>
    <div class="right-side side text-center border-box">
        <h2 class="title"><%= _lp.PROFILE_ADDRESS %></h2>
        <div class="address-box"></div>
    </div>
    <div class="successful-update animation"><%= _lp.PROFILE_UPDATE_SUCCESSFUL %></div>
    <div class="update-btn flat-btn"><%= _lp.UPDATE %></div>
</script>

<script type="text/template" id="profile_basic_details-template">
    <ul class="profile-form text-center">
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_FIRST_NAME %>" class="first-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_LAST_NAME %>" class="last-name ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
        </li>
        <li class="required">
            <input type="tel" placeholder="<%= _lp.PROFILE_PHONE %>" class="phone ios-safari-caret input-colors">
            <span class="phone-privacy regular-text fl-left"><%= _lp.PROFILE_PHONE_PRIVATE %></span>
        </li>
    </ul>
</script>

<script type="text/template" id="profile_address-template">
    <ul class="profile-form text-center">
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE1 %>" class="street_1 ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_ADDRESS_LINE2 %>" class="street_2 ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" placeholder="<%= _lp.PROFILE_CITY %>" class="city ios-safari-caret input-colors">
        </li>
        <li>
            <div class="select-wrapper input-colors country-wrapper" data-placeholder="<%= _lp.CHOOSE_COUNTRY %>">
                <select class="country"></select>
            </div>
        </li>
        <li class="state-row">
            <div class="select-wrapper input-colors state-wrapper" data-placeholder="<%= _lp.CHOOSE_STATE %>">
                <select class="state"></select>
            </div>
        </li>
        <li class="province-row">
           <input type="text" placeholder="<%= _lp.PROFILE_PROVINCE %>" class="province ios-safari-caret input-colors">
        </li>
        <li>
            <input type="text" class="zipcode ios-safari-caret input-colors">
        </li>
    </ul>
</script>

<script type="text/template" id="profile_account_password-template">
    <ul class="profile-form text-center">
        <li class="account-password">
            <input type="password" placeholder="<%= _lp.PROFILE_ENTER_CURRENT_PASSWORD %>" class="current-password ios-safari-caret input-colors">
        </li>
        <li class="account-password">
            <input type="password" placeholder="<%= _lp.PROFILE_ENTER_NEW_PASSWORD %>" class="new-password ios-safari-caret input-colors">
        </li>
    </ul>
</script>

<script type="text/template" id="profile_owner_contacts-template">
    <div class="contact-info regular-text">
        <dfn class="contact-title"><%= _lp.PROFILE_CONTACT %>:</dfn>
        <a href="" class="phone contact-link"></a>
    </div>
    <div class="website-info regular-text">
        <dfn class="contact-title"><%= _lp.PROFILE_WEBSITE %>:</dfn>
        <a href="" target="_blank" class="website contact-link"></a>
    </div>
</script>

<script type="text/template" id="profile_reset_password-template">
    <div class="reset-password-info"><%= _lp.PROFILE_PASSWORD_RESET_INFO %></div>
    <ul class="profile-form">
        <li class="required">
            <input type="email" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors" autocorrect="off" autocapitalize="none">
        </li>
    </ul>
    <div class="reset-btn flat-btn"><%= _lp.PROFILE_CHANGE_PASSWORD %></div>
</script>

<script type="text/template" id="profile_payment_selection-template">
    <span class="card-type"></span> &mdash; ****<span class="card-number"></span>
</script>

<script type="text/template" id="profile_payments_selection-template">
    <ul class="payments-list"></ul>
</script>

<script type="text/template" id="profile_payments-template">
    <div class="left-side side text-center border-box">
        <h2 class="title"><%= _lp.PROFILE_CREDIT_CARDS %></h2>
        <div class="payments-box"></div>
    </div>
    <div class="right-side side text-center border-box">
        <h2 class="title"><%= _lp.GIFT_CARDS %></h2>
        <div class="gift-cards-box"></div>
        <h2 class="title"><%= _lp.REWARD_CARDS %></h2>
        <div class="reward-cards-box"></div>
    </div>
    <div class="successful-update animation clear"><%= _lp.PROFILE_UPDATE_SUCCESSFUL %></div>
    <div class="update-btn flat-btn"><%= _lp.UPDATE %></div>
</script>

<script type="text/template" id="profile_payment_edition-template">
    <div class="card-title">
        <span class="card-type"></span> &mdash; ****<span class="card-number"></span>
    </div>

    <div class="remove-btn"></div>

    <ul class="profile-form">
        <li>
            <input type="text" placeholder="Card Name (First & Last)" class="card-holder" disabled>
        </li>
        <li>
            <input type="text" placeholder="Card Number" class="card-num" disabled>
        </li>
        <li>
            <label class="profile-checkbox">
                <input type="checkbox" class="card-default"><i class="input checkbox"></i> <%= _lp.PROFILE_DEFAULT_CARD %>
            </label>
        </li>
    </ul>
</script>

<script type="text/template" id="profile_payments_edition-template">
    <ul class="payments-list"></ul>
</script>

<script type="text/template" id="profile_gift_card_selection-template">
    <span class="card-number"></span>
    <span class="balance-line">&mdash; <%= _loc.BALANCE %>: <span class="balance-value"></span></span>
</script>

<script type="text/template" id="profile_gift_cards_selection-template">
    <ul class="gift-cards-list"></ul>
</script>

<script type="text/template" id="profile_gift_card_edition-template">
    <span class="card-number"></span>
    <span class="balance-line">&mdash; <%= _loc.BALANCE %>: <span class="balance-value"></span></span>
    <div class="remove-btn"></div>
</script>

<script type="text/template" id="profile_gift_cards_edition-template">
    <ul class="gift-cards-list"></ul>
    <div class="add_gift_card_title_wrap">
        <div class="add_gift_card_title primary-text"><span class="plus_sign"></span><%= _loc.PROFILE_ADD_NEW_GIFT_CARD %></div>
    </div>
    <div class="profile-form">
        <div class="new_gift_card"></div>
    </div>
</script>

<script type="text/template" id="profile_giftcard-template">
    <div>
        <input type="text" id="cardNumber" placeholder="<%= _lp.GIFTCARD_NUMBER %>" class="number number-input" value="<%= cardNumber %>" min="0">
    </div>
    <div>
        <input autocomplete="off" id="id_captcha_key" name="captcha_key" type="hidden">
        <input autocomplete="off" id="id_captcha_value" name="captcha_value" type="text" placeholder="<%= _lp.GIFTCARD_CAPTCHA %>" class="captcha-input ios-safari-caret input-colors">
    </div>
    <div class="captcha_container">
        <div class="captcha_wrap">
            <img class="captcha" width="100%" height="100%">
            <div class="captcha-spinner"></div>
        </div>
        <div class="flat-btn btn-reload" tabindex="0"> <span> <%= _lp.GIFTCARD_RELOAD %> </span> </div>
    </div>
</script>

<script type="text/template" id="profile_reward_card_selection-template">
    <span class="card-number"></span>
    <span class="apply-link link"><%= _lp.CHECKOUT_APPLY %></span>
</script>

<script type="text/template" id="profile_reward_cards_selection-template">
    <ul class="reward-cards-list"></ul>
</script>

<script type="text/template" id="profile_reward_card_edition-template">
    <span class="card-number"></span>
    <div class="remove-btn"></div>
</script>

<script type="text/template" id="profile_reward_cards_edition-template">
    <div class="reward-cards-list-wrap">
        <ul class="reward-cards-list"></ul>
        <div class="add_reward_card_title_wrap">
            <div class="add_reward_card_title primary-text"><span class="plus_sign"></span><%= _loc.PROFILE_ADD_NEW_REWARD_CARD %></div>
        </div>
        <div class="profile-form">
            <div class="new_reward_card"></div>
        </div>
    </div>
</script>

<script type="text/template" id="profile_rewardcard-template">
    <div>
        <input type="text" placeholder="<%= _lp.GIFTCARD_NUMBER %>" class="number number-input rewards-input">
    </div>
    <div>
        <input autocomplete="off" id="id_captcha_key" name="captcha_key" type="hidden">
        <input autocomplete="off" id="id_captcha_value" name="captcha_value" type="text" placeholder="<%= _lp.GIFTCARD_CAPTCHA %>" class="captcha-input rewards-captcha-input ios-safari-caret input-colors">
    </div>
    <div class="captcha_container">
        <div class="captcha_wrap">
            <img src="" alt="" width="100%" height="100%" class="captcha-image">
            <div class="captcha-spinner"></div>
        </div>
        <div class="flat-btn btn-reload update-captcha" tabindex="0"> <span> <%= _lp.GIFTCARD_RELOAD %> </span> </div>
    </div>
</script>

<script type="text/template" id="profile_payment_cvv-template">
    <h2 class="title primary-text"><%= _lp.CVV_REQUIRED %></h2>
    <span class="cvv-required-info"><%= _lp.CVV_REQUIRED_INFO %></span>
    <div class="input_beauty">
        <input type="text" class="cvv ios-safari-caret input-colors">
    </div>
</script>