<script type="text/template" id="profile_panel-template">
    <div class="close"></div>
    <div class="links fl-right">
        <div class="signup-link link fl-left"><%= _lp.PROFILE_SIGN_UP %></div>
        <div class="login-link link fl-left"><%= _lp.PROFILE_LOG_IN %></div>
        <div class="logged-as fl-left">asdasdasdasdsss</div>
    </div>
    <div class="sign-up-box box text-center"></div>
    <div class="log-in-box box text-center"></div>
    <div class="menu-items box text-center"></div>
</script>

<script type="text/template" id="profile_log_in-template">
    <ul class="profile-form">
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret input-colors">
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_PASSWORD %>" class="pwd ios-safari-caret input-colors">
        </li>
    </ul>
    <div class="forgot-password link primary-text text-left"><%= _lp.PROFILE_FORGOT_PASSWORD %></div>
    <div class="login-btn btn primary-button"><%= _lp.PROFILE_LOG_IN %></div>
</script>

<script type="text/template" id="profile_sign_up-template">
    <ul class="profile-form">
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_FIRST_NAME %>" class="first-name ios-safari-caret">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_LAST_NAME %>" class="last-name ios-safari-caret">
        </li>
        <li class="required">
            <input type="text" placeholder="<%= _lp.PROFILE_EMAIL_ADDRESS %>" class="email ios-safari-caret">
        </li>
        <li class="required">
            <input type="tel" placeholder="<%= _lp.PROFILE_PHONE %>" class="phone ios-safari-caret">
            <span class="phone-privacy regular-text text-left"><%= _lp.PROFILE_PHONE_PRIVATE %></span>
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_PASSWORD %>" class="password ios-safari-caret">
        </li>
        <li class="required">
            <input type="password" placeholder="<%= _lp.PROFILE_REENTER_PASSWORD %>" class="password-confirm ios-safari-caret">
            <span class="passwords-mismatch text-left attention-text"><%= _lp.PROFILE_PASSWORDS_MISMATCH %></span>
        </li>
    </ul>
    <div class="signup-btn btn primary-button"><%= _lp.PROFILE_SIGN_UP %></div>
</script>

<script type="text/template" id="profile_menu-template">
    <ul class="profile-items text-left">
        <li class="profile-link"><%= _lp.PROFILE %></li>
        <li class="payments-link"><%= _lp.PAYMENTS %></li>
        <li class="settings-link"><%= _lp.SETTINGS %></li>
        <li class="logout-link"><%= _lp.PROFILE_LOG_OUT %></li>
    </ul>
</script>