<script type="text/template" id="quantity_main-template">
<!--
    <span class="title">How many?</span>
    <div class="select-wrapper">
        <select class="quantity_select select"></select>
    </div>
-->
    <span class="title">How many?</span>
    <div class='quantity_select combobox-wrapper l2'>
        <select>
        </select>
    </div>
</script>

<script type="text/template" id="quantity_weight-template">
    <div class="quantity_weight_wrapper">
    <span class="title">Enter weight:</span>
    <div class='weight_edit'>
        <div class='weight_edit_inner input_beauty'>
            <input class="weight_edit_input" value="<%= weight %>">
        </div>
    </div>
    </div>
</script>