<script type="text/template" id="recaptcha_main-template">
   <div class="captcha_container"></div>
</script>

<script type="text/template" id="rewards_card-template">
    <div class="label optional-text required text-left"><%= _lp.REWARDS_NUMBER %>:</div>
    <input type="text" class="ios-safari-caret rewards-input input">
    <div class="recaptcha_view"></div>
</script>

<script type="text/template" id="rewards_info-template">
    <div class="header primary-border inline-block text-left">
        <ul class="rewards-total fl-right">
            <li class="total-row total-row-points">
                <span><%= _lp.REWARDS_TOTAL_POINTS %></span>
                <span class="total-points-redemption total-redemption fl-right attention-text">(−<span class="total-points-redemption__value"></span>)</span>
                <span class='total-points value fl-right primary-text'></span>
            </li>
            <li class="total-row total-row-visits">
                <span><%= _lp.REWARDS_TOTAL_VISITS %></span>
                <span class="total-visits-redemption total-redemption fl-right attention-text">(−<span class="total-visits-redemption__value"></span>)</span>
                <span class='total-visits value fl-right primary-text'></span>
            </li>
            <li class="total-row total-row-purchase">
                <span><%= _lp.REWARDS_TOTAL_PURCHASES %></span>
                <span class="total-purchases-redemption total-redemption fl-right attention-text">(−<span class="total-purchases-redemption__value"></span>)</span>
                <span class='total-purchases value fl-right primary-text'></span>
            </li>
        </ul>
        <h3 class="title header-text bold"><%= _lp.REWARDS_POINTS_INFO %></h3>
        <span class="subtitle"><%= _lp.REWARDS_NUMBER %> &ndash;</span>
        <span class="subtitle rewards-number"></span>
    </div>
    <div class="rewards-box text-left">
        <div class="item-rewards-box box primary-border">
            <h3 class="rewards-group header-text bold"><%= _lp.REWARDS_ITEM_REWARDS %></h3>
            <ul class="item-rewards"></ul>
        </div>
        <div class="visit-rewards-box box primary-border">
            <h3 class="rewards-group header-text bold"><%= _lp.REWARDS_VISIT_REWARDS %></h3>
            <ul class="visit-rewards"></ul>
        </div>
        <div class="purchase-rewards-box box primary-border">
            <h3 class="rewards-group header-text bold"><%= _lp.REWARDS_PURCHASE_REWARDS %></h3>
            <ul class="purchase-rewards"></ul>
        </div>
        <span class="rewards-unavailable"><%= _lp.REWARDS_UNAVAILABLE %></span>
    </div>
</script>

<script type="text/template" id="rewards_item-template">
    <span class="checkbox primary-border"></span>
    <span class="reward__discount-amount"></span> <span class="reward__discount-text"></span>
    <span class="fl-right points">
        <span class="reward__redemption-amount"></span>&nbsp;<span class="reward__redemption-text"></span>
    </span>
</script>