<script type="text/template" id="rewards_card-template">
    <div class="popup-background">
        <h3><%= _lp.REWARDS_INFORMATION %></h3>
        <label for="rewardsCardNumber"><%= _lp.REWARDS_NUMBER %>:</label>
        <div class="input_beauty">
            <input type="text" id="rewardsCardNumber" class="ios-safari-caret rewards-input">
        </div>
        <div class="captcha">
            <img src="" alt="" width="100%" height="100%" class="captcha-image">
            <div class="captcha-spinner"></div>
        </div>
        <span class="rewards-card-btn update-captcha"><%= _lp.GIFTCARD_RELOAD %></span>
        <label for="rewardsCaptcha"><%= _lp.GIFTCARD_CAPTCHA %>:</label>
        <div class="input_beauty">
            <input type="text" id="rewardsCaptcha" class="ios-safari-caret rewards-captcha-input">
        </div>
    </div>
    <div class="btn submit-card"><%= _lp.CONFIRM_SUBMIT %></div>
</script>

<script type="text/template" id="rewards_info-template">
    <div class="popup-background">
        <h3><%= _lp.REWARDS_INFORMATION %></h3>
        <span class='rewards-title'><%= _lp.REWARDS_NUMBER %>:</span>
        <span class="rewards-number"></span>
        <ul class="rewards-total">
            <li class="rewards-total__item rewards-total__item_points">
                <div class="rewards-total__item-title"><%= _lp.REWARDS_TOTAL_POINTS %></div>
                <span class='total-points color-style1'></span>
            </li>
            <li class="rewards-total__item rewards-total__item_visits">
                <div class="rewards-total__item-title"><%= _lp.REWARDS_TOTAL_VISITS %></div>
                <span class='total-visits color-style1'></span>
            </li>
            <li class="rewards-total__item rewards-total__item_purchases">
                <div class="rewards-total__item-title"><%= _lp.REWARDS_TOTAL_PURCHASES %></div>
                <span class='total-purchases color-style1'></span>
            </li>
        </ul>
    </div>
    <span class="info"><%= _lp.REWARDS_SELECTION_INFO %></span>
    <div class="popup-background">
        <h3 class="rewards-available"><%= _lp.REWARDS_AVAILABLE %></h3>
        <div class="reward-selection-wrapper">
            <div class="reward-selection-inner">
                <ul class="reward-selection"></ul>
            </div>
        </div>
        <span class="rewards-unavailable"><%= _lp.REWARDS_UNAVAILABLE %></span>
    </div>
    <div class="btn apply-reward"><%= _lp.REWARDS_APPLY %></div>
</script>

<script type="text/template" id="rewards_item-template">
    <div class="reward color-style1">
        <div class="reward__name"></div>
        <div class="reward__discount">
            <span class="reward__discount-amount"></span> <span class="reward__discount-text"></span>
        </div>
        <div class="reward__redemption">
            (<span class="reward__redemption-amount"></span>&nbsp;<span class="reward__redemption-text"></span>)
        </div>
    </div>
</script>