<script type="text/template" id="stanfordcard_main-template">
    <div class="inline-block">
        <div class="label required optional-text"><%= _lp.GIFTCARD_NUMBER %></div>
        <div class="ctrl-box">
            <input type="text" id="stanfordCardNumber" class="number-input input ctrl-input size3">
            <label class="ctrl-wrapper cancel">
                <input type="button" class="ctrl cancel-input hide">
            </label>
        </div>
    </div>
    <div class="recaptcha_view inline-block"></div>
    <div class="btn-submit btn stanford-verify inline-block text-center" tabindex="0"><%= _lp.STANFORD_VERIFY %></div>
</script>

<script type="text/template" id="stanfordcard_plans-template">
    <div class="card_title header-underline"><%= _lp.STANFORD_SELECT_PLAN %></div>
    <ul class="list"></ul>
</script>

<script type="text/template" id="stanfordcard_plan-template">
    <span class="name optional-text"></span>
    <span class="balance"></span>
</script>

<script type="text/template" id="stanfordcard_student-template">
    <h3 class="student-status-question"><%= _lp.STANFORD_STUDENT_QUESTION %></h3>
    <p class="stanford-student-instructions"><%= _lp.STANFORD_STUDENT_INSTRUCTIONS %></p>
</script>

<script type="text/template" id="stanfordcard_popup-template">
    <div class="label required optional-text"><%= _lp.STANFORD_CARD_RELOAD_ENTER_NUMBER %></div>
    <input type="text" class="number-input input">
    <div class="recaptcha_view"></div>
</script>

<script type="text/template" id="stanfordcard_reload-template">
    <div class="card-box primary-border card-gradient-bg">
        <div class="logo">
            <div><%= _settings.business_name %></div>
            <div><%= _lp.CHECKOUT_STANFORD_CARD %></div>
        </div>
        <div class="card-number-box">
            <div class="card-label optional-text"><%= _lp.STANFORD_CARD_RELOAD_ENTER_NUMBER %></div>
            <div class="ctrl-box">
                <input type="text" class="number-input input ctrl-input">
                <label class="ctrl-wrapper cancel">
                    <input type="button" class="ctrl cancel-input hide">
                </label>
            </div>
        </div>
    </div>
    <div class="recaptcha_view"></div>
    <div class="btn-submit btn stanford-verify border-box text-center" tabindex="0"><%= _lp.STANFORD_VERIFY %></div>
</script>