<script type="text/template" id="store_info_about-template">
    <div class='about_content'>
        <% if (title.length == 0 && content.length == 0 && images.length == 0) {
                content = "No information";
           }
        %>

        <% if (title.length > 0) { %>
           <h2><%= title %></h2>
        <% } %>

        <% if (images.length > 0) { %>
            <div class='gallery'>
            </div>
       <% } %>

       <p><%= content %></p>
   </div>
</script>

<script type="text/template" id="store_info_map-template">
    <div class='info_map_wrapper'>
        <div id="mapBox"></div>
        <div class="view_larger_map"> View <a href="" target="_blank" class='map_url'> </a> in a larger map </div>
        <% if(phone || address || access) { %>
        <table class="info_location">

            <% if(address instanceof Object) { %>
                <tr>
                    <td>Address:</td>
                    <td>
                        <address class="desc">
                            <div><%= address.business_name %></div>
                            <div><%= address.line1 %></div>
                            <div><%= address.line2 %></div>
                        </address>
                    </td>
                </tr>
            <% } %>

            <% if(timetable) { %>
            <tr class="hours">
                <td>Hours:</td>
                <td>
                    <ul>
                        <% _.each(timetable, function(day, i) { %>
                        <li class="row <%= (timetable.length - 1 == i ? 'last' : i == 0 ? 'first' : '') %>">
                            <% if(day.hours instanceof Array) { %>
                                <span class="weekDay"><%= day.weekDay %></span>
                               <span class="time">
                                <% _.each(day.hours, function(day, i) { %>
                                <%= day.from %>&nbsp;&ndash;&nbsp;<%= day.to %><br>
                                <% }); %>
                                </span>
                            <% } else if(day.hours) { %>
                                <span class="weekDay"><%= day.weekDay %></span>
                                <span class="time">Round the clock</span>
                            <% } else { %>
                                <span class="weekDay"><%= day.weekDay %></span>
                                <span class="time closed">Closed</span>
                            <% } %>
                            <div class='clear'></div>
                        </li>
                        <% }); %>
                    </ul>
                </td>
            <tr>
            <% } %>

            <% if(phone) { %>
            <tr>
                <td>Phone:</td>
                <td>
                    <a class="phone" href="tel:<%= phone %>"><%= phoneFormat(phone) %></a>
                </td>
            </tr>
            <% } %>

            <% if(access_to_location) { %>
            <tr>
                <td>Access:</td>
                <td><%= access_to_location %></td>
            </tr>
            <% } %>

        </table>
        <% } %>
    </div>
</script>