<script type="text/template" id="store_info_about-template">
    <div class='about_content vertical-scrollbar'>
        <% if (title.length == 0 && content.length == 0 && images.length == 0) {
                content = "No information";
           }
        %>

        <% if (title.length > 0) { %>
           <h2><%= title %></h2>
        <% } %>

        <% if (images.length > 0) { %>
            <div class='gallery'>
            </div>
       <% } %>

       <p><%= content %></p>
   </div>
</script>

<script type="text/template" id="store_info_map-template">
    <div class='info_map_wrapper vertical-scrollbar'>
        <div id="mapBox"></div>
        <div class="view_larger_map">
            <%= _lp.STORE_INFO_VIEW %> <a href="" target="_blank" class="map_url"> </a> <%= _lp.STORE_INFO_IN_LARGER_MAP %>
        </div>
        <% if (phone || email || address || access) { %>
            <table class="info_location">

                <% if(address instanceof Object) { %>
                    <tr>
                        <td> <span class="clip"> <%= _lp.STORE_INFO_ADDRESS %>: </span> </td>
                        <td>
                            <address class="desc">
                                <div><%= address.business_name %></div>
                                <div><%= address.line1 %></div>
                                <div><%= address.line2 %></div>
                            </address>
                        </td>
                    </tr>
                <% } %>

                <% if(timetable) { %>
                <tr class="hours">
                    <td> <span class="clip"> <%= _lp.STORE_INFO_HOURS %>: </span> </td>
                    <td>
                        <ul>
                            <% _.each(timetable, function(day, i) { %>
                            <li class="row <%= (timetable.length - 1 == i ? 'last' : i == 0 ? 'first' : '') %>">
                                <% if(day.hours instanceof Array) { %>
                                    <div class="weekDay"> <span class="clip"> <%= _lp['DAYS_OF_WEEK'][day.weekDay] %> </span> </div>
                                    <div class="time">
                                        <%
                                            _.each(day.hours, function(day, i) {
                                                var hours = day.from + '&nbsp; &ndash; &nbsp;' + day.to;
                                        %>
                                                <span class="clip" title="<%= hours %>"> <%= hours %> </span>
                                        <%
                                            });
                                        %>
                                    </div>
                                <% } else if(day.hours) { %>
                                    <span class="weekDay"><%= _lp['DAYS_OF_WEEK'][day.weekDay] %></span>
                                    <span class="time"> <%= _lp.STORE_INFO_ROUND_THE_CLOCK %> </span>
                                <% } else { %>
                                    <span class="weekDay"><%= _lp['DAYS_OF_WEEK'][day.weekDay] %></span>
                                    <span class="time closed"> <%= _lp.STORE_INFO_CLOSED %> </span>
                                <% } %>
                                <div class='clear'></div>
                            </li>
                            <% }); %>
                        </ul>
                    </td>
                <tr>
                <% } %>

                <% if(phone) { %>
                <tr>
                    <td> <span class="clip"> <%= _lp.STORE_INFO_PHONE %>: </span> </td>
                    <td>
                        <a class="phone" href="tel:<%= phone %>"><%= phoneFormat(phone) %></a>
                    </td>
                </tr>
                <% } %>

                <% if (email) { %>
                    <tr>
                        <td> <span class="clip"> <%= _lp.STORE_INFO_EMAIL %>: </span> </td>
                        <td> <a class="email" href="mailto:<%= email %>"> <%= email %> </a> </td>
                    </tr>
                <% } %>

                <% if(access_to_location) { %>
                <tr>
                    <td> <span class="clip"> <%= _lp.STORE_INFO_ACCESS %>: </span> </td>
                    <td><%= access_to_location %></td>
                </tr>
                <% } %>

            </table>
        <% } %>
    </div>
</script>