<script type="text/template" id="store_info_main-template">
    <div class="left-col fl-left primary-bg">
        <h3 class="header-underline"><%= _lp.STORE_INFO_BUSINESS_INFO %></h3>
        <div class="block">
            <span class="bold label"><%= _lp.STORE_INFO_ADDRESS %>:</span>
            <div class="inline-block">
                <div class="address-line1"></div>
                <div class="address-line2"></div>
            </div>
        </div>
        <div class="phone block">
            <span class="bold label"><%= _lp.STORE_INFO_PHONE %>:</span>
            <div class="inline-block">
                <a href="tel:" class="phone-number primary-text link"></a>
            </div>
        </div>
        <div class="email-wrap block">
            <span class="bold label"><%= _lp.STORE_INFO_EMAIL %>:</span>
            <div class="inline-block">
                <a href="mail:" class="email primary-text link"></a>
            </div>
        </div>
        <% if(Array.isArray(hours)) { %>
        <div class="timetables block">
            <span class="bold label"><%= _lp.STORE_INFO_HOURS%>:</span>
            <ul class="inline-block">
                <% _.each(hours, function(day, i) { %>
                <li class="day-line">
                    <% if(day.hours instanceof Array) { %>
                        <span class="weekDay bold"><%= _lp['DAYS_OF_WEEK_SHORT'][day.weekDay] %></span>
                        <span class="inline-block">
                            <% _.each(day.hours, function(day, i) { %>
                                <%= day.from %>&nbsp;&ndash;&nbsp;<%= day.to %><br>
                            <% }); %>
                        </span>
                    <% } else if(day.hours) { %>
                        <span class="weekDay bold"><%= _lp['DAYS_OF_WEEK_SHORT'][day.weekDay] %></span>
                        <span><%= _lp.STORE_INFO_ROUND_THE_CLOCK %></span>
                    <% } else { %>
                        <span class="weekDay bold"><%= _lp['DAYS_OF_WEEK_SHORT'][day.weekDay] %></span>
                        <span class="closed attention-text"><%= _lp.STORE_INFO_CLOSED %></span>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </div>
        <% } %>
        <div class="access block">
            <span class="bold label"><%= _lp.STORE_INFO_ACCESS %>:</span>
            <div class="access-info inline-block"></div>
        </div>
    </div>
    <div class="right-col">
        <h3 class="header-underline"><%= _lp.STORE_INFO_OUR_STORY %></h3>
        <div class="gallery"></div>
        <div class="desc"></div>
    </div>
</script>

<script type="text/template" id="store_info_gallery-template">
    <div class="images"></div>
    <ul class="points text-center"></ul>
    <input type="hidden" class="syncer">
</script>

<script type="text/template" id="store_info_image_point-template"></script>

<script type="text/template" id="store_info_store_item-template">
    <span class="radio"></span>
    <div class="inline-block">
        <div class="name bold"></div>
        <div class="line-1"></div>
        <div class="line-2"></div>
    </div>
</script>

<script type="text/template" id="store_info_map-template">
    <div class="left-col fl-left primary-bg">
        <h3 class="header-underline"><%= _lp.STORE_INFO_FIND_US %></h3>
        <div class="stores-box">
            <ul class="stores-list"></ul>
        </div>
    </div>
    <div class="right-col">
        <h3 class="header-underline"><%= _lp.HEADER_MAP %></h3>
        <div id="mapBox"></div>
        <div class="show-delivery-area primary-text link"><%= _lp.STORE_INFO_MAP_SHOW_DELIVERY_AREA %></div>
    </div>
</script>