<script type="text/template" id="tips_main-template">
    <div>
        <label><span class="bold">Tip:</span></label>
        <div class="tips">
            <ul class="tips <% if(isFirefox) { %>firefox<% } %>">
                <li>
                    <label class="radio">
                        <input type="radio" name="tips" class="tipCash"  value="0">
                        <span class="pseudo-radio"></span>
                        <span>Tip in Cash</span>
                    </label>
                </li>
                <li>
                    <label class="radio on-credit-card">
                        <input type="radio" name="tips" class="tipCreditCard" value="1">
                        <span class="pseudo-radio"></span>
                        <span class="credit">Tip on Credit Card <span class="line">or choose an amount...</span></span>
                    </label>
                    <label class="number">
                        <div class="currency_sym"> <span> <%=currency_symbol%> </span> </div>
                        <div class="input_beauty animation">
                            <input type="text" class="amount tipAmount animation <% if(iPad) print('ipad') %>" value="0.00">
                        </div>
                    </label>
                </li>
                <li>
                    <span class="btn animation unselectable" data-amount="10">10%</span>
                    <span class="btn animation unselectable" data-amount="15">15%</span>
                    <span class="btn animation unselectable" data-amount="20">20%</span>
                    <span class="btn animation unselectable" data-amount="other">Other</span>
                </li>
            </ul>
        </div>
    </div>
</script>