<script type="text/template" id="total_main-template">
    <span>Subtotal:</span>
    <span class="currency_symbol"><%= _settings.currency_symbol %></span>
    <span class="total"></span>
</script>

<script type="text/template" id="total_checkout-template">
    <li class="total_discounts">
        <span class="title">Discounts:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="discount"></span>
        </span>
    </li>
    <li>
        <span class="title">Subtotal:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="subtotal"></span>
        </span>
    </li>
    <li class="delivery-charge">
        <span class="title delivery_charge_title"></span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="delivery-charge"></span>
        </span>
    </li>
    <li class="delivery_discount_item">
        <span class="title delivery_discount_title"></span>
        <span class="cost">
            <span class="currency_symbol">-<%= _settings.currency_symbol %></span>
            <span class="delivery-discount"></span>
        </span>
    </li>   
    <li class="surcharge_item">
        <span class="title">Surcharge:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="surcharge"></span>
        </span>
    </li>
    <li>
        <span class="title">Tax:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="tax"></span>
        </span>
    </li>
    <li>
        <span class="title bold">Grand Total:</span>
        <span class="cost">
            <span class="currency_symbol bold"><%= _settings.currency_symbol %></span>
            <span class="grandtotal bold"></span>
        </span>
    </li>
</script>
