<script type="text/template" id="total_main-template">
    <span class="currency_symbol"><%= _settings.currency_symbol %></span><span class="total"></span>
</script>

<script type="text/template" id="total_checkout-template">
    <li class="total_discounts total-item">
        <span class="title"><%= _lp.TOTAL_DISCOUNTS %>:</span>
        <span class="fl-right">
            <span class="currency_symbol">&minus;<%= _settings.currency_symbol %></span><span class="discount"></span>
        </span>
    </li>
    <li class="shipping_charge_item total-item">
        <span class="title"><%= _lp.TOTAL_SHIPPING %>:</span>
        <span class="fl-right">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span><span class="shipping_charge"></span>
        </span>
    </li>
    <li class="shipping_discount_item total-item">
        <span class="title"><%= _lp.TOTAL_SHIPPING_DISCOUNT %>:</span>
        <span class="fl-right">
            <span class="currency_symbol">&minus;<%= _settings.currency_symbol %></span><span class="shipping_discount"></span>
        </span>
    </li>
    <li class="total-item">
        <span class="title"><%= _lp.TOTAL_SUBTOTAL %>:</span>
        <span class="fl-right">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span><span class="subtotal"></span>
        </span>
    </li>
    <li class="surcharge_item total-item">
        <span class="title"><%= _lp.TOTAL_SURCHARGE %>:</span>
        <span class="fl-right">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span><span class="surcharge"></span>
        </span>
    </li>
    <li class="total-item">
        <span class="title"><%= _lp.TOTAL_TAX %>:</span>
        <span class="fl-right">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span><span class="tax"></span>
        </span>
    </li>
    <li class="grand-total header-text primary-border">
        <span class="title"><%= _lp.TOTAL_GRAND_TOTAL %>:</span>
        <span class="fl-right">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span><span class="grandtotal"></span>
        </span>
    </li>
</script>