* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -o-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -ms-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

/* color #1 - blue */
.font-color1 {
    color: #670000;
}

.font-color-active1:not([disabled]):active {
    color: #670000;
}

.bg-color1 {
    background-color: #670000;
}

.bg-color-active1:not([disabled]):active {
    background-color: #670000;
}

.border-color1, input:focus, .select-wrapper:focus {
    border-color: #670000;
}

.border-color-active1:not([disabled]):active {
    border-color: #670000;
}

/* [white] header background */
.font-color2, .reward-selection li.active::after, .stanford-plan.active::after {
    color: #fff;
}

.font-color-active2:not([disabled]):active {
    color: #fff;
}

.border-color2 {
    border-color: #fff;
}

/* [white] main background */
.bg-color2 {
    background-color: #fff;
}

.bg-color-active2:not([disabled]):active {
    background-color: #fff;
}

/* [dark] main font color */
.font-color3 {
    color: #464646;
}

/* [dark] menu background */
.bg-color3 {
    background-color: #464646;
}

.bg-color-active3:not([disabled]):active {
    background-color: #464646;
}


/* [grey] menu font color */
.font-color4 {
    color: #81888e;
}

/* [dark] modifiers font color */
.font-color5 {
    color: #717d8b;
}

.border-color5 {
    border-color: #717d8b;
}

/* [green] modifier price color */
.font-color6 {
    color: #00a200;
}

/* [sky blue] header buttons */
.font-color7 {
    color: #bce0f0;
}

.font-color-active7:not([disabled]):active {
    color: #bce0f0;
}

/* [grey] header buttons */
.font-color8 {
    color: #93a6ad;
}

.bg-color8 {
    color: #93a6ad;
}

/* [red] product info (modifiers view)*/
.bg-color9 {
    background-color: #980000;
}

.font-color9 {
    color: #980000;
}

/* color #10 - blue/grey */
.font-color10 {
    color: #d6e3e9;
}

.bg-color10 {
    background-color: #969696;
}

.border-color10 {
    border-color: #d6e3e9;
}

/* color #11 - red */
.font-color11 {
    color: #cb2222;
}

/* color #12 - grey */
.bg-color12 {
    background-color: #f0f2f4;
}

.text-shadow1 {
    text-shadow: 1px 1px #fff;
}

#header .btn-cart {
    background: #bce0f0;
}

#header .btn-cart[data-count]::after {
    border-color: #fff;
    background: #f22828;
}

#header .btn-cart:not([data-count="0"]):active {
    background-color: #8ed0ff;
}

.tabs::after {
    background-color: #d00000;
}

.tab-center {
    border-color: #5f6972;
}

.list > li {
    border-color: #d6e3e9;
}

.list > li::after {
    color: #d1d6d9;
}

.list-title {
    background: -moz-linear-gradient(left,  transparent 0%, #f4f7f8 35%, #f4f7f8 65%, transparent 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(35%, #f4f7f8), color-stop(65%, #f4f7f8), color-stop(100%, transparent)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  transparent 0%, #f4f7f8 35%, #f4f7f8 65%, transparent 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(left, transparent 0%, #f4f7f8 35%, #f4f7f8 65%, transparent 100%); /* IE10+ */
    background: linear-gradient(to right, transparent 0%, #f4f7f8 35%, #f4f7f8 65%, transparent 100%); /* W3C */
    border-color: #d6e3e9;
}

.list-title::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTUiIGhlaWdodD0iOCI+PHBvbHlnb24gcG9pbnRzPSIwLDAgIDE1LDAgIDgsOCIgc3R5bGU9ImZpbGw6I2Y0ZjdmODsiLz48bGluZSB4MT0iMCIgeTE9IjAiIHgyPSI4IiB5Mj0iOCIgc3R5bGU9InN0cm9rZS13aWR0aDoxO3N0cm9rZTojZDZlM2U5Ii8+PGxpbmUgeDE9IjgiIHkxPSI4IiB4Mj0iMTUiIHkyPSIwIiBzdHlsZT0ic3Ryb2tlLXdpZHRoOjE7c3Ryb2tlOiNkNmUzZTkiLz48bGluZSB4MT0iMCIgeTE9IjAiIHgyPSIxNSIgeTI9IjAiIHN0eWxlPSJzdHJva2Utd2lkdGg6MTtzdHJva2U6I2Y0ZjdmOCIvPjwvc3ZnPg==');
    background-position: 50%;
    background-size: 2.5em 1.33em;
}

#header .btn-cart {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE2MCI+PGRlZnM+PHBhdGggaWQ9ImJhZyIgZmlsbD0iIzAxMmY1MCIgZD0iTTAsMTYwIEwwLDIwIEwyMCwyMCBMMjAsMCBMOTAsMCBMOTAsMTAgTDQwLDEwIEw0MCwyMCBMOTAsMjAgTDkwLDkwIEE0MCw0MCAwIDAsMSA1MCw1MCBBMTAsMTAgMCAxLDAgNDAsNTAgQTUwLDUwIDAgMCwwIDkwLDEwMCBMOTAsMTYwIHoiLz48L2RlZnM+PHVzZSB4PSIwIiB5PSIwIiB4bGluazpocmVmPSIjYmFnIi8+PHVzZSB4PSI5MCIgeT0iMCIgeGxpbms6aHJlZj0iI2JhZyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjY1LDApIHNjYWxlKC0xLCAxKSIvPjwvc3ZnPg==');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.product-modifiers input:not([readonly]) {
    border: 1px solid #fff;
}

.quantity, .modifier_class_wrapper .modifiers,
.myorder.items > li, .bag_charge.items > li,
.discount.items > li, .service_fees.items > li {
    border-color: #d6e3e9;
}

.modifier input:checked + .input {
    background: #670000;
    border-color: #670000;
}

.modifier .mdf_split::before {
    color: #670000;
}

.totals-checkout, .tip-selection {
    box-shadow: 0 0 rgba(0,0,0,.3);
}

.required::before {
    color: #ff0000;
}

.reward-selection li.active, .stanford-plan.active {
    background-color: rgba(202, 38, 38, 0.2);
}

/** establishments styles **/
.establishments[class] {
    background: rgba(0,0,0,.7);
}

.establishments[class] .select-wrapper::after {
    color: #373c40;
}

.establishments[class] select, .establishments[class] button {
    color: #670000 !important;
}


/** popup alert styles **/
#popup_alert[id] {
    background-color: rgba(0,0,0,.7);
}

#popup_container[id] {
    background-color: #eaf3f9;
    color: #373c40;
}

#popup_content[id].info::before {
    color: #1a99cd;
}

#popup_content[id].warning::before {
    color: #ad8a00;
}

#popup_ok[id], #popup_cancel[id]:active {
    background-color: #670000;
    color: #fff;
}

#popup_cancel[id], #popup_ok[id]:active {
    box-shadow: 0 0 1px rgba(26, 153, 205, 0.31);
    background-color: #fff;
    color: #670000;
}