.card li {
    margin: 1.4em 0;
}

.card li input {
    width: 100%;
}

.card .exp > * {
    display: inline-block;
    vertical-align: middle;
}

.card .select-wrapper {
    margin-left: 1em;
}

.address .select-wrapper {
    width: auto;
    margin-right: 0em;
    margin-left: 0em;
}

#rememberCard {
    margin-right: 0.2em;
}

/* [checkbox] checked checkbox background */
#use_profile_address {
    display: inline-block;
}
.billing_address .input,
.card__remember .input {
    vertical-align: middle;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 0.2em;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    line-height: 0.9em;
    margin-right: 0.3em;
}

.input.checkbox::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 0.8em;
}

.profile-checkbox .input.checkbox::before,
.card__remember .input.checkbox::before {
    display: none;
}

.profile-checkbox input:checked + .input.checkbox::before,
.card__remember .input.checkbox[checked]::before {
    display: inline-block;
}

.checkbox-outer .title_wrapper {
    width: 92%;
}
.billing_address .inactive
{
    opacity: 0.5;
}
.billing_address .select-wrapper select[disabled=disabled] {
    opacity: 0.7;
}

