/* main mod start  */

#content ul.card {
    margin-top: 2em;
}

#content ul.card li {
    display: block;
    width: 90%;
    margin: 0 auto 2em;
    position: relative;
    height: 7em;
}

#content ul.card li.exp:after {
    background: transparent;
}

#content ul.card li.required:before {
    content: '*';
    position: absolute;
    color: #f00;
    font-size: 3em;
    left: -0.8em;
    z-index: 1;
    font-weight: bold;
}

#content ul.card input {
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: 3em;
    height: 100%;
    width: 100%;
    border-radius: 0;
    position: relative;
    z-index: 1;
    text-indent: 0.2em;
}

#content ul.card span {
    font-size: 3em;
    display: inline-block;
    width: 32%;
    height: 100%;
    float: left;
    line-height: 2em;
}

#content ul.card .label {
    display: inline-block;
    height: 100%;
    width: 30%;
    position: relative;
    z-index: 0;
}

#content ul.card label {
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 3em;
    position: relative;
    background: #fff;
    z-index: 1;
    overflow: hidden;
}

#content ul.card .label:first-child {
    float: left;
}

#content ul.card .label:last-child {
    float: right;
}

#content ul.card label:before {
    content: '\f0d7';
    display: block;
    font-size: 1.5em;
    position: absolute;
    right: 0.2em;
    top: 0.3em;
    z-index: 0;
    color: #cacaca;
    font-family: FontAwesome;
}

#content ul.card .border:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-image: -o-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
}

#content ul.card select {
    width: 150%;
    height: 100%;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border-radius: 0;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    position: relative;
    z-index: 1;
    background: transparent;
    border: none;
    text-indent: 0.2em;
}

#content ul.card.firefox select {
    color: transparent;
    text-shadow: 0 0 #464646;
}

#content ul.card.firefox label {
    line-height: 2.4em;
}

#content ul.card.firefox label:before {
    top: 0;
}


#content ul.card .btn-reload {
    font-size: 2.8em;
    font-weight: bold;
    color: #3F7CA4;
    border: solid 0.32em #c3dce9;
    box-shadow: 0.10em 0.25em 0.5em #a09d9d, inset 0em 0em 0.5em #e8e8e8;
    border-radius: 3em;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-color: #ffffff;
    text-align: center;
    height: 80%;
    display: inline-block;
    position: relative;
}


/* main mod end */
