/* main mod start */

#content ul.categories {
    width: 100%;
    list-style: none;
}

/* main mod end */
/* item mod start */

#content ul.categories li {
    height: 14.2em;
    width: 100%;
    border-bottom: 1px solid #a8c4d8;
    position: relative;
    cursor: pointer;
}
#content ul.categories .block_img {
    display: table;
    height: 11.8em;
    margin: 1.2em 0em 0em 1.2em;
    padding: 0em;
    position: absolute;
    width: 11.8em;
    border-collapse: collapse;
}
#content ul.categories .block_img > div {
    background: white;
    display: table-cell;
    height: 11.8em;
    margin: 0em;
    padding: 0em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 11.8em;
}
#content ul.categories .block_img div img {
    border: none;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 11.8em;
    max-width: 11.8em;
    padding: 0em;
    width: auto;
}
#content ul.categories dl {
    position: absolute;
    left: 15.4em;
    right: 7em;
    bottom: 0;
    top: 0;
}
#content ul.categories dl.noimage {
    left: 1.8em;
}

#content ul.categories dt {
    font-size: 2.4em;
    margin-top: 2em;
    font-weight: bold;
}

#content ul.categories dd {
    font-size: 1.8em;
    margin-top: 0.1em;
}

#content ul.categories dt, #content ul.categories dd {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#content ul.categories li:after {
    content: '';
    display: block;
    width: 4.5em;
    height: 4.5em;
    margin-top: -2.25em;
    position: absolute;
    top: 50%;
    right: 2em;
    background: url('../img/menu_choice_arrow.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
}

#content ul.categories li:active:after {
    background-position: 100% 0;
}

#content ul.categories li:active {
    box-shadow: 0 0 6em rgba(0, 170, 234, 0.3) inset;
}

#content ul.categories .timetables {
    font-style: italic;
}

/* item mod end */
