/* checkout main mod start */
#content .checkout dd {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

#content .checkout .input {
    display: block;
    height: 2em;
    font-size: 3em;
    font-family: inherit;
    color: inherit;
    width: 100%;
    position: relative;
    margin-bottom: 1.5em;
    left: 0;
    right: 0;
    top: 0;
}

#content .checkout .required:before {
    content: '*';
    position: absolute;
    font-size: 1em;
    left: -0.8em;
    z-index: 1;
    font-weight: bold;
}

#content .checkout .select-wrapper.required:before {
    font-size: 3em;
}

#content .checkout .input input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: inherit;
    text-indent: 0.2em;
    position: relative;
    z-index: 1;
    border-radius: 0;
}

.label.select-wrapper {
    margin-bottom: 4.5em;
}

#content .checkout .firstName,
#content .checkout .lastName {
    text-transform: capitalize;
}

#content .checkout .input:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
}

#content .checkout .select {
    font-size: 3em;
    margin-bottom: 1.5em;
}

#content .checkout dl {
    text-align: center;
}

#content .checkout dt {
    display: inline-block;
    width: 90%;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    padding: 0.8em 0;
}

#content .checkout .pickup {
    padding: 0 0 0.8em;
}

#content .checkout .border:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
}

#content .checkout.firefox label.select:before {
    top: 0.03em;
}

#content .checkout dt.rewardCard {
    padding-top: 0;
}

#content .checkout .input.rewardCard {
    top: 0 !important;
    margin-bottom: 2.0em;
}

#content .checkout input.firstName, #content .checkout input.lastName, #content .checkout input[name="city"],
#content .checkout input[name="address_line1"], #content .checkout input[name="address_line2"] {
    text-transform: capitalize;
}


/* checkout main mod start */
/* chekcout order type mod start */
/* checkout main mod start */

#content .checkout.checkout-order-type dd {
    height: 7em;
}

#content .checkout .email {
    text-transform: none;
}
/* chekcout order type mod end */
#content .myorderNote {
    position: absolute;
    bottom: 0;
    left: 1.5em;
    right: 1.5em;
    height: 13.5em;
    padding: 0em 0 0.8em;
}

#content .myorderNote .note_text {
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    padding: 0.3em 0;
}

#content .myorderNote .note_field {
    width: 90%;
    height: 3.3em;
    font-size: 2.4em;
    margin: 0.2em auto;
    position: relative;
}

#content .myorderNote .note_field:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: 0;
}

#content .myorderNote textarea {
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    border-radius: 0;
    font-size: inherit;
    font-family: inherit;
    position: relative;
    z-index: 1;
}

.shipping-status.img-spinner {
    float: right;
    height: 6em;
    width: 6em;
    display: inline-block;
    font-size: 0.36em;
    top: -5.8em;
    right: 0.5em;
    border: none;
    box-shadow: none !important;
}

/* Mercury accepted credit card */
.mercury-accepted-credit-cards {
    border-bottom: 1px solid #a8c4d8;
    padding-bottom: 1.5em;
    margin: 1.5em;
    text-align: center;
}
.card-logo {
    display: inline-block;
    margin-left: 1.3em;
}
.imgCardLogo {
    height: 4em;
}

.checkout .rewards-card-btn {
    float: right;
    padding-top: 0.5em;
    font-size: 1.0em;
}
