/* checkout main mod start */
#content .checkout dd {
    width: 90%;
    height: 42em;
    position: relative;
    margin: 0 auto;
}

#content .checkout dd.contact_info {
    height: 40em !important;
}

#content .checkout dd.contact_info.address-without-states {
    height: 83em !important;
}

#content .checkout dd.contact_info.address-with-states {
    height: 93em !important;
}

#content .checkout dd.contact_info.delivery-to-seat-1 {
    height: 52em !important;
}
#content .checkout dd.contact_info.delivery-to-seat-2 {
    height: 62em !important;
}
#content .checkout dd.contact_info.delivery-to-seat-3 {
    height: 72em !important;
}
#content .checkout dd.contact_info.delivery-to-seat-4 {
    height: 82em !important;
}

#content .checkout dd:last-child {
    height: 17em;
}

#content .checkout .input {
    display: block;
    height: 2em;
    font-size: 3em;
    font-family: inherit;
    color: inherit;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#content .checkout .input.required:before {
    content: '*';
    position: absolute;
    font-size: 1em;
    left: -0.8em;
    z-index: 1;
    font-weight: bold;
}

#content .checkout .input input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: inherit;
    text-indent: 0.2em;
    position: relative;
    z-index: 1;
    border-radius: 0;
}

#content .checkout .contact_info > .input:nth-child(2) {
    top: 3.5em;
}

#content .checkout .contact_info > .input:nth-child(3) {
    top: 7em;
}

#content .checkout .contact_info > .input:nth-child(4) {
    top: 10.5em;
}

#content .checkout .contact_info > div {
    position: relative;
    top: 42em;
}

#content .checkout div > .label:nth-child(2) {
    top: 3.5em;
}

#content .checkout div > .label:nth-child(3) {
    top: 7em;
}

#content .checkout div > .label:nth-child(4) {
    top: 10.5em;
}

#content .checkout div > div.label:nth-child(4) {
    top: 31.5em;
}

#content .checkout div > .label:nth-child(5) {
    top: 14em;
}

#content .checkout .firstName,
#content .checkout .lastName {
    text-transform: capitalize;
}

#content .checkout .input:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
}

#content .checkout .select {
    font-size: 3em;
}

#content .checkout dt {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    padding: 0.8em 0;
}

#content .checkout .pickup {
    padding: 0 0 0.8em;
}

#content .checkout .border:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
}

#content .checkout.firefox label.select:before {
    top: 0.03em;
}

#content .checkout dd.rewardCard {
    height: 11em;
}

#content .checkout .input.rewardCard {
    top: 0 !important;
}

#content .checkout input.firstName, #content .checkout input.lastName, #content .checkout input[name="city"],
#content .checkout input[name="address_line1"], #content .checkout input[name="address_line2"] {
    text-transform: capitalize;
}


/* checkout main mod start */
/* chekcout order type mod start */
/* checkout main mod start */

#content .checkout.checkout-order-type dd {
    height: 7em;
}

#content .checkout .email {
    text-transform: none;
}
/* chekcout order type mod end */
#content .myorderNote {
    position: absolute;
    bottom: 0;
    left: 1.5em;
    right: 1.5em;
    height: 16em;
    padding: 0.5em 0 0.8em;
}

#content .myorderNote .note_text {
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    padding: 0.3em 0;
}

#content .myorderNote .note_field {
    width: 90%;
    height: 3.5em;
    font-size: 2.4em;
    margin: 0.2em auto;
    position: relative;
}

#content .myorderNote .note_field:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: 0;
}

#content .myorderNote textarea {
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    border-radius: 0;
    font-size: inherit;
    font-family: inherit;
    position: relative;
    z-index: 1;
}
