.checkout input {
    margin: 0.7em 0;
    width: 98%;
    border-width: 1px;
    border-style: solid;
}

.checkout .select-wrapper {
    width: 98%;
    margin: 0.7em auto;
    display: inline-block;
}

.checkout .input-control {
    display: block;
    width: 98%;
    margin: 0 auto;
}

.checkout .input-control input {
    width: 100%;
}

.checkout .rewards-card-btn {
    padding-right: 1.5em;
}

.checkout .block {
    padding: 0.6em 0;
}

.checkout .img-spinner {
    position: absolute !important;
    font-size: 0.4em;
    top: 50%;
    right: 8em;
}

.checkout-discount-code .input-control {
    margin: 2em 0 0;
    width: 19em;
}

.checkout-discount-code h3 {
    font-weight: 200;
}

.checkout .required::before {
    top: 0.6em;
}

.checkout input.pikaday {
    -webkit-user-select: none;
    -moz-user-select: none; /* does not work on some FF versions, workaround below */
    -ms-user-select: none;
    user-select: none; /* disable text selection and hide cursor btw */
    text-indent: 0.6em;
    width: 100%;
    height: 100%;
    margin: auto 0;
    padding: 0;
}

.checkout input.pikaday:focus {
    color: transparent; /* hide the blinking cursor */
    text-shadow: 0px 0px 0px #000; /* show input text only */
}

/**/
.checkout-short {
    margin-top: 2em;
    position: relative;
}

.checkout-short .title {
    padding: 0 0.6em;
}

.checkout-short .block {
    padding: 0.4em 0;
}

.checkout-short .select-wrapper {
    width: 100%;
    margin: 0;
}

.checkout-short-left {
    display: inline-block;
    width: 40% !important;
}

.checkout-short-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 55% !important;
}

.checkout-short .pickup-box {
    position: relative;
    padding: 0.2em 0;
}

.checkout-short .pickup-box::after {
    content: '';
    width: 5%;
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10%;
    margin-top: -1px;
    z-index: 0;
}

.checkout-short .pickup-item {
    position: relative;
    z-index: 1;
}

.checkout-lines {
    margin-top: 0.5em;
}

.checkout.checkout-lines input,
.checkout.checkout-lines .select-wrapper {
    width: 100%;
}