/* main mod start */
#content .done {
    width: 100%;
    height: 100%;
}

#content .done .thanks {
    display: inline-block;
    width: 100%;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding-top: 1em;
}

#content .done .orderCompleted {
    margin-top: 3em;
}

#content .done .orderCompleted dt, #content .done .orderCompleted dd {
    float: left;
    font-size: 2.8em;
    max-height: 8em;
    line-height: 2em;
}

#content .done .orderCompleted dt {
    width: 50%;
    font-weight: bold;
    text-align: right;
}

#content .done .orderCompleted dd {
    width: 50%;
    text-align: left;
}

#content .done .orderCompleted dd > span {
    padding-left: 0.2em;
    display: inline-block;
}

#content .done .orderCompleted dt > span {
    padding-right: 0.2em;
}

#content .done .orderCompleted .line {
    white-space: nowrap;
}

#content .done .orderCompleted .currency_symbol {
    position: relative;
    left: 0.2em;
}

/* main mod end */
/* error mod start */

#content .done .error {
    display: inline-block;
    position: absolute;
    top: 2em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    font-size: 2.8em;
    text-align: center;
}

/* error mod end */