/* main mod start */
#footer .footer {
    bottom: 0;
    height: 10.2em;
    position: absolute;
    width: 100%;
}

#footer ul {
    list-style: none;
    height: 100%;
    width: 100%;
}

#footer li {
    float: left;
    height: 100%;
}

#footer li.left, #footer li.right {
    width: 38%;
}

#footer li.center {
    width: 24%;
    position: relative;
}

#footer #about, #footer #location, #footer #myorder {
    display: block;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
}

#footer #about, #footer #location {
    width: 19.1em;
}

#footer #myorder {
    height: 115%;
    width: 15.5em;
    margin-left: -7.75em;
    position: absolute;
    bottom: 5%;
    left: 50%;
}

#footer #about span, #footer #location span, #footer #myorder span {
    font-size: 2.2em;
    color: #fff;
    position: relative;
    top: 2.3em;
}

#footer #myorder span {
    top: 3.9em;
}

#footer #about, #footer #location, #footer #myorder {
    text-align: center;
}

#footer #about {
    height: 80%;
    position: relative;
    top: 10%;
}

#footer #about:before {
    content: '\f02d';
    display: block;
    font-family: FontAwesome;
    position: absolute;
    top: 0.05em;
    left: 50%;
    color: #fff;
    font-size: 4.5em;
    margin-left: -0.4em;
}

#footer #location {
    height: 80%;
    position: relative;
    top: 10%;
}

#footer #location:before {
    content: '\f041';
    display: block;
    font-family: FontAwesome;
    position: absolute;
    top: 0.05em;
    left: 50%;
    color: #fff;
    font-size: 4.5em;
    margin-left: -0.5em;
    width: 1em;
    text-align: center;
}

#footer #myorder {
    background: url('../img/myorder.png') no-repeat 50% 30% #444;
    background-size: 50%;
}

#footer #myorder .count {
    position: absolute;
    padding: 0.1em 0.45em;
    top: 15%;
    right: 10%;
    border-radius: 2.3em;
    display: none;
    background: #00aaea;
}

/* main mod end */
/* checkout mod start */

#footer ul.checkout li{
    width:100%;
    position: relative;
}

#footer ul.checkout div {
    position: absolute;
    top: 1em;
    bottom: 1em;
    line-height: 8em;
    text-align: center;
    left:4em;
    right:4em;
}

#footer ul.checkout span {
    font-size: 3em;
    color: #fff;
}

#footer #placeOrder {
    left: 2em;
    right: 4em;
}

#footer #creditCard {
    left: 4em;
    right: 2em;
}

/* checkout mod end */
/* card mod start */

#footer ul.card li{
    width: 50%;
    position: relative;
}

#footer ul.card div {
    position: absolute;
    top: 1em;
    bottom: 1em;
    line-height: 8em;
    text-align: center;
}

#footer ul.card span {
    font-size: 3em;
    color: #fff;
}

#footer ul.card #cancel {
    left: 8em;
    right: 4em;
}

#footer ul.card #proceed {
    left: 4em;
    right: 8em;
}

/* card mod end */
/* confirm mod start */

.doubleFooter_section {
    margin-bottom: 10.2em;
}

.tripleFooter_section {
    margin-bottom: 20.4em;
}

#footer ul.confirm {
    height: 100%;
}

#footer ul.confirm.double {
    position: absolute;
    bottom: 100%;
}

#footer ul.confirm.triple {
    position: absolute;
    bottom: 200%;
}

/*#footer ul.confirm.double li:not(:last-child):not(.half),
#footer ul.confirm.double li.half + li.half:not(:last-child),,*/
#footer ul.confirm.double li:not(:last-child),
#footer ul.confirm.triple li:not(:last-child) {
    background: #545454;
}

#footer ul.confirm.double li:last-child:before,
#footer ul.confirm.triple li:last-child:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: -1px;
}

#footer ul.confirm li{
    width: 100%;
    position: relative;
}

#footer ul.confirm .half {
    width:50%;
    height: 100%;
    position: relative;
    float: left;
}

#footer ul.confirm div {
    position: absolute;
    top: 1em;
    bottom: 1em;
    line-height: 8em;
    text-align: center;
    left:4em;
    right:4em;
}

#footer ul.confirm div span {
    font-size: 3em;
    color: #fff;
}

#footer #pay {
    right: 4em;
    left: 2em;
}

#footer #creditCard {
    right: 2em;
    left: 4em;
}

#footer .btn1 img {
    vertical-align: text-bottom;
    height: 1em;
}

/* confirm mod end */
/* done, maintenance mod start */

#footer #returnToMenu, #footer #reload {
    position: absolute;
    top: 1em;
    bottom: 1em;
    right: 10em;
    left: 10em;
    text-align: center;
    line-height: 8em;
}

#footer #returnToMenu span, #footer #reload span {
    color: #fff;
    font-size: 3em;
}

/* done, maintenance mod end */

.promo_message_internal {
    display: block;
    position: absolute;
    top: 1000em;
    white-space: nowrap;
}

.promo_message {
    color: #fff;
    display: none;
    font-family: helvetica neue;
    font-size: 2.5em;
    font-weight: italic;
    height: 2.5em;
    margin-top: -2.5em;
    text-align: center;
}