#header {
    min-height: 7em;
    z-index: 100;
}

#header.hidden {
    z-index: -1;
}

#header > * {
    margin: 0 1.4em;
}

#header h1 {
    text-align: center;
    padding: 0 13em;
}

/*#header h1.sm {
    padding: 0 15em;
}*/

#header h1::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 7em;
    vertical-align: middle;
}

#header .title {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
}

#header .btn-header {
    display: inline-block;
    height: 7em;
}

#header .btn-cart {
    width: 5em;
    height: 4em;
    margin: 1.5em 0.5em;
    border-radius: 1em;
    position: relative;
}

#header .btn-cart.qty-visible::after {
    content: attr(data-count);
    display: block;
    padding: 0.15em 0.5em;
    border-radius: 1em;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    color: inherit;
    top: -0.4em;
    right: -0.4em;
    font-size: 2em;
    text-align: center;
}

#header .btn-back {
    display: block;
    min-width: 12em;
    line-height: 7em;
    margin-right: 1em;
}

#header .btn-back::before {
    content: '\f104';
    font-family: FontAwesome;
    font-size: 4.5em;
    color: inherit;
    vertical-align: middle;
}

#header .btn-back-title {
    display: inline-block;
    font-weight: 200;
    vertical-align: middle;
    padding-left: 0.4em;
}

#header .btn-profile {
    display: block;
    width: 3em;
    line-height: 7em;
    margin-right: 1em;
    margin-left: 1em;
}

#header .btn-profile::before {
    content: "\f0c9";
    font-family: FontAwesome;
    font-size: 3em;
    color: inherit;
    display: block;
    height: 1em;
}

#header .btn-search {
    display: block;
    width: 5em;
    height: 5em;
    margin-top: 1em;
    margin-left: 1em;
    text-align: center;
}

#header .btn-search::before {
    content: '\f002';
    font-family: FontAwesome;
    font-size: 3em;
    color: inherit;
    display: block;
    height: 1em;
    margin-top: .3em;
}

#header .btn-link {
    line-height: 7em;
    font-weight: 200;
    width: 15em;
}

.tabs {
    height: 5.5em;
    line-height: 5.5em;
    padding: 1em 0;
    margin: 0 -1.4em;
    position: relative;
}

.tabs::after {
    content: '';
    display: block;
    width: 30%;
    height: 1em;
    position: absolute;
    bottom: 0;
    -webkit-transition: left linear 0.2s, right linear 0.2s;
    -moz-transition: left linear 0.2s, right linear 0.2s;
    -ms-transition: left linear 0.2s, right linear 0.2s;
    transition: left linear 0.2s, right linear 0.2s;
}

.tabs[data-active-tab="0"]::after {
    left: 1.5%;
}

.tabs[data-active-tab="1"]::after {
    left: 35%;
}

.tabs[data-active-tab="2"]::after {
    left: 68.5%;
}

.tabs > li {
    display: block;
    padding: 0 1.4em;
    width: 33%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.tabs li.tab-center {
    width: 34%;
    border-width: 0 1px;
    border-style: solid;
}

.tabs span {
    font-size: 2.2em;
    text-transform: uppercase;
    pointer-events: none;
}

.main {
    position: relative;
}

.main .search {
    height: 7.5em;
    line-height: 8.2em;
    position: absolute;
    right: -1.4em;
    left: -1.4em;
    top: 7em;
    z-index: 100;
    overflow: hidden;
}

.main .input-control {
    width: 95%;
    line-height: normal;
}

.main .search.invisible {
    height: 0 !important;
}