/* buttons (begin) */
.header_block_buttons {
    height: 1.2em;
    margin-top: 0.6em;
    position: absolute;
    font-size: 2.8em;
}
.header_block_button_left {
    left: 0;
    margin-left: .25em;
}
.header_block_button_right {
    right: 0;
    margin-right: .25em;
}
/* buttons (end) */
/* products mod start */

#header .one_button {
    width: 100%;
    height: 100%;
    position: relative;
}
#header .one_button .leftBtn {
    width: 5.4em;
}

#header .one_button.profile .leftBtn {
    width: auto;
    margin-left: 1.5em;
}


.leftBtn, .rightBtn {
    display: none;
}

#header .one_button h1 {
    position: absolute;
    top: 0;
    right: 0.3em;
    bottom: 0;
    left: 5.21em;
}

/* products mod end */
/* modifiers mod start */

#header .two_button {
    width: 100%;
    height: 100%;
    position: relative;
}
#header .two_button.modifiers {
    /* solution for bug #16151 */
    text-align: center;
}
#header .two_button .leftBtn {
    width: 3.2em;
}
#header .two_button.modifiers .leftBtn {
    /* solution for bug #16151 */
    position: relative;
    vertical-align: top;
    float: left;
}
#header .two_button .rightBtn {
    width: 4.8em;
}
#header .two_button.modifiers .rightBtn {
    /* solution for bug #16151 */
    position: relative;
    vertical-align: top;
    float: right;
}
#header .two_button h1 {
    position: absolute;
    top: 0;
    right: 4.7em;
    bottom: 0;
    left: 3.9em;
}
#header .two_button.modifiers h1 {
    /* solution for bug #16151 */
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

#header .two_button.back_to_menu h1 {
    right: 0;
}

#header .myorder h1 {
    right: 5.4em;
}

#header .myorder .rightBtn {
    width: 5.3em;
}

#header .location h1 {
    right: 3.7em;
}

#header .location .rightBtn {
    width: 3.3em;
}
/* modifiers mod end */