/* modifiers mod block start */

#content .product_instructions {
    width: 100%;
    height: 23em;
    text-align: center;
}

#content .product_instructions .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    border-bottom: 1px solid #a8c4d8;
    padding: 0.3em 0;
    color: #2ba1d8;
}

#content .product_instructions .textarea {
    width: 90%;
    height: 3.5em;
    font-size: 2.4em;
    margin: 0 auto;
    position:relative;
}

#content .product_instructions .textarea:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-image: -o-linear-gradient(to top, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -moz-linear-gradient(to top, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -webkit-linear-gradient(to top, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -ms-linear-gradient(to top, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: linear-gradient(to top, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    z-index: 0;
}

#content .product_instructions .instructions {
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    border-radius: 0;
    font-size: inherit;
    font-family: inherit;
    background: #fff;
    position: relative;
    z-index: 1;
}

#content .product_instructions .note {
    display: inline-block;
    padding: 0.5em 1.5em;
    font-size: 1.8em;
}

/* modifiers mod block end */