.product_instructions .title {
    margin-bottom: 2em;
}

.product_instructions .note {
    text-align: center;
}

.product_instructions textarea {
    width: 100%;
    height: 6.5em;
    margin: 1em 0;
}