/* main mod start */

#content h2.maintenance {
    font-size: 4em;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2.5em;
    text-align: center;
    margin-top: -1.25em;
}

#content h2.maintenance span {
    display: block;
}


/* main mod end */