/* main mod start */

#content .maintenance-wrapper {
    display: table;
    height: 100%;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    width: 100%;
}

#content .maintenance {
    display: table-cell;
    vertical-align: middle;
}

/* main mod end */