/* main mod start */

#content .maintenance {
    height: 100%;
    text-align: center;
    width: 100%;
}

#content .maintenance:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#content .maintenance p {
    display: inline-block;
    font-size: 4em;
    font-weight: bold;
    vertical-align: middle;
    width: 95%;
}

/* main mod end */