/* modifiers_classes item mod start */
#content .modifier_class {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    padding: 0.3em 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#content .modifier_class .free {
    display: block;
}

/* modifiers_classes item mod end */
/* modifiers list mod start */

#content ul.modifiers {
    width: 100%;
    position: relative;
    margin-bottom: 0.8em;
}

#content ul.modifiers li {
    border-top-width: 1px;
    border-top-style: solid;
}

/* modifiers list mod end */
/* modifiers item mod start */

#content .modifier {
    width: 100%;
    font-size: 2.8em;
}

#content .modifier .currency_symbol,
#content .modifier .plus {
    position: relative;
    left: 0.2em;
}

#content .modifier label {
    position: relative;
    display: inline-block !important;
    width: 100%;
    height: 2.3em;
    cursor: pointer;
}

#content .modifier label.no-controls {
    cursor: default;
}

#content .modifier span {
    line-height: 2.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#content .modifier .title {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3.2em;
    left: 3em;
}

#content .modifier label .title.special {
    right: 1em;
}

#content .modifier input {
    display: none;
}

#content .modifier .input {
    position: absolute;
    width: 2em;
    height: 2em;
    left: 0.5em;
    top: 0.25em;
    bottom: 0;
    font-size: inherit;
}

#content .no-controls .modifier .input {
    display: none;
}

#content .no-controls .modifier .title {
    left: 1em;
}

#content .modifier .input.checkbox:after, #content .modifier .input.radio:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#content .modifier .cost, #content .modifier .free {
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    width: 2.1em;
    text-align: right;
}

#content .modifier .s2 .cost, #content .modifier .s2 .free {
    width: 3em;
}

#content .modifier .s2 .title {
    right: 4.1em;
}

#content .modifier .s3 .cost, #content .modifier .s3 .free {
    width: 3.5em;
}

#content .modifier .s3 .title {
    right: 4.6em;
}

#content .modifier .s4 .cost, #content .modifier .s4 .free {
    width: 4.2em;
}

#content .modifier .s4 .title {
    right: 5.3em;
}

#content .modifier .s5 .cost, #content .modifier .s5 .free {
    width: 4.7em;
}

#content .modifier .s5 .title {
    right: 5.6em;
}

#content .modifier .s6 .cost, #content .modifier .s6 .free {
    width: 5.2em;
}

#content .modifier .s6 .title {
    right: 6.3em;
}

#content .modifier .s7 .cost, #content .modifier .s7 .free {
    width: 5.5em;
}

#content .modifier .s7 .title {
    right: 6.6em;
}

#content .modifier .s8 .cost, #content .modifier .s8 .free {
    width: 6em;
}

#content .modifier .s8 .title {
    right: 7.1em;
}

#content .special_label .special_button {
    /*font-weight: bold;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 0.8em;
    cursor: pointer;
    text-align: center;*/
    height: 1.5em;
    line-height: 1.5em;
    left: 0.1em;
    top: 0.4em;
    width: 2.3em;
    padding: 0.1em 0.2em;
}

/* modifiers item mod end */

/* product attribute header start */
.product_attribute_info h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0.5em;
}
/* product attribute header end*/

#content .modifier .split-qty-wrapper {
    width: 11em;
    margin: 0px auto;
}
#content .modifier .split-qty-wrapper.single {
    width: 6em;
}
#content .modifier .mdf_quantity, 
#content .modifier .mdf_split {
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.5em;
    height: 2.2em;
    width: 5em;
    position: relative;
    border-radius: 1.3em;
    margin-bottom: 0.4em;      
}
#content .modifier .mdf_quantity select,
#content .modifier .mdf_split select {
    font-size: 1em;
    font-weight: normal;
}
#content .modifier .select:before {
   top: 0em;
}
#content .modifier .mdf_quantity select {
    padding-right: 4em;
    padding-left: 0.9em;;
}
#content .modifier .mdf_split select {
    padding-right: 7em !important;
    padding-left: 1em !important;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
#content .modifier .mdf_split .selected_option {
    position: absolute;
    top: 0.45em;
    left: 0.6em;
    width: 1.5em;
    height: 1.5em;
    background-size: 100% 100%;
}
