.modifier_class_wrapper .modifiers {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.modifiers .matrix-title {
    font-weight: normal;
}

.modifiers .matrix-title::after {
    display: none;
}

.modifiers .modifier {
    width: 100%;
}

.modifier__inner {
    display: block !important;
    padding: .7em 0;
    position: relative;
}

.modifier input {
    position: absolute;
    left: -5000px;
}

.modifier span.title_wrapper {
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
}

.modifier span.title {
    float: left;
}

.modifier span.info {
    float: left;
    position: relative; /* need for Tooltip */
}

.modifier span.info::before {
    content: '\f05a';
    font-family: "FontAwesome";
    font-size: 1em;
    display: inline-block;
    pointer-events: auto;
    cursor:pointer;
    padding: 0 0.2em;
}

.modifier .input {
    vertical-align: middle;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 0.2em;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    line-height: 0.9em;
    margin-right: 0.3em;
}

.modifier .input::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 0.8em;
}

.modifier .cost, .modifier .free, .modifier .special_button {
    display: inline-block;
    line-height: 1.5em;
    margin-left: 0.6em;
    min-width: 55px;
    text-align: right;
}

.modifier .select-wrapper {
    width: 4em;
    margin: -0.3em 0 0 0.5em;
    padding: 0;
}

.modifier select {
    text-indent: .5em;
}

@-moz-document url-prefix() {
    .modifier select {
        text-indent: .2em !important;
    }
}

.modifier .mdf_split::before {
    font-family: "FontAwesome";
    font-size: 1.4em;
    line-height: 1.5em;
    text-indent: 0.4em;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    pointer-events: none;
    border-radius: 2em;
    text-align: left;
}

.modifier .mdf_split.option_0::before {
    content: '\f111';
    text-indent: 0.45em;
}

.modifier .mdf_split.option_1::before {
    content: '\f042';
    text-indent: 1.4em;
    -webkit-transform: scaleX(-1);
    -moz-transform:    scaleX(-1);
    -ms-transform:     scaleX(-1);
    -o-transform:      scaleX(-1);
    transform:         scaleX(-1);
}

.modifier .mdf_split.option_2::before {
    content: '\f042';
    text-indent: 0.45em;
}

.stanford-reload-name {
    font-weight: normal;
}

.transparent {
    opacity: 0;
}

span.tooltip {
    -webkit-border-radius: 0.2em 0.2em 0.2em 0.2em;
    -moz-border-radius: 0.2em 0.2em 0.2em 0.2em;
    -ms-border-radius: 0.2em 0.2em 0.2em 0.2em;
    -o-border-radius: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    background: #222;
    color: #fff;
    text-shadow: none !important;
    display: block;
    font-size: 0.8em;
    margin: 0;
    min-width: 15em;
    padding: 0.5em 0.7em;
    position: absolute;
    z-index: 9999;
    left: 2.5em;
}

span.tooltip:before {
    border-top: 0.6em solid transparent;
    border-bottom: 0.6em solid transparent;
    border-right: 0.6em solid #222;
    content: ' ';
    display: block;
    height: 0;
    left: -0.4em;
    margin-top: -0.6em;
    position: absolute;
    top: 50%;
    width: 0;
}
