/* modifiers_classes item mod start */

#content .modifier_class{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    padding: 0.3em 0;
    color: #2ba1d8;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* modifiers_classes item mod end */
/* modifiers list mod start */

#content ul.modifiers {
    width: 100%;
    position: relative;
    margin-bottom: 0.8em;
}

#content ul.modifiers li {
    border-top: 1px solid #a8c4d8;
}

/* modifiers list mod end */
/* modifiers item mod start */

#content .modifier {
    width: 100%;
    height: 2.43em;
    font-size: 2.8em;
}

#content .modifier .currency_symbol, #content .modifier .plus {
    letter-spacing: -0.2em;
}

#content .modifier label {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#content .modifier label:active {
    box-shadow: 0 0 3em rgba(0, 170, 234, 0.1) inset;
}

#content .modifier span {
    line-height: 2.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#content .modifier .title {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3.2em;
    left: 3em;
}

#content .modifier label .title.special {
    right: 1em;
}

#content .modifier input {
    display: none;
}

#content .modifier .input {
    position: absolute;
    width: 2em;
    height: 2em;
    left: 0.5em;
    top: 0.2em;
    bottom: 0;
    font-size: inherit;
}

#content .modifier .input.checkbox:after, #content .modifier .input.radio:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#content .modifier .input.checkbox:after {
    background: url('../img/checkbox.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
}

#content .modifier .input.checkbox.checked:after {
    background-position: 100% 0;
}

#content .modifier .input.radio:after {
    background: url('../img/radio.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
}

#content .modifier .input.radio.checked:after {
    background-position: 100% 0;
}

#content .modifier .cost {
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    width: 2.1em;
    text-align: right;
}

#content .modifier .s2 .cost {
    width: 2.6em;
}

#content .modifier .s2 .title {
    right: 3.7em;
}

#content .modifier .s3 .cost {
    width: 3.1em;
}

#content .modifier .s3 .title {
    right: 4.2em;
}

#content .modifier .s4 .cost {
    width: 3.8em;
}

#content .modifier .s4 .title {
    right: 4.9em;
}

#content .modifier .s5 .cost {
    width: 4.1em;
}

#content .modifier .s5 .title {
    right: 5.2em;
}

#content .modifier .s6 .cost {
    width: 4.8em;
}

#content .modifier .s6 .title {
    right: 5.9em;
}

#content .modifier .s7 .cost {
    width: 5.1em;
}

#content .modifier .s7 .title {
    right: 6.2em;
}

#content .modifier .s8 .cost {
    width: 5.6em;
}

#content .modifier .s8 .title {
    right: 6.7em;
}

#content .special_label .special_button {
    font-weight: bold;
    color: #3F7CA4;
    -moz-box-shadow: 0.10em 0.25em 0.5em #a09d9d, inset 0em 0em 0.5em #e8e8e8;
    -webkit-box-shadow: 0.10em 0.25em 0.5em #a09d9d, inset 0em 0em 0.5em #e8e8e8;
    background-color: #ffffff;
    background-image: linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    border: solid 0.2em #c3dce9;
    border-radius: 0.8em;
    box-shadow: 0.10em 0.25em 0.5em #a09d9d, inset 0em 0em 0.5em #e8e8e8;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee", endColorstr="#eeeeee", GradientType=0);
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    left: 0.1em;
    top: 0.4em;
    width: 2.3em;
}
#content .special_label:active .special_button {
    -moz-box-shadow: 0em -0.13em 0.19em #a09d9d, inset 0em 0em 0.5em #f2f2f2;
    -webkit-box-shadow: 0em -0.13em 0.19em #a09d9d, inset 0em 0em 0.5em #f2f2f2;
    box-shadow: 0em -0.13em 0.19em #a09d9d, inset 0em 0em 0.5em #f2f2f2;
}

/* modifiers item mod end */

/* product attribute header start */
.product_attribute_info h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0.5em;
}
/* product attribute header end*/