.myorderList {
    margin-bottom: 10em;
}

.myorderList .qty {
    border-radius: 5em;
    font-weight: 300;
    padding: 0.45em 0.6em;
    margin: -0.15em 0.5em 0 0;
}

.myorderList .currency_symbol {
    margin-right: -0.2em;
}

.myorder.items > li,
.discount.items > li,
.service_fees.items > li {
    padding: 2em 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.myorderList .product-name {
    margin-left: 2em;
    display: block;
}

.myorderList .cost {
    margin-left: 0.5em;
}

.myorderList .btns {
    margin-top: 2em;
}

.myorderList .modifier_place > li, .myorderList .attrs, .myorderList .discount_place > li {
    margin: 0.5em 0;
    padding-left: 3em;
}

.myorderList .edit, .myorderList .remove {
    display: inline-block;
    padding: 0.3em 0.5em;
    border: 1px solid;
    border-radius: 2em;
}

.myorderList .edit {
    margin-right: 1em;
    padding: 0.3em 1.2em;
}

.myorderNote .note_text {
    margin-top: 0.4em;
}

.myorderNote textarea {
    width: 100%;
    height: 6.5em;
    margin: 0.5em 0;
}
/* combo products */
.myorderList .combo_products_place .myorder_combo > li {
    margin-top: 1.5em;
    margin-left: 2.5em;
}
.myorderList .combo_products_place .myorder_combo .product-name {
    font-size: 2.8em;
}
.myorderList .combo_products_place .qty {
    border: 2px solid #373c40;
    color: #373c40;
    background-color: #fff;
    font-weight: bold;
    border-radius: 4em;
    padding: 0.35em 0.5em;
}
.myorderList .combo_products_place .btns {
    display: none;
}
.myorderList .combo_products_place .myorder_combo .item-sum {
    display: none;
}


