/* list mod block start */

#content ul.products {
    width: 100%;
    list-style: none;
}

/* list mod block end */
/* list item mod block start */

#content ul.products li {
    min-height: 14.2em;
    width: 100%;
    border-bottom: 1px solid #a8c4d8;
    position: relative;
    cursor: pointer;
}

#content ul.products li:active {
    box-shadow: 0 0 8em rgba(0, 170, 234, 0.3) inset;
}
#content .product .block_img {
    display: table;
    height: 11.8em;
    margin: 1.5em 1.2em 0.5em 1.2em;
    padding: 0em;
    width: 11.8em;
    border-collapse: collapse;
    float: left;
}
#content .product .block_img > div {
    background: white;
    display: table-cell;
    height: 11.8em;
    margin: 0em;
    padding: 0em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 11.8em;
}
#content .product .block_img div img {
    border: none;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 11.8em;
    max-width: 11.8em;
    padding: 0em;
    width: auto;
}
#content .product dl {
    position: relative;
    padding: 0 1.2em;
}
#content .product dl.noimage {
    left: 1.8em;
}

#content .product dt {
    padding-top: 1.1em;
    padding-left: 13em;
    margin-bottom: 0.5em;
}

#content .product dd {
    display: inline;
    font-size: 2.2em;
    text-align: justify;
    padding-bottom: 0.5em;
}

#content .product .timetables {
    font-style: italic;
    display: block;
    margin: 0.5em 0;
}

#content .product .name {
    font-size: 2.8em;
    font-weight: bold;
}

#content .product .name.gift_name {
    top: 0.3em;
}

#content .product .cost{
    display: inline-block;
    float: right;
    padding-left: 0.2em;
    text-align: right;
}
#content .product .cost .currency_symbol,
#content .product .cost .price {
    font-size: 2.8em;
}

#content .product .is_gift .name_title {
    right: 13.2em !important;
    top:0.5em;
}

#content div.product {
    position: relative;
    width: 100%;
}
#content div.product > div {
    min-height: 14.8em;
    height: auto;
}
#content div.product > div.is_gift {
    min-height: 20em;
}
#content div.product .gift_card {
    margin: 0.5em 1.2em;
    clear: both;
}
#content div.product .gift_card.noimage {
    left: 1.8em;
}
#content div.product .gift_card p {
    font-size: 2.3em;
    display:inline-block;
    margin-right: 0.5em;
}
#content .product .is_gift .uom {
    top: 1.5em;
}
#content .product .uom {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 3.3em;
    text-align: right;
    font-size: 2.6em;
}

/* list item mod block end */
/* gift card info block */
.product_info .input_beauty {
    display: inline-block;
    position: relative;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto;
}
.product_info .cost .input_beauty {
    margin-right: 1em;
    margin-left: 1em;
    width:9.2em;
}
.product_info .gift_card .input_beauty {
    width:29em;
}
.product_info .gift_card input {
    font-size: 2.7em;
}
/* gift card info block end */
