.products .price {
    float: right;
    vertical-align: middle;
    margin-top: 0.5em;
}

.products .title {
    display: block;
    margin-bottom: 0.3em;
}

.product-modifiers {
    padding: 1.4em;
    margin: 0 -1.4em;
    min-height: 9.2em;
}

.product-modifiers input {
    border: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    text-align: center;
    padding: 0;
}

.product-modifiers input[readonly] {
    margin: 0 -0.2em;
}

.product-modifiers .info {
    margin-top: 0.5em;
}

.product-modifiers .timetable {
    font-style: italic;
}

.product-modifiers .gift-card {
    display: block;
}

.product-modifiers .gift-card input {
    text-align: left;
    padding: 0 0.5em;
}