.content-profile-login {
    height: 100% !important;
    min-height: 65em !important;
    position: relative;
}
.content-profile-login > div {
    width: 100% !important;
    height: 100% !important;
    height: 65em !important;
}

.profile-info {
    display: block;
    margin: 1.4em 0;
}

.profile-form input,
.profile-form .select-wrapper {
    display: inline-block;
    width: 98%;
    margin-bottom: 1.4em;
}

.profile-basic-details .profile-form {
    margin: 1.4em 0;
}

.forgot-password {
    margin-bottom: 5.6em;
}

.profile-btns {
    position: absolute;
    bottom: 0;
    left: 1.8em;
    right: 1.8em;
}

.profile-btns .btn {
    margin-bottom: 1.4em;
    border-width: 1px;
    border-style: solid;
}

.profile-info.account-password {
    padding: 0 2%;
    margin-top: 1.5em;
    margin-bottom: 0.7em;
}

.profile-complete {
    display: block;
    margin-bottom: 1.4em;
    margin-top: -0.7em;
}

.passwords-mismatch {
    padding: 0 2%;
    margin-top: -1em;
}

.phone-privacy {
    display: block;
    padding: 0 2%;
    margin-top: -1em;
}

.profile-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -200;
}

.profile-menu.shown {
    z-index: 200;
}

.profile-menu > div {
    max-width: 45em;
    width: 70%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4em;
    left: -100%;
}

.profile-menu.shown > div {
    left: 0;
}

.profile-menu .outside-area {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.profile-menu .close {
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    top: 0.8em;
    right: 1em;
    padding: 5px;
    margin: -5px;
}

.profile-menu .title::before {
    content: "\f0c9";
    font-family: FontAwesome;
    padding-right: 1em;
    font-size: 1.2em;
}

.profile-menu .logged-as {
    display: block;
    padding: 0.8em;
    font-style: italic;
}

.profile-items > li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0.7em 0.5em;
}

.profile-items .login-row {
    padding: 0;
}

.profile-items .login-link,
.profile-items .logout-link {
    display: block;
    padding: 0.7em 0.5em;
}

.profile-owner-info .contact-info,
.profile-owner-info .website-info {
    margin-bottom: 0.5em;
    padding: 0 2%;
}

.profile-owner-info .contact-title {
    font-style: normal;
}

.profile-owner-info .contact-link,
.profile-owner-info .contact-link:link,
.profile-owner-info .contact-link:visited,
.profile-owner-info .contact-link:hover,
.profile-owner-info .contact-link:active {
    color: inherit;
}

.reset-password-info {
    margin: 1.5em 0;
}

.payments-list,
.gift-cards-list {
    margin: 3em -1.8em 0;
}

.profile-payments-edition .payments-list,
.profile-payments-edition .gift-cards-list {
    margin-top: 2px;
}

.payment-item {
    padding: .8em 0 .8em 1em;
    margin-bottom: 2px;
    position: relative;
    text-align: left;
}

.payment-item.selected::after  {
    content: '\f00c';
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    top: .6em;
    right: .4em;
    font-size: 1.4em;
}

.payment-item.add-cc {
    display: inline-block;
}

.credit-cards,
.gift-cards {
    margin: 0 -1.8em 1em;
    padding: 3em 0;
}

.credit-cards::after,
.gift-cards::after {
    content: '\f0d7';
    font-family: "FontAwesome";
    font-size: 2.5em;
    display: inline-block;
    width: 1em;
}

.credit-cards.collapsed::after,
.gift-cards.collapsed::after {
    content: '\f0da';
}

.profile-payments-edition .remove-btn::after {
    content: '\f057';
    font-size: 1.5em;
    font-family: "FontAwesome";
    display: block;
    width: 1em;
    position: absolute;
    top: 50%;
    right: 0.5em;
    margin-top: -0.45em;
}

.profile-edit .profile-checkbox {
    display: block;
    position: absolute;
    right: 5em;
    top: 0;
    padding: .8em 0 .8em 1.8em;
    color: #838385;
}

.profile-edit .profile-checkbox input {
    display: none;
}

.profile-edit .profile-checkbox i {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.3em;
    height: 1.3em;
    line-height: .9;
    margin-top: -0.7em;
    padding-right: 1px;
    background-color: #FFFFFF;
    border: 2px solid #199ACD;
    border-radius: 2px;
    text-align: center;
}

.profile-edit .profile-checkbox i::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 0.7em;
    color: #FFFFFF;
}

.profile-edit .profile-checkbox input:checked + i {
    background-color: #199ACD;
}

.profile-cvv-container .cvv-required-info {
    display: block;
    margin: 1em 0 0.5em 0;
}

.profile-cvv-container .cvv {
    width: 15em;
}

.profile-edit .gift-cards-box .add_gift_card_title_wrap {
    display: block;
    margin: 2.5em auto 3em auto;
}
.profile-edit .gift-cards-box .add_gift_card_title {
    font-size: 2.4em;
    text-decoration: underline;
}
.profile-edit .gift-cards-box .add_gift_card_title .plus_sign {
    width: 1em;
    display: inline-block;
}
.profile-edit .gift-cards-box .add_gift_card_title:hover {
    cursor: pointer;
}
.profile-edit .profile-form input {
    width: 100%;
}
.profile-edit .profile-form input:disabled {
    color: #999;
}
.profile-edit .gift-cards-box input {
    margin-bottom: 1em;
}
.profile-edit .gift-cards-box .captcha_wrap {
    display: inline-block;
    vertical-align: middle;
    width: 20em;
    height: 10em;
}
.profile-edit .gift-cards-box .captcha-spinner {
    top: 3.4em;
    left: 0em;
}
.profile-edit .gift-cards-box .ui-spinner {
    width: 16em;
    height: 16em;
}

/* landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
    .forgot-password {
        margin-bottom: 2.6em;
    }

    .profile-btns .btn {
        margin-bottom: 0.6em;
    }
}

/* Nexus 7 landscape */
@media only screen and (min-device-width: 600px) and (max-device-width: 960px) and (orientation: landscape) {
    .forgot-password {
        margin-bottom: 2.6em;
    }

    .profile-btns .btn {
        margin-bottom: 0.6em;
    }
}