.promotions__title {
    font-weight: 300;
    padding: 2em 1.8em;
    margin: 0 -1.8em;
    clear: both;
}

/* All Promitions link */
.all-promotions {
    margin: 0 -1.8em;
    padding: 3em 0;
    text-align: center;
}
.all-promotions__text {
    font-size: 2.5em;
    vertical-align: middle;
}
.all-promotions__icon {
    font-size: 4.5em;
    margin-left: 14px;
    vertical-align: middle;
}
.all-promotions__icon:after {
    font-family: FontAwesome;
    content: '\f02b';
}

/* Promotions List */
.promotions__list li {
    padding: 1.5em 0;
}
.promotions__list > li * {
    pointer-events: initial;
}
.promotions__list li:after {
    display: none;
    content: "";
}
.promotions__list > li .promotions__item div {
    display: block;
}
.promotions__title-description {
    padding: 0.3em 0;
}
.promotions__available-text {
    padding: 0.5em 0;
}

.promotion {
    clear: both;
    position: relative;
}
.promotions__item-left {
    max-width: 70%;
}
.promotions__item-name {
    margin-bottom: 0.2em;
}
.promotions__item-link {
    font-size: 2.5em;
    font-style: italic;
    text-decoration: underline;
}
.promotions__item-apply {
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.promotions__item-applied {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.promotions__item-applied:after {
    content: "\f00c";
    font-family: "FontAwesome";
    display: inline-block;
    margin-left: 0.2em;
}

/* Promotion Details */
.promotion-details {
    text-align: center;
}
.promotion-details__title {
    padding: 2em 0;
    margin-bottom: 15em;
}
.promotion-details__barcode {
    margin-top: 1em;
}
.promotion-details__barcode-img {
    width: 100%;
    height: 100%;
}