.promotions-title {
    background: #EAF3F9;
    color: #373B40;
    font-weight: 300;
    padding: 2em 1.8em;
    margin: 0 -1.8em;
    clear: both;
}

/* All Promitions link */
.all-promotions {
    margin: 0 -1.8em;
    padding: 3em 0;
    text-align: center;
}
.all-promotions__text {
    font-size: 2.5em;
    padding-right: 2.5em;
    position: relative;
}
.all-promotions__text:after {
    display: block;
    content: "";
    position: absolute;
    top: -0.5em;
    right: 0;
    width: 2em;
    height: 2em;
    background: url(../img/promotion.svg) center no-repeat;
    background-size: 1.7em 1.7em;
}

/* Promotions List */
.promotions-list li {
    padding: 1.5em 0;
}
.promotions-list > li * {
    pointer-events: initial;
}
.promotions-list li:after {
    display: none;
    content: "";
}
.promotions-list > li .promotion div {
    display: block;
}
.promotions-list__title-description {
    padding: 0.3em 0;
}
.promotions-available__text {
    padding: 0.5em 0;
}

.promotion {
    clear: both;
    position: relative;
}
.promotion__name {
    margin-bottom: 0.2em;
}
.promotion__link {
    font-size: 2.5em;
    font-style: italic;
    text-decoration: underline;
}
.promotion__description {
    color: #13B21A;
}
.promotion__apply {
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.promotion__apply.added {
    color: #13B21A;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.promotion__apply.added:after {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.2em;
    background: url(../img/check.svg) no-repeat;
    background-size: 1.5em 1.5em;
}

/* Promotion Details */
.promotion-details {
    text-align: center;
}
.promotion-details__title {
    padding: 2em 0;
    margin-bottom: 15em;
}
.promotion-details__barcode {
    margin-top: 1em;
}
.promotion-details__barcode-img {
    width: 100%;
    height: 100%;
}