/* main mod start */
.quantity {
    padding-bottom: 3em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.quantity .controls {
    margin-top: 2em;
    text-align: center;
}

.quantity .btn-qty {
    width: 5.5em;
    height: 5.5em;
    line-height: 5.5em;
    border-width: 2px;
    border-style: solid;
    border-radius: 3em;
    line-height: 4.5em;
    text-align: center;
}

.quantity .btn-qty.disabled {
    opacity: .2;
}

.quantity .increase {
    margin-right: 1.6em;
}

.quantity .decrease {
    margin-left: 1.6em;
}

.quantity .btn-qty span {
    font-size: 5em;
    pointer-events: none;
}

.quantity input {
    width: 3em;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    padding: 0 0.3em;
    margin-top: 0.5em;
    text-align: center;
    border-radius: 0;
}