/* main mod start */
#content div.quantity {
    width: 100%;
    height: 12em;
    position: relative;
}

#content div.quantity .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0.3em 0;
}

#content div.quantity > div {
    position: relative;
    width: 100%;
    height: 6.8em;
    top: -0.2em;
}

#content div.quantity span.quantity {
    font-size: 2.8em;
    position: absolute;
    top: 0.6em;
    left: 3em;
    bottom: 0.6em;
    right: 3em;
    text-align: center;
}

#content div.quantity span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#content div.quantity input {
    display: block;
    margin: 0 auto;
    font-size: 2.8em;
    position: relative;
    top: 0.6em;
    bottom: 0.6em;
    text-align: center;
    background-color: transparent;
    border: 1px solid #C8CBCD;
    border-radius: 1.3em;
    color: inherit;
    box-shadow: 0 0 0.5em #bddbea;
    width: 4.7em;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance:textfield;
    appearance: none;
}

#content div.quantity input::-webkit-outer-spin-button,
#content div.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#content div.quantity .increase,
#content div.quantity .decrease {
    position: absolute;
    top: 0;
    width: 6.7em;
    height: 6.7em;
    background-size: 200% 100%;
    cursor: pointer;
}
#content div.quantity .increase,
#content div.quantity .increase.disabled:active {
    right: 1.5em;
}

#content div.quantity .decrease,
#content div.quantity .decrease.disabled:active {
    left: 1.5em;
}

#content div.quantity .increase.disabled,
#content div.quantity .decrease.disabled {
    cursor: auto;
    opacity: 0.5;
}

/* css for sold_by_weight case */
.quantity div.weight_edit_center {
    position: relative;
    width: 10em;
    margin: 0 auto;
}

.weight_edit_inner {
    height: 5em;
    top: 0.8em;
}

.weight_edit_input {
    font-weight: bold;
    font-size: 2.4em;
    padding-top: 0.1em !important;
    padding-left: 0.1em !important;
}
/* main mod end */