/* main mod start */

#content div.quantity {
    width: 100%;
    height: 12em;
    position: relative;
    /*margin-bottom: 0.8em;*/
}

#content div.quantity .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    border-bottom: 1px solid #a8c4d8;
    padding: 0.3em 0;
    color: #2ba1d8;
}

#content div.quantity > div {
    position: relative;
    width: 100%;
    height: 6.8em;
    top: -0.2em;
}

#content div.quantity span.quantity {
    font-size: 2.8em;
    position: absolute;
    top: 0.6em;
    left: 3em;
    bottom: 0.6em;
    right: 3em;
    text-align: center;
}

#content div.quantity span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#content div.quantity .increase,
#content div.quantity .decrease {
    position: absolute;
    top: 0;
    width: 6.7em;
    height: 6.7em;
    background-size: 200% 100%;
    cursor: pointer;
}
#content div.quantity .increase,
#content div.quantity .increase.disabled:active {
    background: url('../img/plus.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
    right: 1.5em;
}

#content div.quantity .decrease,
#content div.quantity .decrease.disabled:active {
    background: url('../img/minus.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
    left: 1.5em;
}

#content div.quantity .increase.disabled,
#content div.quantity .decrease.disabled {
    cursor: auto;
    opacity: 0.5;
}

#content div.quantity .increase:active,
#content div.quantity .decrease:active {
    background-position: 100% 0;
}

/* css for sold_by_weight case */
.quantity div.weight_edit_center {
    position: relative;
    width: 30em;
    margin: 0 auto;
}

.weight_edit {
    width: 7em;
    height: 7em;
    margin-left: 7.5em;
}

.weight_edit_inner {
    width: 7em;
    height: 5em;
    top: 0.8em;
}

.weight_edit_input {   
    font-weight: bold;
    font-size: 2.4em;
    padding-top: 0.1em !important;
    padding-left: 0.1em !important;
}

.quantity .uom {
    width: 7em;
    min-width: 2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 2.4em;
    position: absolute;
    left: 7em;
    top: 0.9em;
}
/* main mod end */