.rewards-info label {
    display: block;
    margin: 1.4em 0;
}

.rewards-info input {
    width: 100%;
}

.rewards-info .captcha {
    display: inline-block;
    width: 30em;
    height: 12em;
    vertical-align: middle;
    position: relative;
}

.rewards-info .captcha-image {
    max-width: 100%;
    max-height: 100%;
}

.rewards-info .captcha-spinner {
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 50%;
}

.rewards-info .rewards-card-btn {
    display: inline-block;
    padding-left: 4em;
    vertical-align: middle;
}

.rewards-info .list-title {
    margin-bottom: 2em;
}

.rewards-info .rewards-available {
    margin-top: 2em;
}

.rewards-total {
    margin-top: 2em;
}

.rewards-total__item {
    display: inline-block;
    width: 30%;
}

.rewards-total__item-title {
    display: block;
    font-style: normal;
    width: 4.5em;
    margin: 0 auto 0.2em;
}

.rewards-info .info {
    font-style: italic;
}

.reward-selection__item {
    border-width: 1px;
    border-style: solid;
    padding: 2em 0.2em;
    margin: 2em 0;
    position: relative;
}

.reward-selection__item_selected::after {
    content: '\f00c';
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    top: .2em;
    right: .4em;
    font-size: 3.5em;
}

.reward__redemption {
    display: block;
}

.rewards-info .name {
    font-weight: normal;
}

.rewards-info .price-line {
    display: inline-block;
    padding-bottom: 0.2em;
}

.rewards-info .quantity {
    border: none;
}