.rewards-info {
    padding: 0 5%;
}
.rewards-info h3 {
    font-size: 2.8em;
    font-weight: bold;
    padding: 0.8em 0;
    text-align: center;
}

.rewards-info .input {
    display: block;
    height: 2em;
    font-size: 3em;
    font-family: inherit;
    color: inherit;
    width: 100%;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
}

.rewards-info .border:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
}

.rewards-info .input:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
}

.rewards-info .captcha {
    width: 12em;
    height: 5em;
    font-size: 2.4em;
    margin-bottom: 1.5em;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.captcha-spinner {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0.6em;
}

.update-captcha {
    padding-left: 2em;
    font-size: 3em;
    vertical-align: middle;
}

.rewards-info .rewards-card-btn {
    display: inline-block;
    height: 5em;
    padding-left: 2em;
    font-size: 2.4em;
    line-height: 5em;
}

.rewards-number, .rewards-title {
    font-size: 3em;
}

.rewards-info .info {
    display: block;
    text-align: center;
    font-size: 2em;
}

.rewards-info .no-bottom-padding {
    padding-bottom: 0;
}

.rewards-info .span-wrapper {
    text-align: center;
}

.rewards-unavailable {
    font-size: 2.8em;
    padding-top: 1em;
}

.rewards-info .collected {
    width: 100%;
    text-align: center;
    font-size: 3em;
    margin: 1em 0
}

.rewards-info .collected > li {
    display: inline-block;
    width: 32%;
    vertical-align: top;
}

.rewards-info dfn {
    display: block;
    width: 4em;
    margin: 0 auto 0.2em;
    font-style: normal;
}

.reward-selection > li {
    height: 3em;
    font-size: 3em;
    border-width: 1px;
    border-style: solid;
    margin-top: 0.5em;
    padding-top: 1em;
    text-align: center;
}

.reward-selection > li.active:after {
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
}

.reward-selection .points-selection {
    display: list-item;
    padding-top: 0;
    height: auto;
    text-align: left;
}

.rewards-info .redemption {
    text-align: center;
}

.rewards-info .redemption-points {
    padding-bottom: 0.5em;
}

.total-points, .total-visits, .total-purchases {
    font-size: 1.5em;
    word-break: break-word;
}

.rewards-info .redemption {
    display: block;
    font-size: 0.7em;
}

.rewards-info .order-item {
    display: block;
    margin: 0 20px;
    vertical-align: middle;
    padding: 5px 0;
}

.rewards-info .order-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.rewards-info .order-item:last-child {
    border-bottom: none;
}

.rewards-info .order-item:before {
    content: '';
    display: inline-block;
    height: 83px;
    width: 0;
    vertical-align: middle;
    position: relative;
    margin-left: -8px;
}

.rewards-info .order-item > div {
    display: inline-block;
    vertical-align: middle;
}

.rewards-info h4.name {
    font-size: 18px;
    margin-right: 20px;
}

.rewards-info .modifier_place, .rewards-info .price-line, .rewards-info .attrs {
    display: block;
    font-size: 14px !important;
    margin-top: 2px;
}

.rewards-info .quantity {
    position: relative;
    padding: 0;
}