/* Search Line View */
#content .search {
    height: 9.0em;
    z-index: 10;
    position: absolute;
    right: 0em;
    left: 0em;
    overflow: hidden;
}

#content .search_line .triangle {
    left: 50%;
    position: absolute;
    top: 8.7em;
    z-index: 10;
}

#content .searchString {
    margin-left: 2.5em;
    margin-top: 1.5em;
    margin-right: 2.5em;
}

#content .searchString input {
    font-size: 3em;
    font-weight: 300;
    height: 2.0em;
    width: 100%;
    border: 0px;
    border-radius: 0.3em;
    padding-left: 0.5em;
    box-sizing: border-box;
    font-family: FontAwesome, 'Helvetica Neue', Arial, Verdana;
    line-height: 2.0em;
}

#content .content.search_list {
    position: absolute;
    top: 9.0em;
    bottom: 0em;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#content .searchString input::-webkit-input-placeholder {
   text-align: center;
}

#content .searchString input:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

#content .searchString input::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

#content .searchString input:-ms-input-placeholder {  
   text-align: center; 
}
/* end of Search Line View*/
