.store-info .img-block {
    height: 20em;
    width: 100%;
    padding: 2em 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.store-info .img-wrapper {
    width: 100%;
    height: 100%;
    -webkit-mask-size: 23em 20em;
    -webkit-mask-position: 50% 100%;
    -moz-mask-size: 23em 20em;
    -moz-mask-position: 50% 100%;
    -ms-mask-size: 23em 20em;
    -ms-mask-position: 50% 100%;
    mask-size: 23em 20em;
    mask-position: 50% 100%;
    position: relative
}

.store-info .img-wrapper .img-spinner  {
    position: absolute !important;
    top: 53%;
    left: 50%;
    font-size: 2em;
}

.store-info .img-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

.store-info .desc {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 0.5em;
}

.store-info .desc p {
    margin: 0.5em 0;
}

.store-info .defs {
    padding: 1.4em 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.store-info .defs > * {
    display: inline-block;
    vertical-align: top;
}

.store-info .title {
    width: 8em;
    padding-right: 1em;
}

.store-info .info {
    width: 60%;
}

.store-info .change-store {
    margin-top: 0.4em;
}

.store-info .weekDay {
    display: inline-block;
    width: 5em;
    vertical-align: top;
}

.store-info .weekDay + span {
    display: inline-block;
    vertical-align: top;
}

/*** ***/
.map {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 !important;
}

#mapBox {
    height: 100%;
}