/* main mod start */

#content ul.tips {
    margin: 1.5em;
    list-style: none;
}

#content ul.tips li {
    font-size: 2.8em;
    position: relative;
}

#content ul.tips li:last-child {
    text-align: center;
}
#content ul.tips .currency_sym {
    display: table;
    float: left;
    height: 2.5em;
    margin-left: 1em;
    width: 1em;
}
#content ul.tips .currency_sym span {
    display: table-cell;
    vertical-align: middle;
}
#content ul.tips .input {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    width: 4em;
    float: right;
    height: 1.1em;
    margin-right: 0.2em;
    padding: 0.63em;
    position: relative;
}
#content ul.tips .input:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-image: -o-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    background-image: linear-gradient(bottom, rgba(226, 226, 226, 0.62) 0%, rgba(29, 78, 60, 0.22) 70%, rgba(29, 78, 60, 0.62) 100%);
    z-index: 0;
}

#content ul.tips .amount {
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    margin-left: -0.56em;
    margin-top: -0.56em;
    padding: 0.56em;
    position: relative;
    text-align: center;
    top: -2px;
    z-index: 1;
}
#content ul.tips .amount:disabled {
    color: #999;
    background: #eee;
}
#content ul.tips .amount::-webkit-inner-spin-button, #content ul.tips .amount::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#content ul.tips label.radio {
    display: block;
    height: 4em;
    margin-right: 7.5em;
}

#content ul.tips .number {
    display: block;
    height: 3.6em;
    padding-top: 0.4em;
    position: absolute;
    right: 0em;
    top: 0em;
    width: 7.5em;
}

#content ul.tips input[type="radio"] {
    display: none;
}

#content ul.tips span.radio {
    display: inline-block;
    width: 2em;
    height: 2em;
    position: relative;
    top: 0.6em;
    font-size: inherit;
    cursor: pointer;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: url('../img/radio.png') no-repeat 0 0 transparent;
    background-size: 200% 100%;
}

#content ul.tips label.radio span.radio{
    position: absolute;
    top: 0.6em;
    left: 0;
}

#content ul.tips span.radio.checked {
    background-position: 100% 0;
}

#content ul.tips .credit {
    margin-left: 2.3em;
    display: inline-block;
    position: relative;
    top: 1em;
}

#content ul.tips .tipCreditCard{
    position: absolute;
}

#content ul.tips .btn {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 1px solid #c7c7c7;
    border-radius: 1.5em;
    text-align: center;
    line-height: 3em;
    background-image: linear-gradient(bottom, #dcdcdc 0%, #f1f1f1 60%, #fefefe 100%);
    background-image: -o-linear-gradient(bottom, #dcdcdc 0%, #f1f1f1 60%, #fefefe 100%);
    background-image: -moz-linear-gradient(bottom, #dcdcdc 0%, #f1f1f1 60%, #fefefe 100%);
    background-image: -webkit-linear-gradient(bottom, #dcdcdc 0%, #f1f1f1 60%, #fefefe 100%);
    background-image: -ms-linear-gradient(bottom, #dcdcdc 0%, #f1f1f1 60%, #fefefe 100%);
    box-shadow: 0 0.1em 0.2em #fff inset, 0 -0.1em 0.2em rgba(0, 170, 234, 0.2) inset;
    color: #00aaea;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.04em;
    margin-left: 1em;
}

#content ul.tips.firefox .btn {
    letter-spacing: -0.04em;
}

#content ul.tips .btn:first-child {
    margin-left: 0;
    margin-top: 0.2em;
}

#content ul.tips .btn.selected {
    background: #fff;
    border-color: #5bb4dd;
    box-shadow: 0 0 0.4em, 0 0 0.2em inset;
}

#content ul.tips .btn.disabled {
    color: #cecece;
    box-shadow: 0 -0.1em 0.2em #cecece inset;
    cursor: default;
}

#content ul.tips .line {
    white-space: nowrap;
}
/* main mod end */