.tip-selection {
    margin: 0.6em 0;
    padding: 0.6em;
    border-radius: 0.4em;
}

.tip-selection > li {
    display: inline-block;
    vertical-align: middle;
}

.tip-selection .tip-amount-item {
    height: 3.5em;
    line-height: 3.7em;
}

.tip-selection .percent {
    border-width: 1px;
    border-style: solid;
    width: 3.5em;
    height: 3.5em;
    border-radius: 2em;
    margin: 0 0.1em;
    position: relative;
}

.tip-selection .percent * {
    pointer-events: none;
}

.tip-selection .percent-sum {
    position: relative;
    font-size: 0.7em;
    top: -1.4em;
    font-weight: bold;
}

.tip-selection .percent-amount {
    font-weight: 200;
    font-size: 1.5em;
    line-height: 2em;
}

.tip-selection .tip_label {
    display: inline-block;
}

.tip-selection .input-control {
    width: 7em;
    line-height: normal;
}

.tip-selection .input-control::before {
    content: attr(data-currency);
    display: inline-block;
    width: 1.6em;
    padding-right: 0.1em;
    text-align: right;
    position: absolute;
    padding: 0.65em 0;
    font-weight: 200;
}

.tip-selection input {
    width: 100%;
    padding-left: 1.7em;
    border-width: 1px;
    border-style: solid;
}