/* styles for Card elements */
.card-block label {
    display: inline-block;
    width: 200px;
    margin: 10px 0;
    padding-left: 30px;
    font-weight: bold;
    height: 19px;
}
.card-block label > span {
    padding-right: 8px;
    padding-left: 5px;
    float: left;
}

.card-block > div,
.card-block .address > div {
    position: relative;
    margin-bottom: 5px;
}

.card-block.no_top_margin > div,
.card-block.no_top_address .address > div {
    position: relative;
    margin-bottom: 2px;
}
.card-block.no_top_margin > div.card_title {
    margin-bottom: 7px;
}
.card-block .inactive {
    opacity: 0.5;
}

.card-block div.input_beauty {
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 225px;
    right: 20px;
}
.card-block div.select {
    display: inline-block;
    width: 78px;
    position: relative;
    left: -12px;
}
.card-block div.select {
    position: relative;
    top: 6px;
    vertical-align: top;
}

.card-block .address .select-wrapper {
    width: 200px;
    height: 24px;
}

.card-block div.select[disabled="disabled"] {
    opacity: .5;
    opacity: filter(50);
}
.card-block ul.card.firefox label {
    line-height: 2.4em;
}
.card-block ul.card.firefox label:before {
    top: 0;
}

.card-block .select-wrapper {
    margin-right: 10px;
}
.card-block  select {
    font-size: 15px;
}
#exp-year {
    padding-right: 22px;
}
#rememberCard {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 2em;
    top: 0.4em;
}
#use_profile_address {
    margin: 0px 30px 3px 30px;
}
#use_profile_address .checkbox {
    display: inline-block;
    height: 21px;
    width: 21px;
    border-radius: 4px;
    float: left;
    margin-right: 7px;
}
.card-block .select-wrapper select[disabled=disabled] {
    color: rgba(0, 0, 0, 0.7);
}
/* for tablets */
@media only screen and (max-device-width: 949px) {
    .card-block label {
        width: 140px !important;
    }
    .card-block  div.select {
        left: 4px !important;
        margin-right: 10px !important;
    }
    .card-block div.input_beauty,
    .card-block div.tips {
        left: 180px !important;
    }
}
