/* styles for Card elements */
#credit-card label {
    display: inline-block;
    width: 230px;
    margin: 10px 0;
    text-indent: 30px;
    font-weight: bold;
}

#credit-card > div {
    position: relative;
    margin-bottom: 5px;
}

#credit-card div.input_beauty {
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 225px;
    right: 40px;
}

#credit-card select {
    width: 100%;
    max-width: 100%;
}
#credit-card div.select {
    display: inline-block;
    width: 73px;
    position: relative;
    left: -12px;
}
#credit-card div.select_arrows {
    right: -2px;
}
#credit-card div.select:last-child {
    margin-bottom: 10px;
}
#credit-card div.select[disabled="disabled"] {
    opacity: .5;
    opacity: filter(50);
}
#credit-card ul.card.firefox label {
    line-height: 2.4em;
}
#credit-card ul.card.firefox label:before {
    top: 0;
}
#credit-card .select.month {
    margin-right: 10px;
    display: inline-block;
}
#credit-card div.select {
    background: none;
}
#credit-card .select.month,
#credit-card .select.year {
    margin-right: 10px;
    display: inline-block;
}
/* for tablets */
@media only screen and (max-device-width: 949px) {
    #credit-card select.month {
        margin: 0 0 0 7px !important;
    }
}
