#cart {
    width: 397px;
    padding: 3px 10px 0;
    border-left-width: 1px;
    border-left-style: solid;
    position: absolute;
    right: -418px;
    top: 46px;
    bottom: 51px;
    z-index: 100;
}

#cart.visible {
    right: 0;
}

#cart .header-underline {
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

#cart .hide-cart {
    padding-right: 5px;
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 24px;
}

#cart .btn.btn-checkout {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#cart .order-items {
    position: absolute;
    left: 10px;
    right: 10px;
    overflow: auto;
}

#cart .btn .animate-spin {
    margin-left: 5px;
}

#cart .btn .animate-spin::before {
    content: '\f021';
    font-family: 'FontAwesome';
}

#cart .total_block {
    padding: 5px 10px;
    margin: 10px 0;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
}

#cart .total-item {
    margin-bottom: 5px;
}

#cart .grand-total {
    margin-top: 8px;
    padding: 8px 0 4px;
    border-top-width: 2px;
    border-top-style: dotted;
    font-size: 16px;
}

@media only screen and (max-width: 1190px) {
    #cart {
        width: 312px !important;
    }
}