.categories-tree {
    width: 189px;
    border-width: 0 0 1px;
    border-style: solid;
}

.categories-tree .tree {
    border-top-width: 1px;
    border-top-style: solid;
}

.tree-title {
    padding: 12px 11px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.tree-title.filter-title {
    padding: 9px 11px;
    text-transform: none;
}

.tree-title:focus .break-word {
    outline-width: 1px;
    outline-style: dotted;
}

.no-focus-css:focus .break-word {
    outline: none !important;
}

.categories-tree .break-word {
    display: block;
    word-break: break-word;
}

.categories-tree .tree-item {
    border-color: transparent;
    cursor: pointer;
}

.categories-tree > .tree > .tree-item {
    padding: 0 11px;
}

.categories-tree .subtree {
    padding-left: 11px;
}

.subtree-icon::before {
    content: '\f078';
    font-family: 'FontAwesome';
    font-size: 8px;
    display: block;
    width: 8px;
    margin-top: 4px;
}

.categories-tree .collapsed > .subtree-icon::before {
    content: '\f054';
}

.categories-tree .has-subtree.collapsed > .subtree {
    display: none;
}

.categories-tree .no-subtree > .subtree-icon {
    display: none;
}

.categories-tree .name {
    font-size: 13px;
    letter-spacing: 0.5px;
    vertical-align: middle;
    margin: 0 -11px;
    padding: 9px 11px;
}

.categories-tree .subtree .name {
    margin-left: -22px;
    padding-left: 33px;
}

.categories-tree .name.active {
    cursor: default;
    background-color: #7a7d80;
}

.categories-tree .checkbox {
    margin-right: 6px;
    vertical-align: middle;
}

.categories .categories-tree .tree > .tree-item:not(:first-child) > .name {
    padding-left: 22px;
}

.filters .filters-title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.filters .categories-tree .tree {
    border: none;
}

.filters .categories-tree .name {
    display: inline-block;
}

.animated {
    -webkit-animation-duration: .75s;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: .75s;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: .75s;
    -ms-animation-fill-mode: both;
    -o-animation-duration: .75s;
    -o-animation-fill-mode: both;
    animation-duration: .75s;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInSlide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInSlide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-ms-keyframes fadeInSlide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-o-keyframes fadeInSlide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

.fadeInSlide {
    -webkit-animation-name: fadeInSlide;
    -moz-animation-name: fadeInSlide;
    -ms-animation-name: fadeInSlide;
    -o-animation-name: fadeInSlide;
    animation-name: fadeInSlide;
}
