#header .categories {
    position: relative;
    white-space: nowrap;
    height: 45px;
    top: 73px;
    z-index: 1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    opacity: 100;
    filter: alpha(opacity=100);
}
#header .checkout .categories {
    display: none;
}
#header .categories .tabs {
    position: absolute;
    bottom: -1px;
    left: 70px;
    right: 70px;
    overflow: hidden;
    top: 1px;
    padding: 0 4px 0 3px;
}
#header .categories.hidden {
    opacity: 0;
    filter: alpha(opacity=0);
}
#header .categories.hidden .tabs {
    top: 45px;
}
#header .categories .tabs > ul {
    position: relative;
    white-space: nowrap;
}
#header .categories .tabs li,
#header .categories .tabs label {
    display: inline-block;
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin: 0 3px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    position: relative;
}
#header .categories .tabs input:checked + label {
    cursor: default;
}
#header .categories .tabs li {
    bottom: -8px;
}
#header .categories .tabs label {
    margin: 0;
    border: none;
}
#header .categories .tabs span {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
    position: relative;
    overflow: hidden;
}
#header .categories .tabs input:checked:not(.slider-hidden) + label span {
    bottom: -2px;
}
#header .categories .tabs span.first-line,
#header .categories .tabs span.second-line,
#header .categories .tabs span.one-line {
    width: 110px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#header .categories .tabs span.first-line {
    top: -6px;
}
#header .categories .tabs input:checked:not(.slider-hidden) + label span.first-line {
    top: -4px;
}
#header .categories .tabs span.second-line {
    left: -120px;
    top: 7px;
}
#header .categories .tabs input:checked:not(.slider-hidden) + label span.second-line {
    top: 9px;
}
#header .categories .tabs input:checked:not(.slider-hidden) + label {
    height: 38px;
    border-width: 0;
    z-index: 2;
    bottom: 2px;
}
#header .categories .tabs input:checked:not(.slider-hidden) + label:before {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: 0;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
#header .categories .tabs input:checked:not(.slider-hidden) + label:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: -10px;
    right: -10px;
    height: 10px;
}
#header .categories .arrow_left, #header .categories .arrow_right {
    width: 23px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    text-indent: 50px;
    bottom: 0;
}
#header .categories .arrow_left {
    left: 35px;
}
#header .categories .arrow_right {
    right: 35px;
}
#content .content.products {
    position: absolute;
    top: 90px;
    bottom: 10px;
    left: 75px;
    right: 0;
}
#content .content.products .arrow_top {
    top: 0;
}
#content .content.products .arrow_bottom {
    bottom: 0;
}
#content .content.products .content_arrow {
    left: -35px;
    right: 40px;
    height: 19px;
}
.subcategories {
    padding: 0 64px;
    position: relative;
    text-align: center;
    margin-top: 6px;
}
.subcategories .arrow {
    position: absolute;
    line-height: 25px;
    font-size: 1.5em;
    display: none;
    cursor: pointer;
    width: 20px;
    border-radius: 4px;
}
.subcategories .arrow_left {
    top: 0;
    left: 26px;
}
.subcategories .arrow_right {
    top: 0;
    right: 26px;
}
.subcategories .tabs {
    overflow: hidden;
    margin: 0 auto;
    border-radius: 15px;
}
.subcategories .tabs > ul {
    position: relative;
    white-space: nowrap;
    height: 25px;
}
.subcategories li {
    display: inline-block;
    width: 167px;
    text-align: center;
    border-right-style: solid;
    border-right-width: 1px;
}
.subcategories li.last {
  border-right: 0px;
}
.subcategories label {
    display: block;
    padding: 0 5px;
    cursor: pointer;
    line-height: 23px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.subcategories input:checked + label {
    cursor: default;
}
/* Hack for safari. background color out of border radius*/
.subcategories li label {
    border-top-style:solid;
    border-top-width:1px;
    border-bottom-style:solid;
    border-bottom-width:1px;
}

.subcategories li.last label {
    border-right-style:solid;
    border-right-width:1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.subcategories li.first label {
    border-left-style: solid;
    border-left-width: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
/* End hack for safari*/

.categories input, .subcategories input {
    display: none;
}
.content_arrow.arrow_top {
    top: 90px;
}
.content_arrow.arrow_bottom {
    bottom:15px;
}
.categories_products_wrapper {
    height: 100%;
    padding-right: 75px;
    overflow-x: hidden;
    margin-right: 5px;
}
#content .subcategories.hide ~ .content {
    top: 60px;
}
.products_spinner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 80px;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}
.category_description {
    position: absolute;
    top: -37px;
    left: 0;
    right: 470px;
    height:25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    font-style: italic;
}
.category_description h2 {
    display: inline;
    font-weight: bold;
    font-size: 20px;
}
.categories_table li:first-child {
    margin-top:0px;
}
.categories_table > li:last-child {
    border-bottom: none;
}