.checkout-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 385px;
    overflow: hidden;
}

.checkout-page .steps {
    display: inline-block;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    overflow: hidden;
}

.checkout-page .step {
    width: 33%;
    padding: 12px 0;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.checkout-page .step-2 {
    width: 34%;
}

.checkout-page .step-2::before,
.checkout-page .step-3::before,
.checkout-page .step-1::after,
.checkout-page .step-2::after {
    content: '';
    display: block;
    border-style: solid;
    position: absolute;
    top: 0;
    z-index: 1;
}

.checkout-page .step-2::before,
.checkout-page .step-3::before {
    border-width: 27px 0 27px 20px;
    top: -7px;
    z-index: 0;
}

.checkout-page .step-2.active::before,
.checkout-page .step-3.active::before {
    left: 0;
}

.checkout-page .step-1::after,
.checkout-page .step-2::after {
    border-width: 20px 15px;
    right: -30px;
}

.checkout-page .view {
    padding: 15px;
    position: absolute;
    top: 42px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.checkout-page .view {
    padding: 15px;
    position: absolute;
    top: 42px;
    bottom: 70px;
    left: 0;
    right: 0;
    overflow: auto;
}

.checkout-page .btns {
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.checkout-page .label {
    margin-left: 15px;
    font-size: 12px;
}

.checkout-page .size1 {
    width: 300px !important;
}

.checkout-page .size2 {
    width: 140px !important;
}

.checkout-page .size3 {
    width: 200px !important;
}

.checkout-page .size4 {
    width: 87px !important;
}

.checkout-page .input {
    margin-bottom: 15px;
    margin-right: 16px;
}

.checkout-page .select-wrapper {
    margin-bottom: 11px;
    margin-right: 16px;
}

.checkout-page .inline-block {
    vertical-align: middle;
}

.checkout-page .shipping-status {
    width: 44px;
    height: 44px;
    position: relative;
    font-size: 10px;
}

.checkout-page .btn {
    display: inline-block;
    min-width: 230px;
    margin-top: 50px;
    padding: 12px 15px;
    font-size: 14px;
}

.checkout-page .payment-methods-box {
    padding-bottom: 16px;
}

.payment-methods-box .payment-systems {
    float: right;
    padding-top: 24px;
    font-size: 0;
}

.payment-methods-box .payment-systems .card-logo {
    display: inline-block;
    height: 22px;
    margin-left: 8px;
}

.payment-methods-box .payment-systems .card-logo img {
    display: block;
    height: 100%;
}

.checkout-page .payment-method {
    display: inline-block;
    min-width: 116px;
    padding: 11px;
    margin: 15px 16px 15px 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    letter-spacing: 2px;
    cursor: pointer;
}

.checkout-page .ctrl-box {
    margin-right: 12px;
    position: relative;
}

.checkout-page .ctrl-input {
    margin-right: 4px;
    padding-right: 30px;
}

.checkout-page .cancel::before {
    display: block;
    padding: 12px 14px 11px 4px;
    font-size: 21px;
}

.checkout-page .stanford-verify {
    min-width: 90px;
    margin-top: 0;
    margin-left: 16px;
    padding: 12px 15px;
    font-size: 14px;
}

.checkout-page .stanford-plans-box {
    padding-top: 15px;
}

.cc-box .checkbox-outer {
    padding-top: 5px;
    cursor: pointer;
}

.cc-box .checkbox-outer > * {
    vertical-align: middle;
}

.checkout-page .discounts-box .input {
    margin-bottom: 0;
}

.checkout-page .discounts-box .cancel::before {
    padding: 12px 6px 11px 4px;
}

.checkout-page .discount-code-box,
.checkout-page .rewards-box {
    padding-top: 16px;
}

.checkout-page .btnApply,
.checkout-page .rewards-card-apply,
.checkout-page .see-rewards {
    display: inline-block;
    padding: 10px 15px 10px 0;
    margin-left: -5px;
    font-size: 13px;
    position: relative;
    top: 3px;
}

@media only screen and (max-width: 1190px) {
    .checkout-page {
        right: 300px !important;
    }
}