#header .checkout .title {
    position: relative;
    white-space: nowrap;
    height: 30px;
    top: 78px;
    width: 65%;
    margin-left: -6px;
    z-index: 1;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
#content > .checkout label {
    display: inline-block;
    width: 302px;
    /*margin: 10px 0;*/
    text-indent: 100px;
    background: none;
    height: 39px;
    line-height: 39px;
    vertical-align: top;
}
#content > .checkout label > span {
    font-weight: bold;
}
#content > .checkout label > span {
    padding-right: 20px;
}
#content > .checkout h2 {
    padding-left: 100px;
    font-weight: bold;
}
#content > .checkout div.row, #content > .checkout div.delivery_address > div > div {
    position: relative;
    height: 39px;
}
#content > .checkout div.row.specials {
    height: 128px;
}
#content > .checkout .input_beauty {
    left: 287px;
    right: 100px;
    position: absolute;
    top: 6px;
    bottom: 6px;
}
#content > .checkout .tipBlock {
    height: 145px;
}
#content > .checkout div.select {
    display: inline-block;
    width: 210px;
    position: relative;
    left: -22px;
    top: 4px;
    vertical-align: top;
    height: 29px;
}
.select-row {
    height: 39px;
}
#content > .checkout div.select.shipping {
    display: inline-block;
    width: 320px;
}
#content > .checkout .select-wrap {
   display: inline-block;
   height: 37px;
}
#content > .checkout .shipping-status {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-top: 4px;
    font-size: 8px;
}
#content > .checkout div.select_day:last-child {
    margin-bottom: 10px;
}
#content > .checkout div.select_day[disabled="disabled"] {
    opacity: .5;
    filter: alpha(opacity=50);
}
#content > .checkout input_beauty.firstName,
#content > .checkout input_beauty.lastName,
#content > .checkout input[name="city"],
#content > .checkout input[name="address_line1"],
#content > .checkout input[name="address_line2"] {
    text-transform: capitalize;
}

#content > .checkout .arrival_address {
    margin-bottom: 20px;
}

#content > .checkout .arrival_address > ul {
    padding-left: 290px;
}

#content > .checkout .arrival_address > ul li {
    text-overflow: ellipsis;
    overflow: hidden;
}

#content > .checkout .input_beauty.special {
    height: 115px;
}

#content > .checkout {
    position: relative;
    width: 100%;
    height: 100%;
}

#content > .checkout .data {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 0;
    right: -10px;
    overflow-x: hidden;
}
#content .checkout .arrow_top {
    top: 4px;
    left: 0;
    right: 7px;
}
#content .checkout .arrow_bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
/* Pay card / PayPal selection popup */
#pay_popup {
    width: 560px;
}
#pay_popup h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0;
    text-align: center;
}
#pay_popup .btn_wrapper {
    margin: 0 0 40px;
    min-height: 48px;
    width: 100%;
    height: auto;
}
#pay_popup .btn {
    width: 248px;
    height: 38px;
    border-radius: 25px;
    margin: 0 auto 20px;
}
.btn.paypal {
    border: none;
    height: 48px;
    width: 245px;
    overflow: hidden;
    line-height: 1000px;
    height: 46px !important;
}
.btn.paypal:before {
    display: none;
}

/* discount css */
#content > .checkout .row.discountBlock {
    height: 50px;
}
#content > .checkout .row.discountBlock .input_beauty {
    bottom: 17px;
}
#content > .checkout .row.discountBlock .discount-code-btn.applied {
    cursor: default;
    text-decoration: none;
}

#content > .checkout  .discount-label {
    margin-top: 5px;
}

#content > .checkout .rewards-card-input.input_beauty,
#content > .checkout .discount-code-input.input_beauty {
    right: 220px !important;
}

#content > .checkout .rewards-card-btn,
#content > .checkout .discount-code-btn {
    display: inline-block;
    width: 100px;
    float: right;
    margin-right: 100px;
    padding-left: 20px;
    line-height: 39px;
    text-decoration: underline;
    cursor: pointer;
}

#popup h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.stanford-student-status {
    width: 500px !important;
}

.stanford-student-instructions {
    padding: 0 20px;
}

.stanford-student-status .btn-popup, .stanford-student-card .btn-popup {
    margin: 20px;
}

.stanford-student-card .btn-popup.disabled {
    margin: 23px;
}

.stanford-student-card {
    width: 500px !important;
}

.stanford-student-card .row {
    height: 39px;
    position: relative;
}

.stanford-student-card label {
    display: inline-block;
    float: left;
    width: 200px;
    text-align: right;
    line-height: 37px;
}

.stanford-student-card .input_beauty {
  left: 220px;
}

.stanford-student-card .captcha_wrap {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
    margin-top: 4px;
    margin-left: 116px;
    width: 120px;
    height: 48px;
    font-size: 8px;
    position: relative;
}

.stanford-student-card .captcha-spinner {
    height: 100%;
}

.stanford-student-card .btn-reload {
    display: inline-block;
    max-width: 145px;
    margin-top: 5px;
    line-height: 48px;
    line-height: 48px;
    vertical-align: top;
    text-decoration: underline;
    cursor: pointer;
}

/* for tablets */
@media only screen and (max-device-width: 949px) {
    #content > .checkout label {
        width: 202px !important;
        text-indent: 50px !important;
    }
    #content > .checkout label.shipping {
        width: 100% !important;
    }
    #content > .checkout .select-wrap {
        display: block !important;
        margin-right: 68px;
        left: 68px;
    }
    #content > .checkout h2 {
        padding-left: 50px !important;
    }
    #content > .checkout div.input_beauty {
        left: 194px !important;
        right: 60px !important;
    }
    #content > .checkout .arrival_address > ul {
        padding-left: 195px !important;
    }
    #content div.specials > label {
        text-indent: 50px !important;
    }
    #content > .checkout div.select {
        left: -15px !important;
    }
    #content > .checkout .rewards-card-input.input_beauty,
    #content > .checkout .discount-code-input.input_beauty {
        right: 180px !important;
    }
    #content > .checkout .rewards-card-btn,
    #content > .checkout .discount-code-btn {
        margin-right: 60px;
    }
}