.confirmPayCard {
    display: table;
    text-align: left;
    width: 875px;
}
.confirmPayCard .panel {
    border: 0px;
    border-radius: 10px;
    height: 630px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.confirmPayCard .left-panel-wrap {
    display: table-cell;
    vertical-align: top;
    width: 500px;
}
.confirmPayCard .scroll-area {
    max-height: 560px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 10px;
}
.confirmPayCard .scroll-area-wrapper {
    margin-top: 2px;
    position: relative;
}
.confirmPayCard #credit-card {
    margin-top: 150px;
}
.confirmPayCard #credit-card.no_top_margin {
    margin-top: 0px;
}
.confirmPayCard #billing-address .card_title {
    font-size: 20px;
}
.confirmPayCard .payments {
    height: 530px;
    overflow: auto;
    text-align: center;
}
.confirmPayCard .payments::before {
    content: '';
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
}
.confirmPayCard .payments-control {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.confirmPayCard .payments-btn,
.confirmPayCard .gift-cards-btn {
    display: inline-block;
    min-width: 268px;
    padding: 0px 15px;
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
}
.confirmPayCard.stanford-card #credit-card {
    margin-top: 0;
}
.confirmPayCard .right-panel-wrap {
    display: table-cell;
    vertical-align: top;
    width: 380px;
    max-width: 400px;
}
.confirmPayCard .right-panel {
    margin-left: 12px;
}
.confirmPayCard .btn-submit {
    padding: 0px 15px;
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0px;
}
.confirmPayCard .card_title {
    font-size: 22px;
    font-weight: bold;
    padding-left: 30px;
    margin: 15px 0;
}
.confirmPayCard .cart_title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 8px 0;
    padding-left: 5px;
    padding-right: 5px;
}
.confirmPayCard.stanford-card .card_title {
    margin-top: 8px;
    margin-bottom: 8px !important;
}
.confirmPayCard .pickup_time {
    margin: 15px 10px 5px 10px;
    text-align: center;
}
.confirmPayCard .order-items-wrap {
    position: relative;
}
.confirmPayCard .content_arrow.arrow_top {
    top: 0px;
}
.confirmPayCard .content_arrow.arrow_bottom {
    bottom: 0px;
}
.confirmPayCard .captcha_container {
    display: inline-block;
    margin-left: 180px;
}
.confirmPayCard.stanford-card .btn-submit.disabled {
    margin: 10px 10px 13px;
    box-shadow: none;
}
.stanford-card .stanford-plans {
    margin-top: 50px;
}
.stanford-card .stanford-plans .list {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.stanford-card .stanford-plan {
    margin: 5px 19px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    position: relative;
}
.stanford-card .stanford-plan .row {
    display: block;
}
.stanford-card .stanford-plan .name {
    font-weight: bold;
}
.stanford-card .stanford-plan .row-balance {
    font-size: 16px;
    padding-top: 4px;
}
.stanford-card .stanford-plan.active:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.stanford-card .cancel-input {
    line-height: 32px;
    right: 5px;
}
.stanford-card .stanford-input {
    right: 40px !important;
}
.stanford-card .stanford-plan {
    cursor: pointer;
}
.stanford-card .stanford-plan.disabled {
    opacity: 0.5;
    cursor: default;
}
.stanford-card .number-input[readonly=readonly] {
    opacity: 0.5;
    background: rgb(224, 224, 224);
}
/* for tablets */
@media only screen and (max-device-width: 949px) {
    .confirmPayCard .captcha_container {
        left: 180px !important;
        width: 200px;
    }
}

#popup .order-items {
    max-height: 365px;
    margin: 0 10px;
    min-height: 5px;
    border-width: 1px 1px 0;
    border-style: solid;
}

#popup .total_block {
    margin: 0 10px 10px;
    min-height: 10px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#popup .order-items {
    padding: 0 10px;
}
#popup .total_block {
    padding: 10px;
}

#popup .order-items {
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
#popup .order-items h3 {
    padding: 0;
}
#popup .total_block li {
    text-align: right;
}
#popup .total_block .title {
    display: inline-block;
    max-width: 280px;
    vertical-align: top;
}
#popup .total_block .cost {
    letter-spacing: -3px;
}
#popup .order-items li {
    position: relative;
}
#popup .order-items .myorder > li {
    margin-top: 10px;
    min-height: 85px;
}
#popup .order-items > li {
    height: auto;
}
#popup .order-items li.special {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#popup .order-items .btns {
    margin: 10px 0 20px;
    display: none;
}
#popup .order-items .btns:last-child {
    margin: 5px 0 0;
}
#popup .order-items .btns > span {
    display: inline-block;
    width: 17px;
    margin-right: 5px;
    text-indent: 1000px;
    overflow: hidden;
    display: none;
}

#popup .order-items .divider {
    width: 2px !important;
}

#popup .order-items ul.discount > li,
#popup .order-items ul.service_fees > li {
    margin-top: 10px;
}

#popup .order-items .myorder > li.no_image .image,
#popup .order-items .service_fees .image {
    display: none;
}
#popup .order-items .myorder > li.no_image,
#popup .order-items .service_fees > li {
    min-height: 35px;
}

#popup .order-items .remove,
#popup .order-items .edit {
    cursor: pointer;
}

@media only screen and (max-device-width: 949px) {
    .confirmPayCard .right-panel-wrap {
        max-width: 250px !important;
    }
    .confirmPayCard {
        width: 690px !important;
    }
}
