#content .filter {
    width: 188px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
#content .filter select {
    font-size: 14px;
}
#content .filter.sort {
    margin-right: 52px;
}