.modifier_class_list.select-wrapper select {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border: none;
    font-size: 14px;
}

.modifier_class_list.select-wrapper::after {
    content: '\f078';
    font-family: 'FontAwesome';
    font-size: 14px;
    border-radius: 0;
    padding: 0;
    top: 0;
}