#modifiers_popup {
    margin-bottom: 60px;
    width: 875px;
    height: 512px;
}
#modifiers_popup .info {
    margin: 18px;
    border-radius: 18px;
    border-width: 1px;
    border-style: solid;
    position: relative;
}
#modifiers_popup .action_button {
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    padding: 0px 15px;
    margin: -7px 2px 0px 2px;
    font-size: 22px;
    max-width: 145px;
    border-radius: 19px;
    border-width: 2px;
    border-style: solid;
}
#modifiers_popup .action_button > span {
    font-weight: bold;
}

/* stanford reload item block start */
.stanford-reload-item {
    min-height: 336px;
    min-width: 510px;
    padding: 20px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.stanford-reload-item .name {
    font-weight: bold;
    font-size: 24px;
    padding: 0 !important;
}

.stanford-reload-item .row {
    height: 27px;
    padding: 6px 0;
}

.stanford-reload-item .btn-popup {
    max-width: 40%;
    margin-top: 20px;
    height: auto;
}

.stanford-reload-item .btn-popup.disbled {
    margin-top: 23px;
}

.stanford-reload-item .view {
    min-height: 236px;
    padding-bottom: 64px;
}

.stanford-reload-item .btn.fl-right {
    margin-right: 40px;
}

.stanford-reload-item .btn.fl-left {
    margin-left: 40px;
}

.stanford-reload-item label {
    display: inline-block;
    width: 170px;
    text-align: right;
    padding-right: 5px;
}

.stanford-reload-item .input_beauty {
    display: inline-block;
    width: 255px;
    height: 27px;
    position: relative;
    top: 0;
    bottom: 0;
}

.stanford-reload-item .info {
    display: inline-block;
    padding-bottom: 20px;
}

.stanford-reload-item .left-offset::before {
    content: '';
    display: inline-block;
    width: 175px;
}

.stanford-reload-item .captcha-wrapper {
    display: inline-block;
    width: 120px;
    height: 48px;
    vertical-align: middle;
}

.stanford-reload-item .cancel-input {
    position: static;
}

.stanford-reload-item .btn-reload {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.stanford-reload-item .btn-reload.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.stanford-reload-item .captcha-spinner {
    font-size: 8px;
    height: 100%;
}

.stanford-reload-item .btn-popup.disabled {
    top: 3px;
    right: 3px;
}

.stanford-reload-item .plans-row {
    padding: 6px 0;
}

.stanford-reload-item .label {
    display: inline-block;
    width: 150px;
    padding-right: 10px;
    text-align: right;
}

.stanford-reload-item .stanford-plan {
    margin: 5px 0;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    position: relative;
}

.stanford-reload-item .stanford-plan .name {
    font-size: 18px;
    display: block;
}

.stanford-reload-item .stanford-plan .row {
    height: auto;
}

.stanford-reload-item .card_title {
    display: none;
}

.stanford-reload-item .plans {
    margin-top: 15px;
    min-height: 90px;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* set native iOS scrolling */
}

.stanford-reload-item .stanford-plan.active:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}
/* stanford reload item block end */

@media only screen and (max-device-width: 949px) {
    #modifiers_popup {
        width: 680px !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #modifiers_popup {
        width: 742px !important;
    }
}