#modifiers_popup {
    min-width: 700px;
    margin-bottom:60px;
}
#modifiers_popup .info {
    min-width: 830px;
    margin: 18px;
    border-radius: 18px;
    border-width: 1px;
    border-style: solid;
    position: relative;
}
#modifiers_popup .action_button {
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    padding: 0px 15px;
    margin: -7px 2px 0px 2px;
    font-weight: bold;
    font-size: 22px;
}

#modifiers_popup .modifiers_table_scroll {
    overflow-y: auto;
    position: relative;
    margin: 5px 13px 5px 8px;
    padding-left: 5px;
    height: 100%;
}

#modifiers_popup .modifiers_table .arrow_top {
    top:5px;
}

#modifiers_popup .modifiers_table .arrow_bottom {
    bottom:5px;
}

@media only screen and (max-device-width: 949px) {
    #modifiers_popup, #modifiers_popup .info {
        min-width: 670px !important;
    }
}