.product_table {
    margin-bottom: 8px;
}
.product_table .product {
    display: inline-block;
    width: 205px;
    height: 309px;
    padding: 3px;
    cursor: pointer;
    margin-right: 20px;
}
.product_table .product.no-image {
    height: 50px;
}
.product_table .product dl {
    position: relative;
    height: 32px;
    overflow: hidden;
    line-height: 18px;
    padding: 4px 0;
}
.product_table .product .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.product_table .product .description {
    line-height: 18px;
    font-size: 13px;
    margin-top: 7px;
}
.product_table .product .cost_block {
    font-size: 16px;
}
.product_table .product .cost_block .uom {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size:12px;
    font-weight: normal;
    max-width: 83px;
    margin-top: -16px;
    text-align: right;
    margin-right: 7px;
}
.product_table .product .cost {
    margin: -7px 2px 0px 0;
}
.product_table .product .cost .currency_symbol {
    margin-right: -6px;
    padding-right: 2px;
}
.product_table .product .cost .price {
    font-weight: normal;
}

/* styles for product list with hidden description */
.product_table .product.short {
    padding-bottom: 5px;
    margin: 0 10px 30px;
}
.product_table .product.short dl {
    height: 42px;
}
.product_table .product .name {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}
.product_table .product .name div {
    font-size: 16px;
    font-weight: bold;
}
.product_table .product.short .name div.product_image div {
    font-size: 3px;
}
.product_image {
    width: 204px;
    height: 272px;
    text-align: center;
    font-size: 0px;
    line-height: 272px;
    overflow: hidden;
}
.product_image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.product_image img.safari {
    margin-top: -3px;
}
.product_image .img-spinner {
    font-size: 7px;
    height: 100%;
}
.product_info dl {
    height: 214px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
}
.product_info dd {
    max-height: 170px;
    overflow-x: hidden;
    overflow-y: auto;
}
.product_info .images {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.product_info .images li {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    position: relative;
    font-size: 0px;
}
.product_info .images .img-spinner {
    font-size: 10px;
}
.product_info .images .space {
    display: inline-block;
    width: 53px;
    height: 63px;
    position: relative;
}
.product_info .images li.active:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: -2px;
    left: -2px;
}
.product_attribute_info {
    position: absolute;
    padding-right: 15px;
    padding-left: 362px;
    top: 254px;
    text-align: left;
}
.product_attribute_info select {
    min-width: 200px;
    max-width: 465px;
    margin-left: 0;
    border-width: 2px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
}
.product_attribute_info .modifiers_classes_title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 465px;
    font-weight: 700;
}
.product_attribute_info .modifier_class_list {
    margin: 5px 0 10px;
}
/* list item mod block start */
#modifiers_popup .product {
    position: relative;
    text-align: left;
    padding: 18px;
    height: 474px;
}

#modifiers_popup .product .block_img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
#modifiers_popup .product .img_wrapper {
    width: 294px;
    height: 392px;
    line-height: 392px;
    margin-right: 50px;
    float: left;
    text-align: center;
}

#modifiers_popup .product .img-spinner {
    width: 100%;
    height: 100%;
}

#modifiers_popup .product .name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
#modifiers_popup .product .cost {
    white-space: nowrap;
    float: right;
}
#modifiers_popup .product .input_beauty {
    display: inline-block;
    position: relative;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto;
}
#modifiers_popup .product .cost {
    margin-right: 10px;
}
#modifiers_popup .product .cost .input_beauty {
    margin-right: 20px;
    margin-left: 3px;
    width:75px;
}
#modifiers_popup .product .gift_card {
    margin-bottom: 10px;
}
#modifiers_popup .product .gift_card .message {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
#modifiers_popup .product .gift_card span:not([class]) {
    display: inline-block;
    width: 130px;
    text-align: right;
}
#modifiers_popup .product .gift_card .input_beauty {
    margin-left: 12px;
    width: 187px;
}
#modifiers_popup .product .gift_card input {
    font-size: 18px;
}
#modifiers_popup .product .cost input {
    font-weight: bold;
    font-size: 24px;
}
#modifiers_popup .product .currency_symbol,
#modifiers_popup .product .uom,
#modifiers_popup .product .cost,
#modifiers_popup .product .price {
    font-weight: inherit;
}
#modifiers_popup .product .currency_symbol {
    margin-right: -5px;
}
/* list item mod block end */

/* for tablets */
@media only screen and (min-device-width: 768px) and (max-device-width : 1024px) and (orientation: portrait) {
    .product_attribute_info .modifiers_classes_title, .product_attribute_info select {
        max-width: 240px !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width : 1024px) and (orientation: landscape) {
    #modifiers_popup .product .gift_card span:not([class]) {
        width: 200px !important;
        text-align: left !important;
    }
    #modifiers_popup .product .gift_card .input_beauty {
        margin-left: 0;
        width: 137px !important;
    }
    .product_attribute_info .modifiers_classes_title, .product_attribute_info select {
        max-width: 310px !important;
    }
}