.products-view {
    margin-left: 190px;
}

.products-view .products-set-title {
    min-height: 16px;
    padding: 12px 22px 11px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: inherit;
    word-break: break-word;
}

.products-view .products {
    margin: 22px 0;
}

.products-view .product-item {
    display: inline-block;
    width: 170px;
    margin: 0 22px 37px;
    vertical-align: top;
    cursor: pointer;
}

.products-view .product_image {
    width: 170px;
    height: 170px;
    line-height: 170px;
    position: relative;
}

.products-view .img {
    max-width: 164px;
    max-height: 164px;
    vertical-align: middle;
}

.products-view .name {
    padding: 6px 0 5px;
}

.products-view .uom {
    font-size: 11px;
}

.products-view .loading {
    position: fixed;
    top: 170px;
    bottom: 51px;
    left: 222px;
    right: 32px;
}

.product_info .img_wrapper {
    width: 529px;
    height: 529px;
    position: relative;
}

.product_info .images {
    height: 529px;
    width: 60px;
    padding: 6px 16px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.product_info .thumbnail {
    width: 100%;
    height: 60px;
    padding: 6px 0;
    font-size: 10px;
    position: relative;
    cursor: pointer;
}

.product_info .name {
    margin-bottom: 32px;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 0.5px;
    word-break: break-word;
}

.product_info .price {
    font-size: 30px;
}

.product_info .product-details.no-images {
    padding-left: 0;
    margin-left: 0;
}

.product_info .size_chart {
    font-size: 12px;
    text-decoration: underline;
}

.product_info .desc-title {
    padding: 10px 0;
    margin-top: 20px;
    border-top-width: 1px;
    border-top-style: solid;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product_info .desc {
    font-weight: 300;
    line-height: 1.3;
}

.product_info .btn {
    padding: 13px 10px;
}