.profile-panel-box {
    position: relative;
}

.profile-panel-box .close {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
}

.profile-panel-box .box {
    width: 330px;
    padding-top: 10px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    right: 16px;
    top: 20px;
    z-index: 200;
}

.profile-panel-box .menu-items.box {
    width: auto;
    padding: 0;
}

.profile-panel-box .profile-item {
    margin: 10px 6px;
    padding: 7px 18px;
    border-radius: 2px;
    letter-spacing: 1px;
    cursor: pointer;
    white-space: nowrap;
}

.profile-panel-box .slash {
    padding: 0 3px;
}

.profile-panel-box .logged .slash {
    display: none;
}

.profile-panel-box .signup-link,
.profile-panel-box .login-link,
.profile-panel-box .logged-as {
    font-size: 12px;
    letter-spacing: 1px;
}

.profile-panel-box .links {
    position: relative;
    z-index: 201;
}

.profile-panel-box .links .primary-text,
.profile-panel-box .links .regular-text {
    color: inherit;
}

.profile-panel-box .signup-link.active::before,
.profile-panel-box .login-link.active::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    border-top-width: 2px;
    border-top-style: solid;
    position: absolute;
    top: -5px;
    left: 0px;
}

.profile-panel-box .profile-form {
    padding: 15px 20px 0;
}

.profile-panel-box .label {
    display: block;
    font-size: 12px;
    padding: 0 14px;
}

.profile-panel-box .input {
    margin-bottom: 15px;
}

.profile-panel-box .passwords-mismatch {
    position: absolute;
    bottom: -5px;
    left: 19px;
    font-size: 12px;
}

.profile-panel-box .phone-privacy {
    display: block;
    margin-top: -10px;
    padding: 0 19px 15px;
    font-size: 12px;
}

.profile-panel-box .btn {
    padding: 11px 10px;
    margin-top: 15px;
}

.profile-panel-box .forgot-password {
    padding: 0 20px;
    font-size: 12px;
    font-style: italic;
}

.profile-panel-box .reset-password-info {
    padding: 0 20px 15px;
}

.profile-panel-box .logged-as::after {
    content: '\f0d7';
    font-family: 'FontAwesome';
    padding-left: 4px;
}

.profile-panel-box .profile-checkbox {
    display: block;
    padding: 8px 14px 0;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
}

.profile-panel-box .profile-checkbox .phone-privacy {
    margin-top: 5px;
    padding: 0 0 15px 19px;
}

.profile-panel-box .profile-checkbox .checkbox {
    position: relative;
    top: 2px;
}

.profile-panel-box input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    margin: 0;
}

.profile-edit {
    width: 100%;
    height: 100%;
    position: relative;
}

.profile-edit .cols {
    position: absolute;
    top: 51px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.profile-edit .col-left {
    width: 50%;
    padding: 8px 15px 8px 25px;
}

.profile-edit .col-right {
    width: 50%;
    padding: 8px 25px 8px 15px;
}

.profile-edit .label {
    padding: 15px 0 1px 14px;
    font-size: 13px;
}

.profile-edit .select-wrapper {
    max-width: 308px;
    width: 100%;
}

.profile-edit .input,
.profile-edit .card-title,
.profile-edit .card-details,
.profile-edit .select-wrapper[class] select,
.profile-edit .new_gift_card,
.profile-edit .reward-cards-list,
.profile-edit .new_reward_card,
.profile-edit .gift-cards-list {
    max-width: 300px;
    width: 100%;
}

.profile-edit .header-underline {
    max-width: 320px;
    width: 100%;
}

.profile-edit .basic-details-box {
    margin-bottom: 20px;
}

.profile-edit .phone-privacy {
    display: block;
    padding-left: 19px;
    font-size: 12px;
}

.profile-edit .update-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile-edit .cancel {
    font-size: 18px;
}

.profile-edit .card-title {
    padding: 13px 0;
}

.profile-edit .card-details {
    padding: 0 15px 15px;
    margin-bottom: 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.profile-edit .card-details .input {
    max-width: 292px;
    width: 96%;
}

.profile-edit .profile-checkbox {
    display: block;
    padding: 5px 14px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.profile-edit input[type="checkbox"] {
    position: absolute;
    top: -500px;
}

.profile-edit .checkbox {
    position: relative;
    top: 2px;
}

.profile-edit .new-card {
    margin-top: 13px;
}

.profile-edit .captcha_container {
    padding: 16px 0px 0 3px;
}

.profile-edit .rewards-title {
    margin-top: 25px;
}

.profile-edit .reward-cards-list > li,
.profile-edit .gift-cards-list > li {
    margin: 13px 0;
}

.profile-edit .addresses {
    margin-top: 15px;
}

.profile-edit .address-item {
    clear: both;
    margin-bottom: 15px;
}

.profile-edit .address__header {
    max-width: 300px;
    width: 100%;
}

.profile-edit .checkbox-item {
    margin: 15px 0;
}

.expand.expanded:before {
    content: '\f147';
    font-family: "FontAwesome";
}

.collapsed .expand:before {
    content: '\f196';
    font-family: "FontAwesome";
}