#profile-panel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
}

#profile-panel.active {
    left: 0;
    bottom: 0;
}

#profile-panel .close {
    background: rgba(70, 70, 70, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#profile-panel .links {
    position: relative;
    right: 6px;
    top: 17px;
    padding: 4px;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#profile-panel .links > div {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    font-size: 16px;
}

#profile-panel .regular-text.link {
    text-decoration: none;
    cursor: default;
}

#profile-panel .signup-link {
    border-right-width: 1px;
    border-right-style: solid;
}

#profile-panel .box {
    position: absolute;
    right: 6px;
    top: 39px;
    width: 250px;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 15px;
}

#profile-panel .box.menu-items {
    padding: 0;
}

#profile-panel .phone-privacy,
#profile-panel .passwords-mismatch {
    display: block;
    padding: 0px 14px 5px;
    font-size: 10px;
}

#profile-panel .passwords-mismatch {
    position: absolute;
}

#profile-panel .btn {
    display: inline-block;
    width: 84%;
    height: 28px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 26px;
}

#profile-panel .btn.disabled {
    margin-top: 13px;
    margin-bottom: 3px;
}

#profile-panel .forgot-password {
    margin: 0 15px 10px;
    font-size: 14px;
}

#profile-panel .profile-items li {
    padding: 15px;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer
}

#profile-panel .profile-items li:not(.disabled):hover,
#profile-panel .profile-items li:not(.disabled):active  {
    background-color: rgba(100,100,100,0.15);
}

#profile-panel .profile-items .logout-link {
    border-bottom-style: none;
}

.profile-edit {
    padding: 15px 0;
}

.profile-edit .side {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.profile-edit .right-side {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
}

.profile-edit .phone-privacy {
    font-size: 10px;
    text-align: left;
    padding-left: 15px;
}

.profile-edit .profile-form {
    width: 250px;
    display: inline-block;
}

.profile-edit .update-btn {
    height: 28px;
    width: auto;
    min-width: 100px;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    line-height: 26px;
}

.profile-edit .profile-form input {
    width: 212px;
}

.profile-edit .select-wrapper {
    width: 228px;
    box-shadow: none;
    padding: 1px 0px;
}

.profile-edit .title {
    margin-bottom: 15px;
    font-size: 16px;
    text-decoration: underline;
}

.profile-form > li {
    margin-bottom: 10px;
}

.profile-form .required::before {
    left: 0px;
    top: -4px;
}

.profile-form input {
    width: 85%;
    padding: 4px 8px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    font-size: 14px;
}