#profile-panel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
}

#profile-panel.active {
    left: 0;
    bottom: 0;
}

#profile-panel .close {
    background: rgba(70, 70, 70, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#profile-panel .links {
    position: relative;
    right: 6px;
    top: 17px;
    padding: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#profile-panel .links > div {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    font-size: 16px;
}

#profile-panel .regular-text.link {
    text-decoration: none;
    cursor: default;
}

#profile-panel .signup-link {
    border-right-width: 1px;
    border-right-style: solid;
    width: 200px;
    text-align: right;
}

#profile-panel .box {
    position: absolute;
    right: 6px;
    top: 39px;
    width: 250px;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 15px;
}

#profile-panel .box.menu-items {
    padding: 0;
}

#profile-panel .phone-privacy,
#profile-panel .passwords-mismatch {
    display: block;
    padding: 0px 14px 5px;
    font-size: 10px;
}

#profile-panel .passwords-mismatch {
    position: absolute;
}

#profile-panel .flat-btn {
    display: inline-block;
    width: 84%;
    height: auto;
    margin-top: 10px;
    font-size: 14px;
    padding: 6px 0;
    line-height: normal;
}

#profile-panel .btn.disabled {
    margin-top: 13px;
    margin-bottom: 3px;
}

#profile-panel .forgot-password {
    margin: 0 15px 10px;
    font-size: 14px;
}

#profile-panel .profile-items li {
    padding: 15px;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer
}

#profile-panel .profile-items li:not(.disabled):hover,
#profile-panel .profile-items li:not(.disabled):active  {
    background-color: rgba(100,100,100,0.15);
}

#profile-panel .profile-items .logout-link {
    border-bottom-style: none;
}

.profile-edit {
    padding: 15px 0;
}

.profile-edit .side {
    width: 50%;
    min-height: 320px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.profile-edit .left-side::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: 0;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #ccc;
}

.profile-edit .phone-privacy {
    font-size: 10px;
    text-align: left;
    padding-left: 15px;
}

.profile-edit .profile-form {
    width: 250px;
    display: inline-block;
}

.profile-edit .successful-update {
    position: relative;
    top: -12px;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
}

.profile-edit .successful-update.visible {
    opacity: 1;
    filter: alpha(opacity=100);
}

.profile-edit .update-btn {
    width: auto;
    min-width: 220px;
    display: inline-block;
    font-size: 14px;
}

.profile-edit .profile-form input {
    width: 212px;
}

.profile-edit .profile-form input:disabled {
    color: #999;
}
.profile-edit .gift-cards-box .add_gift_card_title_wrap {
    display: block;
    margin: 8px auto 10px auto;
    width: 300px;
}
.profile-edit .gift-cards-box .add_gift_card_title {
    font-size: 14px;
    margin-left: 15px;
    text-align: left;
}

.profile-edit .gift-cards-box .add_gift_card_title .plus_sign {
    width: 12px;
    display: inline-block;
}

.profile-edit .gift-cards-box .add_gift_card_title:hover {
    cursor: pointer;
}

.profile-edit .gift-cards-box input {
    margin-bottom: 8px;
}

.profile-edit .gift-cards-box .captcha_container {
    text-align: left;
}

.profile-edit .gift-cards-box .captcha_wrap {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    height: 50px;
}
.profile-edit .gift-cards-box .captcha-spinner {
    top: 37px;
    left: 10px;
}
.profile-edit .gift-cards-box .ui-spinner {
    width: 50px;
    height: 50px;
}

.profile-edit .gift-cards-box .new_gift_card {
    text-align: left;
}

.profile-edit .flat-btn.btn-reload {
    width: 80px;
    padding: 5px 4px;
    text-align: center;
    margin-left: 5px;
}

.profile-edit .select-wrapper {
    width: 228px;
    height: 24px;
    box-shadow: none;
    background: transparent;
}

.profile-edit .title {
    margin-bottom: 15px;
    font-size: 16px;
    text-decoration: underline;
}

.profile-edit .card-title {
    margin-bottom: 10px;
}

.profile-edit .basic-details-box {
    margin-bottom: 15px;
}

.profile-edit .remove-btn::after {
    content: '\f057';
    font-size: 18px;
    font-family: "FontAwesome";
    display: block;
    width: 1em;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    opacity: 0.5;
}

.profile-edit .payments-list .remove-btn::after {
    right: auto;
    left: 215px;
    top: 14px;
}

.profile-edit .profile-checkbox {
    display: inline-block;
    position: relative;
    line-height: 21px;
    padding-left: 28px;
}

.profile-edit .profile-checkbox input {
    display: none;
}

.profile-edit .profile-checkbox i {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
    background-image: url(themes/vintage/img/ui.png);
    background-repeat: no-repeat;
    background-position: -91px -1px;
}

.profile-edit .profile-checkbox input:checked + i {
    background-position: -91px -26px;
}

.profile-edit .payments-list,
.profile-edit .gift-cards-list {
    font-size: 14px;
    width: 300px;
}

.profile-edit .payments-list {
    margin: 0;
    padding: 0;
}

.profile-edit .payments-list > li,
.profile-edit .gift-cards-list > li {
    text-align: left;
}

.profile-form > li {
    margin-bottom: 10px;
}

.profile-form .required::before {
    position: absolute;
    left: 0px;
    top: -4px;
}

.profile-form input {
    width: 85%;
    padding: 4px 8px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    font-size: 14px;
}

.profile-form select {
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.profile-form .placeholder::before {
    padding: 4px 8px;
    font-size: 14px;
}

.reset-password-info {
    font-size: 14px;
    padding-bottom: 15px;
}

.payments-list,
.gift-cards-list {
    display: inline-block;
    width: 95%;
    vertical-align: middle;
}

.payments-list > li,
.gift-cards-list > li {
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    margin: 5px 10px;
    padding: 7px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}

.payments-list > li.selected::after,
.gift-cards-list > li.selected::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}


.profile-cvv-container {
    margin-bottom: 25px;
}

.profile-cvv-container .title {
    font-size: 24px;
    margin-bottom: 15px;
}

.profile-cvv-container {
    font-size: 16px;
}

.profile-cvv-container .input_beauty {
    width: 200px;
    margin: 10px auto;
    position: relative;
    top: initial;
    bottom: initial;
}