.rewards-info {
    position: relative;
    width: 400px;
    text-align: left;
    padding-bottom: 6px;
}

.rewards-info .popup-background {
    padding: 12px;
    border-radius: 10px;
}

.rewards-info h3 {
    padding: 0 0 24px !important;
    font-weight: bold;
    font-size: 20px;
}

.rewards-info .rewards-available {
    padding-bottom: 12px;
}

.rewards-info label {
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 97px;
    padding-right: 10px;
    vertical-align: middle;
}

.rewards-info .captcha_container {
    margin-left: 40px;
    margin-top: 10px;
}

.rewards-info .input_beauty {
    position: relative;
    top: 0;
    bottom: 0;
    display: inline-block;
    height: 27px;
}

.rewards-info .reward_card_number.disabled {
    opacity: 0.5;
}

.rewards-info .captcha {
    display: inline-block;
    height: 48px;
    width: 120px;
    margin: 24px 0 12px 111px;
    font-size: 8px;
    position: relative;
}

.submit-card, .apply-reward {
    margin: 16px 16px 0;
}

/* need to increase margins to avoid jumping */
.submit-card.btn.disabled, .apply-reward.btn.disabled {
    margin: 19px 19px 3px;
}

.rewards-title {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.rewards-total {
    text-align: center;
    margin-bottom: 12px;
}

.rewards-total__item {
    display: inline-block;
    width: 32%;
    vertical-align: top;
}

.rewards-total__item-title {
    font-style: normal;
    display: block;
    width: 88px;
    margin: 24px auto 4px;
    font-size: 18px;
}

.rewards-info .info {
    display: inline-block;
    font-size: 12px;
    padding: 10px 0;
}

.total-points, .total-visits, .total-purchases {
    font-size: 24px;
}

.reward-selection-wrapper {
    padding-bottom: 10px;
    position: relative;
}
.reward-selection-inner {
    overflow: hidden;
}
.reward-selection {
    max-height: 210px;
    margin-right: -100px;
    padding-right: 100px;
    overflow-y: auto;
    text-shadow: none;
}
.reward-selection::-webkit-scrollbar {
    display: none;
}
.reward-selection-wrapper .content_arrow.arrow_top {
    top: -20px;
}
.reward-selection-wrapper .content_arrow.arrow_bottom {
    bottom: -12px;
}
.reward-selection-wrapper .content_arrow.arrow_top,
.reward-selection-wrapper .content_arrow.arrow_bottom {
    background: transparent;
    box-shadow: none;
}

.reward-selection__item {
    height: 95px;
    border-width: 1px;
    border-style: solid;
    margin: 7px 0;
    text-align: center;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}

.reward-selection__item_selected {
    position: relative;
}

.reward-selection__item_selected:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.rewards-info .rewards-card-btn {
    display: inline-block;
    line-height: 48px;
    margin: 24px 12px 12px;
    vertical-align: top;
    text-decoration: underline;
    cursor: pointer;
}

.rewards-info .img-spinner {
    height: 100%;
}

.reward__name {
    font-size: 22px;
}

.reward__discount {
    font-size: 20px;
}

.reward__redemption {
    display: block;
    font-size: 16px;
    text-align: center;
}

@media only screen and (max-device-width: 949px) {
    .rewards-total__item-title {
        width: 86px !important;
    }
}

@media screen and (min-height: 768px) {
    .reward-selection {
        max-height: 277px;
    }
}
@media screen and (min-height: 900px) {
    .reward-selection {
        max-height: 315px;
    }
}
@media screen and (min-height: 1000px) {
    .reward-selection {
        max-height: 420px;
    }
}
