.gallery {
    width: 250px;
    height: 250px;
    border:1px solid #ddd;
    font-size: 4px;
    overflow: hidden;
    padding:10px;
    float: left;
    margin-right:18px;
}

.app-gallery li, .app-gallery li .img-spinner {
    height: 100%;
    width: 100%;
}

.app-gallery-scroll-right, .app-gallery-scroll-left {
    text-shadow: none;
}

.app-gallery-scroll:before {
    background: rgba(0,0,0,.4);
}

.about_content {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;
    right: -10px;
    overflow-x: hidden;
    padding: 0 20px 0 10px;
    text-align: justify;
    margin-right: 5px;
}

.about_content h2 {
    font-weight: bold;
    margin: 20px 0px 20px;
}

.info_map_wrapper {
    padding-right: 30px;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: -10px;
    overflow-x: hidden;
    margin-right: 5px;
}

#mapBox {
    height: 350px;
}

.view_larger_map {
    font-size: 13px;
    margin-top: 7px;
    text-align: center;
}

.info_location {
    margin: 10px auto 0;
}
.info_location td {
    vertical-align: top;
    padding-right: 5px;
    padding-bottom: 10px;
}

.info_location address {
    font-style: normal;
}

.info_location .hours .info {
    font-size: 12px;
    padding-bottom: 10px;
}

.info_location .hours li {
    padding-top: .05em;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.info_location .hours li:last-child {
    border-bottom: none;
}

.info_location .hours li .weekDay {
    float: left;
    width: 250px;
}
.info_location .hours li .time {
    float: right;
    text-align: right;
    width: 210px;
}

.info_location .phone,
.info_location .email {
    text-decoration: none;
}
.info_location td:first-child > span {
    font-weight: bold;
    max-width: 250px;
}

#googlemaps_popup strong {
    font-weight: bold;
}

#content > .about, #content > .map {
    position: relative;
    width: 100%;
    height: 100%;
}

#content > .about .content_arrow.arrow_bottom, #content > .map .content_arrow.arrow_bottom {
    bottom: 0;
}

#content > .about .content_arrow.arrow_top, #content > .map .content_arrow.arrow_top {
    top: 0;
}

.app-gallery-scroll-right:before {
    content: '›' !important;
}
.app-gallery-scroll-left:before {
    content: '‹' !important;
}
.app-gallery-scroll-right:before, .app-gallery-scroll-left:before {
    line-height: 26px !important;
    font-size: 25px !important;
    width: 20px !important;
    border-radius: 4px !important;
    font-family: inherit !important;
    padding: 0 !important;
    margin-left: -10px !important;
    font-weight: normal !important;
}