* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -o-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -ms-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

/* [blue] categories, prices font color */
.font-color1 {
    color: #1a99cd;
}

/* [blue] header */
.bg-color1 {
    background-color: #1a99cd;
}

/* [white] header background */
.font-color2 {
    color: #fff;
}

/* [white] main background */
.bg-color2 {
    background-color: #fff;
}

/* [dark] main font color */
.font-color3 {
    color: #373c40;
}

/* [dark] menu background */
.bg-color3 {
    background-color: #373c40;
}

/* [grey] menu font color */
.font-color4 {
    color: #81888e;
}

/* [dark] modifiers font color */
.font-color5 {
    color: #717d8b;
}

/* [green] modifier price color */
.font-color6 {
    color: #3cb878;
}

/* [sky blue] header buttons */
.font-color7 {
    color: #bce0f0;
}

/* [grey] header buttons */
.font-color8 {
    color: #93a6ad;
}

#header .btn-cart {
    background: #1a6398;
}

#header .btn-cart[data-count]::after {
    border-color: #fff;
    background: #f22828;
}

.tabs::after {
    background-color: #1a99cd;
}

.tab-center {
    border-color: #5f6972;
}

.list > li {
    border-color: #d6e3e9;
}

.list > li::after {
    color: #d1d6d9;
}