* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
/* [navigation_bar] Top/Navigation/Header bar on all screens */
.navigation-bar {
  background: #199ACD;
}
/* [navigation_bar_item] Any item on navigation bar (text, icons, logo) */
.navigation-bar-item {
  color: #FFFFFF;
}
/* [primary_background] Screen backround (exclude lists) */
.primary-bg,
#popup_container[id] {
  background: #EBF4FA !important;
}
/* [cart_icon_background] Cart icon background */
.btn-cart {
  background: #1A6398;
}
/* [cart_quantity_background] Items quantity background */
.btn-cart[data-count]::after {
  background: #F22828;
}
/* [cart_quantity_border] Items quantity border */
.btn-cart[data-count]::after {
  border-color: #FFFFFF;
}
/* [tab] Store details tabs button background */
.tabs,
.myorderList .qty {
  background: #373C40;
}
/* [tab_text] Store details tabs button background */
.tab-text {
  color: rgba(255, 255, 255, 0.3);
}
.tab-text .active,
.myorderList .qty {
  color: #FFFFFF;
}
.tab-center {
  border-color: rgba(255, 255, 255, 0.3);
}
/* [tab_active_underline] Store details tabs button background */
.tabs::after {
  background: #199ACD;
}
/* [promotions_title_background] Promotions title background
   [promotions_title_color] Promotions title color */
.promotions-title {
  background: #EAF3F9;
  color: #373B40;
}
.all-promotions__text:after {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCI+CiA8Zz4KICA8cGF0aCBmaWxsPSIjMTNCMjFBIiBkPSJtOS4wMDU4MywwYzIsMCAzLjksMCA1LjksMGMxLjksMCAzLjcsMC43IDUuMSwyLjFjNS42LDUuNiAxMS4zLDExLjIgMTYuOSwxNi45YzEuMiwxIDEuMywyLjggMC4zLDRjLTAuMSwwLjEgLTAuMiwwLjIgLTAuMywwLjNjLTAuNiwwLjYgLTEuMywxLjMgLTEuOSwxLjljLTQsNCAtOCw4IC0xMiwxMmMtMSwxLjEgLTIuNywxLjIgLTMuOCwwLjJjLTAuMSwtMC4xIC0wLjEsLTAuMSAtMC4yLC0wLjJjLTQsLTQgLTgsLTggLTEyLC0xMmMtMS42LC0xLjYgLTMuMywtMy4yIC00LjksLTQuOWMtMS40LC0xLjMgLTIuMSwtMy4yIC0yLjEsLTUuMWMwLC00LjEgMCwtOC4yIDAsLTEyLjJjLTAuMSwtMS41IDEuMSwtMi44IDIuNiwtMi45YzAuMSwwIDAuMiwwIDAuMywwYzIsLTAuMSA0LC0wLjEgNi4xLC0wLjF6bTUsMTBjMC4xLC0yLjMgLTEuOCwtNC4zIC00LjEsLTQuM2MtMi4zLC0wLjEgLTQuMywxLjggLTQuNCw0LjFzMS44LDQuMyA0LjEsNC40bDAuMSwwYzIuMywwIDQuMiwtMS44IDQuMywtNC4ybDAsMGwwLDB6Ii8+CiA8L2c+Cjwvc3ZnPg==");
}
/* [input_background] Text fields background */
.input-colors {
  background: #FFFFFF;
}
/* [input_border] Text fields border */
.input-colors {
  border-color: #E3EEF2;
}
/* [input_border_highlighted] Selected text fields border */
.input-colors:focus {
  border-color: #199ACD;
}
/* [input_placeholder] Text field placeholder text */
.input-colors::-webkit-input-placeholder,
.input-colors:-moz-placeholder,
.input-colors::-moz-placeholder,
.input-colors:-ms-input-placeholder {
  color: #CECECE;
}
/* [input_text] Text field text color */
.input-colors,
.establishments[class] .select-wrapper::after {
  color: #000000;
}
.input-control .ctrl-wrapper::after {
  color: rgba(0, 0, 0, 0.3);
}
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 #000000 !important;
}
/* [primary_text] Primary text color */
.primary-text,
.regular-button,
.establishments[class] select,
.establishments[class] button,
#popup_cancel[id],
#popup_content[id].info::before {
  color: #199ACD;
}
/* [title_text] Text color for item's name etc */
.title-text,
#googlemaps_popup > div:first-child,
.myorderList .combo_products_place .qty {
  color: #000000;
}
.myorderList .combo_products_place .qty {
  border-color: #000000;
}
/* [regular_text] Regular text, custom menu, item price in list */
.regular-text,
#googlemaps_popup > div,
#popup_container[id] {
  color: #838385;
}
/* [alternate_text] Text color for solid buttons, checkboxes (checkout, subtotal and etc) */
.alternate-text,
.primary-button,
#popup_ok[id],
.alternate-button:not([disabled]):active,
.reward-selection__item_selected::after,
.stanford-plan.active::after {
  color: #FFFFFF;
}
.primary-button:not([disabled]):active,
#popup_ok[id]:not([disabled]):active,
.myorderList .combo_products_place .qty {
  background: #FFFFFF;
}
/* [special_text] Discount text, free modifiers */
.special-text {
  color: #13A11D;
}
/* [attention_text] Total amount */
.attention-text,
.required::before {
  color: #E73939;
}
/* [list_background] cell bg, table bg */
#section > div,
.list-bg,
.quantity .btn-qty:not([disabled]):active {
  background: #FFFFFF;
}
.quantity .btn-qty::before,
.quantity .btn-qty::after {
  border-color: #FFFFFF;
}
/* [list_header] Table cells header */
.list-title {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #EBF4FA 35%, #EBF4FA 65%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(35%, #EBF4FA), color-stop(65%, #EBF4FA), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #EBF4FA 35%, #EBF4FA 65%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #EBF4FA 35%, #EBF4FA 65%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #EBF4FA 35%, #EBF4FA 65%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}
/* [list_header_text] Header text color */
.list-header-text {
  color: #199ACD;
}
/* [list_separator] Table cells separator */
.list-separator,
.list-title,
.list > li,
.myorder.items > li,
.discount.items > li,
.service_fees.items > li,
.totals-checkout > li {
  border-color: #CECECE;
}
.list > li::after {
  color: #CECECE;
}
/* [list_subheader] credit cards edition */
.list-subheader {
  background: #E4E4E4;
}
/* [header] Customize screen product description text background */
.header {
  background: #1B8DBD;
}
/* [header_text] Customize screen product description text background */
.header-text {
  color: #FFFFFF;
}
.product-modifiers input:not([readonly]) {
  border-color: #FFFFFF;
}
/* [button_border] button border */
.primary-button,
.regular-button,
.establishments[class] button,
#popup_ok[id],
#popup_cancel[id] {
  border-color: #E3EEF2;
}
/* [primary_button] primary background button */
.primary-button,
#popup_ok[id],
.quantity .btn-qty {
  background: #199ACD;
}
.primary-button:not([disabled]):active,
#popup_ok[id]:not([disabled]):active {
  color: #199ACD;
  border-color: #199ACD;
}
.regular-button:not([disabled]):active,
#popup_cancel[id]:not([disabled]):active,
.establishments[class] button:not([disabled]):active,
.payments .payment,
.reward-selection__item,
ul.reward-selection > li,
.quantity .btn-qty,
.quantity .btn-qty:not([disabled]):active::before,
.quantity .btn-qty:not([disabled]):active::after {
  border-color: #199ACD;
}
.reward-selection__item_selected,
.stanford-plan.active {
  background: rgba(25, 154, 205, 0.3);
}
.modifier .mdf_split::before {
  color: #199ACD;
}
/* [regular_button] Reqular button background*/
.regular-button,
#popup_cancel[id],
.establishments[class] button {
  background: #FFFFFF;
}
/* [alternate_button] Close/Remove */
.alternate-button {
  color: #0B1216;
  border-color: #0B1216;
}
.alternate-button:not([disabled]):active {
  background: #0B1216;
}
.profile-menu .close.alternate-button:active {
  background: transparent;
  color: inherit;
}
/* [toolbar] Toolbar with payment button, footer background */
.toolbar {
  background: #D0D0D0;
}
/* [warning_icon] Warning icon in popup */
#popup_content[id].warning::before {
  color: #AD8A00;
}
/* icons */
#header .btn-cart {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE2MCI+PGRlZnM+PHBhdGggaWQ9ImJhZyIgZmlsbD0iI0ZGRkZGRiIgZD0iTTAsMTYwIEwwLDIwIEwyMCwyMCBMMjAsMCBMOTAsMCBMOTAsMTAgTDQwLDEwIEw0MCwyMCBMOTAsMjAgTDkwLDkwIEE0MCw0MCAwIDAsMSA1MCw1MCBBMTAsMTAgMCAxLDAgNDAsNTAgQTUwLDUwIDAgMCwwIDkwLDEwMCBMOTAsMTYwIHoiLz48L2RlZnM+PHVzZSB4PSIwIiB5PSIwIiB4bGluazpocmVmPSIjYmFnIi8+PHVzZSB4PSI5MCIgeT0iMCIgeGxpbms6aHJlZj0iI2JhZyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjY1LDApIHNjYWxlKC0xLCAxKSIvPjwvc3ZnPg==");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50%;
}
.list-title::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTUiIGhlaWdodD0iOCI+PHBvbHlnb24gcG9pbnRzPSIwLDAgIDE1LDAgIDgsOCIgc3R5bGU9ImZpbGw6I0VCRjRGQSIvPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjgiIHkyPSI4IiBzdHlsZT0ic3Ryb2tlLXdpZHRoOjE7c3Ryb2tlOiNDRUNFQ0UiLz48bGluZSB4MT0iOCIgeTE9IjgiIHgyPSIxNSIgeTI9IjAiIHN0eWxlPSJzdHJva2Utd2lkdGg6MTtzdHJva2U6I0NFQ0VDRSIvPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjE1IiB5Mj0iMCIgc3R5bGU9InN0cm9rZS13aWR0aDoxO3N0cm9rZTojRUJGNEZBIi8+PC9zdmc+");
  background-position: 50%;
  background-size: 2.5em 1.33em;
  background-repeat: no-repeat;
}
.done .thanks {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiID8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+Cjxzdmcgd2lkdGg9IjI1N3B4IiBoZWlnaHQ9IjI1OHB4IiB2aWV3Qm94PSIwIDAgMjU3IDI1OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsPSIjMTk5QUNEIiBkPSIgTSAxMDIuNDkgMC4wMCBMIDEwNS4xMyAwLjAwIEMgMTA1LjU3IDAuNjEgMTA2LjQ1IDEuODMgMTA2Ljg4IDIuNDQgQyAxMDIuMDEgNS45MSA5NS45NCA2LjU1IDkwLjQ3IDguNjIgQyA4MC4zOCAxMi4yNiA3MC44MyAxNy4yMiA2MS42NCAyMi43MyBDIDU3LjAxIDQ1Ljg2IDU3LjA4IDY5LjU3IDU3LjgxIDkzLjA1IEMgNTguNTIgMTA4LjA0IDU4LjkzIDEyMy4wNSA1OS42NCAxMzguMDQgQyA1OS42MiAxNDAuMzggNTkuODggMTQzLjI1IDU3LjgyIDE0NC44NyBDIDU1LjM4IDE0Ny4wNCA1MC40MyAxNDcuODYgNDguNzggMTQ0LjM1IEMgNDguMTggMTQwLjkzIDQ4LjkzIDEzNy40MiA0OC43MyAxMzMuOTcgQyA0Ny45MiA5OS40NiA0NC40NSA2NC42OCA0OS44MSAzMC4zNSBDIDM3Ljk2IDM4LjQzIDI2LjI2IDQ2LjkwIDE2LjIzIDU3LjIyIEMgMTIuNzggNjAuMzcgMTAuMDMgNjQuNTAgMTAuNTAgNjkuNDAgQyA3LjM4IDcxLjU3IDMuNTMgNzIuNTkgMC4wMCA3MC43NCBMIDAuMDAgNjcuMjcgQyAwLjg5IDY0LjYyIDIuMjAgNjIuMTIgNC4wMiA2MC4wMCBDIDE4LjAxIDQ0LjAwIDM2LjA1IDMyLjQxIDUzLjYzIDIwLjgxIEMgNjguOTcgMTEuOTYgODQuOTQgMy40MCAxMDIuNDkgMC4wMCBaIiAvPgo8cGF0aCBmaWxsPSIjMTk5QUNEIiBkPSIgTSAxNTguNDIgMTkuNTkgQyAxNjAuNTYgMTguNTEgMTYzLjM2IDE4LjIyIDE2NS4zOSAxOS43MSBDIDE2Ni45NiAyMC45OCAxNjYuMzkgMjMuMjQgMTY2LjU3IDI1LjAwIEMgMTY2LjM5IDMwLjE4IDE2Ni45MSAzNS40MCAxNjYuMjcgNDAuNTUgQyAxNjQuODQgNDMuNTggMTYwLjY3IDQ0LjM1IDE1Ny43NyA0My4yMCBDIDE1NS42OCA0Mi4zNCAxNTYuMDIgMzkuNzkgMTU1Ljg5IDM3Ljk3IEMgMTU1Ljk2IDMyLjk0IDE1NS43MSAyNy45MCAxNTYuMDQgMjIuODggQyAxNTYuMDAgMjEuMzcgMTU3LjE2IDIwLjIyIDE1OC40MiAxOS41OSBaIiAvPgo8cGF0aCBmaWxsPSIjMTk5QUNEIiBkPSIgTSAxMzUuMDQgMjYuMDcgQyAxMzcuNTcgMjMuNDIgMTQzLjE3IDIxLjgwIDE0NS40OSAyNS40NSBDIDE0Ni4zOCAzMC45OCAxNDYuMDMgMzYuOTQgMTQ0LjIxIDQyLjI2IEMgMTQxLjg2IDQ1LjQ1IDEzNy4yNCA0NS45MCAxMzMuNzcgNDQuNDUgQyAxMzQuNjcgMzkuOTkgMTM1LjMzIDM1LjQ4IDEzNS40NCAzMC45MiBDIDEzNC43OCAyOS40MCAxMzMuMzggMjcuNDkgMTM1LjA0IDI2LjA3IFoiIC8+CjxwYXRoIGZpbGw9IiMxOTlBQ0QiIGQ9IiBNIDE5NS4zNiAyOC40MSBDIDE5Ny41NSAyNy41MSAyMDAuNTYgMjYuNzEgMjAyLjUwIDI4LjU0IEMgMjAzLjg2IDQzLjE1IDE5Ny44MCA1OC4xNyAxODYuOTQgNjguMDAgQyAxNzYuMDQgNzguMDYgMTYwLjcyIDgyLjcyIDE0Ni4wMyA4MS4zOCBDIDEzMy42MiA4MC4zMSAxMjAuNjggNzcuMjYgMTEwLjg3IDY5LjE2IEMgMTAzLjg0IDYzLjQ5IDk5Ljc2IDU0LjA5IDEwMS4yNyA0NS4xMCBDIDEwMy4xMyA0MS44NyAxMDguMTMgNDAuODAgMTExLjI0IDQyLjg0IEMgMTExLjc0IDQ3LjM4IDExMS4zNSA1Mi4yMiAxMTMuNjEgNTYuMzggQyAxMTcuNzcgNjQuOTggMTI2LjgxIDY5Ljg1IDEzNS42MSA3Mi40NiBDIDE0NS44MiA3NS4zMyAxNTYuOTcgNzYuNDQgMTY3LjIwIDczLjE0IEMgMTc4LjUyIDY5LjM5IDE4Ni40MCA1OS4wMiAxOTAuMDggNDguMDMgQyAxOTEuOTEgNDIuOTEgMTkyLjEyIDM3LjQzIDE5Mi4zOSAzMi4wNCBDIDE5Mi4yMyAzMC4yMyAxOTMuOTIgMjkuMTAgMTk1LjM2IDI4LjQxIFoiIC8+CjxwYXRoIGZpbGw9IiMxOTlBQ0QiIGQ9IiBNIDIxNy43MSA1OS44OCBDIDIxNy43NyA1NS4wMCAyMjQuMjMgNTQuMzYgMjI3LjkxIDU0Ljk5IEMgMjI4LjMyIDU4LjMxIDIyOC4yMCA2MS42OCAyMjguMjAgNjUuMDIgQyAyMjguMDUgNzUuMDggMjI4LjY2IDg1LjEyIDIyOC45NCA5NS4xNyBDIDIzNC4xMSA5NC43NSAyMzkuODAgOTQuNTkgMjQ0LjI4IDk3LjY2IEMgMjQ3Ljg2IDEwMC4wMSAyNDkuNDYgMTA0Ljk0IDI0Ny43NCAxMDguOTAgQyAyNDUuMjQgMTE1LjAyIDIzOS42NCAxMTkuMDAgMjM0LjY0IDEyMi45OCBDIDIzOC44OSAxMjkuNzUgMjQyLjI2IDEzNy4xNyAyNDcuOTAgMTQyLjk2IEMgMjUwLjkzIDE0Mi40MyAyNTQuMjMgMTQxLjQ5IDI1Ny4wMCAxNDMuNDAgTCAyNTcuMDAgMTQ2LjA1IEMgMjUzLjMzIDE0OC44MSAyNDguODAgMTUxLjQxIDI0NC4wNSAxNDkuOTkgQyAyMzYuNDMgMTQ4LjE0IDIzMi44OSAxNDAuNDEgMjI5LjQ5IDEzNC4xMyBDIDIyOC42NCAxMzYuOTYgMjI4LjE0IDEzOS45OCAyMjYuNjAgMTQyLjU1IEMgMjI0LjA5IDE0NS40NiAyMTkuODYgMTQ0LjY1IDIxNi40NSAxNDQuNzggQyAyMjEuMzcgMTMyLjAzIDIxOS4wMyAxMTguMjUgMjE4LjgyIDEwNC45OCBDIDIxOC42MSA4OS45NCAyMTcuMjEgNzQuOTMgMjE3LjcxIDU5Ljg4IFoiIC8+CjxwYXRoIGZpbGw9IiMxOTlBQ0QiIGQ9IiBNIDY2LjMxIDYxLjIwIEMgNjguODIgNTguNDEgNzIuODcgNTguNDYgNzYuMzIgNTguNDEgQyA3Ni41NyA3MS44MyA3Ny4zNCA4NS4yNCA3OC4xOSA5OC42MyBDIDg2LjE0IDk1LjEyIDk1Ljg5IDkzLjk1IDEwMy44MCA5OC4xOCBDIDEwNy44OCAxMDAuMjAgMTEwLjM3IDEwNC41NyAxMTAuNTIgMTA5LjA3IEMgMTExLjAxIDExOC4yNyAxMDkuNDQgMTI3LjQ0IDEwNy41MiAxMzYuNDAgQyAxMDYuODMgMTM4Ljk1IDEwNi40OCAxNDEuNzIgMTA0Ljk3IDE0My45NSBDIDEwMi4yOCAxNDYuNDIgOTguMzUgMTQ2LjUxIDk1LjA1IDE0NS4zNyBDIDk3LjUxIDEzNS40MCA5OS43MSAxMjUuMzAgMTAwLjI0IDExNS4wMiBDIDEwMC4yMiAxMTEuOTEgMTAwLjA5IDEwOC40NSA5OC4wOCAxMDUuOTAgQyA5NC42MSAxMDEuNTkgODcuODAgMTAxLjQ1IDgzLjM2IDEwNC4yNiBDIDc5LjgxIDEwNi41NyA3OS4xOSAxMTEuMTYgNzguOTQgMTE1LjA0IEMgNzguNzAgMTI0LjM2IDc5LjIyIDEzMy43OCA3Ny45NSAxNDMuMDMgQyA3NS43MCAxNDYuMjkgNzEuMDggMTQ2LjE4IDY3LjU4IDE0NS41NiBDIDcwLjA4IDEyMS40MCA2Ny4wNiA5Ny4xOCA2Ni4yNCA3My4wMyBDIDY2LjIxIDY5LjA5IDY1Ljg2IDY1LjEyIDY2LjMxIDYxLjIwIFoiIC8+CjxwYXRoIGZpbGw9IiMxOTlBQ0QiIGQ9IiBNIDEyOC4zOSA5Ny4zNCBDIDEzNS42NSA5NC4zNSAxNDMuOTMgOTIuNDIgMTUxLjY4IDk0LjQ4IEMgMTU1LjAxIDk1LjI3IDE1Ny4xMCA5OC4xMCAxNTguNjggMTAwLjkxIEMgMTU4LjA1IDEwMS44NSAxNTcuNDMgMTAyLjc4IDE1Ni44MCAxMDMuNzIgQyAxNTkuOTkgMTE1LjI4IDE2MC4wNCAxMjcuMzcgMTYxLjg2IDEzOS4xNiBDIDE2My4yOCAxNDQuMTggMTU1LjgyIDE0Ni45MyAxNTIuMzUgMTQ0LjQ5IEMgMTUwLjY4IDE0MS4yOSAxNTAuOTQgMTM3LjQzIDE1MC40MSAxMzMuOTIgQyAxNDYuMjAgMTQwLjk2IDEzOC4yMSAxNDUuMzYgMTI5Ljk5IDE0NC45MCBDIDEyNC4yNyAxNDUuMDcgMTE5LjcyIDE0MC4xMiAxMTguMzQgMTM0LjkyIEMgMTE2Ljc2IDEyOC43NCAxMTYuOTQgMTIyLjI1IDExNy40MCAxMTUuOTQgQyAxMTguMDkgMTA4LjYxIDEyMS4xOCAxMDAuNDggMTI4LjM5IDk3LjM0IFoiIC8+CjxwYXRoIGZpbGw9IiMxOTlBQ0QiIGQ9IiBNIDE2NS40MSA5OC4yNyBDIDE2OC4wNiA5NS41OSAxNzIuMDkgOTUuNjcgMTc1LjU5IDk1LjY0IEMgMTc1LjY2IDk3Ljc2IDE3NS43MyA5OS44OCAxNzUuODAgMTAyLjAxIEMgMTgxLjk2IDk4Ljc3IDE4OC45OSA5Ni43NyAxOTUuOTggOTcuNzIgQyAyMDAuMjYgOTguMjUgMjA0LjczIDEwMC4wOCAyMDcuMTMgMTAzLjg1IEMgMjEwLjI0IDEwOC41OSAyMDkuOTMgMTE0LjUxIDIwOS44MyAxMTkuOTMgQyAyMDkuNDggMTI3LjY0IDIwOS4yNiAxMzUuNzQgMjA1Ljc3IDE0Mi43OCBDIDIwMy4zNyAxNDYuMDUgMTk4Ljc3IDE0NS41MiAxOTUuMTkgMTQ1LjU1IEMgMTk5LjM1IDEzNS42MCAyMDAuNjggMTI0LjU3IDE5OS4wOSAxMTMuOTAgQyAxOTguNDAgMTEwLjI2IDE5Ny4wNiAxMDYuMjYgMTkzLjcwIDEwNC4yNSBDIDE4OC4wMyAxMDAuNjUgMTc5LjMxIDEwNC4zMCAxNzguMDUgMTEwLjk0IEMgMTc2Ljg1IDExNS4yMyAxNzguMDMgMTE5LjYwIDE3OC41OCAxMjMuODkgQyAxNzkuNTQgMTMwLjI4IDE3OS45OCAxMzYuNzQgMTgwLjI1IDE0My4yMCBDIDE3Ny4wOSAxNDUuMTkgMTczLjQ1IDE0NS44OSAxNjkuNzUgMTQ1LjY2IEMgMTY5Ljc4IDEyOS43NCAxNjUuMDMgMTE0LjE3IDE2NS40MSA5OC4yNyBaIiAvPgo8cGF0aCBmaWxsPSIjRUJGNEZBIiBkPSIgTSAxMzIuMTEgMTAzLjEyIEMgMTM2LjExIDk5LjgwIDE0Mi4wNCA5OS42MyAxNDYuNzMgMTAxLjUxIEMgMTQ1LjI0IDEwNy45MiAxNDYuMTIgMTE0LjYxIDE0NC42MyAxMjEuMDMgQyAxNDMuMzcgMTI2LjgyIDE0MS40NCAxMzIuOTEgMTM3LjA2IDEzNy4xMCBDIDEzNS4yOCAxMzkuMDIgMTMyLjQyIDEzNy45MCAxMzEuMTEgMTM2LjAzIEMgMTI3LjY2IDEzMS40NyAxMjcuNTcgMTI1LjQ1IDEyNy40MCAxMTkuOTggQyAxMjcuNDcgMTE0LjE1IDEyOC4xMCAxMDcuNjggMTMyLjExIDEwMy4xMiBaIiAvPgo8cGF0aCBmaWxsPSIjRUJGNEZBIiBkPSIgTSAyMjkuODQgMTAxLjk5IEMgMjM0LjAxIDEwMC41MyAyMzkuMjAgMTA1LjIyIDIzNy4zNSAxMDkuNTMgQyAyMzUuOTEgMTEzLjEwIDIzMi42NiAxMTUuNDUgMjI5LjgzIDExNy44OSBDIDIyOS44NSAxMTIuNjAgMjI4Ljc3IDEwNy4yMiAyMjkuODQgMTAxLjk5IFoiIC8+CjxwYXRoIGZpbGw9IiMxOTlBQ0QiIGQ9IiBNIDEyOC40MSAxNTQuNTMgQyAxMzIuNTEgMTUyLjExIDEzNy4yMyAxNTAuMTEgMTQyLjA5IDE1MC45OSBDIDE0OC41NiAxNTEuNzggMTU0LjE0IDE1Ni41OCAxNTYuMTYgMTYyLjczIEMgMTYwLjkxIDE3Ni45NSAxNTMuNzcgMTkzLjY2IDE0MC43NCAyMDAuNzcgQyAxMzYuMzIgMjAzLjIzIDEzMC41MyAyMDMuNTUgMTI2LjE0IDIwMC44NSBDIDExOS45NCAxOTcuMTAgMTE2LjEzIDE5MC4xMyAxMTUuNTcgMTgyLjk5IEMgMTE0Ljg0IDE3NC42MSAxMTYuNTAgMTY2LjI1IDExOC4wNSAxNTguMDUgQyAxMTkuMDQgMTUzLjU3IDEyNC44MiAxNTMuMTQgMTI4LjQxIDE1NC41MyBaIiAvPgo8cGF0aCBmaWxsPSIjMTk5QUNEIiBkPSIgTSAxOTQuODAgMTU2LjE2IEMgMTk1LjM3IDE1MS4wOCAyMDUuNTkgMTUwLjExIDIwNS4zOCAxNTUuOTYgQyAyMDUuNDkgMTcwLjMzIDIwNS44MSAxODQuNjkgMjA1Ljg2IDE5OS4wNiBDIDIwNi42NSAyMDMuNzUgMjAwLjU4IDIwNS42NSAxOTcuMDUgMjA0LjA0IEMgMTk0LjczIDIwMi43NSAxOTUuNjEgMTk5Ljc4IDE5NS4yNyAxOTcuNjMgQyAxOTEuODEgMjAwLjQ5IDE4Ny42NiAyMDIuODEgMTgzLjA1IDIwMi44MCBDIDE3NS41NSAyMDMuNDIgMTY3LjkzIDE5OC44MSAxNjUuMjEgMTkxLjc2IEMgMTYxLjAzIDE4MC45NCAxNjIuOTIgMTY4LjcyIDE2Ny40MSAxNTguMzEgQyAxNjkuMjEgMTUzLjk0IDE3NC44MCAxNTMuOTEgMTc4Ljc2IDE1NC41MSBDIDE3NC4zNiAxNjQuOTAgMTcxLjE3IDE3Ni44MyAxNzUuMjYgMTg3Ljg1IEMgMTc2Ljc1IDE5Mi4zMSAxODAuNjUgMTk2Ljk4IDE4NS43MSAxOTYuODAgQyAxODkuNTggMTkzLjIzIDE5MS4wOSAxODcuOTIgMTkyLjEzIDE4Mi45MyBDIDE5NC4xMCAxNzQuMTMgMTkzLjc5IDE2NS4wNiAxOTQuODAgMTU2LjE2IFoiIC8+CjxwYXRoIGZpbGw9IiMxOTlBQ0QiIGQ9IiBNIDk4LjYzIDE1NS43MCBDIDEwMS4yMyAxNTMuODYgMTA0LjQ0IDE1NC41OCAxMDcuMzQgMTU1LjAwIEMgMTA3LjYxIDE4MC42OCAxMTAuNzMgMjA2LjI2IDExMC40NCAyMzEuOTUgQyAxMTAuMjIgMjM4LjQxIDEwOC40MyAyNDUuMTIgMTAzLjkzIDI0OS45NSBDIDk5LjM4IDI1NC45NCA5Mi42NiAyNTcuMjggODYuMDkgMjU4LjAwIEwgODEuNTQgMjU4LjAwIEMgNzUuMDIgMjU3LjM1IDY3Ljk0IDI1My43MSA2Ni4yMSAyNDYuOTMgQyA2NC41NSAyNDEuMjkgNjguNTggMjM1Ljg3IDczLjMzIDIzMy4yOSBDIDc2LjcxIDIzMS40NiA4MS4yMCAyMjkuMjUgODQuNzMgMjMxLjkzIEMgODQuMTkgMjM2Ljc5IDc2LjE2IDIzNi41NiA3Ni4zMyAyNDEuOTUgQyA3Ni43MyAyNDkuMzEgODYuMDMgMjU0LjAzIDkyLjM1IDI1MC4zMyBDIDk3Ljk1IDI0Ny4wNSA5OS43MSAyNDAuMTAgMTAwLjExIDIzNC4wNSBDIDEwMC43NSAyMjEuNjggOTkuNjEgMjA5LjMxIDk4Ljk4IDE5Ni45NSBDIDk0Ljg2IDE5OS43OCA5MC4xMCAyMDIuMTIgODQuOTUgMjAxLjYxIEMgNzcuNjUgMjAxLjM1IDcwLjg4IDE5Ni41NSA2Ny45NSAxODkuODkgQyA2My40NyAxODAuMDQgNjQuMDAgMTY4LjE3IDY4LjU2IDE1OC40NSBDIDcwLjcxIDE1NC41MyA3NS43MSAxNTUuMjcgNzkuNDYgMTU1LjMwIEMgNzYuMDkgMTYzLjY2IDczLjkwIDE3Mi45NyA3Ni40NSAxODEuODggQyA3OC4wNyAxODguMTMgODIuMjIgMTk0LjYwIDg5LjAwIDE5NS45MSBDIDkxLjk1IDE5My42NSA5My4zMyAxOTAuMDIgOTQuMjkgMTg2LjU3IEMgOTYuNDMgMTc4LjIxIDk2LjY1IDE2OS41MyA5Ni44MCAxNjAuOTYgQyA5Ni45OSAxNTkuMTQgOTYuNjIgMTU2LjYzIDk4LjYzIDE1NS43MCBaIiAvPgo8cGF0aCBmaWxsPSIjRUJGNEZBIiBkPSIgTSAxMzMuOTggMTU5Ljg2IEMgMTM1Ljk5IDE1Ny45MyAxMzkuMjYgMTU3Ljk0IDE0MS40NiAxNTkuNTYgQyAxNDUuNjQgMTYyLjE1IDE0Ny4yMCAxNjcuMzIgMTQ3LjIyIDE3MS45OSBDIDE0Ny4xMyAxNzguNzUgMTQ1LjEwIDE4NS41MyAxNDEuMjIgMTkxLjA5IEMgMTM5Ljg5IDE5Mi45NSAxMzguMjggMTk0LjgzIDEzNi4wMSAxOTUuNTIgQyAxMzIuNTQgMTk1LjMwIDEzMC4zNSAxOTIuMDUgMTI4LjcyIDE4OS4zNCBDIDEyNS40MSAxODMuODcgMTI1LjM3IDE3Ny4yNSAxMjUuOTQgMTcxLjA4IEMgMTMwLjYxIDE2OC45MCAxMzAuMTEgMTYyLjgwIDEzMy45OCAxNTkuODYgWiIgLz4KPC9zdmc+Cg==");
  background-size: 20em 20em;
  background-repeat: no-repeat;
  background-position: 50%;
}
/** establishments styles **/
.establishments[class] {
  background: rgba(0, 0, 0, 0.7);
}
/** popup alert styles **/
#popup_alert[id] {
  background: rgba(0, 0, 0, 0.7);
}
/** grey background **/
.profile-menu.shown {
  background-color: rgba(0, 0, 0, 0.3);
}
/* [checkbox] checked checkbox background */
.modifier input:checked + .input,
.combo_item .input[checked=checked] {
  background: #199ACD;
  border-color: #199ACD;
}
/* [checkbox_mark] jackdaw color in checked checkbox */
.modifier .input::before,
.combo_item .input::before {
  color: #FFFFFF;
}
/* [checkbox_unchecked] border of unchecked checkbox */
.modifier .input,
.combo_item .input {
  border-color: #415264;
}
.modifier .input,
.combo_item .input {
  background: transparent;
}
.select-wrapper input {
  background: transparent;
}
