/* [regular_text] reqular text */
body,
.price.input,
.modifier .tooltip::before,
.payment-method.regular-button {
  color: #5F6266;
}
.modifier .tooltip {
  background: #5F6266;
}
/* [alternate_text] primary button text */
.alternate-text[class],
.btn,
#profile-panel .menu-item:hover,
#popup_ok[id],
#popup_cancel[id] {
  color: #FFFFFF;
}
/* [header_text] title in popup window (product name, modifier class name), dropdown box */
.header-text[class] {
  color: #373B40;
}
/* [optional_text] optional text (additional info, modifier class instruction), input label */
.optional-text[class],
#alert .icon {
  color: #9B9D9F;
}
/* [attention_text] attention text */
.attention-text[class] {
  color: #D0021B;
}
/* [special_text] special text (modifier price) */
.special-text[class] {
  color: #2EBC1C;
}
/* [primary_text] active tab, active category, quantity vertical arrows, pencil */
.primary-text[class],
.categories .checked,
.categories label:hover,
.payment-method.primary-button,
.payment-method:hover,
.payment-method:focus {
  color: #8A780C;
}
#profile-panel .active::before,
#profile-panel .signup-link:hover::before,
#profile-panel .login-link:hover::before {
  border-color: #8A780C;
}
#profile-panel .menu-item:hover {
  background: #8A780C;
}
/* [primary_button] all primary buttons */
.btn,
.btn-qty,
input[type="checkbox"]:checked + .checkbox::before,
input[type="radio"]:checked + .radio::before,
.checkbox[checked="checked"]::before,
.radio[checked="checked"]::before,
.checkbox.checked::before,
.radio.checked::before,
#popup_ok[id],
.about-box .image-point.selected {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D4BC24), color-stop(1, #C2AE07));
  background: -o-linear-gradient(bottom, #D4BC24 0%, #C2AE07 100%);
  background: -moz-linear-gradient(bottom, #D4BC24 0%, #C2AE07 100%);
  background: -webkit-linear-gradient(bottom, #D4BC24 0%, #C2AE07 100%);
  background: -ms-linear-gradient(bottom, #D4BC24 0%, #C2AE07 100%);
  background: linear-gradient(to bottom, #D4BC24 0%, #C2AE07 100%);
}
/* [primary_button_highlighted] */
.btn:active,
.btn:focus,
.btn-qty:active,
.btn-qty:focus,
#popup_ok[id]:active,
#popup_ok[id]:focus {
  background: #C2AE07;
}
/* [primary_background] main background ('body' tag) */
body,
.primary-bg,
.order-items li,
.alert_wrapper {
  background: #FFFFFF;
}
.tab.active::before {
  border-bottom-color: #FFFFFF;
}
/* [primary_border] primary border */
.primary-border[class],
.input,
.modifier_class_wrapper,
.header-underline {
  border-color: #D7D8D9;
}
.tab.active::before {
  border-right-color: #D7D8D9;
  border-left-color: #D7D8D9;
}
/* [primary_icon] edit, arrows icons */
.primary-icon[class] {
  color: #D4C024;
}
/* [secondary_border] categories list bottom border, 'Your Order' bottom line, dotted vertical line at item quantity */
.secondary-border[class] {
  border-color: #9B9D9F;
}
/* [footer_background] footer background */
#footer {
  background: #FBFBFB;
}
/* [cart_background] cart background */
#cart {
  background: #F4F4F4;
}
/* [category_background] category background, order details, payment information */
.category-bg {
  background: #F1F1F1;
}
/* [shadow_background] background behind popup window */
.shadow-bg[class],
#alert {
  background: rgba(55, 59, 64, 0.6);
}
/* [shadow_profile_background] profile shadow  background */
.shadow-profile-bg {
  background: rgba(21, 75, 92, 0.1);
}
/* [cancel_button] cancel button */
.cancel {
  color: #C2C6CE;
}
/* [popup_background] popup window background */
.popup-bg[class],
.mdf_split,
.mdf_quantity,
#popup_container[id] {
  background: #FFFFFF;
}
/* [popup_header_background] product info background in popup window */
.popup-header-bg[class] {
  background: #FAFAFA;
}
/* [card_background] stanford card plan background, card balance background */
.stanford-plans-box .stanford-plan {
  background: rgba(209, 229, 237, 0.2);
}
/* [input_border] input border color */
.input-border[class],
.textarea,
.input,
.select-wrapper,
.select-wrapper select,
.selectbox {
  border-color: #9B9D9F;
}
.select-wrapper::after {
  color: #9B9D9F;
}
/* [input_background] input background */
.input-bg[class],
.textarea,
.input,
.select-wrapper,
.select-wrapper select {
  background: #FFFFFF;
}
/* [input_text] input text color */
.textarea,
.input,
.select-wrapper,
.select-wrapper select {
  color: #373B40;
}
/* [input_highlighted] input text color */
.textarea:focus,
.input:focus,
.select-wrapper:focus,
.select-wrapper select:focus,
.stanford-plans-box .stanford-plan.active,
.stanford-plans-box .stanford-plan:hover,
.payment-method.primary-button,
.payment-method:hover,
.payment-method:focus {
  box-shadow: 0 0 4px 0 #D4BC26;
  border-color: #D4BC26;
}
/* [secondary_button] */
#popup_cancel[id] {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B5B5B5), color-stop(1, #989898));
  background: -o-linear-gradient(bottom, #B5B5B5 0%, #989898 100%);
  background: -moz-linear-gradient(bottom, #B5B5B5 0%, #989898 100%);
  background: -webkit-linear-gradient(bottom, #B5B5B5 0%, #989898 100%);
  background: -ms-linear-gradient(bottom, #B5B5B5 0%, #989898 100%);
  background: linear-gradient(to bottom, #B5B5B5 0%, #989898 100%);
}
/* [tab_active] active tab (Menu, About, Map) */
.tab.active,
.tab:hover {
  color: #8A780C;
}
.tab.active::after {
  border-top-color: #8A780C;
}
/* [secondary_text] delivery info highlighted, modifier quantity border */
.secondary-text[class] {
  color: #8A780C;
}
.mdf_split select,
.mdf_quantity select {
  border-color: #8A780C;
}
/* images */
.categories label.checked::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTMiIGhlaWdodD0iOCI+PHBvbHlnb24gcG9pbnRzPSIwLDAgIDEzLDAgIDcsOCIgc3R5bGU9ImZpbGw6I0ZGRkZGRiIvPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjciIHkyPSI4IiBzdHlsZT0ic3Ryb2tlLXdpZHRoOjE7c3Ryb2tlOiM5QjlEOUYiLz48bGluZSB4MT0iNyIgeTE9IjgiIHgyPSIxMyIgeTI9IjAiIHN0eWxlPSJzdHJva2Utd2lkdGg6MTtzdHJva2U6IzlCOUQ5RiIvPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjEzIiB5Mj0iMCIgc3R5bGU9InN0cm9rZS13aWR0aDoxO3N0cm9rZTojRkZGRkZGIi8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}
