<script type="text/template" id="card_main-template">
    <div class="card_title"> <%= _lp.CARD_TITLE %> </div>
    <div>
        <label for="firstName">
            <span class="bold"><%= _lp.CARD_FIRST_NAME %>:</span>
        </label>
        <div class="input_beauty">
            <input type="text" id="firstName" class="first_name" maxlength="20" name="firstName">
        </div>
    </div>
    <div>
        <label for="lastName">
            <span class="bold"><%= _lp.CARD_LAST_NAME %>:</span>
        </label>
        <div class="input_beauty">
            <input type="text" id="lastName" class="last_name" maxlength="20" name="lastName">
        </div>
    </div>
    <div>
        <label for="cardNumber"> <span class="bold required"><%= _lp.CARD_NUMBER %>:</span> </label>
        <div class="input_beauty">
            <input type="tel" id="cardNumber" class="number" name="cardName">
        </div>
    </div>
    <div>
        <label for="securityCode"> <span class="bold required"><%= _lp.CARD_SECURITY_CODE %>:</span> </label>
        <div class="input_beauty">
            <input type="tel" id="securityCode" class="secure" name="secureCode">
        </div>
    </div>
    <div>
        <label for="ccMonth"> <span class="pickup bold required"><%= _lp.CARD_EXP_DATE %>:</span> </label>
        <div class="select month select-wrapper" style="display: inline-block;">
            <select class="month card-expiration-month" id="ccMonth">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="select year select-wrapper">
            <select class="time card-expiration-year" id="ccYear"></select>
        </div>
    </div>
    <div>
        <label for="saveCard">
            <span class="bold"><%= _lp.CARD_SAVE %></span>
        </label>
        <input type="checkbox" id="saveCard">
    </div>
</script>

<script type="text/template" id="card_billing_address-template">
    <div class="card_title"> <%= _lp.BILLING_ADDRESS_TITLE %> </div>
    <div id="use_profile_address">
        <span class="checkbox"></span>
        <span class="title_wrapper">
            <span class="title">
            </span>
        </span>
    </div>
    <div class="address">
        <div>
            <label for="countries">
                <span class="required bold"><%= _lp.PROFILE_COUNTRY %>:</span>
            </label>
            <div class="select select-wrapper">
                <select id="countries" class="countries"></select>
            </div>
        </div>
        <div>
            <label for="street_1">
                <span class="required bold"><%= _lp.PROFILE_ADDRESS_LINE1 %>:</span>
            </label>
            <div class="input_beauty">
                <input type="text" id="street_1" class="street_1 ios-safari-caret">
            </div>
        </div>
        <div>
            <label for="city">
                <span class="required bold"><%= _lp.PROFILE_CITY %>:</span>
            </label>
            <div class="input_beauty">
                <input type="text" id="city" class="city ios-safari-caret">
            </div>
        </div>
        <div class="states-wrap">
            <label for="states">
                <span class="required bold"><%= _lp.PROFILE_STATE %>:</span>
            </label>
            <div class="select select-wrapper">
                <select id="states" class="states"></select>
            </div>
        </div>
        <div>
            <label for="zipcode">
                <span class="required bold"><%= _lp.PROFILE_ZIP_CODE %>:</span>
            </label>
            <div class="input_beauty">
                <input type="text" id="zipcode" class="zipcode ios-safari-caret">
            </div>
        </div>
    </div>
</script>