<script type="text/template" id="cart_main-template">
    <h2 class="cart_title"> <%= _lp.__cart_cart %> </h2>
    <div class="order-items_wrapper">
        <div class="order-items"></div>
    </div>
    <ul class="total_block"></ul>
    <% if(_settings.online_orders) { %>
        <div class="btn unselectable"> <%= _lp.__cart_checkout %> </div>
    <% } %>
</script>

<script type="text/template" id="cart_checkout-template">
    <h2 class="cart_title"> <%= _lp.__cart_order_summary %></h2>
    <div class="order-items_wrapper">
        <div class="order-items"></div>
    </div>
    <ul class="total_block"></ul>
    <div class="pay_button"> <div class="btn pay unselectable"> <%= _lp.__cart_pay %> </div> </div>
</script>