<script type="text/template" id="categories_products-template">

</script>

<script type="text/template" id="categories_main_products-template">
    <div class='categories_products_pages_wrap'></div>
    <div class='products_spinner'></div>
</script>

<script type="text/template" id="categories_products_pages-template">
    <div class='categories_products_wrapper'></div>
    <div class='products_pages_control primary-border'></div>
</script>

<script type="text/template" id="pages_main-template">
    <div class='pages_control'>
        <span class="link arrow-left">&lsaquo;</span>&nbsp;
        <span><span class="text cur_page"></span></span>
        <span class="text">of</span>
        <span class="text last_page"></span>&nbsp;
        <span class="link arrow-right">&rsaquo;</span>
    </div>
</script>

<script type="text/template" id="categories_slider-template">
    <div class='categories_slider secondary-border primary-bg'>
        <div class='arrow arrow_left primary-bg'>&lsaquo;</div>
        <div class='slider_wrapper'>
            <ul class="categories"></ul>
        </div>
        <div class='arrow arrow_right primary-bg'>&rsaquo;</div>
    </div>
</script>

<script type="text/template" id="categories_item-template">
    <label for="categories<%= id %>" class="animation">
        <input type="radio" id="categories<%= id %>" name="categories">
        <%= parent_name %>
    </label>
</script>

<script type="text/template" id="categories_products_item-template">
    <div class="category_description category-bg">
        <h2 class="category_name"></h2>
        <% if(timetables) { %>
        <span class="timetables"><%=timetables%></span>
        <% } %>
        <p class="desc">
        <%=description%>
        </p>
    </div>
    <div class="product_table primary-border"></div>
</script>