<script type="text/template" id="checkout_main-template">
    <div class="personal">
        <div class="item size1">
            <div class="label required optional-text"><%= _lp.PROFILE_FIRST_NAME %></div>
            <input type="text" class="firstName input ios-safari-caret">
        </div>
        <div class="item size1">
            <div class="label required optional-text"><%= _lp.PROFILE_LAST_NAME %></div>
            <input type="text" class="lastName input ios-safari-caret">
        </div>
        <div class="item size1">
            <div class="label required optional-text"><%= _lp.PROFILE_PHONE %></div>
            <input type="tel" id="phone" class="phone input ios-safari-caret">
        </div>
        <div class="item size2">
            <div class="label required optional-text"><%= _lp.PROFILE_EMAIL_ADDRESS %></div>
            <input type="email" class="email input ios-safari-caret" autocorrect="off" autocapitalize="none">
        </div>
    </div>

    <div class="delivery_address"></div>

    <div class="delivery_other"></div>
</script>

<script type="text/template" id="checkout_pickup-template">
    <div class="pickup label required optional-text"><%= pickupTimeLabel %></div>
    <div>
        <div class="select-wrapper item">
            <input type="text" id="datepicker" readonly="readonly" data-day="0" class="pikaday input ios-safari-caret">
        </div>
        <div class="select-wrapper item">
            <select class="time"></select>
        </div>
    </div>
</script>

<script type="text/template" id="checkout_order_type-template">
    <div class="label required optional-text"><%= _lp.CHECKOUT_ORDER_TYPE %></div>
    <div class="select-wrapper item">
        <select class="order-type-select"></select>
    </div>
</script>

<script type="text/template" id="checkout_address-template">
    <div class="address-selection row"></div>

    <div class="address-edit">
        <div class="item size2">
            <div class="label required optional-text"><%= _lp.CHECKOUT_ADDRESS %></div>
            <input type="text" name="street_1" class="input ios-safari-caret">
        </div>
        <div class="item size3">
            <div class="label optional-text"><%= _lp.CHECKOUT_APT %></div>
            <input type="text" name="street_2" class="input ios-safari-caret">
        </div>
        <div class="item size1">
            <div class="label required optional-text"><%= _lp.PROFILE_CITY %></div>
            <input type="text" name="city" class="input ios-safari-caret">
        </div>
        <% if(isShippingServices) { %>
        <div class="item size2">
            <div class="label required optional-text"><%= _lp.PROFILE_COUNTRY %>:</div>
            <div class="select-wrapper size2">
                <select class="country">
                <% for (var i in countries) { %>
                    <option value="<%= i %>" <% if(i.toLowerCase() == country.toLowerCase()) { %>selected="selected"<% } %>><%= countries[i] %></option>
                <% } %>
                </select>
            </div>
        </div>
        <% } %>
        <% if(country == 'US' && state && states instanceof Object && Object.keys(states).length > 0) { %>
        <div class="item ">
            <div class="label required optional-text"><%= _lp.PROFILE_STATE %></div>
            <div class="select-wrapper">
                <select class="states" id="states">
                <% for(var i in states) { %>
                    <option value="<%= i %>" <% if(i.toLowerCase() == state.toLowerCase()) { %>selected="selected"<% } %>><%= states[i] %></option>
                <% } %>
                </select>
            </div>
        </div>
        <% } %>
        <% if(typeof province == 'string') { %>
        <div class="item size1">
            <div class="label required optional-text"><%= _lp.PROFILE_PROVINCE %></div>
            <input type="text" name="province" class="input ios-safari-caret">
        </div>
        <% } %>
        <div class="item size4">
            <div class="label required optional-text"><% if(country == 'US') {print(_lp.PROFILE_ZIP_CODE);} else {print(_lp.PROFILE_POSTAL_CODE);} %></div>
            <input type="text" name="zipcode" class="input ios-safari-caret">
        </div>
    </div>

    <% if(isShippingServices) { %>
    <div class="item">
        <div class="label required optional-text"><%= _lp.CHECKOUT_SHIPPING_HANDLING %></div>
        <div class="select-wrapper">
            <select class="shipping-select select"></select>
        </div>
        <div class="shipping-status img-spinner"></div>
    </div>
    <% } %>
</script>

<script type="text/template" id="checkout_address_selection-template">
    <label class="select">
        <span class="bold"><%= _lp.PROFILE_ADDRESS %>:</span>
    </label>
    <div class="select select-wrapper">
        <select id="addresses"></select>
    </div>
</script>

<script type="text/template" id="checkout_other-template">
    <div class="list"></div>
</script>

<script type="text/template" id="checkout_other_item-template">
    <div class="item">
        <div class="label optional-text" data-isrequired><%= name %></div>
        <% if (Array.isArray(choices) && choices.length) { %>
            <div class="select-wrapper">
                <select class="section-select" name="<%= name %>"></select>
            </div>
        <% } else { %>
            <input type="text" name="<%= name %>" class="input ios-safari-caret size1">
        <% } %>
    </div>
</script>

<script type="text/template" id="checkout_pay-template">
    <div id='pay_popup'>
        <h2> <%= _lp.CHECKOUT_PAY_QUESTION %> </h2>
        <div class='btn_wrapper'>
        </div>
    </div>
</script>

<script type="text/template" id="checkout_pay_button-template">
    <% if (payment_count === 1 && flag) {%>
        <% if(paypal) { %>
            <div class="btn paypal" tabindex="0"> <%= _lp.CHECKOUT_PAYPAL %> </div>
        <% } %>
        <% if(credit_card_button) { %>
            <div class="btn credit-card" tabindex="0"> <span> <%= _lp.CHECKOUT_PAY_CREDIT_CARD %> </span> </div>
        <% } %>
        <% if(cash) { %>
            <div class="btn cash" tabindex="0"> <span> </span> </div>
        <% } %>
        <% if(gift_card) { %>
            <div class="btn gift-card" tabindex="0"> <span> <%= _lp.CHECKOUT_PAY_GIFT_CARD %> </span> </div>
        <% } %>
        <% if(stanford) { %>
            <div class="btn stanford-card" tabindex="0"> <span> <%= _lp.CHECKOUT_PAY_STANFORD_CARD %> </span> </div>
        <% } %>
    <% } else if (flag) { %>
        <div class="btn pay place-order unselectable" tabindex="0"> <span> <%= _lp.CHECKOUT_PAY %> </span> </div>
    <% } else { %>
        <% if(paypal) { %>
        <div class='btn paypal' tabindex="0"></div>
        <% } %>
        <% if(credit_card_button) { %>
            <div class="btn credit-card" tabindex="0"> <span> <%= _lp.CHECKOUT_CREDIT_CARD %> </span> </div>
        <% } %>
        <% if(gift_card) { %>
            <div class="btn gift-card" tabindex="0"> <span> <%= _lp.CHECKOUT_GIFT_CARD %> </span> </div>
        <% } %>
        <% if(cash) { %>
            <div class="btn cash" tabindex="0"> <span> </span> </div>
        <% } %>
        <% if(stanford) { %>
            <div class="btn stanford-card" tabindex="0"> <span> <%= _lp.CHECKOUT_STANFORD_CARD %> </span> </div>
        <% } %>
    <% } %>
</script>

<script type="text/template" id="checkout_page-template">
    <h2 class="title primary-border category-bg"><%= _lp.CHECKOUT_TITLE %></h2>
    <div class="order-details">
        <div class="order-notes">
            <div class="label"><%= _lp.CHECKOUT_ORDER_NOTES %></div>
            <textarea class="notes textarea ios-safari-caret"></textarea>
        </div>
    </div>
    <h2 class="title primary-border category-bg"><%= _lp.CHECKOUT_PAYMENT_INFORMATION %></h2>
    <div class="payment-info"></div>
</script>

<script type="text/template" id="checkout_discount_code-template">
    <div class="label"><%= _lp.CHECKOUT_DISCOUNT_CODE %></div>
    <div class="ctrl-box item size1">
        <input type="text" name="discount_code" class="input ctrl-input ios-safari-caret">
        <label class="ctrl-wrapper cancel">
            <input type="button" class="ctrl cancel-input">
        </label>
    </div>
    <span class="btnApply link"><%= _lp.CHECKOUT_DISC_CODE_APPLY %></span>
</script>

<script type="text/template" id="checkout_rewards_card-template">
    <div class="label"><%= _lp.CHECKOUT_REWARD_CARD %></div>
    <div class="ctrl-box item size1">
        <input type="text" class="rewardCard input ctrl-input ios-safari-caret">
        <label class="ctrl-wrapper cancel">
            <input type="button" class="ctrl cancel-input">
        </label>
    </div>
    <span class="rewards-card-apply link"> <%= _lp.CHECKOUT_DISC_CODE_APPLY %> </span>
    <span class="see-rewards link"> <%= _lp.CHECKOUT_SEE_REWARDS %> </span>
</script>