<script type="text/template" id="checkout_main-template">
    <div class="personal">
        <div class="item">
            <div class="label required optional-text"><%= _lp.PROFILE_FIRST_NAME %></div>
            <input type="text" class="firstName input ios-safari-caret size1">
        </div>
        <div class="item">
            <div class="label required optional-text"><%= _lp.PROFILE_LAST_NAME %></div>
            <input type="text" class="lastName input ios-safari-caret size1">
        </div>
        <div class="item">
            <div class="label required optional-text"><%= _lp.PROFILE_PHONE %></div>
            <input type="tel" id="phone" class="phone input ios-safari-caret size1">
        </div>
        <div class="item">
            <div class="label required optional-text"><%= _lp.PROFILE_EMAIL_ADDRESS %></div>
            <input type="email" class="email input ios-safari-caret size2" autocorrect="off" autocapitalize="none">
        </div>
    </div>

    <div class="delivery_address"></div>

    <div class="delivery_other"></div>
</script>

<script type="text/template" id="checkout_pickup-template">
    <div class="pickup label required optional-text"><%= pickupTimeLabel %></div>
    <div>
        <div class="select-wrapper item">
            <input type="text" id="datepicker" readonly="readonly" data-day="0" class="pikaday input ios-safari-caret">
        </div>
        <div class="select-wrapper item">
            <select class="time"></select>
        </div>
    </div>
</script>

<script type="text/template" id="checkout_order_type-template">
    <div class="label required optional-text"><%= _lp.CHECKOUT_ORDER_TYPE %></div>
    <div class="select-wrapper item">
        <select class="order-type-select"></select>
    </div>
</script>

<script type="text/template" id="checkout_address-template">
    <div class="address-selection item fl-left"></div>

    <div class="address-edit fl-left item">
        <div class="label required optional-text"><%= _lp.CHECKOUT_ADDRESS %></div>
        <input type="text" name="street_1" class="input ios-safari-caret size2">
    </div>
    <div class="address-edit fl-left item">
        <div class="label optional-text"><%= _lp.CHECKOUT_APT %></div>
        <input type="text" name="street_2" class="input ios-safari-caret size3">
    </div>
    <div class="address-edit fl-left item">
        <div class="label required optional-text"><%= _lp.PROFILE_CITY %></div>
        <input type="text" name="city" class="input ios-safari-caret size1">
    </div>
    <% if(isShippingServices) { %>
    <div class="address-edit fl-left item">
        <div class="label required optional-text"><%= _lp.PROFILE_COUNTRY %>:</div>
        <div class="select-wrapper">
            <select class="country size2">
            <% for (var i in countries) { %>
                <option value="<%= i %>" <% if(i.toLowerCase() == country.toLowerCase()) { %>selected="selected"<% } %>><%= countries[i] %></option>
            <% } %>
            </select>
        </div>
    </div>
    <% } %>
    <% if(country == 'US' && state && states instanceof Object && Object.keys(states).length > 0) { %>
    <div class="address-edit fl-left item">
        <div class="label required optional-text"><%= _lp.PROFILE_STATE %></div>
        <div class="select-wrapper">
            <select class="states" id="states">
            <% for(var i in states) { %>
                <option value="<%= i %>" <% if(i.toLowerCase() == state.toLowerCase()) { %>selected="selected"<% } %>><%= states[i] %></option>
            <% } %>
            </select>
        </div>
    </div>
    <% } %>
    <% if(typeof province == 'string') { %>
    <div class="address-edit fl-left item">
        <div class="label required optional-text"><%= _lp.PROFILE_PROVINCE %></div>
        <input type="text" name="province" class="input ios-safari-caret size1">
    </div>
    <% } %>
    <div class="address-edit fl-left item">
        <div class="label required optional-text"><% if(country == 'US') {print(_lp.PROFILE_ZIP_CODE);} else {print(_lp.PROFILE_POSTAL_CODE);} %></div>
        <input type="text" name="zipcode" class="input ios-safari-caret size4">
    </div>

    <% if(isShippingServices) { %>
    <div class="fl-left item">
        <div class="label required optional-text"><%= _lp.CHECKOUT_SHIPPING_HANDLING %></div>
        <div class="inline-block">
            <div class="select-wrapper">
                <select class="shipping-select select"></select>
            </div>
            <div class="shipping-status fl-right"></div>
        </div>
    </div>
    <% } %>
</script>

<script type="text/template" id="checkout_address_selection-template">
    <div class="label required optional-text"><%= _lp.CHECKOUT_CHOOSE_ADDRESS %></div>
    <div class="select-wrapper">
        <select id="addresses"></select>
    </div>
</script>

<script type="text/template" id="checkout_other-template">
    <div class="list"></div>
</script>

<script type="text/template" id="checkout_other_item-template">
    <div class="item fl-left">
        <div class="label optional-text" data-isrequired><%= name %></div>
        <% if (Array.isArray(choices) && choices.length) { %>
            <div class="select-wrapper">
                <select class="section-select" name="<%= name %>"></select>
            </div>
        <% } else { %>
            <input type="text" name="<%= name %>" class="input ios-safari-caret size1">
        <% } %>
    </div>
</script>

<script type="text/template" id="checkout_page-template">
    <h2 class="category-title primary-border category-bg order-details-title"><%= _lp.CHECKOUT_TITLE %></h2>
    <div class="order-details">
        <div class="order-notes clear">
            <div class="label optional-text"><%= _lp.CHECKOUT_ORDER_NOTES %></div>
            <textarea class="notes textarea ios-safari-caret"></textarea>
        </div>
    </div>
    <h2 class="category-title primary-border category-bg"><%= _lp.CHECKOUT_PAYMENT_INFORMATION %></h2>
    <div class="payment-info"></div>
</script>

<script type="text/template" id="checkout_discount_code-template">
    <div class="label optional-text"><%= _lp.CHECKOUT_DISCOUNT_CODE %></div>
    <div class="ctrl-box item size1">
        <input type="text" name="discount_code" class="input ctrl-input ios-safari-caret">
        <label class="ctrl-wrapper cancel">
            <input type="button" class="ctrl cancel-input">
        </label>
    </div>
    <span class="btnApply"><%= _lp.CHECKOUT_DISC_CODE_APPLY %></span>
</script>

<script type="text/template" id="checkout_rewards_card-template">
    <div class="label optional-text"><%= _lp.CHECKOUT_REWARD_CARD %></div>
    <div class="ctrl-box item size1">
        <input type="text" class="rewardCard input ctrl-input ios-safari-caret">
        <label class="ctrl-wrapper cancel">
            <input type="button" class="ctrl cancel-input">
        </label>
    </div>
    <span class="rewards-card-apply link primary-text"><%= _lp.CHECKOUT_DISC_CODE_APPLY %></span>
    <span class="see-rewards link primary-text"><%= _lp.CHECKOUT_SEE_REWARDS %></span>
</script>