<script type="text/template" id="header_main-template">
    <div class="logo vertical-align fl-left">
        <img src='<%= logo %>' alt="<%= business_name %>" class="img" data-default-index="1">
    </div>
    <ul class="tabs fl-right text-center primary-border">
        <li class="menu tab fl-left animation <% if (typeof tab_index == 'number' && tab_index === 0) { %> active <% } %>">
            <%= _lp.HEADER_MENU %></li>
        <li class="about tab fl-left animation <% if (typeof tab_index == 'number' && tab_index === 1) { %> active <% } %>">
            <%= _lp.HEADER_ABOUT %></li>
        <li class="map tab fl-left animation <% if (typeof tab_index == 'number' && tab_index === 2) { %> active <% } %>">
            <%= _lp.HEADER_MAP %></li>
    </ul>
    <div>
        <h1 class="title"></h1>
        <div class="delivery_wrapper"></div>
    </div>
</script>

<script type="text/template" id="header_delivery-template">
    <div class='delivery_info'>
        <%
            var title = _lp.HEADER_DELIVERY_MINIMUM,
                content = currency_symbol + min_delivery_amount;
        %>
        <div class="row" title="<%= title %>: <%= content %>">
            <span> <%= title %>: </span>
            <%= content %>
        </div>
        <%
            var title = '',
                content = '';
            if (delivery_post_code_lookup_enabled) {
                title = _lp.HEADER_DELIVERY_AREA + ":";
                content = delivery_post_codes;
            } else if (!delivery_geojson_enabled) {
                title = _lp.HEADER_DELIVERY_RADIUS + ":";
                content = max_delivery_distance + ' ';
                if (distance_mearsure.toLowerCase() == 'km') {
                    content += _lp.HEADER_DELIVERY_KM;
                } else {
                    content += _lp.HEADER_DELIVERY_MILE;
                    if (max_delivery_distance > 1) {
                        content += _lp.HEADER_DELIVERY_MILE_END;
                    }
                }
            }
        %>
        <div class="row" title="<%= title %> <%= content %>">
            <span> <%= title %> </span>
            <%= content %>
        </div>
        <%
            var title = _lp.HEADER_DELIVERY_TIME,
                content = '';
            if (delivery_time.hour > 0) content += delivery_time.hour + ' ' + _lp.HEADER_DELIVERY_HOUR;
            if (delivery_time.hour > 0 && delivery_time.minutes > 0) content += ' ';
            if (delivery_time.minutes > 0) content += delivery_time.minutes + ' ' + _lp.HEADER_DELIVERY_MINUTES;
            if (delivery_time.minutes == 0 && delivery_time.hour == 0) content += _lp.HEADER_DELIVERY_ASAP;
        %>
        <div class="row" title="<%= title %>: <%= content %>">
            <span> <%= title %>: </span>
            <%= content %>
        </div>
    </div>
</script>