<script type="text/template" id="header_main-template">
    <div class='delivery_wrapper'></div>
    <div class="logo">
        <img src=<%= logo %> alt="<%= business_name %> logo" class="logo" data-default-index="1">
    </div>
    <ul class="tabs">
        <li class="menu <% if(typeof tab_index == 'number' && tab_index === 0) { %> active <% } %>">Menu</li>
        <li class="about <% if(typeof tab_index == 'number' && tab_index === 1) { %> active <% } %>">About</li>
        <li class="map <% if(typeof tab_index == 'number' && tab_index === 2) { %> active <% } %>">Map</li>
    </ul>
</script>

<script type="text/template" id="header_delivery-template">
    <div class='delivery_info'>
        <span>
            Delivery: <% if(delivery_charge > 0) { %><%= currency_symbol + delivery_charge %><% }  else { %> Free <% } %>
        </span>
        <span>
            Est. Delivery Time:
            <% if(delivery_time.hour > 0) { %>
                <%= delivery_time.hour %> hr
            <% } %>
            <% if(delivery_time.minutes > 0) { %>
                <%= delivery_time.minutes %> min
            <% } %>
            <% if(delivery_time.minutes == 0 && delivery_time.hour == 0) { %>
                ASAP
            <% } %>
        </span>
        <span>
            Minimum: <%= currency_symbol + min_delivery_amount %>
        </span>
        <span>
            Delivery Radius: <%= max_delivery_distance %>
            <% if(distance_mearsure.toLowerCase() == 'km') { %>
                km
            <% } else { %>
                Mile<% if(max_delivery_distance > 1) { %>s<% } %>
            <% } %>
        </span>
    </div>
</script>

<script type="text/template" id="header_checkout-template">
    <div class="btn unselectable">Back</div>
    <div class='delivery_wrapper'></div>
    <div class="logo">
        <img src=<%= logo %> alt="<%= business_name %> logo" class="logo">
    </div>
</script>

<script type="text/template" id="header_confirmation-template">
    <img src=<%= logo %> alt="<%= business_name %> logo" class="logo">
</script>