<script type="text/template" id="instructions_modifiers-template">
    <div class='instruction_block'>
        <div class="title">Special Instructions</div>
        <div class="note">E.g. no pickles! All requests are honored when possible. <br>Adding certain ingredients may require further payment. </div>
        <div class="textarea input_beauty">
            <textarea class="instructions"><%= special %></textarea>
        </div>
    </div>
    <div class="add_instructions <% if (sold_by_weight) { print('sold_by_weight') } %>">
        Add Special Instructions
    </div>
</script>