<script type="text/template" id="instructions_modifiers-template">
    <div class='instruction_block'>
        <div class="title"> <%= _lp.__instructions_title %> </div>
        <div class="note">
            <%= _lp.__instructions_note1 %>
            <br>
            <%= _lp.__instructions_note2 %>
        </div>
        <div class="textarea input_beauty">
            <textarea class="instructions"><%= special %></textarea>
        </div>
    </div>
    <div class="add_instructions <% if (sold_by_weight) { print('sold_by_weight') } %>">
        <%= _lp.__instructions_add_special %>
    </div>
</script>