<script type="text/template" id="main_main-template">
    <section class='main_el'>
        <% if (_settings.promo_message) { %>
            <div class='promo_message promo_text'> <span> <%= _settings.promo_message %> </span> </div>
            <div class='promo_message promo_marquee'> <marquee behavior='scroll' direction='left' scrollamount='6' loop='-1'> <%= _settings.promo_message %> </marquee> </div>
        <% } %>
        <header id="header"></header>
        <div id="content"></div>
    </section>
    <aside id='cart' class='main_el'> </aside>
    <footer class='main_el<% if(_settings.payment_processor.mercury) { %> footer_mercury<% } %>'>
        <div class="footer__left">
            <div class="footer__left-inner">
                <span class="footer__line current_establishment store_choice">
                    <%= _lp.MAIN_CURRENT_STORE %>: <%= _settings.business_name %>
                </span>
                <% if(isDirMode) { %>
                    <span class="footer__line footer__directory">
                        <span class="store_choice">
                            <a class="change_establishment link1" href="javascript: void(0);"><%= _lp.MAIN_CHANGE %></a>
                            <%= _lp.MAIN_OR %>
                        </span>
                        <a class="go-to-directory link1" href="javascript: void(0);"> <%= _lp.MAIN_GOTO_DIRECTORY %> </a>
                    </span>
                <% } %>
            </div>
        </div>
        <div class="footer__right">
            <% if(_settings.payment_processor.mercury) { %>
            <ul class="mercury-accepted-credit-cards">
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/visa.png">
                </li>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/mastercard.png">
                </li>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/amex.png">
                </li>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/discover.png">
                </li>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/dinersclub.png">
                </li>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/jcb.png">
                </li>
            </ul>
            <% } %>
            <a class="powered-by" target='_blank' href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
        </div>
    </footer>
    <div class="popup">
        <div class='popoup_align'>
        </div>
        <div class='popup_wrapper'>
            <div id="popup">
                <div class="cancel"></div>
            </div>
        </div>
    </div>
    <div id="main-spinner"></div>
</script>

<script type="text/template" id="main_maintenance-template">
    <section class="maintenance">
        <header id="header"> <div class="btn back"> <span class="clip"> <%= _lp.MAIN_BACK %> </span> </div> </header>
        <div id="content">
            <p> <%= errMsg %> </p>
            <div class="btn reload"> <span class="clip"> <%= _lp.MAIN_RESTART %> </span> </div>
        </div>
    </section>
    <footer>
        <% if(isDirMode) { %>
            <a class="go-to-directory link1" href="javascript: void(0);"><%= _lp.MAIN_GOTO_DIRECTORY %></a>
        <% } %>
        <a class="powered-by" target='_blank' href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
    </footer>
</script>

<script type="text/template" id="main_done-template">
    <section class="confirm">
        <header id="header">
            <div class="logo">
                <img src=<%= logo %> alt="<%= business_name %> logo" class="logo">
            </div>
        </header>
        <div id="content">
            <div class="confirm_order">
                <div>
                    <% if (status !== 'error') { %>
                        <h2 class="confirmed_order_title"> <%= _lp.MAIN_ORDER_SUBMITTED %>. </h2>
                    <% } else { %>
                        <h2 class="confirmed_order_title confirmed_title_red"> <%= _lp.MAIN_ORDER_NOT_SUBMITTED %>. </h2>
                    <% } %>
                     <% if (status === 'error') { %>
                        <p class="confirmed-order-txt">
                            <%=message%>
                        </p>
                        <div class="btn btn-long btnReturn">
                            <span class="clip"> <%= _lp.MAIN_RETURN_ORDER_SUMMARY %> </span>
                        </div>
                     <% } else { %>
                        <table class="order-confirmed-detail">
                            <tr>
                                <td colspan="2" class="email"> <%= _lp.MAIN_RECEIPT_SENT_TO %> <%= email %> </td>
                            </tr>
                            <tr>
                                <td> <%= _lp.MAIN_ORDER_ID %>: </td>
                                <td><%= order_id %></td>
                            </tr>
                            <% if (!isOnlyGift) { %>
                            <tr>
                                <td><%= pickup_type %>:</td>
                                <td><%= pickup_time_date %></td>
                            </tr>
                            <% } %>
                            <% if (isDiningOptionOther) { %>
                            <tr>
                                <td> <%= _lp.MAIN_DELIVERY_INFO %>: </td>
                                <td>
                                    <% for (var i = 0; i < other_dining_options.length; i++) { %>
                                        <%= other_dining_options[i].name %> <span><%= other_dining_options[i].value %></span><% if(i < other_dining_options.length - 1) print(","); %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                            <% if(reward_points) { %>
                            <tr>
                                <td> <%= _lp.MAIN_REWARD_CARD_POINTS %>: </td>
                                <td><%= reward_points %></td>
                            </tr>
                            <% } %>
                            <% if(reward_visits) { %>
                            <tr>
                                <td> <%= _lp.MAIN_REWARD_CARD_VISITS %>: </td>
                                <td><%= reward_visits %></td>
                            </tr>
                            <% } %>
                            <% if(reward_purchases) { %>
                            <tr>
                                <td> <%= _lp.MAIN_REWARD_CARD_PURCHASES %>: </td>
                                <td><%= reward_purchases %></td>
                            </tr>
                            <% } %>
                            <% if(stanfordCardBalances) { %>
                            <% _.each(stanfordCardBalances, function(stanfordCard) { %>
                            <tr>
                                <td>&ldquo;<%= stanfordCard.name %>&rdquo; <%= _lp.MAIN_STANFORD_CARD_BALANCE %>: </td>
                                <% if(stanfordCard.type == 'D') { %>
                                <td><%= symbol %><%= stanfordCard.balance %></td>
                                <% } else if(stanfordCard.balance == 1) { %>
                                <td><%= stanfordCard.balance %> <%= _lp.MAIN_STANFORD_CARD_BALANCE_MEAL %></td>
                                <%} else { %>
                                <td><%= stanfordCard.balance %> <%= _lp.MAIN_STANFORD_CARD_BALANCE_MEALS %></td>
                                <% } %>
                            </tr>
                            <% }); %>
                            <% } %>
                            <tr>
                                <td> <%= _lp.MAIN_TOTAL_AMOUNT_CHARGED %>: </td>
                                <td class='bold'><%= symbol %><%= total %></td>
                            </tr>
                        </table>
                        <div class="btn btnReturn"> <span class="clip"> <%= _lp.MAIN_RETURN_TO_MENU %> </span> </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <a class="powered-by" target="_blank" href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"> </a>
    </footer>
    <% if(_settings.payment_processor.mercury) { %>
    <ul class="mercury-accepted-credit-cards">
        <li class="card-logo">
            <img class="imgCardLogo" src="img/visa.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/mastercard.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/amex.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/discover.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/dinersclub.png">
        </li>
        <li class="card-logo">
            <img class="imgCardLogo" src="img/jcb.png">
        </li>
    </ul>
    <% } %>
</script>
