<script type="text/template" id="main_main-template">
    <section id="section">
        <header id="header"></header>
        <div id="content" class="primary-border"></div>
    </section>
    <aside id="cart" class="primary-border"> </aside>
    <footer id="footer" class="primary-border">
        <div class="store_choice fl-left">
            <%= _lp.MAIN_CURRENT_STORE %>: <%= _settings.business_name %>
            <a class="change_establishment link primary-text" href="javascript: void(0);"><%= _lp.MAIN_CHANGE %></a>
        </div>
        <div class="fl-right">
            <% if (_settings.payment_processor.credit_card_button && Array.isArray(_settings.online_credit_card_types)) { %>
            <ul class="mercury-accepted-credit-cards fl-left">
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.VISA.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/visa.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.MASTERCARD.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/mastercard.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.MAESTRO.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/maestro.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.AMERICANEXPRESS.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/amex.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.DISCOVER.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/discover.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.DINERS.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/dinersclub.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.JCB.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/jcb.png">
                </li>
                <% } %>
            </ul>
            <% } %>
            <a class="powered-by link primary-text" target='_blank' href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
        </div>
    </footer>
    <div class="popup text-center vertical-align shadow-bg">
        <div id="popup" class="popup-bg">
            <div class="cancel fl-right link"></div>
        </div>
    </div>
    <div id="main-spinner"></div>
    <div id="profile-panel"></div>
</script>

<script type="text/template" id="main_maintenance-template">
    <section class="maintenance">
        <header id="header"> <div class="btn back" tabindex="0"> <span class="clip"> <%= _lp.MAIN_BACK %> </span> </div> </header>
        <div id="content" class="text-center primary-border">
            <p> <%= errMsg %> </p>
            <div class="btn reload" tabindex="0"><span><%= _lp.MAIN_RESTART %></span></div>
        </div>
    </section>
    <footer class="primary-border">
    </footer>
</script>

<script type="text/template" id="main_done-template">
    <div class="col fl-left">
        <h2 class="header-underline"></h2>
        <div class="submitted"></div>
        <div class="pickup-time"></div>
        <div class="details-info"><%= _lp.DONE_DETAILS_INFO %></div>
        <div class="details-box">
            <div><%= _lp.MAIN_ORDER_ID %>: <span class="bold order-id"></span></div>
            <div><%= _lp.MAIN_TOTAL_AMOUNT_CHARGED %>: <span class="bold charged"></span></div>
            <div class="address-box">
                <span class="address-label"></span>:
                <div class="address-value">
                    <div class="contact-person"></div>
                    <div class="address-line"></div>
                    <div class="phone"></div>
                </div>
        </div>
        <div><%= _lp.MAIN_RECEIPT_SENT_TO %> <span class="email-sent-to"></span></div>
    </div>
    <% if (status !== 'error') { %>
    <h2 class="confirmed_order_title"> <%= _lp.MAIN_ORDER_SUBMITTED %> </h2>
    <% } else { %>
    <h2 class="confirmed_order_title confirmed_title_red"> <%= _lp.MAIN_ORDER_NOT_SUBMITTED %> </h2>
    <% } %>
    <% if (status === 'error') { %>
    <p class="confirmed-order-txt">
        <%=message%>
    </p>
    <div class="btn btn-long btnReturn" tabindex="0">
        <span class="clip"> <%= buttonText %> </span>
    </div>
    <% } else { %>
    <table class="order-confirmed-detail">
        <tr>
            <td colspan="2" class="email"> <%= _lp.MAIN_RECEIPT_SENT_TO %> <%= email %> </td>
        </tr>
        <tr>
            <td> <%= _lp.MAIN_ORDER_ID %>: </td>
            <td><%= order_id %></td>
        </tr>
        <% if (!isOnlyGift && !isDiningOptionShipping) { %>
        <tr>
            <td><%= pickup_type %>:</td>
            <td><%= pickup_time_date %></td>
        </tr>
        <% } %>
        <% if (isDiningOptionOther && other_dining_options.length) { %>
        <tr>
            <td> <%= _lp.MAIN_DELIVERY_INFO %>: </td>
            <td>
                <% for (var i = 0; i < other_dining_options.length; i++) { %>
                    <%= other_dining_options[i].name %> <span><%= other_dining_options[i].value %></span><% if(i < other_dining_options.length - 1) print(","); %>
                <% } %>
            </td>
        </tr>
        <% } %>
        <% if(reward_items) { %>
        <tr>
            <td> <%= _lp.MAIN_REWARD_CARD_POINTS %>: </td>
            <td><%= reward_items %></td>
        </tr>
        <% } %>
        <% if(reward_visits) { %>
        <tr>
            <td> <%= _lp.MAIN_REWARD_CARD_VISITS %>: </td>
            <td><%= reward_visits %></td>
        </tr>
        <% } %>
        <% if(reward_purchases) { %>
        <tr>
            <td> <%= _lp.MAIN_REWARD_CARD_PURCHASES %>: </td>
            <td><%= reward_purchases %></td>
        </tr>
        <% } %>
        <% if(stanfordCardBalances) { %>
        <% _.each(stanfordCardBalances, function(stanfordCard) { %>
        <tr>
            <td>&ldquo;<%= stanfordCard.name %>&rdquo; <%= _lp.MAIN_STANFORD_CARD_BALANCE %>: </td>
            <% if(stanfordCard.type == 'D') { %>
            <td><%= symbol %><%= stanfordCard.balance %></td>
            <% } else if(stanfordCard.balance == 1) { %>
            <td><%= stanfordCard.balance %> <%= _lp.MAIN_STANFORD_CARD_BALANCE_MEAL %></td>
            <%} else { %>
            <td><%= stanfordCard.balance %> <%= _lp.MAIN_STANFORD_CARD_BALANCE_MEALS %></td>
            <% } %>
        </tr>
        <% }); %>
        <% } %>
        <tr>
            <td> <%= _lp.MAIN_TOTAL_AMOUNT_CHARGED %>: </td>
            <td class='bold'><%= symbol %><%= total %></td>
        </tr>
    </table>
    <div class="btn-wrapper">
    <div class="btn btnReturn" tabindex="0"> <span class="clip"> <%= _lp.MAIN_RETURN_TO_MENU %> </span> </div>
    </div>
    <% } %>
</script>

<script type="text/template" id="main_profile-template">
    <section class="profile-container">
        <header id="header">
            <div class="back-btn primary-text fade-out-hover"><span class="label"><%= _lp.BACK %></span></div>
            <h1 class="title text-center"><%= _lp.PROFILE_EDIT_TITLE %></h1>
        </header>
        <div id="content" class="primary-border"></div>
    </section>
    <footer class="profile-container primary-border">
        <a class="powered-by link primary-text" target="_blank" href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"> </a>
    </footer>
    <div id="main-spinner"></div>
    <div id="profile-panel"></div>
</script>