<script type="text/template" id="main_main-template">
    <section id="section">
        <header id="header"></header>
        <div id="content" class="primary-border"></div>
    </section>
    <aside id="cart" class="primary-border"> </aside>
    <footer id="footer" class="primary-border">
        <div class="store_choice fl-left">
            <%= _lp.MAIN_CURRENT_STORE %>: <%= _settings.business_name %>
            <a class="change_establishment link primary-text" href="javascript: void(0);"><%= _lp.MAIN_CHANGE %></a>
        </div>
        <div class="fl-right">
            <% if (_settings.payment_processor.credit_card_button && Array.isArray(_settings.online_credit_card_types)) { %>
            <ul class="mercury-accepted-credit-cards fl-left">
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.VISA.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/visa.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.MASTERCARD.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/mastercard.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.MAESTRO.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/maestro.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.AMERICANEXPRESS.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/amex.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.DISCOVER.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/discover.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.DINERS.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/dinersclub.png">
                </li>
                <% } %>
                <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.JCB.toString()) > -1) { %>
                <li class="card-logo">
                    <img class="imgCardLogo" src="img/jcb.png">
                </li>
                <% } %>
            </ul>
            <% } %>
            <a class="powered-by link primary-text" target='_blank' href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"></a>
        </div>
    </footer>
    <div class="popup text-center vertical-align">
        <div class="shadow-bg"></div>
        <div id="popup" class="popup-bg">
            <div class="cancel fl-right link"></div>
        </div>
    </div>
    <div id="main-spinner"></div>
    <div id="profile-panel"></div>
</script>

<script type="text/template" id="main_maintenance-template">
    <section class="maintenance">
        <header id="header"> <div class="btn back" tabindex="0"> <span class="clip"> <%= _lp.MAIN_BACK %> </span> </div> </header>
        <div id="content" class="text-center primary-border">
            <p> <%= errMsg %> </p>
            <div class="btn reload" tabindex="0"><span><%= _lp.MAIN_RESTART %></span></div>
        </div>
    </section>
    <footer class="primary-border">
    </footer>
</script>

<script type="text/template" id="main_done-template">
    <% if (status === 'error') { %>
    <h2 class="header-underline attention-text"> <%= _lp.MAIN_ORDER_NOT_SUBMITTED %> </h2>
    <p class="confirmed-order-txt">
        <%=message%>
    </p>
    <div class="btn btn-long btnReturn" tabindex="0">
        <span class="clip"> <%= buttonText %> </span>
    </div>
    <% } else { %>
    <div class="top primary-border" tabindex="0">
        <span class="btnReturn primary-text link">&lang;&nbsp;&nbsp;<%= _lp.MAIN_RETURN_TO_MENU %></span>
    </div>
    <div class="col fl-left border-box">
        <h2 class="thanks header-underline"></h2>
        <div class="submitted"></div>
        <div class="pickup-time"></div>
        <div class="details-info"><%= _lp.DONE_DETAILS_INFO %></div>
        <div class="details-box primary-border card-bg">
            <div><%= _lp.MAIN_ORDER_ID %>: <span class="bold order-id value"><%= order_id %></span></div>
            <div class="other-options-line"><%= _lp.MAIN_DELIVERY_INFO %>: <span class="bold other-options value"></span></div>
            <div><%= _lp.MAIN_TOTAL_AMOUNT_CHARGED %>: <span class="bold charged value"><%= symbol %><%= total %></span></div>
            <div class="address-box">
                <span class="address-label"></span>:
                <div class="address-value inline-block value">
                    <div class="contact-person bold"></div>
                    <div class="address-line"></div>
                    <div class="phone"></div>
                </div>
            </div>
        </div>
        <div><%= _lp.MAIN_RECEIPT_SENT_TO %> <span class="email-sent-to"><%= email %></span></div>
    </div>
    <div class="col text-center fl-left border-box">
        <% if (reward_items || reward_visits || reward_purchases) { %>
            <h2 class="header-underline text-left"><%= _lp.REWARDS_TITLE %></h2>
            <% if(reward_items) { %>
            <div class="points-box">
                <div class="points primary-text"><%= reward_items %></div>
                <div><%= _lp.MAIN_REWARD_CARD_POINTS %></div>
            </div>
            <% } %>
            <% if(reward_visits) { %>
            <div class="points-box">
                <div class="points primary-text"><%= reward_visits %></div>
                <div><%= _lp.MAIN_REWARD_CARD_VISITS %></div>
            </div>
            <% } %>
            <% if(reward_purchases) { %>
            <div class="points-box">
                <div class="points primary-text"><%= reward_purchases %></div>
                <div><%= _lp.MAIN_REWARD_CARD_PURCHASES %></div>
            </div>
            <% } %>
        <% } %>
        <% if(stanfordCardBalances) { %>
            <h2 class="header-underline text-left"><%= _lp.REWARDS_TITLE %></h2>
            <% _.each(stanfordCardBalances, function(stanfordCard) { %>
            <div>&ldquo;<%= stanfordCard.name %>&rdquo; <%= _lp.MAIN_STANFORD_CARD_BALANCE %></div>
            <% if(stanfordCard.type == 'D') { %>
            <div><%= symbol %><%= stanfordCard.balance %></div>
            <% } else if(stanfordCard.balance == 1) { %>
            <div><%= stanfordCard.balance %> <%= _lp.MAIN_STANFORD_CARD_BALANCE_MEAL %></div>
            <%} else { %>
            <div><%= stanfordCard.balance %> <%= _lp.MAIN_STANFORD_CARD_BALANCE_MEALS %></div>
            <% } %>
            <% }); %>
        <% } %>
    </div>
    <% } %>
</script>

<script type="text/template" id="main_profile-template">
    <section class="profile-container">
        <header id="header">
            <div class="back-btn primary-text fade-out-hover"><span class="label"><%= _lp.BACK %></span></div>
            <h1 class="title text-center"><%= _lp.PROFILE_EDIT_TITLE %></h1>
        </header>
        <div id="content" class="primary-border"></div>
    </section>
    <footer class="profile-container primary-border">
        <a class="powered-by link primary-text" target="_blank" href="https://revelsystems.com/?utm_source=RevelOnlineOrderApp&utm_medium=RevelOnlineOrderApp&utm_campaign=<%= clientName %>"> </a>
    </footer>
    <div id="main-spinner"></div>
    <div id="profile-panel"></div>
</script>