<script type="text/template" id="myorder_list-template">
    <ul class="myorder"></ul>
</script>

<script type="text/template" id="myorder_item-template">
    <h3 class="s<%= price_length %>">
        <% if(sold_by_weight) { %>
            <span class="name"><%= sizeModifier %> <%= name %></span>
        <% } else { %>
            <span class="name"><%= quantity %>x <%= sizeModifier %> <%= name %></span>
        <% } %>
            <span class="cost">
            <span class="currency_symbol"><%= currency_symbol %></span>
            <span class="price"><%= initial_price %></span>
        </span>
    </h3>
    <ul>
        <% if(sold_by_weight) { %>
        <li class="special"><%= weight %> @ <%= currency_symbol %><%= initial_price %><%if(uom) { print("/" + uom ) }%></li>
        <% } %>
        <% if(is_gift) { %>
        <li class="special">*** Add amount to <%= gift_card_number %></li>
        <% } %>
        <% if(special) { %>
        <li class="special">*** <%= special %></li>
        <% } %>
    </ul>
    <% if(id_product !== null) { %>
    <div class="btns">
        <span class="edit">Edit</span>
        <span class="divider"></span>
        <span class="remove"><span>Remove</span></span>
    </div>
    <% } %>
</script>

<script type="text/template" id="myorder_modifier-template">
    <span class="name">w/ <%= name %></span>
    <span class="cost">
        <span class="plus">+</span>
        <span class="currency_symbol"><%= currency_symbol %></span>
        <span class="price"><%= price %></span>
    </span>
</script>

<script type="text/template" id="myorder_matrix-template">
    <div id='modifiers_popup'>
        <div class='product product_info'>
        </div>
        <div class='modifiers_table'>
            <div class='modifiers_table_scroll'>
                <div class='product_attribute_info'>
                </div>
                <div class='modifiers_info modifiers'>
                </div>
            </div>
        </div>
        <div class='product_instructions'>
        </div>
        <div class='quantity quantity_info'>
        </div>
        <% if(_settings.online_orders) { %>
        <div class='action_button'>
            Add Item
        </div>
        <% } %>
    </div>
</script>

<script type="text/template" id="myorder_itemSpecial-template">
    <strong><%= name %>:</strong> <%= special %>
</script>