<script type="text/template" id="payment_methods_main-template">
    <div class="label payment-methods-label optional-text required"><%= _lp.CHECKOUT_PAYMENT_METHODS_LABEL %></div>
    <ul class="payment-methods text-left">
        <% if(credit_card_button) { %>
        <li class="payment-method payment item text-center animation" data-payment="credit_card_button" tabindex="0">
            <%= _lp.CHECKOUT_PAYMENT_METHOD_CREDIT_CARD %>
        </li>
        <% } %>
        <% if(gift_card) { %>
        <li class="payment-method payment item text-center animation" data-payment="gift_card" tabindex="0">
            <%= _lp.CHECKOUT_PAYMENT_METHOD_GIFT_CARD %>
        </li>
        <% } %>
        <% if(cash) { %>
        <li class="payment-method payment cash item text-center animation" data-payment="cash" tabindex="0"></li>
        <% } %>
        <% if(paypal) { %>
        <li class="payment-method payment item text-center animation" data-payment="paypal" tabindex="0"><%= _lp.PAYPAL %></li>
        <% } %>
        <% if(stanford) { %>
        <li class="payment-method payment item text-center animation" data-payment="stanford" tabindex="0">
            <%= _lp.CHECKOUT_PAYMENT_METHOD_STANFORD_CARD %>
        </li>
        <% } %>
        <li class="payment-systems item">
            <% if (_settings.payment_processor.credit_card_button && Array.isArray(_settings.online_credit_card_types)) { %>
                <ul class="fl-left">
                    <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.VISA.toString()) > -1) { %>
                    <li class="card-logo">
                        <img src="img/visa.png">
                    </li>
                    <% } %>
                    <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.MASTERCARD.toString()) > -1) { %>
                    <li class="card-logo">
                        <img src="img/mastercard.png">
                    </li>
                    <% } %>
                    <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.MAESTRO.toString()) > -1) { %>
                    <li class="card-logo">
                        <img src="img/maestro.png">
                    </li>
                    <% } %>
                    <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.AMERICANEXPRESS.toString()) > -1) { %>
                    <li class="card-logo">
                        <img src="img/amex.png">
                    </li>
                    <% } %>
                    <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.DISCOVER.toString()) > -1) { %>
                    <li class="card-logo">
                        <img src="img/discover.png">
                    </li>
                    <% } %>
                    <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.DINERS.toString()) > -1) { %>
                    <li class="card-logo">
                        <img src="img/dinersclub.png">
                    </li>
                    <% } %>
                    <% if (_settings.online_credit_card_types.indexOf(acceptableCCTypes.JCB.toString()) > -1) { %>
                    <li class="card-logo">
                        <img src="img/jcb.png">
                    </li>
                    <% } %>
                </ul>
            <% } %>
        </li>
    </ul>
</script>