<script type="text/template" id="product_list-template">
    <ul class="products"></ul>
</script>

<script type="text/template" id="product_list_item-template">
    <dl class="s<%= price_length %>">
        <dt class="name">
            <% if(!show_product_description && !hide_images) { %>
            <div class="product_image">
                <img src="<%= image %>" alt="logo for <%= name %>[<%= id %>]" <% if(/safari/i.test(navigator.userAgent) && !/chrome/i.test(navigator.userAgent)) print('class="safari"'); %>>
            </div>
            <% } %>
            <%= name %>
        </dt>
        <dd class="description <% if(sold_by_weight && uom) {print('uom' + (uom.length >= 8 ? 8 : uom.length))} %>">
        <% if(show_product_description) { %>
            <% if(!hide_images) { %>
            <div class="product_image">
                <img src="<%= image %>" alt="logo for <%= name %>[<%= id %>]" <% if(/safari/i.test(navigator.userAgent) && !/chrome/i.test(navigator.userAgent)) print('class="safari"'); %>>
            </div>
            <% } %>
            <%= description %>
        <% } %>
        </dd>
        <dt class="hide">Price</dt>
        <dd class='cost_block'>
            <div class='cost'>
                <span class="currency_symbol"><%= currency_symbol %></span>
                <span class="price"><%= price %></span>
            </div>
            <% if(sold_by_weight && uom) { %>
            <div class="uom">/ <%= uom %></div>
            <% } %>
        </dd>
    </dl>
</script>

<script type="text/template" id="product_modifiers-template">
    <% if(!hide_images) { %>
        <div class='img_wrapper'>
            <img class="block_img img" src="<%=image%>" alt="<%= name %> <%= id %> " />
        </div>
    <% } %>
    <dl>
        <dt class='name'>
            <%= name %>
            <span class="cost">
                <% if (is_gift && not_size && _settings.online_orders) { %>
                    <span class='currency_symbol gift_card_symbol' ><%=currency_symbol%></span>
                    <div class="input_beauty">
                        <input type="text" id="price" name="gift_card_price" value='<%= price %>' class="gift_card_price price" />
                    </div>
                <% } else { %>
                    <span class="currency_symbol"><%= currency_symbol %></span>
                    <span class="price"><%= price %></span>
                <% } %>
                <% if(sold_by_weight && uom) { %>
                <span class="uom">/ <%= uom %></span>
                <% } %>
            </span>
        </dt>
        <dd><%= description %></dd>
        <% if (timetables) { %>
        <dd class="vertical-scrollbar timetables">Available: <%= timetables %></dd>
        <% } %>
    </dl>

    <% if (is_gift && _settings.online_orders) { %>
    <div class='gift_card'>
        <span>Gift Card Number: </span>
        <div class="input_beauty">
            <input type="text" name="gift_card_number" value='<%= gift_card_number %>' class="gift_card_number" />
        </div>
    </div>
    <% } %>
    <div class='clear'></div>
</script>
