<script type="text/template" id="product_list-template">
    <ul class="products"></ul>
</script>

<script type="text/template" id="product_list_item-template">
    <div class="product_list_item primary-border s<%= price_length %>">
        <% if(!hide_images) { %>
        <div class="product_image text-center fl-left">
            <img src="<%= image %>" alt="logo for <%= name %>[<%= id %>]" class="img <% if(/safari/i.test(navigator.userAgent) && !/chrome/i.test(navigator.userAgent)) print('safaris'); %>">
        </div>
        <% } %>
        <div class="price-box fl-right text-right">
            <span class="currency_symbol"><%= currency_symbol %></span><span class="price"><%= price %></span>
            <% if(sold_by_weight && uom) { %>
            <div class="uom">/ <%= uom %></div>
            <% } %>
        </div>
        <h3 class="name"><%= name %></h3>
        <% if(show_product_description) { %>
        <p class="description"><%= description %></p>
        <% } %>
    </div>
</script>

<script type="text/template" id="product_modifiers-template">
    <% if(!hide_images) { %>
        <div class='img_wrapper fl-left'>
            <img class="img" src="<%=image%>" alt="<%= name %> <%= id %> " />
        </div>
    <% } %>
    <h3 class="name header-text"><%= name %></h3>
    <% if(!_settings.hide_products_description) { %>
    <p class="description"><%= description %></p>
    <% } %>
    <div class="size_chart_wrapper fl-right">
        <a href="#" target="_blank" class="link size_chart primary-text"><%= _lp.PRODUCTS_SIZE_CHART %></a>
    </div>
    <div class="customize link hide fl-right primary-text">Customize</div>
    <% if (timetables) { %>
    <div class="timetables"><%= _lp.PRODUCTS_AVAILABLE %>: <%= timetables %> </div>
    <% } %>
    <% if (is_gift && _settings.online_orders) { %>
    <input type="text" name="gift_card_number" value='<%= gift_card_number %>' class="gift_card_number input" placeholder="<%= _lp.PRODUCTS_GIFT_CARD %>">
    <% } %>
</script>

<script type="text/template" id="product_list_none-template">
    <span><%= _lp.PRODUCTS_NOT_FOUND %></span>
</script>

<script type="text/template" id="product_price-template">
    <span class="currency"></span>
    <div class="price-wrapper">
        <input type="text" class="price input">
    </div>
    <span class="uom"></span>
</script>