<script type="text/template" id="promotions_list-template">
    <div class="promotions text-left">
        <div class="promotions__title optional-text"><%= _lp.PROMOTIONS_LIST %></div>

        <div class="promotions__list">
            <div class="promotions__available promotions__group">
                <div class="promotions__group-title popup-header-bg primary-border">
                    <div class="promotion-icon special-text"></div>
                    <div class="promotions__group-title-text"><%= _lp.PROMOTIONS_AVAILABLE %></div>
                    <div class="promotions__group-title-description optional-text"><%= _lp.PROMOTIONS_AVAILABLE_DESC %></div>
                </div>
                <div class="promotions__available-text"><%= _lp.PROMOTIONS_AVAILABLE_NO %></div>
                <ul class="promotions__available-list promotions-list list"></ul>
            </div>

            <div class="promotions__other promotions__group">
                <div class="promotions__group-title popup-header-bg primary-border">
                    <div class="promotion-icon special-text"></div>
                    <div class="promotions__group-title-text"><%= _lp.PROMOTIONS_OTHER %></div>
                    <div class="promotions__group-title-description optional-text"><%= _lp.PROMOTIONS_OTHER_DESC %></div>
                </div>
                <ul class="promotions__other-list promotions-list list"></ul>
            </div>
        </div>
    </div>

    <div class="cancel-btn btn" tabindex="0"><%= _loc.CONTINUE %></div>
</script>

<script type="text/template" id="promotions_ListItem-template">
    <div class="promotions__item primary-border">
        <div class="fl-left">
            <div class="promotions__item-name"></div>
            <div class="promotions__item-info">
                <div class="promotions__item-link primary-text"><%= _lp.PROMOTION_SEE_INFO %></div>
                <div class="promotions__item-description"></div>
                <div class="promotions__item-reusable"></div>
            </div>
        </div>
        <div class="fl-right">
            <div class="promotions__item-apply link"></div>
        </div>
    </div>
</script>