<script type="text/template" id="quantity_main-template">
    <span class="title">How many?</span>
    <div class='quantity_select select-wrapper'>
        <select>
        </select>
    </div>

    <style>
      .quantity_select input {
        border: medium none;

          font-weight: bold;
          font-size: 15px;
          padding-right: 22px;
      }
    </style>

    <div class='quantity_select combobox-wrapper' style="margin-left: 330px;">
        <select id="s1">
        </select>
    </div>
</script>

<script type="text/template" id="quantity_weight-template">
    <div class="quantity_weight_wrapper">
    <span class="title">Enter weight:</span>
    <div class='weight_edit'>
        <div class='weight_edit_inner input_beauty'>
            <input class="weight_edit_input" value="<%= weight %>">
            </input>
        </div>
    </div>
    </div>
</script>