<script type="text/template" id="quantity_main-template">
    <div class="decrease btn-qty fl-left input-border alternate-text"></div>
    <div class="quantity_select combobox-wrapper fl-left input-border input-bg">
        <select></select>
    </div>
    <div class="increase btn-qty input-border alternate-text"></div>
</script>

<script type="text/template" id="quantity_weight-template">
    <div class="decrease btn-qty fl-left input-border alternate-text"></div>
    <div class="weight-wrapper fl-left input-border">
        <input class="weight_edit_input input-bg" value="<%= weight %>">
    </div>
    <div class="increase btn-qty input-border alternate-text"></div>
</script>