<script type="text/template" id="stanfordcard_main-template">
    <div class="item">
        <div class="label required optional-text"><%= _lp.GIFTCARD_NUMBER %></div>
        <div class="ctrl-box size2">
            <input type="text" id="stanfordCardNumber" class="number-input input ctrl-input size2">
            <label class="ctrl-wrapper cancel">
                <input type="button" class="ctrl cancel-input hide">
            </label>
        </div>

    </div>
    <div class="item captcha_input_line">
        <div class="label required optional-text"><%= _lp.GIFTCARD_CAPTCHA %></div>
        <input type="text" autocomplete="off" name="captcha-input" class="captcha-input input size3">
    </div>
    <div class="captcha_wrap captcha_container item">
        <img class="captcha img" alt="captcha">
        <div class="captcha-spinner"></div>
    </div>
    <span class="btn-reload link primary-text" tabindex="0"><%= _lp.GIFTCARD_RELOAD %></span>
    <div class="btn-submit btn item text-center" tabindex="0"><%= _lp.STANFORD_VERIFY %></div>
</script>

<script type="text/template" id="stanfordcard_plans-template">
    <div class="card_title"><%= _lp.STANFORD_PLANS %></div>
    <ul class="list primary-border"></ul>
</script>

<script type="text/template" id="stanfordcard_plan-template">
    <span class="radio"></span>
    <span>
        <span class="name"></span>
        <span class="row-balance">(<%= _lp.STANFORD_BALANCE %> <span class="balance"></span>)</span>
    </span>
</script>

<script type="text/template" id="stanfordcard_payment_plan-template">
    <span class="name optional-text"></span>
    <span class="balance"></span>
</script>

<script type="text/template" id="stanfordcard_student-template">
    <h3 class="student-status-question"><%= _lp.STANFORD_STUDENT_QUESTION %></h3>
    <p class="stanford-student-instructions"><%= _lp.STANFORD_STUDENT_INSTRUCTIONS %></p>
    <div class="btn btn-half border-box fl-left btn-secondary btn-no" tabindex="0"><%= _lp.NO %></div>
    <div class="btn btn-half border-box fl-left btn-yes" tabindex="0"><%= _lp.YES %></div>
</script>

<script type="text/template" id="stanfordcard_popup-template">
    <h3 class="title">Stanford Student Verification</h3>
    <div class="header popup-header-bg primary-border"><%= _lp.STANFORDCARD_TITLE %></div>
    <div class="row">
        <div class="label required optional-text"><%= _lp.GIFTCARD_NUMBER %></div>
        <input type="text" class="number-input input">
    </div>
    <div class="row captcha-row">
        <div class="captcha_container fl-left text-center">
            <div class="captcha_wrap">
                <img class="captcha" width="100%" height="100%">
                <div class="captcha-spinner"></div>
            </div>
            <span class="rewards-card-btn btn-reload primary-text link" tabindex="0"><%= _lp.GIFTCARD_RELOAD %></span>
        </div>
        <div class="captcha-input-wrap">
            <div class="label required optional-text"><%= _lp.GIFTCARD_CAPTCHA %></div>
            <input type="text" autocomplete="off" name="captcha-input" class="captcha-input input">
        </div>
    </div>
    <div class="btn btn-half border-box fl-left btn-cancel text-center btn-secondary" tabindex="0"><%= _lp.CANCEL %></div>
    <div class="btn btn-half border-box fl-left btn-submit text-center" tabindex="0"><%= _lp.CONFIRM_SUBMIT %></div>
</script>

<script type="text/template" id="stanfordcard_reload-template">
    <div class="row">
        <div class="label optional-text required"><%= _lp.STANFORD_CARD_NUMBER %></div>
        <div class="pos-relative">
            <input class="number-input input ios-safari-caret">
            <label class="ctrl-wrapper cancel">
                <input type="button" class="ctrl cancel-input hide">
            </label>
        </div>
    </div>
    <div class="row captcha_input_line">
        <div class="captcha_container fl-left">
            <div class="captcha-wrapper">
                <img class="captcha" width="100%" height="100%">
                <div class="captcha-spinner"></div>
            </div>
            <span class="btn-reload rewards-card-btn primary-text link text-center" tabindex="0"><%= _lp.GIFTCARD_RELOAD %></span>
        </div>
        <div class="captcha-input-wrap">
            <div class="label optional-text required"><%= _lp.ENTER_CAPTCHA %></div>
            <input type="text" class="captcha-input input ios-safari-caret">
        </div>
    </div>
</script>