<script type="text/template" id="tips_line-template">
    <div class="label optional-text"><%= _lp.TIPS_ADD_TIP %></div>
    <div class="tips">
        <div class="select-wrapper item">
            <select class="types"></select>
        </div>
        <div class="percents-box select-wrapper item animation">
            <select class="percents"></select>
        </div>
        <div class="tip-amount-box item animation">
            <input type="text" class="tipAmount input ctrl-input">
            <label class="ctrl-wrapper cancel">
                <input type="button" class="ctrl">
            </label>
        </div>
    </div>
</script>