<script type="text/template" id="tips_line-template">
        <label class="tip-label"><span class="bold">Add a Tip:</span></label>
        <div class="tips">
            <span class="btn animation " data-amount="None">None</span>
            <span class="btn animation " data-amount="10">10%</span>
            <span class="btn animation " data-amount="15">15%</span>
            <span class="btn animation " data-amount="20">20%</span>
            <span class="btn animation " data-amount="Other">Other</span>
            <span class="currency_sym"> <span> <%=currency_symbol%> </span> </span>
            <span class="number-wrap">
                <div class="number">
                    <div class="input_beauty animation <% if (!type || amount) print('disabled')%>">
                        <input type="text" <% if (!type || amount) print('disabled') %> class="amount tipAmount animation <% if(iPad) print('ipad') %>" value='<% print(sum.toFixed(2)) %>'>
                    </div>
                </div>
            </span>
    </div>
</script>