<script type="text/template" id="total_main-template">
    <li>
        Subtotal:
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="total"></span>
        </span>
    </li>
</script>

<script type="text/template" id="total_checkout-template">
    <li class="total_discounts">
        <span class="title">Discounts:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="discount"></span>
        </span>
    </li>
    <li class="delivery-charge">
        <span class="title">Delivery Charge:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="delivery-charge"></span>
        </span>
    </li>
    <li class="delivery_discount_item">
        <span class="title">Delivery Discount:</span>
        <span class="cost">
            <span class="currency_symbol">-<%= _settings.currency_symbol %></span>
            <span class="delivery-discount"></span>
        </span>
    </li>
    <li class="shipping_charge_item">
        <span class="title">Shipping:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="shipping_charge"></span>
        </span>
    </li>
    <li class="shipping_discount_item">
        <span class="title">Shipping Discount:</span>
        <span class="cost">
            <span class="currency_symbol">-<%= _settings.currency_symbol %></span>
            <span class="shipping_discount"></span>
        </span>
    </li>
    <li>
        <span class="title">Subtotal:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="subtotal"></span>
        </span>
    </li>
    <li class="surcharge_item">
        <span class="title">Surcharge:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="surcharge"></span>
        </span>
    </li>
    <li>
        <span class="title">Tax:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="tax"></span>
        </span>
    </li>
<% if(_settings.accept_tips_online) { %>
    <li>
        <span class="title">Tip:</span>
        <span class="cost">
            <span class="currency_symbol"><%= _settings.currency_symbol %></span>
            <span class="tip"></span>
        </span>
    </li>
<% } %>
    <li>
        <span class="title bold">Grand Total:</span>
        <span class="cost">
            <span class="currency_symbol bold"><%= _settings.currency_symbol %></span>
            <span class="grandtotal bold"></span>
        </span>
    </li>
</script>
